collision_exec.json
{
  "id": "2371",
  "finished": true,
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "success",
  "createdAt": "2026-03-14T20:09:29.941Z",
  "startedAt": "2026-03-14T20:09:29.950Z",
  "stoppedAt": "2026-03-14T20:09:30.568Z",
  "deletedAt": null,
  "workflowId": "jjebYBy0HqoqYr92",
  "waitTill": null,
  "storedAt": "db",
  "data": {
    "version": 1,
    "startData": {},
    "resultData": {
      "runData": {
        "Webhook": [
          {
            "startTime": 1773518969956,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "headers": {
                        "accept": "application/json, text/plain, */*",
                        "content-type": "application/json",
                        "user-agent": "axios/1.13.6",
                        "content-length": "105",
                        "accept-encoding": "gzip, compress, deflate, br",
                        "host": "localhost:5678",
                        "connection": "keep-alive"
                      },
                      "params": {},
                      "query": {},
                      "body": {
                        "start_time": "2026-06-15T10:00:00Z",
                        "duration_minutes": 60,
                        "calendar_id": "invalid-calendar-id@gmail.com"
                      },
                      "webhookUrl": "https://n8n.stax.ink/webhook/gcal-collision-check",
                      "executionMode": "production"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Validate & Prepare": [
          {
            "startTime": 1773518969957,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Webhook",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 3,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_valid": true,
                      "calendar_id": "invalid-calendar-id@gmail.com",
                      "start_time": "2026-06-15T10:00:00.000Z",
                      "end_time": "2026-06-15T11:00:00.000Z",
                      "exclude_event_id": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Is Valid?": [
          {
            "startTime": 1773518969960,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Validate & Prepare",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_valid": true,
                      "calendar_id": "invalid-calendar-id@gmail.com",
                      "start_time": "2026-06-15T10:00:00.000Z",
                      "end_time": "2026-06-15T11:00:00.000Z",
                      "exclude_event_id": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ],
                []
              ]
            }
          }
        ],
        "List Potential Conflicts": [
          {
            "startTime": 1773518969960,
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Is Valid?",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 600,
            "executionStatus": "success",
            "data": {
              "main": [
                [],
                [
                  {
                    "json": {
                      "_valid": true,
                      "calendar_id": "invalid-calendar-id@gmail.com",
                      "start_time": "2026-06-15T10:00:00.000Z",
                      "end_time": "2026-06-15T11:00:00.000Z",
                      "exclude_event_id": null,
                      "error": "The provided authorization grant (e.g., authorization code, resource owner credentials) or refresh token is invalid, expired, revoked, does not match the redirection URI used in the authorization request, or was issued to another client."
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Analyze Overlaps": [
          {
            "startTime": 1773518970560,
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "List Potential Conflicts",
                "previousNodeOutput": 1,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 4,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_success": true,
                      "has_collision": false,
                      "conflicts": []
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Standard Contract Output": [
          {
            "startTime": 1773518970564,
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Analyze Overlaps",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 4,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true,
                      "error_code": null,
                      "error_message": null,
                      "data": {
                        "slot_available": true,
                        "has_collision": false,
                        "conflicts": [],
                        "checked_at": "2026-03-14T20:09:30.568Z"
                      },
                      "_meta": {
                        "source": "WF5_Collision_Check",
                        "timestamp": "2026-03-14T20:09:30.568Z",
                        "workflow_id": "jjebYBy0HqoqYr92"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Standard Contract Output"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {},
      "runtimeData": {
        "version": 1,
        "establishedAt": 1773518969956,
        "source": "webhook",
        "triggerNode": {
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook"
        }
      }
    }
  },
  "workflowData": {
    "id": "jjebYBy0HqoqYr92",
    "name": "WF5_GCal_Collision_Check",
    "nodes": [
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "gcal-collision-check",
          "authentication": "none",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "webhookId": "gcal-collision-check",
        "id": "c48569fd-b165-43e6-8bac-0bc8ff06c6d5"
      },
      {
        "parameters": {
          "notice": ""
        },
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          -200
        ],
        "id": "b2477367-480e-4a95-8226-b281f6a121cf"
      },
      {
        "parameters": {
          "events": "worklfow_call",
          "inputSource": "passthrough"
        },
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          200
        ],
        "id": "8b5e2967-4d6b-4170-901b-a470282e76cb"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\n// 🛡️ Pre-Validation\nconst start_time = String(body.start_time || '');\nif (!/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/.test(start_time)) {\n  return [{ json: { _valid: false, _error: 'Invalid start_time format (ISO 8601 required)' } }];\n}\n\nconst duration = parseInt(body.duration_minutes || 60, 10);\nif (isNaN(duration) || duration < 5 || duration > 1440) {\n  return [{ json: { _valid: false, _error: 'Invalid duration: must be between 5 and 1440 minutes' } }];\n}\n\nconst startDate = new Date(start_time);\nconst endDate = new Date(startDate.getTime() + duration * 60000);\n\nreturn [{ json: {\n  _valid: true,\n  calendar_id: body.calendar_id || 'primary',\n  start_time: startDate.toISOString(),\n  end_time: endDate.toISOString(),\n  exclude_event_id: body.exclude_event_id || null\n}}];",
          "notice": ""
        },
        "name": "Validate & Prepare",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          250,
          0
        ],
        "id": "41716346-e5a0-473b-b514-6942045069a9"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "valid_check",
                "leftValue": "={{ $json._valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "name": "Is Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          500,
          0
        ],
        "id": "d27fe9df-a8c5-4290-bfb7-4bfd9f74289a"
      },
      {
        "parameters": {
          "resource": "event",
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "={{ $json.calendar_id }}",
            "mode": "id"
          },
          "returnAll": true,
          "timeMin": "={{ $now }}",
          "timeMax": "={{ $now.plus({ week: 1 }) }}",
          "options": {
            "showDeleted": false
          },
          "useN8nTimeZone": ""
        },
        "name": "List Potential Conflicts",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          750,
          -100
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "OsRBfz3Cs7Ph5uV5",
            "name": "Google Calendar account"
          }
        },
        "onError": "continueErrorOutput",
        "id": "2524e154-f42c-4a95-9f8d-7c0ba026d749"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const events = $input.all();\nconst validated = $('Validate & Prepare').first().json;\n\n// Paranoia: Si el nodo anterior falló (error en API de Google)\nif (events.length > 0 && events[0].json.message && !events[0].json.id) {\n  return [{ json: { _gcal_error: events[0].json.message, _success: false } }];\n}\n\nconst reqStart = new Date(validated.start_time).getTime();\nconst reqEnd = new Date(validated.end_time).getTime();\nconst excludeId = validated.exclude_event_id;\n\nconst conflicts = events.filter(item => {\n  const ev = item.json;\n  if (!ev.id || ev.status === 'cancelled' || ev.id === excludeId) return false;\n\n  // Handle date (all-day) vs dateTime (specific time)\n  const evStart = new Date(ev.start.dateTime || ev.start.date).getTime();\n  const evEnd = new Date(ev.end.dateTime || ev.end.date).getTime();\n\n  // Atomic overlap check: (StartA < EndB) AND (EndA > StartB)\n  return reqStart < evEnd && reqEnd > evStart;\n}).map(c => ({\n  id: c.json.id,\n  summary: c.json.summary,\n  start: c.json.start.dateTime || c.json.start.date\n}));\n\nreturn [{ json: {\n  _success: true,\n  has_collision: conflicts.length > 0,\n  conflicts: conflicts\n}}];",
          "notice": ""
        },
        "name": "Analyze Overlaps",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1000,
          -100
        ],
        "id": "86ee0f55-9ea2-4072-b8df-942771e85fe6"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const result = $input.first().json;\nconst isValidationError = !$('Is Valid?').isExecuted || $('Is Valid?').first(1)?.json?._valid === false;\n\nif (isValidationError) {\n  return [{ json: {\n    success: false, error_code: 'VALIDATION_ERROR', \n    error_message: $('Validate & Prepare').first().json._error,\n    data: null, _meta: { source: 'WF5_Collision_Check', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n  }}];\n}\n\nif (result._success === false) {\n  return [{ json: {\n    success: true,\n    error_code: 'GCAL_ERROR',\n    error_message: 'Google Calendar API error: ' + result._gcal_error,\n    data: { slot_available: false, mode: 'fail_closed', error: result._gcal_error },\n    _meta: { source: 'WF5_Collision_Check', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n  }}];\n}\n\nreturn [{ json: {\n  success: true,\n  error_code: null,\n  error_message: null,\n  data: {\n    slot_available: !result.has_collision,\n    has_collision: result.has_collision,\n    conflicts: result.conflicts,\n    checked_at: new Date().toISOString()\n  },\n  _meta: { source: 'WF5_Collision_Check', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n}}];",
          "notice": ""
        },
        "name": "Standard Contract Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1250,
          0
        ],
        "id": "c75c910f-563f-470b-b0f6-f6e75e457bd5"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate & Prepare",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Validate & Prepare",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Validate & Prepare",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate & Prepare": {
        "main": [
          [
            {
              "node": "Is Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Valid?": {
        "main": [
          [
            {
              "node": "List Potential Conflicts",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Standard Contract Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Potential Conflicts": {
        "main": [
          [
            {
              "node": "Analyze Overlaps",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Analyze Overlaps",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Overlaps": {
        "main": [
          [
            {
              "node": "Standard Contract Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    }
  },
  "customData": {}
}