exec_214_data.json
{"id":"214","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-02-28T19:49:21.105Z","startedAt":"2026-02-28T19:49:21.120Z","stoppedAt":"2026-02-28T19:49:22.439Z","deletedAt":null,"workflowId":"IhAvwkZIob9KfYoA","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"description":"Try changing the type of comparison. Alternatively you can enable 'Convert types where required'.","timestamp":1772308162438,"context":{"itemIndex":0},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"id":"if_valid_cond","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":"equals","type":"boolean"}],"combinator":"and"},"options":{}},"name":"Is Valid Input?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,432],"id":"66c73c95-d76d-4d10-9418-7413cdcee223"},"messages":[],"message":"Cannot read properties of undefined (reading 'toLowerCase')","stack":"NodeOperationError: Cannot read properties of undefined (reading 'toLowerCase')\n    at extractValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/extract-value.ts:211:9)\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:499:29)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:134:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V2/IfV2.node.ts:96:18\n    at Array.forEach (<anonymous>)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V2/IfV2.node.ts:88:23)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:38\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)"},"runData":{"Webhook":[{"startTime":1772308161127,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"curl/8.14.1","content-length":"26","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d5271d4f8fc4976-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"unexpectedField":"test"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-01-booking-gateway-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Validate Input (PRE)":[{"startTime":1772308161128,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1309,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"error_code":"INVALID_PAYLOAD","error_message":"Missing chat_id or text in Telegram payload"},"pairedItem":{"item":0}}]]}}],"Is Valid Input?":[{"startTime":1772308162438,"executionIndex":2,"source":[{"previousNode":"Validate Input (PRE)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"error","error":{"level":"warning","tags":{},"description":"Try changing the type of comparison. Alternatively you can enable 'Convert types where required'.","timestamp":1772308162438,"context":{"itemIndex":0},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"id":"if_valid_cond","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":"equals","type":"boolean"}],"combinator":"and"},"options":{}},"name":"Is Valid Input?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,432],"id":"66c73c95-d76d-4d10-9418-7413cdcee223"},"messages":[],"message":"Cannot read properties of undefined (reading 'toLowerCase')","stack":"NodeOperationError: Cannot read properties of undefined (reading 'toLowerCase')\n    at extractValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/extract-value.ts:211:9)\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:499:29)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:134:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V2/IfV2.node.ts:96:18\n    at Array.forEach (<anonymous>)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V2/IfV2.node.ts:88:23)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:38\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)"}}]},"lastNodeExecuted":"Is Valid Input?"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"id":"if_valid_cond","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":"equals","type":"boolean"}],"combinator":"and"},"options":{}},"name":"Is Valid Input?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,432],"id":"66c73c95-d76d-4d10-9418-7413cdcee223"},"data":{"main":[[{"json":{"isValid":false,"error_code":"INVALID_PAYLOAD","error_message":"Missing chat_id or text in Telegram payload"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Validate Input (PRE)","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772308161127,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"IhAvwkZIob9KfYoA","name":"NN_01_Booking_Gateway","active":true,"activeVersionId":"841233d5-dc9a-4b09-baf0-2ff9545fa04e","isArchived":false,"createdAt":"2026-02-28T13:59:38.958Z","updatedAt":"2026-02-28T19:49:01.746Z","nodes":[{"parameters":{"notice":""},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,240],"id":"2e48cc78-4973-42b1-ad20-172e485be4b7"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-01-booking-gateway-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"abcf6248-1f65-4725-a641-3132e5ca388d"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,608],"id":"76bbbad1-3802-45a6-9aee-b93c3440e47d"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Get raw input from webhook\n// Webhook passes data directly in $json, not wrapped in body\nconst rawInput = $input.first()?.json || {};\n\n// Check if this looks like a Telegram message\nconst message = rawInput.message || rawInput.channel_post || {};\nconst chat_id = message.chat?.id;\nconst text = message.text;\n\n// If no message structure found, this is an invalid payload\nif (!chat_id || !text) {\n  return [{\n    json: {\n      isValid: false,\n      error_code: \"INVALID_PAYLOAD\",\n      error_message: \"Missing chat_id or text in Telegram payload\"\n    }\n  }];\n}\n\n// Valid payload - pass to NN_02\nreturn [{\n  json: {\n    isValid: true,\n    raw_input: rawInput\n  }\n}];","notice":""},"name":"Validate Input (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,432],"id":"dad5c4fc-ce8c-42ed-bb97-59ff26658167"},{"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"id":"if_valid_cond","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":"equals","type":"boolean"}],"combinator":"and"},"options":{}},"name":"Is Valid Input?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,432],"id":"66c73c95-d76d-4d10-9418-7413cdcee223"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":"MoRopyN2Aslc35XU","workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute NN_02","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1000,432],"continueOnFail":true,"alwaysOutputData":true,"id":"f5ed8eac-a03f-414a-920f-6cdbd6a3b07c"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Check NN_02 response\nconst nn02 = $input.first()?.json || {};\n\nif (nn02.success === true && nn02.data) {\n  return [{\n    json: {\n      nn02_success: true,\n      nn02_data: nn02.data,\n      nn02_meta: nn02._meta\n    }\n  }];\n} else {\n  return [{\n    json: {\n      nn02_success: false,\n      nn02_error: nn02\n    }\n  }];\n}","notice":""},"name":"Check NN_02 Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,432],"id":"40c80392-9c0d-46af-a2fe-26aaef9604c4"},{"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"id":"if_nn02_cond","leftValue":"={{ $json.nn02_success }}","rightValue":true,"operator":"equals","type":"boolean"}],"combinator":"and"},"options":{}},"name":"Did NN_02 Succeed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1400,432],"id":"91ad7a3a-5bf7-4e91-b826-429f1f89f113"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":"N2APxPodLDJCG818","workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute NN_03 (AI)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1600,432],"continueOnFail":true,"alwaysOutputData":true,"id":"7b26e8ef-1f5b-48cc-a7fd-a1afe807e800"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Check NN_03 response\nconst nn03 = $input.first()?.json || {};\n\nif (nn03.success === true && nn03.data?.ai_response) {\n  return [{\n    json: {\n      nn03_success: true,\n      ai_response: nn03.data.ai_response,\n      chat_id: nn03.data.chat_id\n    }\n  }];\n} else {\n  return [{\n    json: {\n      nn03_success: false,\n      nn03_error: nn03\n    }\n  }];\n}","notice":""},"name":"Check NN_03 Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,432],"id":"f9aff1d4-1e9f-40f5-86d7-ef80f57f4103"},{"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"id":"if_nn03_cond","leftValue":"={{ $json.nn03_success }}","rightValue":true,"operator":"equals","type":"boolean"}],"combinator":"and"},"options":{}},"name":"Did NN_03 Succeed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2000,432],"id":"0309406e-140e-4785-93cf-60af2a6cfd03"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":"4afRuMkIvgEh7gXt","workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute NN_04 (Telegram)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2200,432],"continueOnFail":true,"alwaysOutputData":true,"id":"0d3cb13a-1b14-48da-9967-ab8107422f83"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Final response - Success\nconst nn04 = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      message_sent: nn04.success === true,\n      chat_id: nn04.data?.chat_id\n    },\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,432],"id":"a1d6dccb-4d15-404c-b8c7-8a885485a82d"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Error response for NN_02 failure\nconst nn02_error = $input.first()?.json?.nn02_error || $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: nn02_error.error_code || \"NN02_ERROR\",\n    error_message: nn02_error.error_message || \"NN_02 processing failed\",\n    data: null,\n    _meta: nn02_error._meta || {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format NN_02 Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,650],"id":"304c09e8-f343-44ee-a271-55908ca10d1a"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Error response for NN_03 failure\nconst nn03_error = $input.first()?.json?.nn03_error || $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: nn03_error.error_code || \"NN03_ERROR\",\n    error_message: nn03_error.error_message || \"NN_03 AI processing failed\",\n    data: null,\n    _meta: nn03_error._meta || {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format NN_03 Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,650],"id":"5dc08d54-c9c2-456d-8de9-f5d254b1ed42"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Error response for NN_04 failure\nconst nn04_error = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: nn04_error.error_code || \"NN04_ERROR\",\n    error_message: nn04_error.error_message || \"NN_04 Telegram sending failed\",\n    data: null,\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format NN_04 Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,650],"id":"34fc978c-484a-40db-b38d-b617cfdea944"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Error response for invalid input\nconst inputData = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: inputData.error_code || \"INVALID_INPUT\",\n    error_message: inputData.error_message || \"Invalid Telegram payload\",\n    data: null,\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Input Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,650],"id":"7d860322-7ded-4d67-8ca3-1e219bd0bbb9"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return $input.all();","notice":""},"name":"Final Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2600,432],"id":"2c386642-8c08-4c85-aafc-6733fcfc1975"}],"connections":{"Manual Trigger":{"main":[[{"node":"Validate Input (PRE)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Validate Input (PRE)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Validate Input (PRE)","type":"main","index":0}]]},"Validate Input (PRE)":{"main":[[{"node":"Is Valid Input?","type":"main","index":0}]]},"Is Valid Input?":{"main":[[{"node":"Execute NN_02","type":"main","index":0}],[{"node":"Format Input Error","type":"main","index":0}]]},"Execute NN_02":{"main":[[{"node":"Check NN_02 Result","type":"main","index":0}]]},"Check NN_02 Result":{"main":[[{"node":"Did NN_02 Succeed?","type":"main","index":0}]]},"Did NN_02 Succeed?":{"main":[[{"node":"Execute NN_03 (AI)","type":"main","index":0}],[{"node":"Format NN_02 Error","type":"main","index":0}]]},"Execute NN_03 (AI)":{"main":[[{"node":"Check NN_03 Result","type":"main","index":0}]]},"Check NN_03 Result":{"main":[[{"node":"Did NN_03 Succeed?","type":"main","index":0}]]},"Did NN_03 Succeed?":{"main":[[{"node":"Execute NN_04 (Telegram)","type":"main","index":0}],[{"node":"Format NN_03 Error","type":"main","index":0}]]},"Execute NN_04 (Telegram)":{"main":[[{"node":"Format Success","type":"main","index":0}]]},"Format Success":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Format NN_02 Error":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Format NN_03 Error":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Format NN_04 Error":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Format Input Error":{"main":[[{"node":"Final Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{},"pinData":{}},"customData":{}}