exec70.json
{"id":"70","finished":false,"mode":"error","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-03-02T18:55:51.779Z","startedAt":"2026-03-02T18:55:51.792Z","stoppedAt":"2026-03-02T18:55:51.799Z","deletedAt":null,"workflowId":"B1VnkirO5dF20MHg","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Error Trigger":[{"startTime":1772477751798,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"metadata":{"parentExecution":{"executionId":"69","workflowId":"B1VnkirO5dF20MHg","executionContext":{"version":1,"establishedAt":1772477751772,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"executionStatus":"success","data":{"main":[[{"json":{"execution":{"id":"69","url":"https://n8n.stax.ink/workflow/B1VnkirO5dF20MHg/executions/69","error":{"level":"error","tags":{},"extra":{"parameterName":"jsCode"},"message":"Could not get parameter","stack":"Error: Could not get parameter\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:451:10)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:134:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:189:22)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:38\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"},"lastNodeExecuted":"Format Error Payload","mode":"webhook","executionContext":{"version":1,"establishedAt":1772477751772,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}},"workflow":{"id":"B1VnkirO5dF20MHg","name":"NN_00_Global_Error_Handler"}},"pairedItem":{"item":0}}]]}}],"Format Error Payload":[{"startTime":1772477751798,"executionIndex":1,"source":[{"previousNode":"Error Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"error","error":{"level":"error","tags":{},"extra":{"parameterName":"jsCode"},"message":"Could not get parameter","stack":"Error: Could not get parameter\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:451:10)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:134:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:189:22)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:38\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"}}]},"lastNodeExecuted":"Format Error Payload","error":{"level":"error","tags":{},"extra":{"parameterName":"jsCode"},"message":"Could not get parameter","stack":"Error: Could not get parameter\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:451:10)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:134:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:189:22)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:38\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"}},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"mode":"runOnceForAllItems"},"name":"Format Error Payload","type":"n8n-nodes-base.code","typeVersion":2.2,"position":[480,432],"id":"d6338981-0ef6-4fb4-a3e5-542f2004e60c"},"data":{"main":[[{"json":{"execution":{"id":"69","url":"https://n8n.stax.ink/workflow/B1VnkirO5dF20MHg/executions/69","error":{"level":"error","tags":{},"extra":{"parameterName":"jsCode"},"message":"Could not get parameter","stack":"Error: Could not get parameter\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:451:10)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:134:9)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:189:22)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:38\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"},"lastNodeExecuted":"Format Error Payload","mode":"webhook","executionContext":{"version":1,"establishedAt":1772477751772,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}},"workflow":{"id":"B1VnkirO5dF20MHg","name":"NN_00_Global_Error_Handler"}},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Error Trigger","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772477751798,"source":"error","triggerNode":{"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger"},"parentExecutionId":"69"}}},"workflowData":{"id":"B1VnkirO5dF20MHg","name":"NN_00_Global_Error_Handler","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[208,224],"id":"99ff23f4-5de7-4858-87dc-dacb845018c6"},{"parameters":{"notice":""},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[208,432],"id":"fba0877c-b1a8-4684-8c64-cba4b1383a87"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.2,"position":[208,640],"id":"ec677e8c-eedc-44d5-abd9-f703e5014aba"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-00-global-error-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[208,848],"webhookId":"nn-00-global-error-test","id":"d4f0ce16-82b2-48a5-bb8e-a45b25a1d647"},{"parameters":{"mode":"runOnceForAllItems"},"name":"Format Error Payload","type":"n8n-nodes-base.code","typeVersion":2.2,"position":[480,432],"id":"d6338981-0ef6-4fb4-a3e5-542f2004e60c"},{"parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO system_logs (workflow_name, execution_id, level, message, details) VALUES ('{{ $json.workflow_name }}', '{{ $json.execution_id }}', 'ERROR', '{{ $json.error_message.replace(/'/g, \"''\") }}', '{{ JSON.stringify($json).replace(/'/g, \"''\") }}') RETURNING id;","options":{}},"name":"Log to Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,432],"credentials":{"postgres":{"id":"99BnrzwZQDhYU6Ly","name":"Postgres Booking"}},"continueOnFail":true,"id":"2d339d55-e230-4f47-8668-8f7e549c660e"},{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $vars.TELEGRAM_ID }}","text":"=*🚨 ERROR en N8N Workflow 🚨*\n\n*Workflow:* {{ $node[\"Format Error Payload\"].json[\"workflow_name\"] }}\n*Error:* {{ $node[\"Format Error Payload\"].json[\"error_message\"] }}\n*Node:* {{ $node[\"Format Error Payload\"].json[\"last_node\"] }}\n*Exec ID:* {{ $node[\"Format Error Payload\"].json[\"execution_id\"] }}\n\n[Ver Detalles en Frontend]({{ $vars.N8N_EDITOR_BASE_URL }}/workflow/{{ $node[\"Format Error Payload\"].json[\"workflow_id\"] }}/executions/{{ $node[\"Format Error Payload\"].json[\"execution_id\"] }})","replyMarkup":"none","additionalFields":{"parse_mode":"Markdown"}},"name":"Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":2,"position":[1008,432],"webhookId":"deca857a-f578-40f8-8c04-62b1030e07d1","credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"continueOnFail":true,"id":"ea4483bd-0f2b-42e9-830f-825597fd66d9"},{"parameters":{"authentication":"oAuth2","resource":"message","operation":"send","sendTo":"dev@example.com","subject":"=ERROR N8N: {{ $node[\"Format Error Payload\"].json[\"workflow_name\"] }}","emailType":"html","message":"=Se ha producido un error crítico de ejecución.\n\nMensaje: {{ $node[\"Format Error Payload\"].json[\"error_message\"] }}\nNodo: {{ $node[\"Format Error Payload\"].json[\"last_node\"] }}\nEjecución: {{ $env.N8N_EDITOR_BASE_URL }}/workflow/{{ $node[\"Format Error Payload\"].json[\"workflow_id\"] }}/executions/{{ $node[\"Format Error Payload\"].json[\"execution_id\"] }}\n\nStack:\n{{ $node[\"Format Error Payload\"].json[\"error_stack\"] }}","options":{}},"name":"Gmail Alert","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1248,432],"webhookId":"3cc6a106-71c5-4f82-99ab-fc0e08de1a1c","credentials":{"gmailOAuth2":{"id":"T8fWDakSXbb5UsTL","name":"Gmail account"}},"continueOnFail":true,"id":"d3af536d-8400-4717-b9b5-536898959e8c"},{"parameters":{"mode":"runOnceForAllItems"},"name":"Standard Contract Output","type":"n8n-nodes-base.code","typeVersion":2.2,"position":[1504,432],"id":"0bdbbbc5-3a78-4a0c-bd5b-25e3a52afb8a"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Format Error Payload","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Format Error Payload","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Format Error Payload","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Format Error Payload","type":"main","index":0}]]},"Format Error Payload":{"main":[[{"node":"Log to Postgres","type":"main","index":0}]]},"Log to Postgres":{"main":[[{"node":"Telegram Alert","type":"main","index":0}]]},"Telegram Alert":{"main":[[{"node":"Gmail Alert","type":"main","index":0}]]},"Gmail Alert":{"main":[[{"node":"Standard Contract Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false}},"customData":{}}