exec_data_latest.json
{
  "id": "2563",
  "finished": true,
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "success",
  "createdAt": "2026-03-15T00:03:41.461Z",
  "startedAt": "2026-03-15T00:03:41.472Z",
  "stoppedAt": "2026-03-15T00:03:42.649Z",
  "deletedAt": null,
  "workflowId": "ZgiDJcBT61v43NvN",
  "waitTill": null,
  "storedAt": "db",
  "data": {
    "version": 1,
    "startData": {},
    "resultData": {
      "runData": {
        "Webhook": [
          {
            "startTime": 1773533021480,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "headers": {
                        "host": "localhost:5678",
                        "user-agent": "curl/8.14.1",
                        "accept": "*/*",
                        "content-type": "application/json",
                        "content-length": "70"
                      },
                      "params": {},
                      "query": {},
                      "body": {
                        "provider_id": 1,
                        "service_id": 1,
                        "start_time": "2026-11-02T10:00:00Z"
                      },
                      "webhookUrl": "https://n8n.stax.ink/webhook/booking-orchestrator",
                      "executionMode": "production"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Generate Idempotency Key": [
          {
            "startTime": 1773533021480,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Webhook",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 4,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ctx": {
                        "provider_id": 1,
                        "service_id": 1,
                        "start_time": "2026-11-02T10:00:00Z",
                        "end_time": null,
                        "customer_id": null,
                        "chat_id": null,
                        "user_id": null,
                        "idempotency_key": "booking_1_1_2026-11-02T10:00:00Z_anonymous",
                        "_idempotency": {
                          "key": "booking_1_1_2026-11-02T10:00:00Z_anonymous",
                          "created_at": "2026-03-15T00:03:41.483Z"
                        },
                        "_meta": {
                          "source": "WF2_BOOKING_ORCHESTRATOR",
                          "version": "2.0.0",
                          "started_at": "2026-03-15T00:03:41.483Z"
                        }
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Check Idempotency DB": [
          {
            "startTime": 1773533021484,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Generate Idempotency Key",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 1165,
            "executionStatus": "success",
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Check Idempotency DB"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {},
      "runtimeData": {
        "version": 1,
        "establishedAt": 1773533021480,
        "source": "webhook",
        "triggerNode": {
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook"
        }
      }
    }
  },
  "workflowData": {
    "id": "ZgiDJcBT61v43NvN",
    "name": "WF2_Booking_Orchestrator",
    "nodes": [
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1008,
          112
        ],
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "booking-orchestrator",
          "authentication": "none",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson",
          "options": {}
        },
        "webhookId": "booking-orchestrator",
        "id": "4f025c06-91bf-4799-9786-4e6451565521"
      },
      {
        "name": "Generate Idempotency Key",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -752,
          112
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Idempotency Check v2.0 - Context Preservation Pattern\nconst rawInput = $input.first().json;\nconst input = rawInput.body || rawInput;\n\n// Validación de input requerido (SEC02 - PRE validation)\nconst required = ['provider_id', 'service_id', 'start_time'];\nfor (const field of required) {\n  if (!input[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\n// Generar idempotency_key determinístico\nconst idempotencyKey = `booking_${input.provider_id}_${input.service_id}_${input.start_time}_${input.customer_id || input.chat_id || 'anonymous'}`;\n\n// Sanitizar string (SEC05)\nconst sanitizedKey = idempotencyKey\n  .replace(/[^a-zA-Z0-9_:-]/g, '_')\n  .substring(0, 255);\n\n// Construir contexto único que viajará por todo el workflow\nconst ctx = {\n  // Datos originales de input\n  provider_id: input.provider_id,\n  service_id: input.service_id,\n  start_time: input.start_time,\n  end_time: input.end_time || null,\n  customer_id: input.customer_id || null,\n  chat_id: input.chat_id || null,\n  user_id: input.user_id || null,\n  \n  // Idempotency\n  idempotency_key: sanitizedKey,\n  \n  // Metadata\n  _idempotency: {\n    key: sanitizedKey,\n    created_at: new Date().toISOString()\n  },\n  _meta: {\n    source: 'WF2_BOOKING_ORCHESTRATOR',\n    version: '2.0.0',\n    started_at: new Date().toISOString()\n  }\n};\n\nreturn [{ json: { ctx } }];",
          "notice": ""
        },
        "id": "894a90be-f219-4e21-99a9-004561210623"
      },
      {
        "name": "Check Idempotency DB",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -496,
          112
        ],
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "SELECT id, status, gcal_event_id FROM bookings WHERE idempotency_key = $1::text LIMIT 1;",
          "options": {
            "queryReplacement": "={{ $json.ctx.idempotency_key }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "5LzvCP9BsQwCi9Z0",
            "name": "Postgres account"
          }
        },
        "id": "bdc807c2-7eca-47ae-95a8-4a719d408d82"
      },
      {
        "name": "Is Duplicate?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -256,
          112
        ],
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value": "={{ Array.isArray($json) && $json.length > 0 && !!$json[0]?.id }}",
                "operation": "true"
              }
            ],
            "conditions": [
              {
                "id": "is_dup",
                "leftValue": "={{ $json._is_duplicate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ]
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "id": "4f4d7bf1-c8fd-43b4-9738-495082b28908"
      },
      {
        "name": "Return Duplicate",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          208
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// DUPLICATE BRANCH - Return existing booking\nconst existing = $input.first().json[0] || $input.first().json;\nconst ctx = $input.first().json.ctx || {};\n\n// Preservar contexto completo incluso en rama de duplicado\nctx._idempotency.is_duplicate = true;\nctx._idempotency.existing_booking_id = existing.id;\n\nreturn [{\n  json: {\n    ctx,\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: existing.id,\n      status: existing.status,\n      gcal_event_id: existing.gcal_event_id,\n      is_duplicate: true,\n      message: 'Booking already exists (idempotent retry)'\n    },\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0',\n      idempotency: 'duplicate'\n    }\n  }\n}];",
          "notice": ""
        },
        "id": "1591a5a3-7b45-44e6-8114-6a8ab46a8dec"
      },
      {
        "name": "Merge Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// MERGE CONTEXT - After Is Duplicate? (false branch)\n// Este nodo asegura que el contexto viaje intacto por la rama de no-duplicado\nconst ctx = $input.first().json.ctx;\n\n// Agregar flag de que es una nueva reserva (no duplicada)\nctx._idempotency.is_duplicate = false;\n\nreturn [{ json: { ctx } }];",
          "notice": ""
        },
        "id": "04ed5bc8-8722-486c-848f-ad04750c168f"
      },
      {
        "name": "Check Availability",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          256,
          0
        ],
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "http://n8n:5678/webhook/db-get-availability-test",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "provider_id",
                "value": "={{ $json.ctx.provider_id }}"
              },
              {
                "name": "service_id",
                "value": "={{ $json.ctx.service_id }}"
              },
              {
                "name": "start_time",
                "value": "={{ $json.ctx.start_time }}"
              }
            ]
          },
          "options": {
            "timeout": 30000
          },
          "infoMessage": ""
        },
        "id": "96082816-ecd8-4dba-96e0-781154977f52"
      },
      {
        "name": "Is Available?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          512,
          0
        ],
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value": "={{ !!$json.success }}",
                "operation": "true"
              }
            ]
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "id": "fcf33147-7737-46e9-8cfd-0dab82b95068"
      },
      {
        "name": "Error - No Availability",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          768,
          112
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// NOT AVAILABLE BRANCH - Preserve context and return error\nconst ctx = $input.first().json.ctx;\nconst availabilityResult = $input.first().json;\n\nctx._meta.failed_at = 'Check Availability';\n\nreturn [{\n  json: {\n    ctx,\n    success: false,\n    error_code: 'NO_AVAILABILITY',\n    error_message: 'No availability found for requested time slot',\n    data: null,\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];",
          "notice": ""
        },
        "id": "af591c73-f2d8-4f95-b41e-53a689849b76"
      },
      {
        "name": "Acquire Lock",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          768,
          0
        ],
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "http://n8n:5678/webhook/acquire-lock",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "provider_id",
                "value": "={{ $json.ctx.provider_id }}"
              },
              {
                "name": "start_time",
                "value": "={{ $json.ctx.start_time }}"
              },
              {
                "name": "lock_duration_minutes",
                "value": "5"
              }
            ]
          },
          "options": {
            "timeout": 30000
          },
          "infoMessage": ""
        },
        "id": "865814f5-9468-418b-8a2e-b6acaf9b92d3"
      },
      {
        "name": "Check Circuit Breaker",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1024,
          0
        ],
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "http://n8n:5678/webhook/circuit-breaker/check",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "service_id",
                "value": "google_calendar"
              },
              {
                "name": "action",
                "value": "check"
              }
            ]
          },
          "options": {
            "timeout": 10000
          },
          "infoMessage": ""
        },
        "id": "2cd58d68-acfd-44a6-93bb-45f2250f77ea"
      },
      {
        "name": "Is GCal Available?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1280,
          0
        ],
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value": "={{ !!$json.data.allowed }}",
                "operation": "true"
              }
            ]
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "id": "0bc3049b-e3d5-4e3b-999e-e0856616ece7"
      },
      {
        "name": "Error - Circuit Breaker",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1536,
          112
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// CIRCUIT BREAKER OPEN - Preserve context and return error\nconst ctx = $input.first().json.ctx;\n\nctx._meta.failed_at = 'Circuit Breaker';\n\nreturn [{\n  json: {\n    ctx,\n    success: false,\n    error_code: 'CIRCUIT_BREAKER_OPEN',\n    error_message: 'Google Calendar service is temporarily unavailable',\n    data: null,\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];",
          "notice": ""
        },
        "id": "eff75db6-b2f8-48f3-8fe0-87d7ff2934f5"
      },
      {
        "name": "Create GCal Event",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          1536,
          0
        ],
        "parameters": {
          "resource": "event",
          "operation": "create",
          "calendar": {
            "__rl": true,
            "value": "dev.n8n.stax@gmail.com",
            "mode": "list",
            "cachedResultName": "dev.n8n.stax@gmail.com"
          },
          "start": "={{ $now }}",
          "end": "={{ $now.plus(1, 'hour') }}",
          "useDefaultReminders": true,
          "additionalFields": {},
          "useN8nTimeZone": ""
        },
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "OsRBfz3Cs7Ph5uV5",
            "name": "Google Calendar account"
          }
        },
        "id": "db02aac2-ceac-4942-87f0-e06dd484c29e"
      },
      {
        "name": "Record GCal Success",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1792,
          0
        ],
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "http://n8n:5678/webhook/circuit-breaker/record",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "keypair",
          "bodyParameters": {
            "parameters": [
              {
                "name": "service_id",
                "value": "google_calendar"
              },
              {
                "name": "success",
                "value": "true"
              }
            ]
          },
          "options": {},
          "infoMessage": ""
        },
        "id": "881c89a6-d714-449d-b72e-55653fdc30f5"
      },
      {
        "name": "Create DB Booking",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2048,
          0
        ],
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "INSERT INTO bookings (provider_id, service_id, start_time, end_time, idempotency_key, gcal_event_id, user_id, status, created_at) VALUES ($1::int, $2::int, $3::timestamp, ($3::timestamp + INTERVAL '1 hour'), $4::text, $5::text, $6::bigint, 'CONFIRMED', NOW()) RETURNING id;",
          "options": {
            "queryReplacement": "={{ $json.ctx.provider_id }}, {{ $json.ctx.service_id }}, {{ $json.ctx.start_time }}, {{ $json.ctx.idempotency_key }}, {{ $json.id || $json.eventId }}, {{ $json.ctx.user_id || $json.ctx.chat_id }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "5LzvCP9BsQwCi9Z0",
            "name": "Postgres account"
          }
        },
        "id": "08b2148a-5570-4826-b015-4aeef42cfc8c"
      },
      {
        "name": "Standard Contract Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2304,
          0
        ],
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Standard Contract Output - Booking Success v2.0\nconst db = $('Create DB Booking').first()?.json || {};\nconst ctx = $('Generate Idempotency Key').first()?.json?.ctx || {};\n\n// Construir output sin JSON.stringify - objeto nativo\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: db.id,\n      idempotency_key: ctx.idempotency_key,\n      provider_id: ctx.provider_id,\n      service_id: ctx.service_id,\n      start_time: ctx.start_time,\n      status: 'CONFIRMED',\n      is_duplicate: ctx._idempotency?.is_duplicate || false\n    },\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];",
          "notice": ""
        },
        "id": "440a952a-92bb-431f-8017-e2fb13431f04"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Generate Idempotency Key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Idempotency Key": {
        "main": [
          [
            {
              "node": "Check Idempotency DB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Idempotency DB": {
        "main": [
          [
            {
              "node": "Is Duplicate?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Duplicate?": {
        "main": [
          [
            {
              "node": "Return Duplicate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Context": {
        "main": [
          [
            {
              "node": "Check Availability",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Availability": {
        "main": [
          [
            {
              "node": "Is Available?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Available?": {
        "main": [
          [
            {
              "node": "Acquire Lock",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error - No Availability",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Acquire Lock": {
        "main": [
          [
            {
              "node": "Check Circuit Breaker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Circuit Breaker": {
        "main": [
          [
            {
              "node": "Is GCal Available?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is GCal Available?": {
        "main": [
          [
            {
              "node": "Create GCal Event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error - Circuit Breaker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create GCal Event": {
        "main": [
          [
            {
              "node": "Record GCal Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record GCal Success": {
        "main": [
          [
            {
              "node": "Create DB Booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create DB Booking": {
        "main": [
          [
            {
              "node": "Standard Contract Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    }
  },
  "customData": {}
}