exec_218_data.json
{"id":"218","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-28T19:52:40.886Z","startedAt":"2026-02-28T19:52:40.941Z","stoppedAt":"2026-02-28T19:52:42.234Z","deletedAt":null,"workflowId":"IhAvwkZIob9KfYoA","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook":[{"startTime":1772308360945,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"curl/8.14.1","content-length":"54","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d5276b58fb21afb-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"message":{"chat":{"id":12345},"text":"/start"}},"webhookUrl":"https://n8n.stax.ink/webhook/nn-01-booking-gateway-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Validate Input (PRE)":[{"startTime":1772308360945,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1275,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"error_code":"INVALID_PAYLOAD","error_message":"Missing chat_id or text in Telegram payload"},"pairedItem":{"item":0}}]]}}],"Is Valid Input?":[{"startTime":1772308362220,"executionIndex":2,"source":[{"previousNode":"Validate Input (PRE)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"isValid":false,"error_code":"INVALID_PAYLOAD","error_message":"Missing chat_id or text in Telegram payload"},"pairedItem":{"item":0}}]]}}],"Format Input Error":[{"startTime":1772308362221,"executionIndex":3,"source":[{"previousNode":"Is Valid Input?","previousNodeOutput":1,"previousNodeRun":0}],"hints":[],"executionTime":8,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"INVALID_PAYLOAD","error_message":"Missing chat_id or text in Telegram payload","data":null,"_meta":{"source":"NN_01_Booking_Gateway","timestamp":"2026-02-28T19:52:42.229Z","workflow_id":"NN_01","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}],"Final Response":[{"startTime":1772308362230,"executionIndex":4,"source":[{"previousNode":"Format Input Error","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":3,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"INVALID_PAYLOAD","error_message":"Missing chat_id or text in Telegram payload","data":null,"_meta":{"source":"NN_01_Booking_Gateway","timestamp":"2026-02-28T19:52:42.229Z","workflow_id":"NN_01","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Final Response"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772308360944,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"IhAvwkZIob9KfYoA","name":"NN_01_Booking_Gateway","active":true,"activeVersionId":"9c15152c-0b84-49fc-b10b-d1d43d1e38c0","isArchived":false,"createdAt":"2026-02-28T13:59:38.958Z","updatedAt":"2026-02-28T19:51:29.798Z","nodes":[{"parameters":{"notice":""},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,240],"id":"84e5b831-f124-4575-b352-ce0344045997"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-01-booking-gateway-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"13b33a8a-4797-4ec1-8bb2-3d7bb92fa06e"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,608],"id":"43882263-6fac-481c-a8f6-beb3343f9349"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Get raw input from webhook\n// Webhook passes data directly in $json, not wrapped in body\nconst rawInput = $input.first()?.json || {};\n\n// Check if this looks like a Telegram message\nconst message = rawInput.message || rawInput.channel_post || {};\nconst chat_id = message.chat?.id;\nconst text = message.text;\n\n// If no message structure found, this is an invalid payload\nif (!chat_id || !text) {\n  return [{\n    json: {\n      isValid: false,\n      error_code: \"INVALID_PAYLOAD\",\n      error_message: \"Missing chat_id or text in Telegram payload\"\n    }\n  }];\n}\n\n// Valid payload - pass to NN_02\nreturn [{\n  json: {\n    isValid: true,\n    raw_input: rawInput\n  }\n}];","notice":""},"name":"Validate Input (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,432],"id":"8ad5378c-7f2a-4abd-8d98-8c6b564ff139"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","rightValue":""},"conditions":[{"id":"cond_grrpyp","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"Is Valid Input?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,432],"id":"579552f1-5eac-489a-bc0f-3c742f186e29"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":"MoRopyN2Aslc35XU","workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute NN_02","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1000,432],"continueOnFail":true,"alwaysOutputData":true,"id":"60c0bbe5-9ce4-4663-a3dc-1290f76f69ee"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Check NN_02 response\nconst nn02 = $input.first()?.json || {};\n\nif (nn02.success === true && nn02.data) {\n  return [{\n    json: {\n      nn02_success: true,\n      nn02_data: nn02.data,\n      nn02_meta: nn02._meta\n    }\n  }];\n} else {\n  return [{\n    json: {\n      nn02_success: false,\n      nn02_error: nn02\n    }\n  }];\n}","notice":""},"name":"Check NN_02 Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,432],"id":"38a6ddd1-8f94-4d9f-baa7-feecd47e0dfc"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","rightValue":""},"conditions":[{"id":"cond_1gry","leftValue":"={{ $json.nn02_success }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"Did NN_02 Succeed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1400,432],"id":"644724c2-38f3-45df-bdf4-73fd7d942b10"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":"N2APxPodLDJCG818","workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute NN_03 (AI)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1600,432],"continueOnFail":true,"alwaysOutputData":true,"id":"74a3fe56-97c6-4d6a-8b26-ac32d82da9bf"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Check NN_03 response\nconst nn03 = $input.first()?.json || {};\n\nif (nn03.success === true && nn03.data?.ai_response) {\n  return [{\n    json: {\n      nn03_success: true,\n      ai_response: nn03.data.ai_response,\n      chat_id: nn03.data.chat_id\n    }\n  }];\n} else {\n  return [{\n    json: {\n      nn03_success: false,\n      nn03_error: nn03\n    }\n  }];\n}","notice":""},"name":"Check NN_03 Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,432],"id":"bd342156-8dce-4c2d-aaa7-a2aac9f02ed9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","rightValue":""},"conditions":[{"id":"cond_cjbun","leftValue":"={{ $json.nn03_success }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"Did NN_03 Succeed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2000,432],"id":"cf897055-e6cd-4749-9028-1d792262f611"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":"4afRuMkIvgEh7gXt","workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute NN_04 (Telegram)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2200,432],"continueOnFail":true,"alwaysOutputData":true,"id":"bdcae8bf-7814-47fe-bd47-d112ff83ffb0"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Final response - Success\nconst nn04 = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      message_sent: nn04.success === true,\n      chat_id: nn04.data?.chat_id\n    },\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,432],"id":"9d7dd27e-5031-4431-9c61-5e4e33476ad1"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Error response for NN_02 failure\nconst nn02_error = $input.first()?.json?.nn02_error || $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: nn02_error.error_code || \"NN02_ERROR\",\n    error_message: nn02_error.error_message || \"NN_02 processing failed\",\n    data: null,\n    _meta: nn02_error._meta || {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format NN_02 Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,650],"id":"aa3fe3ab-84b5-4f1a-ac25-2ffbe3cb8101"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Error response for NN_03 failure\nconst nn03_error = $input.first()?.json?.nn03_error || $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: nn03_error.error_code || \"NN03_ERROR\",\n    error_message: nn03_error.error_message || \"NN_03 AI processing failed\",\n    data: null,\n    _meta: nn03_error._meta || {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format NN_03 Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,650],"id":"184bb992-c2f6-4dfa-be19-367c56943007"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Error response for NN_04 failure\nconst nn04_error = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: nn04_error.error_code || \"NN04_ERROR\",\n    error_message: nn04_error.error_message || \"NN_04 Telegram sending failed\",\n    data: null,\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format NN_04 Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,650],"id":"7d184cad-49b6-48b4-8730-72ac39658565"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Error response for invalid input\nconst inputData = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: inputData.error_code || \"INVALID_INPUT\",\n    error_message: inputData.error_message || \"Invalid Telegram payload\",\n    data: null,\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Input Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,650],"id":"736fd8a9-40be-477c-a5ec-a684ddd0334c"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return $input.all();","notice":""},"name":"Final Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2600,432],"id":"9216b825-f613-4c81-867f-8cbabb53974e"}],"connections":{"Manual Trigger":{"main":[[{"node":"Validate Input (PRE)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Validate Input (PRE)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Validate Input (PRE)","type":"main","index":0}]]},"Validate Input (PRE)":{"main":[[{"node":"Is Valid Input?","type":"main","index":0}]]},"Is Valid Input?":{"main":[[{"node":"Execute NN_02","type":"main","index":0}],[{"node":"Format Input Error","type":"main","index":0}]]},"Execute NN_02":{"main":[[{"node":"Check NN_02 Result","type":"main","index":0}]]},"Check NN_02 Result":{"main":[[{"node":"Did NN_02 Succeed?","type":"main","index":0}]]},"Did NN_02 Succeed?":{"main":[[{"node":"Execute NN_03 (AI)","type":"main","index":0}],[{"node":"Format NN_02 Error","type":"main","index":0}]]},"Execute NN_03 (AI)":{"main":[[{"node":"Check NN_03 Result","type":"main","index":0}]]},"Check NN_03 Result":{"main":[[{"node":"Did NN_03 Succeed?","type":"main","index":0}]]},"Did NN_03 Succeed?":{"main":[[{"node":"Execute NN_04 (Telegram)","type":"main","index":0}],[{"node":"Format NN_03 Error","type":"main","index":0}]]},"Execute NN_04 (Telegram)":{"main":[[{"node":"Format Success","type":"main","index":0}]]},"Format Success":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Format NN_02 Error":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Format NN_03 Error":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Format NN_04 Error":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Format Input Error":{"main":[[{"node":"Final Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{},"pinData":{}},"customData":{}}