execution_1505.json
{
  "id": "1505",
  "finished": true,
  "mode": "integrated",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "success",
  "createdAt": "2026-03-09T16:14:11.464Z",
  "startedAt": "2026-03-09T16:14:11.471Z",
  "stoppedAt": "2026-03-09T16:14:11.534Z",
  "deletedAt": null,
  "workflowId": "X3D2dWkBu8QLlNSm",
  "waitTill": null,
  "storedAt": "db",
  "data": {
    "version": 1,
    "startData": {},
    "resultData": {
      "runData": {
        "Execute Workflow Trigger": [
          {
            "startTime": 1773072851475,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "metadata": {
              "parentExecution": {
                "executionId": "1503",
                "workflowId": "MZfYRe4ZDgUeWW64",
                "shouldResume": true,
                "executionContext": {
                  "version": 1,
                  "establishedAt": 1773072851438,
                  "source": "webhook",
                  "triggerNode": {
                    "name": "Webhook",
                    "type": "n8n-nodes-base.webhook"
                  }
                }
              }
            },
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "text": "¡Sos un estúpido!",
                      "chat_id": 5391760292
                    },
                    "index": 0,
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Type Normalization": [
          {
            "startTime": 1773072851478,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Execute Workflow Trigger",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 5,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chat_id": 5391760292,
                      "sessionId": "5391760292",
                      "text": "¡Sos un estúpido!",
                      "intent": "general_chat",
                      "_meta": {
                        "source": "NN_03-B_Pipeline_Agent",
                        "timestamp": "2026-03-09T16:14:11.483Z",
                        "version": "2.1.0"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Payload Validation": [
          {
            "startTime": 1773072851487,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Type Normalization",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 4,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chat_id": 5391760292,
                      "sessionId": "5391760292",
                      "text": "¡Sos un estúpido!",
                      "intent": "general_chat",
                      "_meta": {
                        "source": "NN_03-B_Pipeline_Agent",
                        "timestamp": "2026-03-09T16:14:11.483Z",
                        "version": "2.1.0"
                      },
                      "isValid": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Is Valid Payload?": [
          {
            "startTime": 1773072851495,
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Payload Validation",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chat_id": 5391760292,
                      "sessionId": "5391760292",
                      "text": "¡Sos un estúpido!",
                      "intent": "general_chat",
                      "_meta": {
                        "source": "NN_03-B_Pipeline_Agent",
                        "timestamp": "2026-03-09T16:14:11.483Z",
                        "version": "2.1.0"
                      },
                      "isValid": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ],
                []
              ]
            }
          }
        ],
        "Rule Firewall": [
          {
            "startTime": 1773072851498,
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Is Valid Payload?",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 5,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "chat_id": 5391760292,
                      "sessionId": "5391760292",
                      "text": "¡Sos un estúpido!",
                      "intent": "general_chat",
                      "_meta": {
                        "source": "NN_03-B_Pipeline_Agent",
                        "timestamp": "2026-03-09T16:14:11.483Z",
                        "version": "2.1.0"
                      },
                      "isValid": true,
                      "isBlocked": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Is Safe by Rules?": [
          {
            "startTime": 1773072851507,
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Rule Firewall",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 1,
            "executionStatus": "success",
            "data": {
              "main": [
                [],
                [
                  {
                    "json": {
                      "chat_id": 5391760292,
                      "sessionId": "5391760292",
                      "text": "¡Sos un estúpido!",
                      "intent": "general_chat",
                      "_meta": {
                        "source": "NN_03-B_Pipeline_Agent",
                        "timestamp": "2026-03-09T16:14:11.483Z",
                        "version": "2.1.0"
                      },
                      "isValid": true,
                      "isBlocked": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Err: Security": [
          {
            "startTime": 1773072851511,
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Is Safe by Rules?",
                "previousNodeOutput": 1,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 5,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": false,
                      "error_code": "SECURITY_BLOCKED",
                      "error_message": "Mensaje bloqueado por reglas de seguridad",
                      "data": null,
                      "_meta": {
                        "source": "NN_03-B_Pipeline_Agent",
                        "timestamp": "2026-03-09T16:14:11.515Z",
                        "version": "2.1.0"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Central Error Handler": [
          {
            "startTime": 1773072851519,
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "Err: Security",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 4,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": false,
                      "error_code": "SECURITY_BLOCKED",
                      "error_message": "Mensaje bloqueado por reglas de seguridad",
                      "data": null,
                      "_meta": {
                        "source": "NN_03-B_Pipeline_Agent",
                        "timestamp": "2026-03-09T16:14:11.523Z",
                        "version": "2.1.0"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "📤 Standard Contract Output": [
          {
            "startTime": 1773072851527,
            "executionIndex": 8,
            "source": [
              {
                "previousNode": "Central Error Handler",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 4,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": false,
                      "error_code": "SECURITY_BLOCKED",
                      "error_message": "Mensaje bloqueado por reglas de seguridad",
                      "data": null,
                      "_meta": {
                        "source": "NN_03-B_Pipeline_Agent",
                        "timestamp": "2026-03-09T16:14:11.523Z",
                        "version": "2.1.0"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "📤 Standard Contract Output"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {},
      "runtimeData": {
        "version": 1,
        "establishedAt": 1773072851475,
        "source": "integrated",
        "triggerNode": {
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook"
        },
        "parentExecutionId": "1503"
      }
    },
    "parentExecution": {
      "executionId": "1503",
      "workflowId": "MZfYRe4ZDgUeWW64",
      "shouldResume": true,
      "executionContext": {
        "version": 1,
        "establishedAt": 1773072851438,
        "source": "webhook",
        "triggerNode": {
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook"
        }
      }
    }
  },
  "workflowData": {
    "id": "X3D2dWkBu8QLlNSm",
    "name": "NN_03-B_Pipeline_Agent",
    "active": true,
    "activeVersionId": "99e76b9c-fbc0-4e82-8b1e-b8a4b019d7ad",
    "isArchived": false,
    "createdAt": "2026-03-06T18:51:21.450Z",
    "updatedAt": "2026-03-09T16:12:55.192Z",
    "nodes": [
      {
        "parameters": {
          "notice": ""
        },
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "d7a08330-b594-4ee8-a532-5b5b776c3664"
      },
      {
        "parameters": {
          "events": "worklfow_call",
          "inputSource": "passthrough"
        },
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          -200
        ],
        "id": "02c6b8da-2892-428d-b396-cbf1849e8dc9"
      },
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "nn-03-b-pipeline",
          "authentication": "none",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          200
        ],
        "webhookId": "nn-03-b-pipeline",
        "notes": "📥 IN: { chat_id: number, text: string (2-500 chars) }",
        "id": "221a600f-19d1-47e4-995d-2b9bc4b37b2f"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const raw = $input.first()?.json || {};\nconst body = raw.body || {};\nconst data = raw.chat_id ? raw : (body.chat_id ? body : raw);\n\nconst chat_id = Number(data.chat_id ?? 0);\n\nreturn [{\n  json: {\n    chat_id: chat_id,\n    sessionId: String(chat_id),\n    text: String(data.text ?? '').trim(),\n    intent: 'general_chat',\n    _meta: {\n      source: 'NN_03-B_Pipeline_Agent',\n      timestamp: new Date().toISOString(),\n      version: '2.1.0'\n    }\n  }\n}];",
          "notice": ""
        },
        "name": "Type Normalization",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          300,
          0
        ],
        "id": "7e39402c-d222-4e51-bdf5-fec675f7c6dc"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const chatIdStr = String($json.chat_id ?? '');\nconst chat_id_valid = chatIdStr.length > 0 && [...chatIdStr].every(c => c >= '0' && c <= '9');\nconst text = String($json.text ?? '').trim();\nconst text_valid = text.length > 2 && text.length < 500;\n\nreturn [{\n  json: {\n    ...$json,\n    isValid: chat_id_valid && text_valid\n  }\n}];",
          "notice": ""
        },
        "name": "Payload Validation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          550,
          0
        ],
        "id": "986c23cc-bd17-4665-aa39-7ecfe28071dc"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.isValid === true }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "name": "Is Valid Payload?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          800,
          0
        ],
        "id": "763a520c-50f1-4464-ac8c-ffa322afa81a"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "return [{\n  json: {\n    success: false,\n    error_code: 'VALIDATION_ERROR',\n    error_message: 'Datos de entrada inválidos: chat_id debe ser numérico y text entre 3-499 chars',\n    data: null,\n    _meta: {\n      source: 'NN_03-B_Pipeline_Agent',\n      timestamp: new Date().toISOString(),\n      version: '2.1.0'\n    }\n  }\n}];",
          "notice": ""
        },
        "name": "Err: Validation",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1050,
          200
        ],
        "id": "b2050203-5d5d-464b-a2dd-62cf37e0d9f1"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const textLower = String($json.text || '').toLowerCase();\n\nconst PROFANITY_REGEX = /\\b(conchetumare|ctm|culiao|qliao|pichula|tula|zorra|maraco|maricón|maricon|puta|mierda|fuck|shit|asshole|bitch|bastard|motherfucker|dick|cunt|pussy|prick|estúpido|estupido|idiota|imbécil|imbecil|gilipollas|huevon|weon)\\b/i;\n\nconst INJECTION_PHRASES = [\n  'ignore all previous instructions', 'disregard all rules', 'system prompt',\n  'jailbreak', 'dan mode', 'olvida todas las instrucciones'\n];\n\nconst OFFTOPIC_PHRASES = [\n  'escribe un poema', 'write a poem', 'cuéntame un cuento', 'cuentame un cuento',\n  'tell me a story', 'genera código', 'genera codigo', 'create code',\n  'hackear', 'hacking', 'política', 'politica'\n];\n\nlet isBlocked = false;\n\nif (PROFANITY_REGEX.test(textLower)) isBlocked = true;\nif (!isBlocked) {\n  for (const phrase of INJECTION_PHRASES) {\n    if (textLower.includes(phrase)) { isBlocked = true; break; }\n  }\n}\nif (!isBlocked) {\n  for (const phrase of OFFTOPIC_PHRASES) {\n    if (textLower.includes(phrase)) { isBlocked = true; break; }\n  }\n}\n\nreturn [{ json: { ...$json, isBlocked } }];",
          "notice": ""
        },
        "name": "Rule Firewall",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1050,
          -200
        ],
        "id": "86f772a8-c1f6-48ba-ac09-5344ae774cf3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.isBlocked === false }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "name": "Is Safe by Rules?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1300,
          -200
        ],
        "id": "9f5325d2-e323-430f-b8af-9796e5a95cc6"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "return [{\n  json: {\n    success: false,\n    error_code: 'SECURITY_BLOCKED',\n    error_message: 'Mensaje bloqueado por reglas de seguridad',\n    data: null,\n    _meta: {\n      source: 'NN_03-B_Pipeline_Agent',\n      timestamp: new Date().toISOString(),\n      version: '2.1.0'\n    }\n  }\n}];",
          "notice": ""
        },
        "name": "Err: Security",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1550,
          0
        ],
        "id": "62a0e713-5e16-432e-96c5-7bcbc2f886ce"
      },
      {
        "parameters": {
          "notice": "",
          "promptType": "define",
          "text": "Clasifica el mensaje en una de estas categorías:\n\n- create_booking: agendar turno.\n- cancel_booking: cancelar turno.\n- check_availability: ver horarios/disponibilidad.\n- find_next: buscar el primer turno libre.\n- get_services: info sobre servicios, especialidades, médicos, prepagas, pagos, ubicación.\n- general_chat: charla, saludo, gracias.\n\nEJEMPLOS:\n\"¿Tienen cardiología?\" -> get_services\n\"Quiero un turno\" -> create_booking\n\"Hola\" -> general_chat\n\"¿Aceptan OSDE?\" -> get_services\n\nMENSAJE: {{ $json.text }}\n\nResponde SOLO la categoría.",
          "hasOutputParser": false,
          "needsFallback": false,
          "messages": {},
          "batching": {}
        },
        "name": "Intent Classifier LLM",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          1550,
          -400
        ],
        "retryOnFail": true,
        "id": "c0ac1600-712e-4525-bf49-11745f96f8e6"
      },
      {
        "parameters": {
          "notice": "",
          "model": "llama-3.3-70b-versatile",
          "options": {
            "temperature": 0
          }
        },
        "name": "Groq Model (70B Classifier)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          1550,
          -200
        ],
        "credentials": {
          "groqApi": {
            "id": "2LYxRbHB7xVo0wNe",
            "name": "Groq account"
          }
        },
        "id": "3f9c2c9d-79c3-4ee4-9d36-155c95215e0d"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const llmOutput = String($input.first()?.json.text || '').toLowerCase().trim();\nconst allowed = ['create_booking', 'cancel_booking', 'check_availability', 'find_next', 'get_services', 'general_chat'];\n\nlet intent = 'general_chat';\nfor (const word of allowed) {\n  if (llmOutput.includes(word)) {\n    intent = word;\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    ...$json,\n    intent,\n    raw_llm: llmOutput\n  }\n}];",
          "notice": ""
        },
        "name": "Intent Normalizer",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1800,
          -400
        ],
        "id": "b89757f4-e4b5-4082-95e0-0144d034cc04"
      },
      {
        "parameters": {
          "mode": "rules",
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "sw-01",
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "create_booking",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "create_booking"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "sw-02",
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "cancel_booking",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancel_booking"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "sw-03",
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "check_availability",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "check_availability"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "sw-04",
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "find_next",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "find_next"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "sw-05",
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "get_services",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "get_services"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "sw-06",
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "general_chat",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "general_chat"
              }
            ]
          },
          "looseTypeValidation": false,
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "name": "Intent Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          2050,
          -400
        ],
        "id": "5531b7a4-7bbc-4c60-ac80-092b35028149"
      },
      {
        "parameters": {
          "notice": "",
          "model": "llama-3.3-70b-versatile",
          "options": {
            "temperature": 0.5
          }
        },
        "name": "Groq Model (70B)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          3200,
          600
        ],
        "credentials": {
          "groqApi": {
            "id": "2LYxRbHB7xVo0wNe",
            "name": "Groq account"
          }
        },
        "id": "c3626dbc-65c7-4284-8252-f666cb180a1e"
      },
      {
        "parameters": {
          "notice": "",
          "promptType": "define",
          "text": "=\"Extrae los parámetros del texto para agendar médico. Responde SOLO JSON puro.\\nJSON:\\n{\\n  \\\"start_time\\\": \\\"2025-01-15T10:00:00\\\",\\n  \\\"provider_id\\\": 1,\\n  \\\"service_id\\\": 1,\\n  \\\"user_name\\\": \\\"Usuario\\\",\\n  \\\"user_email\\\": \\\"sin-email@booking.com\\\"\\n}\\n\\nTexto: \" + $json.text",
          "hasOutputParser": false,
          "needsFallback": false,
          "messages": {},
          "batching": {}
        },
        "name": "Extract Params: create_booking",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          2400,
          -1000
        ],
        "retryOnFail": true,
        "id": "06636849-30fd-4f1f-b9f3-71f5276f10e4"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\nif (!jsonMatch) {\n  throw { success: false, error_code: 'PARSE_ERROR', error_message: 'No se detectó JSON en la respuesta del modelo.' };\n}\n\ntry {\n  params = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  throw { success: false, error_code: 'JSON_INVALID', error_message: 'El JSON extraído es inválido.' };\n}\n\nparams.chat_id = $('Type Normalization').first().json.chat_id || 0;\n\n// SEC04/05 Robust validation\nconst pId = Number(params.provider_id);\nparams.provider_id = (Number.isInteger(pId) && pId > 0) ? pId : 1;\nconst sId = Number(params.service_id);\nparams.service_id = (Number.isInteger(sId) && sId > 0) ? sId : 1;\n\nconst isoRegex = /^\\d{4}-\\d{2}-\\d{2}(T\\d{2}:\\d{2}:\\d{2})?$/;\nparams.start_time = (params.start_time && isoRegex.test(String(params.start_time)))\n  ? params.start_time\n  : new Date().toISOString();\n\nconst sanitize = (v) => String(v || '').replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, 500);\nparams.user_name = sanitize(params.user_name || 'Usuario');\n\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nparams.user_email = emailRegex.test(String(params.user_email))\n  ? String(params.user_email).substring(0, 254)\n  : 'sin-email@booking.com';\n\nreturn [{ json: params }];",
          "notice": ""
        },
        "name": "Parse: create_booking",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2650,
          -1000
        ],
        "onError": "continueErrorOutput",
        "id": "cd4f1806-22d9-47b5-8b89-644feebce88f"
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "ilA6a6sM5CvDsSBi",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "each",
          "options": {}
        },
        "name": "Execute: create_booking",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2900,
          -1000
        ],
        "onError": "continueErrorOutput",
        "id": "719e3679-9040-4aee-a3db-41948cf56515"
      },
      {
        "parameters": {
          "notice": "",
          "promptType": "define",
          "text": "=\"Eres la recepcionista de Booking Titanium. El usuario agendó. Responde en ESPAÑOL (2 oraciones).\\nResultado: \" + JSON.stringify($json) + \"\\nMensaje: \" + $json.text",
          "hasOutputParser": false,
          "needsFallback": false,
          "messages": {},
          "batching": {}
        },
        "name": "Gen: create_booking",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          3150,
          -1000
        ],
        "retryOnFail": true,
        "id": "e7aad199-5705-49a3-9d18-d3a4ac58a164"
      },
      {
        "parameters": {
          "notice": "",
          "promptType": "define",
          "text": "=\"Extrae el booking_id (UUID) para cancelar. Responde SOLO JSON puro: {\\\"booking_id\\\": \\\"UUID\\\"}.\\nTexto: \" + $json.text",
          "hasOutputParser": false,
          "needsFallback": false,
          "messages": {},
          "batching": {}
        },
        "name": "Extract Params: cancel_booking",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          2400,
          -600
        ],
        "retryOnFail": true,
        "id": "5b821933-5ec9-4543-9b71-568b649b1604"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\nif (!jsonMatch) {\n  throw { success: false, error_code: 'PARSE_ERROR', error_message: 'No se detectó JSON en la respuesta del modelo.' };\n}\n\ntry {\n  params = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  throw { success: false, error_code: 'JSON_INVALID', error_message: 'El JSON extraído es inválido.' };\n}\n\nparams.chat_id = $('Type Normalization').first().json.chat_id || 0;\n\nconst uuidRegex = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nconst bookingId = String(params.booking_id || '');\n\nif (!uuidRegex.test(bookingId)) {\n  throw {\n    success: false,\n    error_code: 'INVALID_BOOKING_ID',\n    error_message: 'No se encontró un ID de reserva válido (UUID) en tu mensaje.'\n  };\n}\n\nparams.booking_id = bookingId;\nreturn [{ json: params }];",
          "notice": ""
        },
        "name": "Parse: cancel_booking",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2650,
          -600
        ],
        "onError": "continueErrorOutput",
        "id": "d3b8203a-dadf-4507-a7f7-98f1c5eed9c1"
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "mf4qnUG7UlrAKpQU",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "each",
          "options": {}
        },
        "name": "Execute: cancel_booking",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2900,
          -600
        ],
        "onError": "continueErrorOutput",
        "id": "c4e39950-1340-4fc4-bbd8-63d84a1def8b"
      },
      {
        "parameters": {
          "notice": "",
          "promptType": "define",
          "text": "=\"Eres la recepcionista. El usuario canceló. Responde en ESPAÑOL (2 oraciones).\\nResultado: \" + JSON.stringify($json) + \"\\nMensaje: \" + $json.text",
          "hasOutputParser": false,
          "needsFallback": false,
          "messages": {},
          "batching": {}
        },
        "name": "Gen: cancel_booking",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          3150,
          -600
        ],
        "retryOnFail": true,
        "id": "97681e93-6ea5-40f0-a375-fc99abc288df"
      },
      {
        "parameters": {
          "notice": "",
          "promptType": "define",
          "text": "=\"Extrae parámetros de disponibilidad. Responde SOLO JSON puro: {\\\"provider_id\\\": 1, \\\"service_id\\\": 1, \\\"date\\\": \\\"YYYY-MM-DD\\\"}.\\nTexto: \" + $json.text",
          "hasOutputParser": false,
          "needsFallback": false,
          "messages": {},
          "batching": {}
        },
        "name": "Extract Params: check_availability",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          2400,
          -200
        ],
        "retryOnFail": true,
        "id": "2530b226-85c2-4fbb-8de7-9ca451d24130"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\nif (!jsonMatch) {\n  throw { success: false, error_code: 'PARSE_ERROR', error_message: 'No se detectó JSON en la respuesta del modelo.' };\n}\n\ntry {\n  params = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  throw { success: false, error_code: 'JSON_INVALID', error_message: 'El JSON extraído es inválido.' };\n}\n\nparams.chat_id = $('Type Normalization').first().json.chat_id || 0;\n\nconst pId = Number(params.provider_id);\nparams.provider_id = (Number.isInteger(pId) && pId > 0) ? pId : 1;\nconst sId = Number(params.service_id);\nparams.service_id = (Number.isInteger(sId) && sId > 0) ? sId : 1;\n\nconst isoDateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nparams.date = (params.date && isoDateRegex.test(String(params.date)))\n  ? params.date\n  : new Date().toISOString().split('T')[0];\n\nreturn [{ json: params }];",
          "notice": ""
        },
        "name": "Parse: check_availability",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2650,
          -200
        ],
        "onError": "continueErrorOutput",
        "id": "b7396172-f9b1-4515-b95f-e9d408e6af22"
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "zdUslfT9C0sTI83H",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "each",
          "options": {}
        },
        "name": "Execute: check_availability",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2900,
          -200
        ],
        "onError": "continueErrorOutput",
        "id": "91f17101-d98d-477c-b796-e192b9356fdc"
      },
      {
        "parameters": {
          "notice": "",
          "promptType": "define",
          "text": "=\"Eres la recepcionista. Consultaron disponibilidad. Responde en ESPAÑOL (2 oraciones).\\nResultado: \" + JSON.stringify($json) + \"\\nMensaje: \" + $json.text",
          "hasOutputParser": false,
          "needsFallback": false,
          "messages": {},
          "batching": {}
        },
        "name": "Gen: check_availability",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          3150,
          -200
        ],
        "retryOnFail": true,
        "id": "ecbc78ac-909e-490c-b9f2-8bd60284bbbd"
      },
      {
        "parameters": {
          "notice": "",
          "promptType": "define",
          "text": "=\"Extrae parámetros para próximo turno. Responde SOLO JSON puro: {\\\"provider_id\\\": 1, \\\"service_id\\\": 1, \\\"date\\\": \\\"YYYY-MM-DD\\\"}.\\nTexto: \" + $json.text",
          "hasOutputParser": false,
          "needsFallback": false,
          "messages": {},
          "batching": {}
        },
        "name": "Extract Params: find_next",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          2400,
          200
        ],
        "retryOnFail": true,
        "id": "fc0e74e9-91d0-463c-abb5-35cdba59151e"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\nif (!jsonMatch) {\n  throw { success: false, error_code: 'PARSE_ERROR', error_message: 'No se detectó JSON en la respuesta del modelo.' };\n}\n\ntry {\n  params = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  throw { success: false, error_code: 'JSON_INVALID', error_message: 'El JSON extraído es inválido.' };\n}\n\nparams.chat_id = $('Type Normalization').first().json.chat_id || 0;\n\nconst pId = Number(params.provider_id);\nparams.provider_id = (Number.isInteger(pId) && pId > 0) ? pId : 1;\nconst sId = Number(params.service_id);\nparams.service_id = (Number.isInteger(sId) && sId > 0) ? sId : 1;\n\nconst isoDateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nparams.date = (params.date && isoDateRegex.test(String(params.date)))\n  ? params.date\n  : new Date().toISOString().split('T')[0];\n\nreturn [{ json: params }];",
          "notice": ""
        },
        "name": "Parse: find_next",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2650,
          200
        ],
        "onError": "continueErrorOutput",
        "id": "6dbb5ee7-e416-4680-8951-d2a235036975"
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "oi5AiSoJRbzDf2A8",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "each",
          "options": {}
        },
        "name": "Execute: find_next",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2900,
          200
        ],
        "onError": "continueErrorOutput",
        "id": "5593a0a7-e2e0-41d5-889b-44ca798c1253"
      },
      {
        "parameters": {
          "notice": "",
          "promptType": "define",
          "text": "=\"Eres la recepcionista. Buscaron el próximo turno. Responde en ESPAÑOL (2 oraciones).\\nResultado: \" + JSON.stringify($json) + \"\\nMensaje: \" + $json.text",
          "hasOutputParser": false,
          "needsFallback": false,
          "messages": {},
          "batching": {}
        },
        "name": "Gen: find_next",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          3150,
          200
        ],
        "retryOnFail": true,
        "id": "91d94497-aacd-40bf-9a67-8d7ca631b3b0"
      },
      {
        "parameters": {
          "notice": "",
          "promptType": "define",
          "text": "=\"Extrae consulta para buscar servicios. Responde SOLO JSON puro: {\\\"query\\\": \\\"texto\\\"}.\\nTexto: \" + $json.text",
          "hasOutputParser": false,
          "needsFallback": false,
          "messages": {},
          "batching": {}
        },
        "name": "Extract Params: get_services",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          2400,
          600
        ],
        "retryOnFail": true,
        "id": "34f4d037-cd19-4cda-827d-d658b3f54ff5"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const content = $json.text || '';\nconst jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\nlet params = {};\n\nif (!jsonMatch) {\n  throw { success: false, error_code: 'PARSE_ERROR', error_message: 'No se detectó JSON en la respuesta del modelo.' };\n}\n\ntry {\n  params = JSON.parse(jsonMatch[0]);\n} catch(e) {\n  throw { success: false, error_code: 'JSON_INVALID', error_message: 'El JSON extraído es inválido.' };\n}\n\nparams.chat_id = $('Type Normalization').first().json.chat_id || 0;\n\nconst rawQuery = String(params.query || $json.text || '');\nparams.query = rawQuery.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, 500);\nparams.provider_id = 1;\nparams.limit = 3;\nparams.similarity_threshold = 0.3;\n\nreturn [{ json: params }];",
          "notice": ""
        },
        "name": "Parse: get_services",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2650,
          600
        ],
        "onError": "continueErrorOutput",
        "id": "897e78d9-27e0-4564-825e-61ffd05ac45b"
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "RAG_02_Document_Retrieval_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "each",
          "options": {}
        },
        "name": "Execute: RAG_02",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2900,
          600
        ],
        "onError": "continueErrorOutput",
        "id": "66f66b8d-90a2-4a90-b7a0-d7095107b288"
      },
      {
        "parameters": {
          "notice": "",
          "promptType": "define",
          "text": "=\"Eres la recepcionista. Responde sobre servicios usando los documentos.\\nDOCUMENTOS:\\n\" + JSON.stringify($json.data?.documents || []) + \"\\nCONSULTA: \" + $json.text",
          "hasOutputParser": false,
          "needsFallback": false,
          "messages": {},
          "batching": {}
        },
        "name": "Gen: get_services",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          3150,
          600
        ],
        "retryOnFail": true,
        "id": "7fd4ea1c-9838-4808-9bd9-3f6d26945604"
      },
      {
        "parameters": {
          "notice": "",
          "promptType": "define",
          "text": "=\"Eres la recepcionista. Responde amablemente (2 oraciones).\\nMENSAJE: \" + $json.text",
          "hasOutputParser": false,
          "needsFallback": false,
          "messages": {},
          "batching": {}
        },
        "name": "Fallback Gen",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          2400,
          1000
        ],
        "retryOnFail": true,
        "id": "87e40cd1-f992-49ee-87ef-00e0b3f33aa4"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const nodes = ['Gen: create_booking', 'Gen: cancel_booking', 'Gen: check_availability', 'Gen: find_next', 'Gen: get_services', 'Fallback Gen'];\n\nfor (const name of nodes) {\n  try {\n    if ($(name).isExecuted) {\n      const out = $(name).first().json;\n      if (out.success === false) throw out; // Redirigir errores al handler central\n      return [{ json: out }];\n    }\n  } catch (e) {\n    if (e.success === false) throw e;\n  }\n}\n\nthrow { success: false, error_code: 'NO_BRANCH_EXECUTED', error_message: 'Ninguna rama se ejecutó correctamente.' };",
          "notice": ""
        },
        "name": "Merge All Branches",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3500,
          0
        ],
        "onError": "continueErrorOutput",
        "id": "887728a7-0277-47c9-a31e-9cdc2d9d29be"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "if-success-cond",
                "leftValue": "={{ $json.success !== false }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "name": "Is Success?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3650,
          0
        ],
        "id": "0e7db8c0-b040-4d68-a8ef-9a69d20bd1f3"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const input = $input.first()?.json || {};\nconst error = $input.params.error || {}; // Si viene de un onError\n\nconst success = input.success !== false && !error.message;\nconst errorCode = error.code || input.error_code || 'EXECUTION_ERROR';\nconst errorMessage = error.message || input.error_message || 'Error desconocido';\n\nreturn [{\n  json: {\n    success: false,\n    error_code: errorCode,\n    error_message: errorMessage,\n    data: null,\n    _meta: {\n      source: 'NN_03-B_Pipeline_Agent',\n      timestamp: new Date().toISOString(),\n      version: '2.1.0'\n    }\n  }\n}];",
          "notice": ""
        },
        "name": "Central Error Handler",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3800,
          400
        ],
        "id": "eb6d4643-37bf-44b3-a1bd-c5789ad92f07"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const input = $input.first()?.json || {};\nlet aiResp = input.text || input.output || input.ai_response || '';\nif (typeof aiResp === 'string') aiResp = aiResp.replace(/^[\\\"']|[\\\"']$/g, '').trim();\nif (!aiResp) aiResp = 'Lo siento, no pude procesar tu solicitud.';\n\nlet chatId = 0;\nlet intent = 'general_chat';\n\ntry { if ($('Type Normalization').isExecuted) chatId = $('Type Normalization').first().json.chat_id || 0; } catch(e) {}\ntry { if ($('Intent Normalizer').isExecuted) intent = $('Intent Normalizer').first().json.intent || 'general_chat'; } catch(e) {}\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      intent,\n      chat_id: chatId,\n      ai_response: aiResp\n    },\n    _meta: {\n      source: 'NN_03-B_Pipeline_Agent',\n      timestamp: new Date().toISOString(),\n      version: '2.1.0'\n    }\n  }\n}];",
          "notice": ""
        },
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3800,
          -200
        ],
        "id": "02a7b6d6-97d0-4eb8-baca-0be38953daf4"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// 📤 STANDARD CONTRACT OUTPUT (O02)\nreturn [{ json: $input.first()?.json || {} }];",
          "notice": ""
        },
        "name": "📤 Standard Contract Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4100,
          0
        ],
        "notes": "📤 OUT: Standard Contract",
        "id": "74669732-0005-4932-9cf1-ce6b8a11a3cb"
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Type Normalization",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Type Normalization",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Type Normalization",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Type Normalization": {
        "main": [
          [
            {
              "node": "Payload Validation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Payload Validation": {
        "main": [
          [
            {
              "node": "Is Valid Payload?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Valid Payload?": {
        "main": [
          [
            {
              "node": "Rule Firewall",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Err: Validation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Err: Validation": {
        "main": [
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rule Firewall": {
        "main": [
          [
            {
              "node": "Is Safe by Rules?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Safe by Rules?": {
        "main": [
          [
            {
              "node": "Intent Classifier LLM",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Err: Security",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Err: Security": {
        "main": [
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Model (8B)": {
        "ai_languageModel": [
          [
            {
              "node": "Intent Classifier LLM",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Extract Params: create_booking",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Extract Params: cancel_booking",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Extract Params: check_availability",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Extract Params: find_next",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Extract Params: get_services",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Intent Classifier LLM": {
        "main": [
          [
            {
              "node": "Intent Normalizer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intent Normalizer": {
        "main": [
          [
            {
              "node": "Intent Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intent Switch": {
        "main": [
          [
            {
              "node": "Extract Params: create_booking",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract Params: cancel_booking",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract Params: check_availability",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract Params: find_next",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract Params: get_services",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Fallback Gen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Model (70B)": {
        "ai_languageModel": [
          [
            {
              "node": "Gen: create_booking",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Gen: cancel_booking",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Gen: check_availability",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Gen: find_next",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Gen: get_services",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Fallback Gen",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Extract Params: create_booking": {
        "main": [
          [
            {
              "node": "Parse: create_booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse: create_booking": {
        "main": [
          [
            {
              "node": "Execute: create_booking",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute: create_booking": {
        "main": [
          [
            {
              "node": "Gen: create_booking",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gen: create_booking": {
        "main": [
          [
            {
              "node": "Merge All Branches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Params: cancel_booking": {
        "main": [
          [
            {
              "node": "Parse: cancel_booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse: cancel_booking": {
        "main": [
          [
            {
              "node": "Execute: cancel_booking",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute: cancel_booking": {
        "main": [
          [
            {
              "node": "Gen: cancel_booking",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gen: cancel_booking": {
        "main": [
          [
            {
              "node": "Merge All Branches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Params: check_availability": {
        "main": [
          [
            {
              "node": "Parse: check_availability",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse: check_availability": {
        "main": [
          [
            {
              "node": "Execute: check_availability",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute: check_availability": {
        "main": [
          [
            {
              "node": "Gen: check_availability",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gen: check_availability": {
        "main": [
          [
            {
              "node": "Merge All Branches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Params: find_next": {
        "main": [
          [
            {
              "node": "Parse: find_next",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse: find_next": {
        "main": [
          [
            {
              "node": "Execute: find_next",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute: find_next": {
        "main": [
          [
            {
              "node": "Gen: find_next",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gen: find_next": {
        "main": [
          [
            {
              "node": "Merge All Branches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Params: get_services": {
        "main": [
          [
            {
              "node": "Parse: get_services",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse: get_services": {
        "main": [
          [
            {
              "node": "Execute: RAG_02",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute: RAG_02": {
        "main": [
          [
            {
              "node": "Gen: get_services",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gen: get_services": {
        "main": [
          [
            {
              "node": "Merge All Branches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fallback Gen": {
        "main": [
          [
            {
              "node": "Merge All Branches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge All Branches": {
        "main": [
          [
            {
              "node": "Is Success?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Success?": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Central Error Handler",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Central Error Handler": {
        "main": [
          [
            {
              "node": "📤 Standard Contract Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "📤 Standard Contract Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveExecutionProgress": true,
      "saveManualExecutions": true,
      "executionTimeout": 120,
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": null,
    "pinData": {}
  },
  "customData": {}
}
