exec_295_data.json
{"id":"295","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-28T21:21:31.715Z","startedAt":"2026-02-28T21:21:31.734Z","stoppedAt":"2026-02-28T21:21:31.768Z","deletedAt":null,"workflowId":"N2APxPodLDJCG818","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook":[{"startTime":1772313691739,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"axios/1.13.6","content-length":"24","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d52f8dc9cca5674-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"invalid_field":"test"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-03-ai-agent-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Extract & Validate (PRE)":[{"startTime":1772313691739,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":9,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"original_data":{"invalid_field":"test"}},"pairedItem":{"item":0}}]]}}],"Is Valid?":[{"startTime":1772313691748,"executionIndex":2,"source":[{"previousNode":"Extract & Validate (PRE)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"isValid":false,"original_data":{"invalid_field":"test"}},"pairedItem":{"item":0}}]]}}],"Format Rejection":[{"startTime":1772313691749,"executionIndex":3,"source":[{"previousNode":"Is Valid?","previousNodeOutput":1,"previousNodeRun":0}],"hints":[],"executionTime":11,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required fields for AI Agent","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T21:21:31.759Z","workflow_id":"NN_03","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}],"Format Success (POST)":[{"startTime":1772313691760,"executionIndex":4,"source":[{"previousNode":"Format Rejection","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":8,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required fields for AI Agent","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T21:21:31.759Z","workflow_id":"NN_03","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Format Success (POST)"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772313691738,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"N2APxPodLDJCG818","name":"NN_03_AI_Agent","active":true,"activeVersionId":"11c398ee-c945-4cfd-86c3-c35b00c1832f","isArchived":false,"createdAt":"2026-02-28T15:30:11.252Z","updatedAt":"2026-02-28T21:19:32.880Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,220],"id":"460e372d-c862-461b-80a7-69c122380cd6"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[200,420],"id":"0839283c-eb16-4787-8220-a26cec480daf"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const item = $input.first()?.json || {};\nconst data = item.data || item.body?.data || item.body || item;\n\nconst chat_id = data.chat_id;\nconst text = data.text || data.ai_response;\n\nconst isValid = !!(chat_id && text);\n\nreturn [{\n  json: {\n    isValid,\n    chat_id,\n    text,\n    original_data: data\n  }\n}];","notice":""},"name":"Extract & Validate (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,420],"id":"958d2675-4f81-4e23-a215-7c088d88a184"},{"parameters":{"conditions":{"options":{"typeValidation":"strict"},"conditions":[{"id":"cond_valid","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,420],"id":"8a6b81bb-1174-434a-ae21-0a606c015daa"},{"parameters":{"aiAgentStarterCallout":"","promptType":"auto","text":"={{ $json.chatInput }}","hasOutputParser":false,"needsFallback":false,"options":{}},"name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[950,300],"onError":"continueErrorOutput","id":"06084f6b-ac05-441d-83d1-5a2bd2bad009"},{"parameters":{"notice":"","model":"llama3-8b-8192","options":{}},"name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[900,500],"credentials":{"groqApi":{"id":"4S8GVMY7aotYd9BI","name":"Groq account"}},"id":"9af4828e-5584-47d1-8e7c-91c3dbc1a0f4"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const item = $input.first()?.json || {};\n// In n8n v2 AI Agent returns 'output'\nconst ai_response = item.output || item.text || item.ai_response;\n\n// Try to get chat_id from multiple sources\nlet chat_id = item.chat_id;\nif (!chat_id) {\n  try {\n    chat_id = $node[\"Extract & Validate (PRE)\"].json.chat_id;\n  } catch (e) {}\n}\nchat_id = chat_id || \"unknown\";\n\n// If we came from Format Rejection\nif (item.error_code === \"VALIDATION_ERROR\") {\n  return [{ json: item }];\n}\n\nconst isSuccess = !!ai_response && !item.error;\n\nreturn [{\n  json: {\n    success: isSuccess,\n    error_code: isSuccess ? null : \"AI_AGENT_ERROR\",\n    error_message: isSuccess ? null : (item.error || \"AI Agent failed to generate response\"),\n    data: {\n      ai_response: ai_response || null,\n      chat_id: chat_id\n    },\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_03\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Success (POST)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1250,300],"id":"e78c2253-b4ce-4c1d-83ae-3c44c8e3a230"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return {\n    success: false,\n    error_code: \"VALIDATION_ERROR\",\n    error_message: \"Payload missing required fields for AI Agent\",\n    data: null,\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_03\",\n      version: \"1.0.0\"\n    }\n};","notice":""},"name":"Format Rejection","type":"n8n-nodes-base.code","typeVersion":2,"position":[950,550],"id":"5318b85b-d20f-4444-84de-539d326dfa4e"},{"parameters":{"notice":""},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[200,800],"id":"a94cf50f-0934-4d81-9447-7c99a11c8ca3"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return {\n  success: false,\n  error_code: \"AI_SYSTEM_ERROR\",\n  error_message: $input.first()?.json?.execution?.error?.message || \"Fatal error in AI Agent workflow\",\n  data: null,\n  _meta: {\n    source: \"NN_03_AI_Agent\",\n    timestamp: new Date().toISOString(),\n    workflow_id: \"NN_03\",\n    version: \"1.0.0\"\n  }\n};","notice":""},"name":"Format Global Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[450,800],"id":"13a2665a-73e8-42b8-8e17-3244ed85b1cc"},{"parameters":{"notice":""},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,240],"id":"520ec0ac-97b3-4c36-be78-7f1f1d6f1553"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-03-ai-agent-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,600],"webhookId":"nn-03-ai-agent-test","id":"072e7b41-5e72-4e77-82d9-b190ec51b6c9"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Extract & Validate (PRE)":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Format Rejection","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Format Success (POST)","type":"main","index":0}],[{"node":"Format Success (POST)","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Error Trigger":{"main":[[{"node":"Format Global Error","type":"main","index":0}]]},"Format Global Error":{"main":[[{"node":"Format Success (POST)","type":"main","index":0}]]},"Format Rejection":{"main":[[{"node":"Format Success (POST)","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":{}},"customData":{}}