exec_212_data.json
{"id":"212","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-02-28T19:44:43.522Z","startedAt":"2026-02-28T19:44:43.556Z","stoppedAt":"2026-02-28T19:44:44.784Z","deletedAt":null,"workflowId":"IhAvwkZIob9KfYoA","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"description":"Try changing the type of comparison. Alternatively you can enable 'Convert types where required'.","timestamp":1772307884781,"context":{"itemIndex":0},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","rightValue":""},"conditions":[{"id":"if_valid_cond","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":"equals","type":"boolean"}],"combinator":"and"},"options":{}},"name":"Is Valid Input?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,432],"id":"20b78a9a-43db-460b-9135-d47165eb0c58"},"messages":[],"message":"Cannot read properties of undefined (reading 'toLowerCase')","stack":"NodeOperationError: Cannot read properties of undefined (reading 'toLowerCase')\n    at extractValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/extract-value.ts:211:9)\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:499:29)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:134:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V2/IfV2.node.ts:96:18\n    at Array.forEach (<anonymous>)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V2/IfV2.node.ts:88:23)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:38\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)"},"runData":{"Webhook":[{"startTime":1772307883561,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"curl/8.14.1","content-length":"26","accept":"*/*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d526b0dfd504c26-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"unexpectedField":"test"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-01-booking-gateway-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Validate Input (PRE)":[{"startTime":1772307883562,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1218,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"error_code":"INVALID_PAYLOAD","error_message":"Missing chat_id or text in Telegram payload"},"pairedItem":{"item":0}}]]}}],"Is Valid Input?":[{"startTime":1772307884780,"executionIndex":2,"source":[{"previousNode":"Validate Input (PRE)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":3,"executionStatus":"error","error":{"level":"warning","tags":{},"description":"Try changing the type of comparison. Alternatively you can enable 'Convert types where required'.","timestamp":1772307884781,"context":{"itemIndex":0},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","rightValue":""},"conditions":[{"id":"if_valid_cond","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":"equals","type":"boolean"}],"combinator":"and"},"options":{}},"name":"Is Valid Input?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,432],"id":"20b78a9a-43db-460b-9135-d47165eb0c58"},"messages":[],"message":"Cannot read properties of undefined (reading 'toLowerCase')","stack":"NodeOperationError: Cannot read properties of undefined (reading 'toLowerCase')\n    at extractValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/extract-value.ts:211:9)\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:499:29)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:134:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V2/IfV2.node.ts:96:18\n    at Array.forEach (<anonymous>)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V2/IfV2.node.ts:88:23)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:38\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)"}}]},"lastNodeExecuted":"Is Valid Input?"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","rightValue":""},"conditions":[{"id":"if_valid_cond","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":"equals","type":"boolean"}],"combinator":"and"},"options":{}},"name":"Is Valid Input?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,432],"id":"20b78a9a-43db-460b-9135-d47165eb0c58"},"data":{"main":[[{"json":{"isValid":false,"error_code":"INVALID_PAYLOAD","error_message":"Missing chat_id or text in Telegram payload"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Validate Input (PRE)","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772307883560,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"IhAvwkZIob9KfYoA","name":"NN_01_Booking_Gateway","active":true,"activeVersionId":"e69c6a81-ad81-4c9a-977c-402aa3e56bde","isArchived":false,"createdAt":"2026-02-28T13:59:38.958Z","updatedAt":"2026-02-28T19:43:11.790Z","nodes":[{"parameters":{"notice":""},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,240],"id":"f8094819-4a13-4ddd-83a0-16110992aec3"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-01-booking-gateway-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"c6b53965-2e17-4ef0-9a96-296259dd4637"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,608],"id":"5a4091fe-5735-4285-880c-72a6360d8305"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Get raw input from webhook\n// Webhook passes data directly in $json, not wrapped in body\nconst rawInput = $input.first()?.json || {};\n\n// Check if this looks like a Telegram message\nconst message = rawInput.message || rawInput.channel_post || {};\nconst chat_id = message.chat?.id;\nconst text = message.text;\n\n// If no message structure found, this is an invalid payload\nif (!chat_id || !text) {\n  return [{\n    json: {\n      isValid: false,\n      error_code: \"INVALID_PAYLOAD\",\n      error_message: \"Missing chat_id or text in Telegram payload\"\n    }\n  }];\n}\n\n// Valid payload - pass to NN_02\nreturn [{\n  json: {\n    isValid: true,\n    raw_input: rawInput\n  }\n}];","notice":""},"name":"Validate Input (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,432],"id":"dffd058e-1c2b-4a3d-8665-9b2ebd392ff0"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","rightValue":""},"conditions":[{"id":"if_valid_cond","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":"equals","type":"boolean"}],"combinator":"and"},"options":{}},"name":"Is Valid Input?","type":"n8n-nodes-base.if","typeVersion":2,"position":[800,432],"id":"20b78a9a-43db-460b-9135-d47165eb0c58"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":"MoRopyN2Aslc35XU","workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute NN_02","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1000,432],"continueOnFail":true,"alwaysOutputData":true,"id":"12411e00-29c0-4a2e-bebe-81615a1d8a30"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Check NN_02 response\nconst nn02 = $input.first()?.json || {};\n\nif (nn02.success === true && nn02.data) {\n  return [{\n    json: {\n      nn02_success: true,\n      nn02_data: nn02.data,\n      nn02_meta: nn02._meta\n    }\n  }];\n} else {\n  return [{\n    json: {\n      nn02_success: false,\n      nn02_error: nn02\n    }\n  }];\n}","notice":""},"name":"Check NN_02 Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,432],"id":"c92c9d76-858f-4014-86f5-5b80e7592226"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","rightValue":""},"conditions":[{"id":"if_nn02_cond","leftValue":"={{ $json.nn02_success }}","rightValue":true,"operator":"equals","type":"boolean"}],"combinator":"and"},"options":{}},"name":"Did NN_02 Succeed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1400,432],"id":"e18682b1-8512-46fa-a44d-b2cf139f7abc"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":"N2APxPodLDJCG818","workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute NN_03 (AI)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1600,432],"continueOnFail":true,"alwaysOutputData":true,"id":"873a35a8-27af-4a09-bafd-6cca53a29a4f"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Check NN_03 response\nconst nn03 = $input.first()?.json || {};\n\nif (nn03.success === true && nn03.data?.ai_response) {\n  return [{\n    json: {\n      nn03_success: true,\n      ai_response: nn03.data.ai_response,\n      chat_id: nn03.data.chat_id\n    }\n  }];\n} else {\n  return [{\n    json: {\n      nn03_success: false,\n      nn03_error: nn03\n    }\n  }];\n}","notice":""},"name":"Check NN_03 Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,432],"id":"9d62b96e-f941-4249-a552-cbe476c4504e"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","rightValue":""},"conditions":[{"id":"if_nn03_cond","leftValue":"={{ $json.nn03_success }}","rightValue":true,"operator":"equals","type":"boolean"}],"combinator":"and"},"options":{}},"name":"Did NN_03 Succeed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2000,432],"id":"c1a69f11-df53-491e-9ba1-2dd0cd59b36a"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":"4afRuMkIvgEh7gXt","workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute NN_04 (Telegram)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2200,432],"continueOnFail":true,"alwaysOutputData":true,"id":"adb2cf07-b247-4580-ab51-587871d044a8"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Final response - Success\nconst nn04 = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      message_sent: nn04.success === true,\n      chat_id: nn04.data?.chat_id\n    },\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Success","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,432],"id":"48a6081c-1d6b-4b91-88d9-9599dadcf32e"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Error response for NN_02 failure\nconst nn02_error = $input.first()?.json?.nn02_error || $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: nn02_error.error_code || \"NN02_ERROR\",\n    error_message: nn02_error.error_message || \"NN_02 processing failed\",\n    data: null,\n    _meta: nn02_error._meta || {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format NN_02 Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,650],"id":"65e2b20f-808d-4e73-9795-6caae8133df5"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Error response for NN_03 failure\nconst nn03_error = $input.first()?.json?.nn03_error || $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: nn03_error.error_code || \"NN03_ERROR\",\n    error_message: nn03_error.error_message || \"NN_03 AI processing failed\",\n    data: null,\n    _meta: nn03_error._meta || {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format NN_03 Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,650],"id":"bd49a4a2-c5fd-47bd-bdcc-cf57b6699131"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Error response for NN_04 failure\nconst nn04_error = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: nn04_error.error_code || \"NN04_ERROR\",\n    error_message: nn04_error.error_message || \"NN_04 Telegram sending failed\",\n    data: null,\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format NN_04 Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,650],"id":"b21fcc7f-ca32-4c00-b448-aeb0de7b42de"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"// Error response for invalid input\nconst inputData = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: inputData.error_code || \"INVALID_INPUT\",\n    error_message: inputData.error_message || \"Invalid Telegram payload\",\n    data: null,\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Input Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,650],"id":"2c6b4802-0727-4018-b4e2-54d7c135d02c"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return $input.all();","notice":""},"name":"Final Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[2600,432],"id":"3912980a-b142-4362-b475-075a58ebc761"}],"connections":{"Manual Trigger":{"main":[[{"node":"Validate Input (PRE)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Validate Input (PRE)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Validate Input (PRE)","type":"main","index":0}]]},"Validate Input (PRE)":{"main":[[{"node":"Is Valid Input?","type":"main","index":0}]]},"Is Valid Input?":{"main":[[{"node":"Execute NN_02","type":"main","index":0}],[{"node":"Format Input Error","type":"main","index":0}]]},"Execute NN_02":{"main":[[{"node":"Check NN_02 Result","type":"main","index":0}]]},"Check NN_02 Result":{"main":[[{"node":"Did NN_02 Succeed?","type":"main","index":0}]]},"Did NN_02 Succeed?":{"main":[[{"node":"Execute NN_03 (AI)","type":"main","index":0}],[{"node":"Format NN_02 Error","type":"main","index":0}]]},"Execute NN_03 (AI)":{"main":[[{"node":"Check NN_03 Result","type":"main","index":0}]]},"Check NN_03 Result":{"main":[[{"node":"Did NN_03 Succeed?","type":"main","index":0}]]},"Did NN_03 Succeed?":{"main":[[{"node":"Execute NN_04 (Telegram)","type":"main","index":0}],[{"node":"Format NN_03 Error","type":"main","index":0}]]},"Execute NN_04 (Telegram)":{"main":[[{"node":"Format Success","type":"main","index":0}]]},"Format Success":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Format NN_02 Error":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Format NN_03 Error":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Format NN_04 Error":{"main":[[{"node":"Final Response","type":"main","index":0}]]},"Format Input Error":{"main":[[{"node":"Final Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{},"pinData":{}},"customData":{}}