GCAL_Create_Event_clean.json
{
  "name": "GCAL_Create_Event",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "id": "0ffae73d-d626-4a86-bd5b-5f4b82b3282e"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "8ea719fe-890d-4087-a4eb-d2451adfdca8"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gcal-create-event",
        "responseMode": "lastNode",
        "options": {},
        "responseData": "firstEntryJson"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        600
      ],
      "webhookId": "gcal-create-event",
      "id": "73d90722-2ecf-4503-a56d-844532a476e7"
    },
    {
      "parameters": {
        "calendar": "primary",
        "filters": {
          "timeMin": "={{ $json.start_time }}",
          "timeMax": "={{ $json.end_time }}"
        }
      },
      "name": "Check Existing Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        250,
        400
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      },
      "id": "b4735653-92c2-413c-8fed-ac858afd6952"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "rightValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no_events_found",
              "leftValue": "={{ $node[\"Check Existing Events\"].all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Any Event Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        500,
        400
      ],
      "id": "5afcfb0e-95e0-4a4f-987a-244b4fbae482"
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $node[\"Execute Workflow Trigger\"].json.start_time }}",
        "end": "={{ $node[\"Execute Workflow Trigger\"].json.end_time }}",
        "summary": "=Reserva: {{ $node[\"Execute Workflow Trigger\"].json.user_name || 'Paciente' }} ({{ $node[\"Execute Workflow Trigger\"].json.service_name || 'Consulta' }})",
        "description": "=Reserva gestionada por Booking Titanium via Telegram.",
        "additionalFields": {
          "attendees": "={{ $node[\"Execute Workflow Trigger\"].json.user_email }}"
        }
      },
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        750,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      },
      "id": "c47facd7-12c3-4f5d-8c9b-f5d6be159f4b"
    },
    {
      "parameters": {
        "jsCode": "const gcalResult = $input.first()?.json || {};\nconst eventId = gcalResult.id;\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      gcal_event_id: eventId || 'already_exists',\n      status: eventId ? 'CREATED' : 'ALREADY_EXISTS'\n    },\n    _meta: {\n      source: 'GCAL_Create_Event',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'GCAL_Create_Event',\n      version: '1.1.0'\n    }\n  }\n}];"
      },
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ],
      "id": "41e06a7a-33e1-44a7-a96b-a18bd1420387"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Check Existing Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Check Existing Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Existing Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Events": {
      "main": [
        [
          {
            "node": "Any Event Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Event Found?": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}
