orch_exec_2.json
{
  "id": "2459",
  "finished": true,
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "success",
  "createdAt": "2026-03-14T21:36:26.816Z",
  "startedAt": "2026-03-14T21:36:26.827Z",
  "stoppedAt": "2026-03-14T21:36:27.969Z",
  "deletedAt": null,
  "workflowId": "331l1dm2pmFsSWBF",
  "waitTill": null,
  "storedAt": "db",
  "data": {
    "version": 1,
    "startData": {},
    "resultData": {
      "runData": {
        "Webhook": [
          {
            "startTime": 1773524186833,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "headers": {
                        "accept": "application/json, text/plain, */*",
                        "content-type": "application/json",
                        "user-agent": "axios/1.13.6",
                        "content-length": "129",
                        "accept-encoding": "gzip, compress, deflate, br",
                        "host": "localhost:5678",
                        "connection": "keep-alive"
                      },
                      "params": {},
                      "query": {},
                      "body": {
                        "provider_id": 1,
                        "service_id": 1,
                        "start_time": "2026-10-31T10:00:00Z",
                        "duration_minutes": 60,
                        "customer_id": "tdd_user_1773524172005"
                      },
                      "webhookUrl": "https://n8n.stax.ink/webhook/booking-orchestrator",
                      "executionMode": "production"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Validate Input": [
          {
            "startTime": 1773524186833,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Webhook",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 5,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "provider_id": 1,
                      "service_id": 1,
                      "start_time": "2026-10-31T10:00:00Z",
                      "end_time": "2026-10-31T11:00:00.000Z",
                      "duration_minutes": 60,
                      "customer_id": "tdd_user_1773524172005",
                      "chat_id": null,
                      "event_title": "Booking Appointment",
                      "idempotency_key": "booking_1_1_2026-10-31T10:00:00Z_tdd_user_1773524172005",
                      "is_retry": false,
                      "dlq_id": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Check Idempotency DB": [
          {
            "startTime": 1773524186838,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Validate Input",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 174,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": [
                      {
                        "item": 0,
                        "input": 0
                      }
                    ]
                  }
                ],
                []
              ]
            }
          }
        ],
        "Process Idem Result": [
          {
            "startTime": 1773524187012,
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Check Idempotency DB",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 11,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "_is_duplicate": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Is Duplicate?": [
          {
            "startTime": 1773524187023,
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Process Idem Result",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 1,
            "executionStatus": "success",
            "data": {
              "main": [
                [],
                [
                  {
                    "json": {
                      "_is_duplicate": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Acquire Lock": [
          {
            "startTime": 1773524187024,
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Is Duplicate?",
                "previousNodeOutput": 1,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 927,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true,
                      "error_code": "LOCK_HELD",
                      "error_message": "Lock is already held by another process",
                      "data": {
                        "acquired": false,
                        "lock_key": "lock_1_2026-10-31T10:00:00Z",
                        "retry_after": "2026-03-14T21:41:21.187Z"
                      },
                      "_meta": {
                        "source": "WF7_Distributed_Lock_System",
                        "timestamp": "2026-03-14T21:36:27.757Z",
                        "workflow_id": "fhjJXp5DWLjbsem1"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ],
                []
              ]
            }
          }
        ],
        "Process Lock": [
          {
            "startTime": 1773524187951,
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Acquire Lock",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 11,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true,
                      "error_code": "LOCK_HELD",
                      "error_message": "Lock is already held by another process",
                      "data": {
                        "acquired": false,
                        "lock_key": "lock_1_2026-10-31T10:00:00Z",
                        "retry_after": "2026-03-14T21:41:21.187Z"
                      },
                      "_meta": {
                        "source": "WF7_Distributed_Lock_System",
                        "timestamp": "2026-03-14T21:36:27.757Z",
                        "workflow_id": "fhjJXp5DWLjbsem1"
                      },
                      "_lock_acquired": false,
                      "lock_key": "lock_1_2026-10-31T10:00:00Z",
                      "owner_token": null,
                      "lock_retry_after": "2026-03-14T21:41:21.187Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Is Lock Acquired?": [
          {
            "startTime": 1773524187962,
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "Process Lock",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 1,
            "executionStatus": "success",
            "data": {
              "main": [
                [],
                [
                  {
                    "json": {
                      "success": true,
                      "error_code": "LOCK_HELD",
                      "error_message": "Lock is already held by another process",
                      "data": {
                        "acquired": false,
                        "lock_key": "lock_1_2026-10-31T10:00:00Z",
                        "retry_after": "2026-03-14T21:41:21.187Z"
                      },
                      "_meta": {
                        "source": "WF7_Distributed_Lock_System",
                        "timestamp": "2026-03-14T21:36:27.757Z",
                        "workflow_id": "fhjJXp5DWLjbsem1"
                      },
                      "_lock_acquired": false,
                      "lock_key": "lock_1_2026-10-31T10:00:00Z",
                      "owner_token": null,
                      "lock_retry_after": "2026-03-14T21:41:21.187Z"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Lock Denied SCO": [
          {
            "startTime": 1773524187963,
            "executionIndex": 8,
            "source": [
              {
                "previousNode": "Is Lock Acquired?",
                "previousNodeOutput": 1,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 6,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": false,
                      "error_code": "LOCK_DENIED",
                      "error_message": "Time slot is locked by another process. Retry after 2026-03-14T21:41:21.187Z",
                      "data": {
                        "retry_after": "2026-03-14T21:41:21.187Z"
                      },
                      "_meta": {
                        "source": "WF2_Booking_Orchestrator",
                        "timestamp": "2026-03-14T21:36:27.969Z",
                        "workflow_id": "331l1dm2pmFsSWBF"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Lock Denied SCO"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {},
      "runtimeData": {
        "version": 1,
        "establishedAt": 1773524186833,
        "source": "webhook",
        "triggerNode": {
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook"
        }
      }
    }
  },
  "workflowData": {
    "id": "331l1dm2pmFsSWBF",
    "name": "WF2_Booking_Orchestrator",
    "nodes": [
      {
        "parameters": {
          "notice": ""
        },
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          -200
        ],
        "id": "68e16e1a-14a5-4a73-ace6-e2aae9e65770"
      },
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "booking-orchestrator",
          "authentication": "none",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "webhookId": "booking-orchestrator",
        "id": "a759d4fc-2efe-4f4e-8797-f1869d919e27"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst provider_id = parseInt(body.provider_id, 10);\nif (isNaN(provider_id) || provider_id < 1) throw new Error('Invalid provider_id');\n\nconst service_id = parseInt(body.service_id, 10);\nif (isNaN(service_id) || service_id < 1) throw new Error('Invalid service_id');\n\nconst start_time = String(body.start_time || '');\nif (!/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/.test(start_time)) throw new Error('Invalid start_time: must be ISO 8601');\nconst startDate = new Date(start_time);\nif (isNaN(startDate.getTime())) throw new Error('Unparseable start_time');\n\nconst duration_minutes = parseInt(body.duration_minutes || 60, 10);\nif (isNaN(duration_minutes) || duration_minutes < 15 || duration_minutes > 480) throw new Error('Invalid duration_minutes');\nconst endDate = new Date(startDate.getTime() + duration_minutes * 60000);\n\nconst customer_id = body.customer_id ? String(body.customer_id).substring(0, 100) : null;\nconst chat_id = body.chat_id ? String(body.chat_id).substring(0, 100) : null;\nconst event_title = body.event_title ? String(body.event_title).substring(0, 200) : 'Booking Appointment';\n\nconst rawKey = 'booking_' + provider_id + '_' + service_id + '_' + start_time + '_' + (customer_id || chat_id || 'anon');\nconst idempotency_key = rawKey.replace(/[^a-zA-Z0-9_:-]/g, '_').substring(0, 255);\n\nreturn [{ json: {\n  provider_id, service_id, start_time,\n  end_time: endDate.toISOString(),\n  duration_minutes, customer_id, chat_id, event_title,\n  idempotency_key,\n  is_retry: body.is_retry === true,\n  dlq_id: body.dlq_id || null\n}}];",
          "notice": ""
        },
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          250,
          0
        ],
        "id": "01becd3d-954e-4ae0-b98d-6a0206926e44"
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "SELECT id as booking_id, status, gcal_event_id FROM bookings WHERE idempotency_key = $1::text AND status != 'CANCELLED' LIMIT 1;",
          "options": {
            "queryReplacement": "={{ $json.idempotency_key }}"
          }
        },
        "name": "Check Idempotency DB",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "alwaysOutputData": true,
        "position": [
          500,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "5LzvCP9BsQwCi9Z0",
            "name": "Postgres account"
          }
        },
        "onError": "continueErrorOutput",
        "id": "fe113b01-49b4-460a-a6b1-ecc4d37d6c5e"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const errMsg = $input.first().json.message || 'Idempotency check failed';\nreturn [{ json: {\n  success: false, error_code: 'IDEM_DB_ERROR',\n  error_message: String(errMsg).substring(0, 500),\n  data: null,\n  _meta: { source: 'WF2_Booking_Orchestrator', timestamp: new Date().toISOString(), workflow_id: $workflow.id || 'unknown' }\n}}];",
          "notice": ""
        },
        "name": "Idem DB Error SCO",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          200
        ],
        "id": "fd824b8b-c971-4aef-a827-0a0fed265db8"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const items = $input.all();\nif (!items.length || !items[0].json || !items[0].json.booking_id) {\n  return [{ json: { _is_duplicate: false } }];\n}\nreturn [{ json: { _is_duplicate: true, existing_booking_id: items[0].json.booking_id, existing_status: items[0].json.status, existing_gcal_event_id: items[0].json.gcal_event_id } }];",
          "notice": ""
        },
        "name": "Process Idem Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          750,
          0
        ],
        "id": "59afeec9-2c9b-4cf5-80ed-bf0731faa75c"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "dup_check",
                "leftValue": "={{ $json._is_duplicate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "name": "Is Duplicate?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1000,
          0
        ],
        "id": "8b180101-9ea7-4219-b1b1-398308b4d224"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const existing = $input.first().json;\nconst validated = $('Validate Input').first().json;\nreturn [{ json: {\n  success: true, error_code: null, error_message: null,\n  data: {\n    booking_id: existing.existing_booking_id, status: existing.existing_status,\n    gcal_event_id: existing.existing_gcal_event_id, is_duplicate: true,\n    idempotency_key: validated.idempotency_key,\n    message: 'Booking already exists (idempotent retry)'\n  },\n  _meta: { source: 'WF2_Booking_Orchestrator', timestamp: new Date().toISOString(), workflow_id: $workflow.id || 'unknown' }\n}}];",
          "notice": ""
        },
        "name": "Duplicate SCO",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1250,
          200
        ],
        "id": "15c190b6-7959-4c04-888e-75950c457414"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/acquire-lock",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"provider_id\": {{ $('Validate Input').first().json.provider_id }},\n  \"start_time\": \"{{ $('Validate Input').first().json.start_time }}\",\n  \"lock_duration_minutes\": 5\n}",
          "options": {
            "timeout": 10000
          },
          "infoMessage": ""
        },
        "name": "Acquire Lock",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1250,
          -100
        ],
        "onError": "continueErrorOutput",
        "id": "4abfd79c-ff29-402a-87e7-3922bc18fa89"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "return [{ json: {\n  success: false, error_code: 'LOCK_SERVICE_ERROR',\n  error_message: 'Failed to contact lock service',\n  data: null,\n  _meta: { source: 'WF2_Booking_Orchestrator', timestamp: new Date().toISOString(), workflow_id: $workflow.id || 'unknown' }\n}}];",
          "notice": ""
        },
        "name": "Lock Error SCO",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1250,
          100
        ],
        "id": "191a481e-975e-4f93-8fa7-9d5b2e64ad67"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const resp = $input.first().json;\nconst acquired = resp.data && resp.data.acquired === true;\nconst lock_key = (resp.data && resp.data.lock_key) || null;\nconst owner_token = (resp.data && resp.data.owner_token) || null;\n\nreturn [{ json: {\n  ...resp,\n  _lock_acquired: acquired,\n  lock_key: lock_key,\n  owner_token: owner_token,\n  lock_retry_after: (resp.data && resp.data.retry_after) || null\n}}];",
          "notice": ""
        },
        "name": "Process Lock",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1500,
          -100
        ],
        "id": "4277b536-30dc-4bb6-8034-7857ad33851f"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "lock_check",
                "leftValue": "={{ $json._lock_acquired }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "name": "Is Lock Acquired?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1750,
          -100
        ],
        "id": "230fe587-4a3a-4373-a154-5d82b34e0a89"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const lockData = $input.first().json;\nreturn [{ json: {\n  success: false, error_code: 'LOCK_DENIED',\n  error_message: 'Time slot is locked by another process. Retry after ' + (lockData.lock_retry_after || 'a few seconds'),\n  data: { retry_after: lockData.lock_retry_after },\n  _meta: { source: 'WF2_Booking_Orchestrator', timestamp: new Date().toISOString(), workflow_id: $workflow.id || 'unknown' }\n}}];",
          "notice": ""
        },
        "name": "Lock Denied SCO",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1750,
          100
        ],
        "id": "1266c3a5-aa31-4569-8490-d1f12f033fcb"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/check-availability",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"provider_id\": {{ $('Validate Input').first().json.provider_id }},\n  \"service_id\": {{ $('Validate Input').first().json.service_id }},\n  \"start_time\": \"{{ $('Validate Input').first().json.start_time }}\",\n  \"duration_minutes\": {{ $('Validate Input').first().json.duration_minutes }}\n}",
          "options": {
            "timeout": 30000
          },
          "infoMessage": ""
        },
        "name": "Check Availability",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2000,
          -200
        ],
        "onError": "continueErrorOutput",
        "id": "9459cccd-7a95-4b6a-8c3b-27c6fa680e85"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const lockCtx = $('Process Lock').first().json;\nreturn [{ json: {\n  _error_code: 'AVAILABILITY_CHECK_FAILED',\n  _error_message: 'Failed to check availability',\n  lock_key: lockCtx.lock_key, owner_token: lockCtx.owner_token\n}}];",
          "notice": ""
        },
        "name": "Avail Error Prep",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          0
        ],
        "id": "4d2f3b91-75d2-4bb8-b0af-f6c8cc6aabdc"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "avail_check",
                "leftValue": "={{ $json.data?.available }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "name": "Is Available?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2250,
          -200
        ],
        "id": "312564a4-3cae-47ff-962c-b9fb0fa5f699"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const lockCtx = $('Process Lock').first().json;\nreturn [{ json: {\n  _error_code: 'SLOT_NOT_AVAILABLE',\n  _error_message: 'Requested time slot is not available',\n  lock_key: lockCtx.lock_key, owner_token: lockCtx.owner_token\n}}];",
          "notice": ""
        },
        "name": "Not Avail Prep",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2250,
          0
        ],
        "id": "83e6ee94-0621-4a98-98ef-d79d5772c971"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/release-lock",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"lock_key\": \"{{ $json.lock_key }}\",\n  \"owner_token\": \"{{ $json.owner_token }}\"\n}",
          "options": {
            "timeout": 10000
          },
          "infoMessage": ""
        },
        "name": "Release Lock Simple Error",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2500,
          0
        ],
        "onError": "continueErrorOutput",
        "id": "e7e242a1-7ba1-4052-b3d9-44bef114a9fb"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "let errorCode = 'BOOKING_ERROR';\nlet errorMsg = 'Booking failed';\n\nif ($('Not Avail Prep').isExecuted) {\n  errorCode = 'SLOT_NOT_AVAILABLE';\n  errorMsg = 'Requested time slot is not available';\n} else if ($('Avail Error Prep').isExecuted) {\n  errorCode = 'AVAILABILITY_CHECK_FAILED';\n  errorMsg = 'Failed to check availability';\n} else if ($('CB Error Prep').isExecuted) {\n  errorCode = 'CB_CHECK_FAILED';\n  errorMsg = 'Failed to check circuit breaker status';\n}\n\nreturn [{ json: {\n  success: false, error_code: errorCode, error_message: errorMsg,\n  data: null,\n  _meta: { source: 'WF2_Booking_Orchestrator', timestamp: new Date().toISOString(), workflow_id: $workflow.id || 'unknown' }\n}}];",
          "notice": ""
        },
        "name": "Simple Error SCO",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2750,
          0
        ],
        "id": "7fb40029-e6e2-4aed-8b6a-85cf2ec771a7"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/circuit-breaker/check",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "{ \"service_id\": \"google_calendar\", \"action\": \"check\" }",
          "options": {
            "timeout": 10000
          },
          "infoMessage": ""
        },
        "name": "Check Circuit Breaker",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2500,
          -300
        ],
        "onError": "continueErrorOutput",
        "id": "55ad4a18-ca3e-483a-8b86-ef6563007c66"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const lockCtx = $('Process Lock').first().json;\nreturn [{ json: {\n  _error_code: 'CB_CHECK_FAILED',\n  _error_message: 'Circuit breaker check failed',\n  lock_key: lockCtx.lock_key, owner_token: lockCtx.owner_token\n}}];",
          "notice": ""
        },
        "name": "CB Error Prep",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2500,
          -100
        ],
        "id": "2f45cdf9-1982-4af8-a4d9-d53eaee5ed6e"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cb_check",
                "leftValue": "={{ $json.data?.allowed }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "name": "Is CB OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2750,
          -300
        ],
        "id": "cb05d4c7-bf0c-4789-a4c8-56a70be5185b"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const lockCtx = $('Process Lock').first().json;\nconst validated = $('Validate Input').first().json;\nreturn [{ json: {\n  lock_key: lockCtx.lock_key, owner_token: lockCtx.owner_token,\n  _original: validated\n}}];",
          "notice": ""
        },
        "name": "CB Open Prep",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2750,
          -100
        ],
        "id": "46090c05-1d88-48d2-b6ab-697cb8df3fb1"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/release-lock",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"lock_key\": \"{{ $json.lock_key }}\",\n  \"owner_token\": \"{{ $json.owner_token }}\"\n}",
          "options": {
            "timeout": 10000
          },
          "infoMessage": ""
        },
        "name": "Release Lock CB Open",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3000,
          -100
        ],
        "onError": "continueErrorOutput",
        "id": "7a7ee257-47f6-49f0-bfe8-bfa75801d59c"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/dlq/add",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"failure_reason\": \"gcal_circuit_breaker_open\",\n  \"error_message\": \"Google Calendar unavailable (circuit breaker open)\",\n  \"original_payload\": {{ JSON.stringify($json.json._original) }},\n  \"provider_id\": {{ $json.json._original.provider_id }},\n  \"service_id\": {{ $json.json._original.service_id }},\n  \"start_time\": \"{{ $json.json._original.start_time }}\",\n  \"customer_id\": \"{{ $json.json._original.customer_id || '' }}\",\n  \"idempotency_key\": \"{{ $json.json._original.idempotency_key }}\",\n  \"workflow_id\": \"WF2_Booking_Orchestrator\"\n}",
          "options": {
            "timeout": 30000
          },
          "infoMessage": ""
        },
        "name": "Send to DLQ",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3250,
          -100
        ],
        "onError": "continueErrorOutput",
        "id": "f385e5e8-ac5e-4207-a450-7f349dbbb665"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "return [{ json: {\n  success: false, error_code: 'CIRCUIT_BREAKER_OPEN',\n  error_message: 'Google Calendar temporarily unavailable. Booking added to retry queue.',\n  data: { will_retry: true },\n  _meta: { source: 'WF2_Booking_Orchestrator', timestamp: new Date().toISOString(), workflow_id: $workflow.id || 'unknown' }\n}}];",
          "notice": ""
        },
        "name": "CB Open SCO",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3500,
          -100
        ],
        "id": "dd542ed5-35c8-474f-b222-959448cc142d"
      },
      {
        "parameters": {
          "resource": "event",
          "operation": "create",
          "calendar": {
            "__rl": true,
            "value": "dev.n8n.stax@gmail.com",
            "mode": "list",
            "cachedResultName": "dev.n8n.stax@gmail.com"
          },
          "start": "={{ $('Validate Input').first().json.start_time }}",
          "end": "={{ $('Validate Input').first().json.end_time }}",
          "useDefaultReminders": true,
          "additionalFields": {
            "description": "=Booking: {{ $('Validate Input').first().json.idempotency_key }} | Customer: {{ $('Validate Input').first().json.customer_id || $('Validate Input').first().json.chat_id || 'N/A' }}",
            "summary": "={{ $('Validate Input').first().json.event_title }}"
          },
          "useN8nTimeZone": ""
        },
        "name": "Create GCal Event",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          3000,
          -400
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "OsRBfz3Cs7Ph5uV5",
            "name": "Google Calendar account"
          }
        },
        "onError": "continueErrorOutput",
        "id": "13409151-230a-4431-bd65-129394f5867a"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const lockCtx = $('Process Lock').first().json;\nconst validated = $('Validate Input').first().json;\nreturn [{ json: {\n  lock_key: lockCtx.lock_key, owner_token: lockCtx.owner_token,\n  _original: validated, _gcal_error: true\n}}];",
          "notice": ""
        },
        "name": "GCal Error Prep",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3000,
          -200
        ],
        "id": "2c7ee787-163d-41f4-8853-714c310767b5"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/circuit-breaker/record",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "{ \"service_id\": \"google_calendar\", \"success\": false, \"error_message\": \"GCal event creation failed\" }",
          "options": {
            "timeout": 10000
          },
          "infoMessage": ""
        },
        "name": "Record CB Failure",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3250,
          -200
        ],
        "onError": "continueErrorOutput",
        "id": "368383a9-4e61-41dd-a9f0-ef4b9502869d"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/release-lock",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"lock_key\": \"{{ $json.json.lock_key }}\",\n  \"owner_token\": \"{{ $json.json.owner_token }}\"\n}",
          "options": {
            "timeout": 10000
          },
          "infoMessage": ""
        },
        "name": "Release Lock GCal Err",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3500,
          -200
        ],
        "onError": "continueErrorOutput",
        "id": "460ffaae-5458-4ecf-b3b3-5d4c7be4453a"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/dlq/add",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"failure_reason\": \"gcal_event_creation_failed\",\n  \"error_message\": \"Google Calendar event creation failed\",\n  \"original_payload\": {{ JSON.stringify($json.json.json._original) }},\n  \"provider_id\": {{ $json.json.json._original.provider_id }},\n  \"service_id\": {{ $json.json.json._original.service_id }},\n  \"start_time\": \"{{ $json.json.json._original.start_time }}\",\n  \"customer_id\": \"{{ $json.json.json._original.customer_id || '' }}\",\n  \"idempotency_key\": \"{{ $json.json.json._original.idempotency_key }}\",\n  \"workflow_id\": \"WF2_Booking_Orchestrator\"\n}",
          "options": {
            "timeout": 30000
          },
          "infoMessage": ""
        },
        "name": "DLQ GCal Error",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3750,
          -200
        ],
        "onError": "continueErrorOutput",
        "id": "8170d866-e963-4b56-b417-9d6499192f25"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "return [{ json: {\n  success: false, error_code: 'GCAL_CREATE_FAILED',\n  error_message: 'Failed to create Google Calendar event. Booking added to retry queue.',\n  data: { will_retry: true },\n  _meta: { source: 'WF2_Booking_Orchestrator', timestamp: new Date().toISOString(), workflow_id: $workflow.id || 'unknown' }\n}}];",
          "notice": ""
        },
        "name": "GCal Error SCO",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4000,
          -200
        ],
        "id": "a5408a61-fcb8-401e-b18f-787e1cccd0d5"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const gcalResult = $input.first().json;\nconst eventId = gcalResult.id || gcalResult.eventId || null;\nif (!eventId) throw new Error('GCal event created but no event ID returned');\nreturn [{ json: { gcal_event_id: eventId } }];",
          "notice": ""
        },
        "name": "Extract GCal Event ID",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3250,
          -400
        ],
        "id": "74de24bc-829e-4e02-a76a-a3f0af8e2b25"
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "INSERT INTO bookings (provider_id, service_id, start_time, end_time, idempotency_key, gcal_event_id, user_id, status)\nVALUES ($1::int, $2::int, $3::timestamp, $4::timestamp, $5::text, $6::text, $7::text, 'CONFIRMED')\nRETURNING id as booking_id;",
          "options": {
            "queryReplacement": "={{ $('Validate Input').first().json.provider_id }}, {{ $('Validate Input').first().json.service_id }}, {{ $('Validate Input').first().json.start_time }}, {{ $('Validate Input').first().json.end_time }}, {{ $('Validate Input').first().json.idempotency_key }}, {{ $('Extract GCal Event ID').first().json.gcal_event_id }}, {{ $('Validate Input').first().json.customer_id || '' }}"
          }
        },
        "name": "Create DB Booking",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          3500,
          -400
        ],
        "credentials": {
          "postgres": {
            "id": "5LzvCP9BsQwCi9Z0",
            "name": "Postgres account"
          }
        },
        "onError": "continueErrorOutput",
        "id": "33eea906-77db-46ef-86e5-985cdaeadace"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const lockCtx = $('Process Lock').first().json;\nconst gcalId = $('Extract GCal Event ID').first().json.gcal_event_id;\nreturn [{ json: { lock_key: lockCtx.lock_key, owner_token: lockCtx.owner_token, gcal_event_id: gcalId, _db_error: true } }];",
          "notice": ""
        },
        "name": "DB Error Prep",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3750,
          -200
        ],
        "id": "56a234cc-62ca-44cf-bbd5-6ef047b2945c"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/rollback-booking",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"gcal_event_id\": \"{{ $json.gcal_event_id }}\",\n  \"lock_key\": \"{{ $json.lock_key }}\",\n  \"owner_token\": \"{{ $json.owner_token }}\",\n  \"reason\": \"db_insert_failed\"\n}",
          "options": {
            "timeout": 30000
          },
          "infoMessage": ""
        },
        "name": "Rollback Via WF6",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          4000,
          -200
        ],
        "onError": "continueErrorOutput",
        "id": "8160cc70-1c9f-4cec-994e-778cd99544bb"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/release-lock",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"lock_key\": \"{{ $json.json.lock_key }}\",\n  \"owner_token\": \"{{ $json.json.owner_token }}\"\n}",
          "options": {
            "timeout": 10000
          },
          "infoMessage": ""
        },
        "name": "Release Lock DB Err",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          4250,
          -200
        ],
        "onError": "continueErrorOutput",
        "id": "8064f9b2-66d3-4886-8ec4-428f2df57e18"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "return [{ json: {\n  success: false, error_code: 'DB_INSERT_FAILED',\n  error_message: 'Database insert failed. GCal event rolled back.',\n  data: null,\n  _meta: { source: 'WF2_Booking_Orchestrator', timestamp: new Date().toISOString(), workflow_id: $workflow.id || 'unknown' }\n}}];",
          "notice": ""
        },
        "name": "DB Error SCO",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4500,
          -200
        ],
        "id": "4e92b352-1a2b-49a2-9277-72c173bdae32"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/circuit-breaker/record",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "{ \"service_id\": \"google_calendar\", \"success\": true }",
          "options": {
            "timeout": 10000
          },
          "infoMessage": ""
        },
        "name": "Record CB Success",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          3750,
          -400
        ],
        "onError": "continueErrorOutput",
        "id": "d7878c88-c8f3-4d0c-b539-efbc2ab946e0"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/release-lock",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"lock_key\": \"{{ $('Process Lock').first().json.lock_key }}\",\n  \"owner_token\": \"{{ $('Process Lock').first().json.owner_token }}\"\n}",
          "options": {
            "timeout": 10000
          },
          "infoMessage": ""
        },
        "name": "Release Lock Success",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          4000,
          -400
        ],
        "onError": "continueErrorOutput",
        "id": "c2741547-611b-4460-bc53-7f8445100483"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const db = $('Create DB Booking').first().json;\nconst gcal = $('Extract GCal Event ID').first().json;\nconst v = $('Validate Input').first().json;\n\nreturn [{ json: {\n  success: true, error_code: null, error_message: null,\n  data: {\n    booking_id: db.booking_id,\n    gcal_event_id: gcal.gcal_event_id,\n    idempotency_key: v.idempotency_key,\n    provider_id: v.provider_id,\n    service_id: v.service_id,\n    start_time: v.start_time,\n    end_time: v.end_time,\n    status: 'confirmed',\n    is_duplicate: false\n  },\n  _meta: { source: 'WF2_Booking_Orchestrator', timestamp: new Date().toISOString(), workflow_id: $workflow.id || 'unknown' }\n}}];",
          "notice": ""
        },
        "name": "Success SCO",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          4250,
          -400
        ],
        "id": "2684568f-2da3-4dde-99b3-12ca3eb9be8c"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const input = $input.first().json;\nif (input.message) {\n   return [{ json: { db_success: false } }];\n}\nreturn [{ json: { db_success: true } }];",
          "notice": ""
        },
        "name": "Check DB Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3625,
          -300
        ],
        "id": "4973c9ee-b070-45ae-839a-cb748aeb3b8c"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "db_ok",
                "leftValue": "={{ $json.db_success }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "name": "Is DB OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3750,
          -300
        ],
        "id": "744495d0-1963-44b2-bdaa-cc2fed8d1d4e"
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Check Idempotency DB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Idempotency DB": {
        "main": [
          [
            {
              "node": "Process Idem Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Idem DB Error SCO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Idem Result": {
        "main": [
          [
            {
              "node": "Is Duplicate?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Duplicate?": {
        "main": [
          [
            {
              "node": "Duplicate SCO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Acquire Lock",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Acquire Lock": {
        "main": [
          [
            {
              "node": "Process Lock",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Lock Error SCO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Lock": {
        "main": [
          [
            {
              "node": "Is Lock Acquired?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Lock Acquired?": {
        "main": [
          [
            {
              "node": "Check Availability",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Lock Denied SCO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Availability": {
        "main": [
          [
            {
              "node": "Is Available?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Avail Error Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Avail Error Prep": {
        "main": [
          [
            {
              "node": "Release Lock Simple Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Available?": {
        "main": [
          [
            {
              "node": "Check Circuit Breaker",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Not Avail Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Not Avail Prep": {
        "main": [
          [
            {
              "node": "Release Lock Simple Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Circuit Breaker": {
        "main": [
          [
            {
              "node": "Is CB OK?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CB Error Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CB Error Prep": {
        "main": [
          [
            {
              "node": "Release Lock Simple Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Release Lock Simple Error": {
        "main": [
          [
            {
              "node": "Simple Error SCO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Simple Error SCO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is CB OK?": {
        "main": [
          [
            {
              "node": "Create GCal Event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CB Open Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CB Open Prep": {
        "main": [
          [
            {
              "node": "Release Lock CB Open",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Release Lock CB Open": {
        "main": [
          [
            {
              "node": "Send to DLQ",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send to DLQ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to DLQ": {
        "main": [
          [
            {
              "node": "CB Open SCO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CB Open SCO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create GCal Event": {
        "main": [
          [
            {
              "node": "Extract GCal Event ID",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GCal Error Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GCal Error Prep": {
        "main": [
          [
            {
              "node": "Record CB Failure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record CB Failure": {
        "main": [
          [
            {
              "node": "Release Lock GCal Err",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Release Lock GCal Err",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Release Lock GCal Err": {
        "main": [
          [
            {
              "node": "DLQ GCal Error",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "DLQ GCal Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DLQ GCal Error": {
        "main": [
          [
            {
              "node": "GCal Error SCO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "GCal Error SCO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract GCal Event ID": {
        "main": [
          [
            {
              "node": "Create DB Booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create DB Booking": {
        "main": [
          [
            {
              "node": "Check DB Result",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Check DB Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check DB Result": {
        "main": [
          [
            {
              "node": "Is DB OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is DB OK?": {
        "main": [
          [
            {
              "node": "Record CB Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "DB Error Prep",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record CB Success": {
        "main": [
          [
            {
              "node": "Release Lock Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Release Lock Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DB Error Prep": {
        "main": [
          [
            {
              "node": "Rollback Via WF6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rollback Via WF6": {
        "main": [
          [
            {
              "node": "Release Lock DB Err",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Release Lock DB Err",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Release Lock DB Err": {
        "main": [
          [
            {
              "node": "DB Error SCO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "DB Error SCO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Release Lock Success": {
        "main": [
          [
            {
              "node": "Success SCO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Success SCO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false,
      "errorWorkflow": "DW3wMB9KP5BR4JoM"
    }
  },
  "customData": {}
}