out.json
{
  "id": "2250",
  "finished": true,
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "success",
  "createdAt": "2026-03-14T14:20:40.770Z",
  "startedAt": "2026-03-14T14:20:40.780Z",
  "stoppedAt": "2026-03-14T14:20:40.988Z",
  "deletedAt": null,
  "workflowId": "6RDslq06ZS78Zph1",
  "waitTill": null,
  "storedAt": "db",
  "data": {
    "version": 1,
    "startData": {},
    "resultData": {
      "runData": {
        "Webhook": [
          {
            "startTime": 1773498040785,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "headers": {
                        "accept": "application/json, text/plain, */*",
                        "content-type": "application/json",
                        "user-agent": "axios/1.13.6",
                        "content-length": "64",
                        "accept-encoding": "gzip, compress, deflate, br",
                        "host": "localhost:5678",
                        "connection": "keep-alive"
                      },
                      "params": {},
                      "query": {},
                      "body": {
                        "service_id": "test_service_tdd_1773498029536",
                        "action": "check"
                      },
                      "webhookUrl": "https://n8n.stax.ink/webhook/circuit-breaker/check",
                      "executionMode": "production"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Validate Input": [
          {
            "startTime": 1773498040785,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Webhook",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 5,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "service_id": "test_service_tdd_1773498029536",
                      "action": "check",
                      "error_message": null,
                      "metadata": {}
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Get Circuit State": [
          {
            "startTime": 1773498040790,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Validate Input",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 172,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "service_id": "test_service_tdd_1773498029536",
                      "state": "open",
                      "failure_count": 1,
                      "success_count": 0,
                      "failure_threshold": 3,
                      "success_threshold": 2,
                      "timeout_seconds": 300,
                      "opened_at": "2026-03-14T14:20:40.177Z",
                      "half_open_at": null,
                      "last_failure_at": "2026-03-14T14:20:40.177Z",
                      "last_success_at": null,
                      "last_error_message": "Test DB timeout"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Handle Empty Result": [
          {
            "startTime": 1773498040962,
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Get Circuit State",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 6,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "service_id": "test_service_tdd_1773498029536",
                      "state": "open",
                      "failure_count": 1,
                      "success_count": 0,
                      "failure_threshold": 3,
                      "success_threshold": 2,
                      "timeout_seconds": 300,
                      "opened_at": "2026-03-14T14:20:40.177Z",
                      "half_open_at": null,
                      "last_failure_at": "2026-03-14T14:20:40.177Z",
                      "last_success_at": null,
                      "last_error_message": "Test DB timeout",
                      "_is_default": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Is Circuit Open?": [
          {
            "startTime": 1773498040968,
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Handle Empty Result",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 1,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "service_id": "test_service_tdd_1773498029536",
                      "state": "open",
                      "failure_count": 1,
                      "success_count": 0,
                      "failure_threshold": 3,
                      "success_threshold": 2,
                      "timeout_seconds": 300,
                      "opened_at": "2026-03-14T14:20:40.177Z",
                      "half_open_at": null,
                      "last_failure_at": "2026-03-14T14:20:40.177Z",
                      "last_success_at": null,
                      "last_error_message": "Test DB timeout",
                      "_is_default": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ],
                []
              ]
            }
          }
        ],
        "Check Timeout": [
          {
            "startTime": 1773498040969,
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Is Circuit Open?",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 6,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "service_id": "test_service_tdd_1773498029536",
                      "state": "open",
                      "failure_count": 1,
                      "success_count": 0,
                      "failure_threshold": 3,
                      "success_threshold": 2,
                      "timeout_seconds": 300,
                      "opened_at": "2026-03-14T14:20:40.177Z",
                      "half_open_at": null,
                      "last_failure_at": "2026-03-14T14:20:40.177Z",
                      "last_success_at": null,
                      "last_error_message": "Test DB timeout",
                      "_is_default": false,
                      "should_try_half_open": false,
                      "time_until_retry_seconds": 300,
                      "elapsed_since_open": 0
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Timeout Passed?": [
          {
            "startTime": 1773498040975,
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Check Timeout",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 3,
            "executionStatus": "success",
            "data": {
              "main": [
                [],
                [
                  {
                    "json": {
                      "service_id": "test_service_tdd_1773498029536",
                      "state": "open",
                      "failure_count": 1,
                      "success_count": 0,
                      "failure_threshold": 3,
                      "success_threshold": 2,
                      "timeout_seconds": 300,
                      "opened_at": "2026-03-14T14:20:40.177Z",
                      "half_open_at": null,
                      "last_failure_at": "2026-03-14T14:20:40.177Z",
                      "last_success_at": null,
                      "last_error_message": "Test DB timeout",
                      "_is_default": false,
                      "should_try_half_open": false,
                      "time_until_retry_seconds": 300,
                      "elapsed_since_open": 0
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Return Blocked": [
          {
            "startTime": 1773498040978,
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "Timeout Passed?",
                "previousNodeOutput": 1,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 6,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "allowed": false,
                      "circuit_state": "open",
                      "message": "Circuit breaker OPEN - service unavailable. Retry in 300 seconds",
                      "service_id": "test_service_tdd_1773498029536",
                      "retry_after_seconds": 300,
                      "failure_count": 1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Standard Contract Output": [
          {
            "startTime": 1773498040984,
            "executionIndex": 8,
            "source": [
              {
                "previousNode": "Return Blocked",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 4,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true,
                      "error_code": null,
                      "error_message": null,
                      "data": {
                        "allowed": false,
                        "circuit_state": "open",
                        "message": "Circuit breaker OPEN - service unavailable. Retry in 300 seconds",
                        "service_id": "test_service_tdd_1773498029536",
                        "retry_after_seconds": 300,
                        "failure_count": 1
                      },
                      "_meta": {
                        "source": "CB_GCal_Circuit_Breaker",
                        "timestamp": "2026-03-14T14:20:40.988Z",
                        "workflow_id": "6RDslq06ZS78Zph1"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Standard Contract Output"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {},
      "runtimeData": {
        "version": 1,
        "establishedAt": 1773498040785,
        "source": "webhook",
        "triggerNode": {
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook"
        }
      }
    }
  },
  "workflowData": {
    "id": "6RDslq06ZS78Zph1",
    "name": "CB_01_Check_State",
    "nodes": [
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "circuit-breaker/check",
          "authentication": "none",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "webhookId": "circuit-breaker-check",
        "id": "cb_webhook_001"
      },
      {
        "parameters": {
          "notice": ""
        },
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          -200
        ],
        "id": "cb_manual_trigger"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst service_id = String(body.service_id || 'google_calendar');\nconst action = String(body.action || 'check');\nconst error_message = body.error_message || null;\nconst metadata = body.metadata || {};\n\nconst SERVICE_ID_RE = /^[a-zA-Z0-9_-]{1,100}$/;\nif (!SERVICE_ID_RE.test(service_id)) {\n  throw new Error('Invalid service_id: must be alphanumeric/underscore/hyphen, max 100 chars');\n}\n\nconst VALID_ACTIONS = ['check', 'record_success', 'record_failure'];\nif (!VALID_ACTIONS.includes(action)) {\n  throw new Error('Invalid action: ' + action);\n}\n\nconst safe_error = error_message\n  ? String(error_message).substring(0, 500)\n  : null;\n\nreturn [{ json: { service_id, action, error_message: safe_error, metadata } }];",
          "notice": ""
        },
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          250,
          0
        ],
        "id": "cb_validate_002"
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "SELECT * FROM circuit_breaker_state WHERE service_id = $1::text;",
          "options": {
            "queryReplacement": "={{ $json.service_id }}"
          }
        },
        "name": "Get Circuit State",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          500,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "5LzvCP9BsQwCi9Z0",
            "name": "Postgres account"
          }
        },
        "id": "cb_get_003"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const items = $input.all();\nconst service_id = $('Validate Input').first().json.service_id;\n\nif (!items.length || !items[0].json || !items[0].json.service_id) {\n  return [{ json: {\n    service_id: service_id,\n    state: 'closed',\n    failure_count: 0,\n    success_count: 0,\n    failure_threshold: 5,\n    success_threshold: 3,\n    timeout_seconds: 300,\n    opened_at: null,\n    _is_default: true\n  }}];\n}\n\nreturn [{ json: { ...items[0].json, _is_default: false } }];",
          "notice": ""
        },
        "name": "Handle Empty Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          750,
          0
        ],
        "id": "cb_handle_empty"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond_state_open",
                "leftValue": "={{ $json.state }}",
                "rightValue": "open",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "name": "Is Circuit Open?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1000,
          0
        ],
        "id": "cb_if_open_004"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const state = $input.first().json;\nconst isHalfOpen = state.state === 'half-open';\n\nreturn [{ json: {\n  allowed: true,\n  circuit_state: isHalfOpen ? 'half-open' : 'closed',\n  message: isHalfOpen\n    ? 'Circuit in half-open state - test request allowed'\n    : 'Service is healthy - requests allowed',\n  failure_count: state.failure_count || 0,\n  service_id: state.service_id\n}}];",
          "notice": ""
        },
        "name": "Return Allowed",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1250,
          -100
        ],
        "id": "cb_allowed_005"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const state = $input.first().json;\nconst now = new Date();\nconst openedAt = state.opened_at ? new Date(state.opened_at) : null;\nconst timeoutSeconds = state.timeout_seconds || 300;\n\nlet shouldTryHalfOpen = false;\nlet timeUntilRetry = 0;\n\nif (openedAt) {\n  const elapsedSeconds = (now.getTime() - openedAt.getTime()) / 1000;\n  if (elapsedSeconds >= timeoutSeconds) {\n    shouldTryHalfOpen = true;\n  } else {\n    timeUntilRetry = Math.ceil(timeoutSeconds - elapsedSeconds);\n  }\n}\n\nreturn [{ json: {\n  ...state,\n  should_try_half_open: shouldTryHalfOpen,\n  time_until_retry_seconds: timeUntilRetry,\n  elapsed_since_open: openedAt ? Math.floor((now.getTime() - openedAt.getTime()) / 1000) : null\n}}];",
          "notice": ""
        },
        "name": "Check Timeout",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1250,
          100
        ],
        "id": "cb_timeout_006"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond_timeout_passed",
                "leftValue": "={{ $json.should_try_half_open }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": false,
          "options": {}
        },
        "name": "Timeout Passed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1500,
          100
        ],
        "id": "cb_if_timeout_007"
      },
      {
        "parameters": {
          "resource": "database",
          "operation": "executeQuery",
          "query": "UPDATE circuit_breaker_state SET state = 'half-open', half_open_at = NOW(), success_count = 0 WHERE service_id = $1::text RETURNING *;",
          "options": {
            "queryReplacement": "={{ $json.service_id }}"
          }
        },
        "name": "Set Half-Open",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1750,
          0
        ],
        "credentials": {
          "postgres": {
            "id": "5LzvCP9BsQwCi9Z0",
            "name": "Postgres account"
          }
        },
        "id": "cb_halfopen_008"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const state = $input.first().json;\n\nreturn [{ json: {\n  allowed: true,\n  circuit_state: 'half-open',\n  message: 'Circuit transitioned to half-open - test request allowed',\n  service_id: state.service_id,\n  failure_count: state.failure_count || 0,\n  opened_at: state.opened_at,\n  time_until_retry_seconds: 0\n}}];",
          "notice": ""
        },
        "name": "Return Half-Open",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          0
        ],
        "id": "cb_return_halfopen_009"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const state = $input.first().json;\n\nreturn [{ json: {\n  allowed: false,\n  circuit_state: 'open',\n  message: 'Circuit breaker OPEN - service unavailable. Retry in ' + (state.time_until_retry_seconds || 'unknown') + ' seconds',\n  service_id: state.service_id,\n  retry_after_seconds: state.time_until_retry_seconds || 300,\n  failure_count: state.failure_count || 0\n}}];",
          "notice": ""
        },
        "name": "Return Blocked",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1750,
          200
        ],
        "id": "cb_blocked_010"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "let cbResult = null;\n\nif ($('Return Allowed').isExecuted) {\n  cbResult = $('Return Allowed').first().json;\n} else if ($('Return Half-Open').isExecuted) {\n  cbResult = $('Return Half-Open').first().json;\n} else if ($('Return Blocked').isExecuted) {\n  cbResult = $('Return Blocked').first().json;\n}\n\nif (!cbResult) {\n  cbResult = { allowed: false, circuit_state: 'unknown', message: 'No circuit state resolved' };\n}\n\nreturn [{ json: {\n  success: true,\n  error_code: null,\n  error_message: null,\n  data: cbResult,\n  _meta: {\n    source: 'CB_GCal_Circuit_Breaker',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown'\n  }\n}}];",
          "notice": ""
        },
        "name": "Standard Contract Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2250,
          0
        ],
        "id": "cb_sco_011"
      },
      {
        "parameters": {
          "events": "worklfow_call",
          "inputSource": "passthrough"
        },
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          -100
        ],
        "id": "cb_exec_trigger_01"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Get Circuit State",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Circuit State": {
        "main": [
          [
            {
              "node": "Handle Empty Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Empty Result": {
        "main": [
          [
            {
              "node": "Is Circuit Open?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Circuit Open?": {
        "main": [
          [
            {
              "node": "Check Timeout",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return Allowed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Timeout": {
        "main": [
          [
            {
              "node": "Timeout Passed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Timeout Passed?": {
        "main": [
          [
            {
              "node": "Set Half-Open",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return Blocked",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Half-Open": {
        "main": [
          [
            {
              "node": "Return Half-Open",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Allowed": {
        "main": [
          [
            {
              "node": "Standard Contract Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Half-Open": {
        "main": [
          [
            {
              "node": "Standard Contract Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Return Blocked": {
        "main": [
          [
            {
              "node": "Standard Contract Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "errorWorkflow": "B1VnkirO5dF20MHg",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    }
  },
  "customData": {}
}
