WF1.json
{"updatedAt":"2026-03-15T14:22:17.642Z","createdAt":"2026-03-15T14:15:50.691Z","id":"2G9ffjvKyF5bqDT5","name":"WF1_Booking_API_Gateway","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"4ed256a6-e41c-4286-b0a9-ffff2fc9828f"},{"parameters":{"path":"book-appointment","httpMethod":"POST","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,200],"webhookId":"book-appointment","id":"7614f504-0eb3-410a-a3bc-2b13d62aca1a"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = input.body || input;\n\n// provider_id: required, positive int\nconst provider_id = parseInt(body.provider_id, 10);\nif (isNaN(provider_id) || provider_id < 1) {\n  return [{ json: { _valid: false, _error: 'Invalid or missing provider_id: must be a positive integer' } }];\n}\n\n// service_id: required, positive int\nconst service_id = parseInt(body.service_id, 10);\nif (isNaN(service_id) || service_id < 1) {\n  return [{ json: { _valid: false, _error: 'Invalid or missing service_id: must be a positive integer' } }];\n}\n\n// start_time: required, ISO 8601\nconst start_time = String(body.start_time || '');\nif (!/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/.test(start_time)) {\n  return [{ json: { _valid: false, _error: 'Invalid or missing start_time: must be ISO 8601' } }];\n}\nconst startDate = new Date(start_time);\nif (isNaN(startDate.getTime())) {\n  return [{ json: { _valid: false, _error: 'start_time is not a parseable date' } }];\n}\nif (startDate.getTime() < Date.now() - 60000) {\n  return [{ json: { _valid: false, _error: 'start_time must be in the future' } }];\n}\n\n// duration_minutes: optional, 15-480, default 60\nconst duration_minutes = parseInt(body.duration_minutes || 60, 10);\nif (isNaN(duration_minutes) || duration_minutes < 15 || duration_minutes > 480) {\n  return [{ json: { _valid: false, _error: 'Invalid duration_minutes: must be 15-480' } }];\n}\n\nconst endDate = new Date(startDate.getTime() + duration_minutes * 60000);\n\n// customer_id: optional, sanitize\nconst customer_id = body.customer_id ? String(body.customer_id).substring(0, 100) : null;\nconst chat_id = body.chat_id ? String(body.chat_id).substring(0, 100) : null;\nconst event_title = body.event_title ? String(body.event_title).substring(0, 200) : null;\n\nif (!customer_id && !chat_id) {\n  return [{ json: { _valid: false, _error: 'At least one of customer_id or chat_id is required' } }];\n}\n\nreturn [{ json: {\n  _valid: true,\n  provider_id,\n  service_id,\n  start_time,\n  end_time: endDate.toISOString(),\n  duration_minutes,\n  customer_id,\n  chat_id,\n  event_title,\n  _received_at: new Date().toISOString()\n}}];","options":{}},"name":"Validate Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,100],"id":"3af3bd46-65b4-4f14-be9d-9bddd24cbc1b"},{"parameters":{"jsCode":"// Build Orchestrator Payload - Safe JSON construction\nconst validated = $('Validate Request').first().json;\n\nreturn [{\n  json: {\n    orchestrator_body: {\n      provider_id: validated.provider_id,\n      service_id: validated.service_id,\n      start_time: validated.start_time,\n      end_time: validated.end_time,\n      duration_minutes: validated.duration_minutes,\n      customer_id: validated.customer_id || '',\n      chat_id: validated.chat_id || '',\n      event_title: validated.event_title || ''\n    },\n    _request_context: {\n      provider_id: validated.provider_id,\n      service_id: validated.service_id,\n      start_time: validated.start_time,\n      received_at: validated._received_at\n    }\n  }\n}];","options":{}},"name":"Build Orchestrator Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-100],"id":"90e72df4-de05-4636-961f-bff724d5ce41"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"valid_check","leftValue":"={{ $json._valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[500,100],"id":"db39e83f-5673-4556-8539-5234795f74ee"},{"parameters":{"jsCode":"const input = $input.first().json;\nreturn [{ json: {\n  success: false,\n  error_code: 'VALIDATION_ERROR',\n  error_message: input._error || 'Invalid input',\n  data: null,\n  _meta: {\n    source: 'WF1_Booking_API_Gateway',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown',\n    version: '2.0.0'\n  }\n}}];","options":{}},"name":"Return Validation Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,250],"id":"cc55f42c-8cb2-4f2c-93a5-2c5c139aaf82"},{"parameters":{"url":"https://n8n.stax.ink/webhook/booking-orchestrator","method":"POST","sendBody":true,"specifyBody":"json","options":{"timeout":45000},"jsonBody":"={{ $json.orchestrator_body }}"},"name":"Call Orchestrator","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[750,0],"onError":"continueErrorOutput","id":"af74f9e1-7093-42c9-a4c3-f4a2eb91e3f1"},{"parameters":{"jsCode":"const orchResp = $input.first().json;\nconst requestContext = $('Build Orchestrator Payload').first().json._request_context;\n\n// Orchestrator responded — forward its response with gateway wrapper\nconst isOrchestratorSuccess = orchResp.success === true;\n\nreturn [{ json: {\n  success: isOrchestratorSuccess,\n  error_code: orchResp.error_code || null,\n  error_message: orchResp.error_message || null,\n  data: orchResp.data || null,\n  _meta: {\n    source: 'WF1_Booking_API_Gateway',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown',\n    orchestrator_source: orchResp._meta ? orchResp._meta.source : 'unknown',\n    version: '2.0.0',\n    request: requestContext\n  }\n}}];","options":{}},"name":"Forward Orchestrator Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,-100],"id":"72d68e9f-bd9c-4f5c-aa6b-b67d9c02db2d"},{"parameters":{"jsCode":"const errData = $input.first().json;\nconst requestContext = $('Build Orchestrator Payload').first().json._request_context;\nconst errMsg = errData.message || errData.error || errData.errorMessage || 'Orchestrator unavailable';\n\nreturn [{ json: {\n  success: false,\n  error_code: 'ORCHESTRATOR_ERROR',\n  error_message: 'Booking service temporarily unavailable. Please try again.',\n  data: null,\n  _meta: {\n    source: 'WF1_Booking_API_Gateway',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown',\n    version: '2.0.0',\n    internal_error: String(errMsg).substring(0, 500),\n    request: requestContext\n  }\n}}];","options":{}},"name":"Orchestrator Error Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,100],"id":"c0c11f4c-07de-4213-a800-55d85505557a"}],"connections":{"Manual Trigger":{"main":[[{"node":"Validate Request","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Validate Request","type":"main","index":0}]]},"Validate Request":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"Build Orchestrator Payload","type":"main","index":0}],[{"node":"Return Validation Error","type":"main","index":0}]]},"Build Orchestrator Payload":{"main":[[{"node":"Call Orchestrator","type":"main","index":0}]]},"Call Orchestrator":{"main":[[{"node":"Forward Orchestrator Response","type":"main","index":0}],[{"node":"Orchestrator Error Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"9948e001-1a4a-4ab2-9ae1-ac4a226c2802","activeVersionId":"9948e001-1a4a-4ab2-9ae1-ac4a226c2802","versionCounter":11,"triggerCount":1,"shared":[{"updatedAt":"2026-03-15T14:15:50.691Z","createdAt":"2026-03-15T14:15:50.691Z","role":"workflow:owner","workflowId":"2G9ffjvKyF5bqDT5","projectId":"1q616I3NzJFEiwV5","project":{"updatedAt":"2026-03-02T02:24:01.899Z","createdAt":"2026-03-02T00:39:33.634Z","id":"1q616I3NzJFEiwV5","name":"Roger Gallegos <baba.orere@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-15T14:22:17.646Z","createdAt":"2026-03-15T14:22:17.646Z","versionId":"9948e001-1a4a-4ab2-9ae1-ac4a226c2802","workflowId":"2G9ffjvKyF5bqDT5","nodes":[{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"4ed256a6-e41c-4286-b0a9-ffff2fc9828f"},{"parameters":{"path":"book-appointment","httpMethod":"POST","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,200],"webhookId":"book-appointment","id":"7614f504-0eb3-410a-a3bc-2b13d62aca1a"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = input.body || input;\n\n// provider_id: required, positive int\nconst provider_id = parseInt(body.provider_id, 10);\nif (isNaN(provider_id) || provider_id < 1) {\n  return [{ json: { _valid: false, _error: 'Invalid or missing provider_id: must be a positive integer' } }];\n}\n\n// service_id: required, positive int\nconst service_id = parseInt(body.service_id, 10);\nif (isNaN(service_id) || service_id < 1) {\n  return [{ json: { _valid: false, _error: 'Invalid or missing service_id: must be a positive integer' } }];\n}\n\n// start_time: required, ISO 8601\nconst start_time = String(body.start_time || '');\nif (!/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/.test(start_time)) {\n  return [{ json: { _valid: false, _error: 'Invalid or missing start_time: must be ISO 8601' } }];\n}\nconst startDate = new Date(start_time);\nif (isNaN(startDate.getTime())) {\n  return [{ json: { _valid: false, _error: 'start_time is not a parseable date' } }];\n}\nif (startDate.getTime() < Date.now() - 60000) {\n  return [{ json: { _valid: false, _error: 'start_time must be in the future' } }];\n}\n\n// duration_minutes: optional, 15-480, default 60\nconst duration_minutes = parseInt(body.duration_minutes || 60, 10);\nif (isNaN(duration_minutes) || duration_minutes < 15 || duration_minutes > 480) {\n  return [{ json: { _valid: false, _error: 'Invalid duration_minutes: must be 15-480' } }];\n}\n\nconst endDate = new Date(startDate.getTime() + duration_minutes * 60000);\n\n// customer_id: optional, sanitize\nconst customer_id = body.customer_id ? String(body.customer_id).substring(0, 100) : null;\nconst chat_id = body.chat_id ? String(body.chat_id).substring(0, 100) : null;\nconst event_title = body.event_title ? String(body.event_title).substring(0, 200) : null;\n\nif (!customer_id && !chat_id) {\n  return [{ json: { _valid: false, _error: 'At least one of customer_id or chat_id is required' } }];\n}\n\nreturn [{ json: {\n  _valid: true,\n  provider_id,\n  service_id,\n  start_time,\n  end_time: endDate.toISOString(),\n  duration_minutes,\n  customer_id,\n  chat_id,\n  event_title,\n  _received_at: new Date().toISOString()\n}}];","options":{}},"name":"Validate Request","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,100],"id":"3af3bd46-65b4-4f14-be9d-9bddd24cbc1b"},{"parameters":{"jsCode":"// Build Orchestrator Payload - Safe JSON construction\nconst validated = $('Validate Request').first().json;\n\nreturn [{\n  json: {\n    orchestrator_body: {\n      provider_id: validated.provider_id,\n      service_id: validated.service_id,\n      start_time: validated.start_time,\n      end_time: validated.end_time,\n      duration_minutes: validated.duration_minutes,\n      customer_id: validated.customer_id || '',\n      chat_id: validated.chat_id || '',\n      event_title: validated.event_title || ''\n    },\n    _request_context: {\n      provider_id: validated.provider_id,\n      service_id: validated.service_id,\n      start_time: validated.start_time,\n      received_at: validated._received_at\n    }\n  }\n}];","options":{}},"name":"Build Orchestrator Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,-100],"id":"90e72df4-de05-4636-961f-bff724d5ce41"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"valid_check","leftValue":"={{ $json._valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[500,100],"id":"db39e83f-5673-4556-8539-5234795f74ee"},{"parameters":{"jsCode":"const input = $input.first().json;\nreturn [{ json: {\n  success: false,\n  error_code: 'VALIDATION_ERROR',\n  error_message: input._error || 'Invalid input',\n  data: null,\n  _meta: {\n    source: 'WF1_Booking_API_Gateway',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown',\n    version: '2.0.0'\n  }\n}}];","options":{}},"name":"Return Validation Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,250],"id":"cc55f42c-8cb2-4f2c-93a5-2c5c139aaf82"},{"parameters":{"url":"https://n8n.stax.ink/webhook/booking-orchestrator","method":"POST","sendBody":true,"specifyBody":"json","options":{"timeout":45000},"jsonBody":"={{ $json.orchestrator_body }}"},"name":"Call Orchestrator","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[750,0],"onError":"continueErrorOutput","id":"af74f9e1-7093-42c9-a4c3-f4a2eb91e3f1"},{"parameters":{"jsCode":"const orchResp = $input.first().json;\nconst requestContext = $('Build Orchestrator Payload').first().json._request_context;\n\n// Orchestrator responded — forward its response with gateway wrapper\nconst isOrchestratorSuccess = orchResp.success === true;\n\nreturn [{ json: {\n  success: isOrchestratorSuccess,\n  error_code: orchResp.error_code || null,\n  error_message: orchResp.error_message || null,\n  data: orchResp.data || null,\n  _meta: {\n    source: 'WF1_Booking_API_Gateway',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown',\n    orchestrator_source: orchResp._meta ? orchResp._meta.source : 'unknown',\n    version: '2.0.0',\n    request: requestContext\n  }\n}}];","options":{}},"name":"Forward Orchestrator Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,-100],"id":"72d68e9f-bd9c-4f5c-aa6b-b67d9c02db2d"},{"parameters":{"jsCode":"const errData = $input.first().json;\nconst requestContext = $('Build Orchestrator Payload').first().json._request_context;\nconst errMsg = errData.message || errData.error || errData.errorMessage || 'Orchestrator unavailable';\n\nreturn [{ json: {\n  success: false,\n  error_code: 'ORCHESTRATOR_ERROR',\n  error_message: 'Booking service temporarily unavailable. Please try again.',\n  data: null,\n  _meta: {\n    source: 'WF1_Booking_API_Gateway',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown',\n    version: '2.0.0',\n    internal_error: String(errMsg).substring(0, 500),\n    request: requestContext\n  }\n}}];","options":{}},"name":"Orchestrator Error Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,100],"id":"c0c11f4c-07de-4213-a800-55d85505557a"}],"connections":{"Manual Trigger":{"main":[[{"node":"Validate Request","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Validate Request","type":"main","index":0}]]},"Validate Request":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"Build Orchestrator Payload","type":"main","index":0}],[{"node":"Return Validation Error","type":"main","index":0}]]},"Build Orchestrator Payload":{"main":[[{"node":"Call Orchestrator","type":"main","index":0}]]},"Call Orchestrator":{"main":[[{"node":"Forward Orchestrator Response","type":"main","index":0}],[{"node":"Orchestrator Error Response","type":"main","index":0}]]}},"authors":"Roger Gallegos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-15T14:22:18.447Z","id":932,"workflowId":"2G9ffjvKyF5bqDT5","versionId":"9948e001-1a4a-4ab2-9ae1-ac4a226c2802","event":"activated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}]}}