WF2_demolith.json
{
  "name": "WF2_Booking_Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-orchestrator",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -750,
        300
      ],
      "webhookId": "booking-orchestrator",
      "id": "61b2e545-4b41-4118-8d57-8120c143c7d7"
    },
    {
      "parameters": {
        "jsCode": "// Idempotency Check v2.0 - Context Preservation Pattern\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Validación de input requerido (SEC02 - PRE validation)\nconst required = ['provider_id', 'service_id', 'start_time'];\nfor (const field of required) {\n  if (!body[field]) {\n    return [{ json: { _error: true, _error_message: `Missing required field: ${field}` } }];\n  }\n}\n\n// Generar idempotency_key determinístico\nconst idempotencyKey = `booking_${body.provider_id}_${body.service_id}_${body.start_time}_${body.customer_id || body.chat_id || 'anonymous'}`;\n\n// Sanitizar string (SEC05)\nconst sanitizedKey = idempotencyKey.replace(/[^a-zA-Z0-9_:-]/g, '_').substring(0, 255);\n\n// Construir contexto único que viajará por todo el workflow\nconst ctx = {\n  provider_id: parseInt(body.provider_id, 10),\n  service_id: parseInt(body.service_id, 10),\n  start_time: body.start_time,\n  end_time: body.end_time || null,\n  customer_id: body.customer_id || null,\n  chat_id: body.chat_id || null,\n  user_id: body.user_id || null,\n  duration_minutes: parseInt(body.duration_minutes || 60, 10),\n  event_title: body.event_title || null,\n  idempotency_key: sanitizedKey,\n  _idempotency: {\n    key: sanitizedKey,\n    created_at: new Date().toISOString()\n  },\n  _meta: {\n    source: 'WF2_BOOKING_ORCHESTRATOR',\n    version: '2.0.0',\n    started_at: new Date().toISOString()\n  }\n};\n\nreturn [{ json: { ctx } }];"
      },
      "name": "Generate Idempotency Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        300
      ],
      "id": "9a342884-1180-42dc-853b-2439bc5bc724"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, status, gcal_event_id FROM bookings WHERE idempotency_key = $1::text LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.ctx.idempotency_key] }}"
        }
      },
      "name": "Check Idempotency DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -250,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "5LzvCP9BsQwCi9Z0",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true,
      "id": "d5690538-83f6-4eaa-bb0e-53ac5ce89d6f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json) && $json.length > 0 && !!$json[0]?.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        300
      ],
      "id": "7eba560e-effe-4746-89b9-29df11608697"
    },
    {
      "parameters": {
        "jsCode": "// DUPLICATE BRANCH - Return existing booking\nconst existing = $input.first().json[0] || $input.first().json;\nconst ctx = $input.first().json.ctx || {};\n\nctx._idempotency.is_duplicate = true;\nctx._idempotency.existing_booking_id = existing.id;\n\nreturn [{\n  json: {\n    ctx,\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: existing.id,\n      status: existing.status,\n      gcal_event_id: existing.gcal_event_id,\n      is_duplicate: true,\n      message: 'Booking already exists (idempotent retry)'\n    },\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0',\n      idempotency: 'duplicate'\n    }\n  }\n}];"
      },
      "name": "Return Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "id": "d8414801-5f41-496f-abb9-389da7daa735"
    },
    {
      "parameters": {
        "jsCode": "// MERGE CONTEXT - After Is Duplicate? (false branch)\n// Get ctx from Generate Idempotency Key node\nconst ctx = $(\"Generate Idempotency Key\").first()?.json?.ctx || {};\nctx._idempotency.is_duplicate = false;\nreturn [{ json: { ctx } }];"
      },
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        200
      ],
      "id": "9f588d9f-9a21-4ab7-8186-9259f28845f8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_titanium:5678/webhook/db-get-availability-test",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ provider_id: $('Generate Idempotency Key').first().json.ctx.provider_id, service_id: $('Generate Idempotency Key').first().json.ctx.service_id, start_time: $('Generate Idempotency Key').first().json.ctx.start_time }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Check Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        200
      ],
      "id": "824a6326-fe09-4842-bdaf-95606430e3e6",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        750,
        200
      ],
      "id": "c38a4964-1692-4fd5-a466-5e95ed781639"
    },
    {
      "parameters": {
        "jsCode": "// NOT AVAILABLE BRANCH\nconst ctx = $input.first().json.ctx;\nctx._meta.failed_at = 'Check Availability';\n\nreturn [{\n  json: {\n    ctx,\n    success: false,\n    error_code: 'NO_AVAILABILITY',\n    error_message: 'No availability found for requested time slot',\n    data: null,\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];"
      },
      "name": "Error - No Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        350
      ],
      "id": "fa8ad31e-3207-483c-85cc-c1be97c99438"
    },
    {
      "parameters": {
        "jsCode": "// MERGE CONTEXT - After Is Available? (true branch)\n// Get ctx from Generate Idempotency Key node and merge with availability response\nconst ctx = $(\"Generate Idempotency Key\").first()?.json?.ctx || {};\nconst availResponse = $input.first().json;\n\n// Preserve availability data in context\nctx._availability = {\n  checked: true,\n  available: true,\n  slots: availResponse.data?.slots || [],\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: { ctx } }];"
      },
      "name": "Merge Context After Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ],
      "id": "7b52b142-fa82-4b21-9076-13bfef926e88"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_titanium:5678/webhook/acquire-lock",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ provider_id: $('Generate Idempotency Key').first().json.ctx.provider_id, start_time: $('Generate Idempotency Key').first().json.ctx.start_time, lock_duration_minutes: 1 }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Acquire Lock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1250,
        200
      ],
      "id": "cf7cfe18-a30a-4f23-983c-143c874a7365",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_titanium:5678/webhook/circuit-breaker/check",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ service_id: \"google_calendar\", action: \"check\" }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Check Circuit Breaker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1500,
        200
      ],
      "id": "6209ded4-ca26-49b1-a349-d60cbd5bb104",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data?.allowed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is GCal Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1750,
        200
      ],
      "id": "e8bcaedc-be22-4c88-b9a9-62d1a2ccb891"
    },
    {
      "parameters": {
        "jsCode": "// CIRCUIT BREAKER OPEN\nconst ctx = $input.first().json.ctx;\nctx._meta.failed_at = 'Circuit Breaker';\n\nreturn [{\n  json: {\n    ctx,\n    success: false,\n    error_code: 'CIRCUIT_BREAKER_OPEN',\n    error_message: 'Google Calendar service is temporarily unavailable',\n    data: null,\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];"
      },
      "name": "Error - Circuit Breaker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        350
      ],
      "id": "5681d577-2902-420a-9de8-bc878d1b59f2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_titanium:5678/webhook/gcal-create-event",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ start_time: $('Generate Idempotency Key').first().json.ctx.start_time, end_time: $('Generate Idempotency Key').first().json.ctx.end_time || new Date(new Date($('Generate Idempotency Key').first().json.ctx.start_time).getTime() + ($('Generate Idempotency Key').first().json.ctx.duration_minutes || 60) * 60000).toISOString(), user_name: $('Generate Idempotency Key').first().json.ctx.user_name || 'Paciente', service_name: 'Reserva', user_email: $('Generate Idempotency Key').first().json.ctx.user_email || 'paciente@ejemplo.com' }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Create GCal Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        200
      ],
      "id": "e6100e69-08ec-465a-90b8-c3bea03723fd",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_titanium:5678/webhook/circuit-breaker/record",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ service_id: \"google_calendar\", success: true }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Record GCal Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2250,
        200
      ],
      "id": "18cff9d7-a749-48cf-a977-288b03adc1b4",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_titanium:5678/webhook/db-create-booking-test",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ provider_id: $('Generate Idempotency Key').first().json.ctx.provider_id, service_id: $('Generate Idempotency Key').first().json.ctx.service_id, start_time: $('Generate Idempotency Key').first().json.ctx.start_time, end_time: $('Generate Idempotency Key').first().json.ctx.end_time || new Date(new Date($('Generate Idempotency Key').first().json.ctx.start_time).getTime() + ($('Generate Idempotency Key').first().json.ctx.duration_minutes || 60) * 60000).toISOString(), idempotency_key: $('Generate Idempotency Key').first().json.ctx.idempotency_key, gcal_event_id: $('Create GCal Event').first()?.json?.data?.id || $('Create GCal Event').first()?.json?.id || null, user_id: $('Generate Idempotency Key').first().json.ctx.user_id || $('Generate Idempotency Key').first().json.ctx.chat_id }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Create DB Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2500,
        200
      ],
      "id": "8a7c6ce9-ff8f-47fb-a35b-f3d8822a65cb",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "// Standard Contract Output - Booking Success v2.0\nconst db = $('Create DB Booking').first()?.json || {};\nconst ctx = $('Generate Idempotency Key').first()?.json?.ctx || {};\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: db.id,\n      idempotency_key: ctx.idempotency_key,\n      provider_id: ctx.provider_id,\n      service_id: ctx.service_id,\n      start_time: ctx.start_time,\n      status: 'CONFIRMED',\n      is_duplicate: ctx._idempotency?.is_duplicate || false\n    },\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];"
      },
      "name": "Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        200
      ],
      "id": "d3cfd7d6-27b6-44ed-9430-7e3443317281"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Idempotency Key": {
      "main": [
        [
          {
            "node": "Check Idempotency DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Idempotency DB": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Return Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Is Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Available?": {
      "main": [
        [
          {
            "node": "Merge Context After Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - No Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context After Availability": {
      "main": [
        [
          {
            "node": "Acquire Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Lock": {
      "main": [
        [
          {
            "node": "Check Circuit Breaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Circuit Breaker": {
      "main": [
        [
          {
            "node": "Is GCal Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is GCal Available?": {
      "main": [
        [
          {
            "node": "Create GCal Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Circuit Breaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GCal Event": {
      "main": [
        [
          {
            "node": "Record GCal Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record GCal Success": {
      "main": [
        [
          {
            "node": "Create DB Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create DB Booking": {
      "main": [
        [
          {
            "node": "Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}