WF2_to_fix.json
{"updatedAt":"2026-03-18T20:32:02.757Z","createdAt":"2026-03-15T02:16:19.238Z","id":"Z7g7DgxXQ61V368P","name":"WF2_Booking_Orchestrator","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"booking-orchestrator","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-750,300],"webhookId":"booking-orchestrator","id":"80371f74-ab71-4013-97df-133ba1d4624d"},{"parameters":{"jsCode":"// Idempotency Check v2.2 - Strict Numeric Validation Pattern\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// 1. Campos requeridos\nconst required = ['provider_id', 'service_id', 'start_time'];\nfor (const field of required) {\n  if (!body[field]) {\n    return [{ json: { success: false, error_code: 'MISSING_FIELD', error_message: `Missing required field: ${field}` } }];\n  }\n}\n\n// 2. Validación Numérica y de Formato (Fix ATTACK-04)\nconst startTime = String(body.start_time);\nconst parts = startTime.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2}):(\\d{2})/);\n\nif (!parts) {\n  return [{ json: { success: false, error_code: 'INVALID_DATE_FORMAT', error_message: 'Format must be ISO 8601 (YYYY-MM-DDTHH:mm:ss)' } }];\n}\n\nconst [full, y, m, d, hh, mm, ss] = parts.map(p => parseInt(p, 10));\nconst dateObj = new Date(startTime);\n\n// 3. Verificación de \"Fecha Real\" (Evita Feb 30 -> Mar 2)\nif (dateObj.getUTCFullYear() !== y || (dateObj.getUTCMonth() + 1) !== m || dateObj.getUTCDate() !== d) {\n  return [{ json: { success: false, error_code: 'INVALID_DATE', error_message: 'The date provided does not exist in the calendar' } }];\n}\n\n// 4. Comprobación de Fecha Pasada\nconst now = Date.now();\nif (dateObj.getTime() < now) {\n  return [{ json: { success: false, error_code: 'PAST_DATE', error_message: 'Cannot book in the past' } }];\n}\n\n// 5. Horizonte Temporal (Máximo 1 año a futuro)\nconst ONE_YEAR_MS = 365 * 24 * 60 * 60 * 1000;\nif (dateObj.getTime() > (now + ONE_YEAR_MS)) {\n  return [{ json: { success: false, error_code: 'FUTURE_DATE_TOO_EXTREME', error_message: 'Reservations are only allowed up to 1 year in advance' } }];\n}\n\n// 6. Generar idempotency_key\nconst idempotencyKey = `booking_${body.provider_id}_${body.service_id}_${body.start_time}_${body.customer_id || body.chat_id || 'anonymous'}`;\nconst sanitizedKey = idempotencyKey.replace(/[^a-zA-Z0-9_:-]/g, '_').substring(0, 255);\n\nconst ctx = {\n  provider_id: parseInt(body.provider_id, 10),\n  service_id: parseInt(body.service_id, 10),\n  start_time: body.start_time,\n  end_time: body.end_time || null,\n  chat_id: body.chat_id || null,\n  idempotency_key: sanitizedKey,\n  _meta: { source: 'WF2_ORCHESTRATOR', version: '2.2.0', timestamp: new Date().toISOString() }\n};\n\nreturn [{ json: { success: true, ctx } }];"},"name":"Generate Idempotency Key","type":"n8n-nodes-base.code","typeVersion":2,"position":[-500,300],"id":"4a36e667-911f-4b87-b544-f93611c79b1f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"val_ok","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"name":"Validation OK?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-300,300],"id":"9c2f2939-8633-4db6-b9c0-6a941f28af22"},{"parameters":{"operation":"executeQuery","query":"SELECT id, status, gcal_event_id FROM bookings WHERE idempotency_key = $1::text LIMIT 1;","options":{"queryReplacement":"={{ [$json.ctx.idempotency_key] }}"}},"name":"Check Idempotency DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-250,300],"alwaysOutputData":true,"credentials":{"postgres":{"id":"5LzvCP9BsQwCi9Z0","name":"Postgres account"}},"id":"09985bd6-f2d0-46f5-b61b-74a2f70d2dae"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ Array.isArray($json) && $json.length > 0 && !!$json[0]?.id }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"name":"Is Duplicate?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[0,300],"id":"d8414ece-b15c-49fd-9fd5-857b43cab3d6"},{"parameters":{"jsCode":"// DUPLICATE BRANCH - Return existing booking\nconst existing = $input.first().json[0] || $input.first().json;\nconst ctx = $input.first().json.ctx || {};\n\nctx._idempotency.is_duplicate = true;\nctx._idempotency.existing_booking_id = existing.id;\n\nreturn [{\n  json: {\n    ctx,\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: existing.id,\n      status: existing.status,\n      gcal_event_id: existing.gcal_event_id,\n      is_duplicate: true,\n      message: 'Booking already exists (idempotent retry)'\n    },\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0',\n      idempotency: 'duplicate'\n    }\n  }\n}];"},"name":"Return Duplicate","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,400],"id":"aed62918-c59d-4de5-b68d-78b9d4b2e494"},{"parameters":{"jsCode":"// MERGE CONTEXT - After Is Duplicate? (false branch)\n// Get ctx from Generate Idempotency Key node\nconst ctx = $(\"Generate Idempotency Key\").first()?.json?.ctx || {};\n\n// FIX: Initialize _idempotency if it doesn't exist\nif (!ctx._idempotency) {\n  ctx._idempotency = {};\n}\n\nctx._idempotency.is_duplicate = false;\nreturn [{ json: { ctx } }];"},"name":"Merge Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,200],"id":"7a9782c7-3324-46c1-ab95-f900b6f0d40c"},{"parameters":{"method":"POST","url":"http://n8n_titanium:5678/webhook/check-availability","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ provider_id: $('Generate Idempotency Key').first().json.ctx.provider_id, service_id: $('Generate Idempotency Key').first().json.ctx.service_id, start_time: $('Generate Idempotency Key').first().json.ctx.start_time }) }}","options":{"timeout":15000}},"name":"Check Availability","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[500,200],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"id":"7549de9e-9f91-4ce9-804e-e5d652c2731b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"name":"Is Available?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[750,200],"id":"5040125f-721d-4c44-9eaf-ff1aa470e523"},{"parameters":{"jsCode":"// NOT AVAILABLE BRANCH\nconst ctx = $input.first().json.ctx;\nctx._meta.failed_at = 'Check Availability';\n\nreturn [{\n  json: {\n    ctx,\n    success: false,\n    error_code: 'NO_AVAILABILITY',\n    error_message: 'No availability found for requested time slot',\n    data: null,\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];"},"name":"Error - No Availability","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,350],"id":"b5069fe3-5505-403c-8d28-5bd239a91fcb"},{"parameters":{"jsCode":"// MERGE CONTEXT - After Is Available? (true branch)\n// Get ctx from Generate Idempotency Key node and merge with availability response\nconst ctx = $(\"Generate Idempotency Key\").first()?.json?.ctx || {};\nconst availResponse = $input.first().json;\n\n// Preserve availability data in context\nctx._availability = {\n  checked: true,\n  available: true,\n  slots: availResponse.data?.slots || [],\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: { ctx } }];"},"name":"Merge Context After Availability","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,200],"id":"0a172244-196b-4dda-99b7-545370d475b5"},{"parameters":{"method":"POST","url":"http://n8n_titanium:5678/webhook/acquire-lock","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ provider_id: $('Generate Idempotency Key').first().json.ctx.provider_id, start_time: $('Generate Idempotency Key').first().json.ctx.start_time, lock_duration_minutes: 1 }) }}","options":{"timeout":15000}},"name":"Acquire Lock","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1250,200],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"id":"d7be11d0-d9d5-4d63-8619-6ceb79e28927"},{"parameters":{"method":"POST","url":"http://n8n_titanium:5678/webhook/circuit-breaker/check","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ service_id: \"google_calendar\", action: \"check\" }) }}","options":{"timeout":15000}},"name":"Check Circuit Breaker","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1500,200],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"id":"e5b6f287-e621-4734-9ffb-cd0d01f20bb1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.data?.allowed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"name":"Is GCal Available?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1750,200],"id":"ce9b1173-baa9-4383-9d45-724037108b05"},{"parameters":{"jsCode":"// CIRCUIT BREAKER OPEN\nconst ctx = $input.first().json.ctx;\nctx._meta.failed_at = 'Circuit Breaker';\n\nreturn [{\n  json: {\n    ctx,\n    success: false,\n    error_code: 'CIRCUIT_BREAKER_OPEN',\n    error_message: 'Google Calendar service is temporarily unavailable',\n    data: null,\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];"},"name":"Error - Circuit Breaker","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,350],"id":"402fcf51-8d3f-4808-a618-fa604d49b3de"},{"parameters":{"calendar":"primary","start":"={{ $(\"Merge Context After Availability\").first().json.ctx.start_time }}","end":"={{ $(\"Merge Context After Availability\").first().json.ctx.end_time || new Date(new Date($(\"Merge Context After Availability\").first().json.ctx.start_time).getTime() + 60*60000).toISOString() }}","summary":"={{ `Reserva: Provider ${$(\"Merge Context After Availability\").first().json.ctx.provider_id}, Service ${$(\"Merge Context After Availability\").first().json.ctx.service_id}` }}","description":"={{ \"Reserva gestionada por Booking Titanium\" }}","additionalFields":{}},"name":"Create GCal Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[2000,200],"id":"c8854fcd-af76-4ceb-9a15-a29ac2e73ebf","credentials":{"googleCalendarOAuth2Api":{"id":"OsRBfz3Cs7Ph5uV5","name":"Google Calendar account"}}},{"parameters":{"method":"POST","url":"http://n8n_titanium:5678/webhook/circuit-breaker/record","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ service_id: \"google_calendar\", success: true }) }}","options":{"timeout":15000}},"name":"Record GCal Success","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2250,200],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"id":"d641ca41-eaad-4153-b0bf-84df9d24c096"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bookings (provider_id, service_id, start_time, end_time, idempotency_key, gcal_event_id, user_id, status, created_at) VALUES ($1::int, $2::int, $3::timestamp, $4::timestamp, $5::text, $6::text, $7::bigint, 'CONFIRMED', NOW()) RETURNING id;","options":{"queryReplacement":"={{ [$('Generate Idempotency Key').first().json.ctx.provider_id, $('Generate Idempotency Key').first().json.ctx.service_id, $('Generate Idempotency Key').first().json.ctx.start_time, $('Generate Idempotency Key').first().json.ctx.end_time || new Date(new Date($('Generate Idempotency Key').first().json.ctx.start_time).getTime() + 60*60000).toISOString(), $('Generate Idempotency Key').first().json.ctx.idempotency_key, $('Create GCal Event').first()?.json?.data?.id || null, $('Generate Idempotency Key').first().json.ctx.user_id || $('Generate Idempotency Key').first().json.ctx.chat_id] }}"}},"name":"Create DB Booking","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2500,200],"id":"c87c8a63-4999-4686-84a8-835ae62000ef","credentials":{"postgres":{"id":"5LzvCP9BsQwCi9Z0","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Standard Contract Output - Booking Success v2.0\nconst db = $('Create DB Booking').first()?.json || {};\nconst ctx = $('Generate Idempotency Key').first()?.json?.ctx || {};\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: db.id,\n      idempotency_key: ctx.idempotency_key,\n      provider_id: ctx.provider_id,\n      service_id: ctx.service_id,\n      start_time: ctx.start_time,\n      status: 'CONFIRMED',\n      is_duplicate: ctx._idempotency?.is_duplicate || false\n    },\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];"},"name":"Standard Contract Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2750,200],"id":"5221efb0-de8d-4b60-829a-8668f265ae81"},{"parameters":{"jsCode":"return $input.all();","notice":""},"name":"Validation Error Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,500],"id":"26333b3d-e04c-4d60-9069-8b595f026373"}],"connections":{"Webhook":{"main":[[{"node":"Generate Idempotency Key","type":"main","index":0}]]},"Generate Idempotency Key":{"main":[[{"node":"Validation OK?","type":"main","index":0}]]},"Validation OK?":{"main":[[{"node":"Check Idempotency DB","type":"main","index":0}],[{"node":"Validation Error Output","type":"main","index":0}]]},"Check Idempotency DB":{"main":[[{"node":"Is Duplicate?","type":"main","index":0}]]},"Is Duplicate?":{"main":[[{"node":"Return Duplicate","type":"main","index":0}],[{"node":"Merge Context","type":"main","index":0}]]},"Merge Context":{"main":[[{"node":"Check Availability","type":"main","index":0}]]},"Check Availability":{"main":[[{"node":"Is Available?","type":"main","index":0}]]},"Is Available?":{"main":[[{"node":"Merge Context After Availability","type":"main","index":0}],[{"node":"Error - No Availability","type":"main","index":0}]]},"Merge Context After Availability":{"main":[[{"node":"Acquire Lock","type":"main","index":0}]]},"Acquire Lock":{"main":[[{"node":"Check Circuit Breaker","type":"main","index":0}]]},"Check Circuit Breaker":{"main":[[{"node":"Is GCal Available?","type":"main","index":0}]]},"Is GCal Available?":{"main":[[{"node":"Create GCal Event","type":"main","index":0}],[{"node":"Error - Circuit Breaker","type":"main","index":0}]]},"Create GCal Event":{"main":[[{"node":"Record GCal Success","type":"main","index":0}]]},"Record GCal Success":{"main":[[{"node":"Create DB Booking","type":"main","index":0}]]},"Create DB Booking":{"main":[[{"node":"Standard Contract Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true},"staticData":null,"meta":null,"pinData":null,"versionId":"acc4041f-b3c2-4d76-a2cd-e6e134724c9c","activeVersionId":"acc4041f-b3c2-4d76-a2cd-e6e134724c9c","versionCounter":234,"triggerCount":1,"shared":[{"updatedAt":"2026-03-15T02:16:19.238Z","createdAt":"2026-03-15T02:16:19.238Z","role":"workflow:owner","workflowId":"Z7g7DgxXQ61V368P","projectId":"1q616I3NzJFEiwV5","project":{"updatedAt":"2026-03-02T02:24:01.899Z","createdAt":"2026-03-02T00:39:33.634Z","id":"1q616I3NzJFEiwV5","name":"Roger Gallegos <baba.orere@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-18T20:32:02.758Z","createdAt":"2026-03-18T20:32:02.758Z","versionId":"acc4041f-b3c2-4d76-a2cd-e6e134724c9c","workflowId":"Z7g7DgxXQ61V368P","nodes":[{"parameters":{"httpMethod":"POST","path":"booking-orchestrator","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-750,300],"webhookId":"booking-orchestrator","id":"80371f74-ab71-4013-97df-133ba1d4624d"},{"parameters":{"jsCode":"// Idempotency Check v2.2 - Strict Numeric Validation Pattern\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// 1. Campos requeridos\nconst required = ['provider_id', 'service_id', 'start_time'];\nfor (const field of required) {\n  if (!body[field]) {\n    return [{ json: { success: false, error_code: 'MISSING_FIELD', error_message: `Missing required field: ${field}` } }];\n  }\n}\n\n// 2. Validación Numérica y de Formato (Fix ATTACK-04)\nconst startTime = String(body.start_time);\nconst parts = startTime.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2}):(\\d{2})/);\n\nif (!parts) {\n  return [{ json: { success: false, error_code: 'INVALID_DATE_FORMAT', error_message: 'Format must be ISO 8601 (YYYY-MM-DDTHH:mm:ss)' } }];\n}\n\nconst [full, y, m, d, hh, mm, ss] = parts.map(p => parseInt(p, 10));\nconst dateObj = new Date(startTime);\n\n// 3. Verificación de \"Fecha Real\" (Evita Feb 30 -> Mar 2)\nif (dateObj.getUTCFullYear() !== y || (dateObj.getUTCMonth() + 1) !== m || dateObj.getUTCDate() !== d) {\n  return [{ json: { success: false, error_code: 'INVALID_DATE', error_message: 'The date provided does not exist in the calendar' } }];\n}\n\n// 4. Comprobación de Fecha Pasada\nconst now = Date.now();\nif (dateObj.getTime() < now) {\n  return [{ json: { success: false, error_code: 'PAST_DATE', error_message: 'Cannot book in the past' } }];\n}\n\n// 5. Horizonte Temporal (Máximo 1 año a futuro)\nconst ONE_YEAR_MS = 365 * 24 * 60 * 60 * 1000;\nif (dateObj.getTime() > (now + ONE_YEAR_MS)) {\n  return [{ json: { success: false, error_code: 'FUTURE_DATE_TOO_EXTREME', error_message: 'Reservations are only allowed up to 1 year in advance' } }];\n}\n\n// 6. Generar idempotency_key\nconst idempotencyKey = `booking_${body.provider_id}_${body.service_id}_${body.start_time}_${body.customer_id || body.chat_id || 'anonymous'}`;\nconst sanitizedKey = idempotencyKey.replace(/[^a-zA-Z0-9_:-]/g, '_').substring(0, 255);\n\nconst ctx = {\n  provider_id: parseInt(body.provider_id, 10),\n  service_id: parseInt(body.service_id, 10),\n  start_time: body.start_time,\n  end_time: body.end_time || null,\n  chat_id: body.chat_id || null,\n  idempotency_key: sanitizedKey,\n  _meta: { source: 'WF2_ORCHESTRATOR', version: '2.2.0', timestamp: new Date().toISOString() }\n};\n\nreturn [{ json: { success: true, ctx } }];"},"name":"Generate Idempotency Key","type":"n8n-nodes-base.code","typeVersion":2,"position":[-500,300],"id":"4a36e667-911f-4b87-b544-f93611c79b1f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"val_ok","leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"name":"Validation OK?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-300,300],"id":"9c2f2939-8633-4db6-b9c0-6a941f28af22"},{"parameters":{"operation":"executeQuery","query":"SELECT id, status, gcal_event_id FROM bookings WHERE idempotency_key = $1::text LIMIT 1;","options":{"queryReplacement":"={{ [$json.ctx.idempotency_key] }}"}},"name":"Check Idempotency DB","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-250,300],"alwaysOutputData":true,"credentials":{"postgres":{"id":"5LzvCP9BsQwCi9Z0","name":"Postgres account"}},"id":"09985bd6-f2d0-46f5-b61b-74a2f70d2dae"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ Array.isArray($json) && $json.length > 0 && !!$json[0]?.id }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"name":"Is Duplicate?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[0,300],"id":"d8414ece-b15c-49fd-9fd5-857b43cab3d6"},{"parameters":{"jsCode":"// DUPLICATE BRANCH - Return existing booking\nconst existing = $input.first().json[0] || $input.first().json;\nconst ctx = $input.first().json.ctx || {};\n\nctx._idempotency.is_duplicate = true;\nctx._idempotency.existing_booking_id = existing.id;\n\nreturn [{\n  json: {\n    ctx,\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: existing.id,\n      status: existing.status,\n      gcal_event_id: existing.gcal_event_id,\n      is_duplicate: true,\n      message: 'Booking already exists (idempotent retry)'\n    },\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0',\n      idempotency: 'duplicate'\n    }\n  }\n}];"},"name":"Return Duplicate","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,400],"id":"aed62918-c59d-4de5-b68d-78b9d4b2e494"},{"parameters":{"jsCode":"// MERGE CONTEXT - After Is Duplicate? (false branch)\n// Get ctx from Generate Idempotency Key node\nconst ctx = $(\"Generate Idempotency Key\").first()?.json?.ctx || {};\n\n// FIX: Initialize _idempotency if it doesn't exist\nif (!ctx._idempotency) {\n  ctx._idempotency = {};\n}\n\nctx._idempotency.is_duplicate = false;\nreturn [{ json: { ctx } }];"},"name":"Merge Context","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,200],"id":"7a9782c7-3324-46c1-ab95-f900b6f0d40c"},{"parameters":{"method":"POST","url":"http://n8n_titanium:5678/webhook/check-availability","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ provider_id: $('Generate Idempotency Key').first().json.ctx.provider_id, service_id: $('Generate Idempotency Key').first().json.ctx.service_id, start_time: $('Generate Idempotency Key').first().json.ctx.start_time }) }}","options":{"timeout":15000}},"name":"Check Availability","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[500,200],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"id":"7549de9e-9f91-4ce9-804e-e5d652c2731b"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.success }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"name":"Is Available?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[750,200],"id":"5040125f-721d-4c44-9eaf-ff1aa470e523"},{"parameters":{"jsCode":"// NOT AVAILABLE BRANCH\nconst ctx = $input.first().json.ctx;\nctx._meta.failed_at = 'Check Availability';\n\nreturn [{\n  json: {\n    ctx,\n    success: false,\n    error_code: 'NO_AVAILABILITY',\n    error_message: 'No availability found for requested time slot',\n    data: null,\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];"},"name":"Error - No Availability","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,350],"id":"b5069fe3-5505-403c-8d28-5bd239a91fcb"},{"parameters":{"jsCode":"// MERGE CONTEXT - After Is Available? (true branch)\n// Get ctx from Generate Idempotency Key node and merge with availability response\nconst ctx = $(\"Generate Idempotency Key\").first()?.json?.ctx || {};\nconst availResponse = $input.first().json;\n\n// Preserve availability data in context\nctx._availability = {\n  checked: true,\n  available: true,\n  slots: availResponse.data?.slots || [],\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: { ctx } }];"},"name":"Merge Context After Availability","type":"n8n-nodes-base.code","typeVersion":2,"position":[1000,200],"id":"0a172244-196b-4dda-99b7-545370d475b5"},{"parameters":{"method":"POST","url":"http://n8n_titanium:5678/webhook/acquire-lock","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ provider_id: $('Generate Idempotency Key').first().json.ctx.provider_id, start_time: $('Generate Idempotency Key').first().json.ctx.start_time, lock_duration_minutes: 1 }) }}","options":{"timeout":15000}},"name":"Acquire Lock","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1250,200],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"id":"d7be11d0-d9d5-4d63-8619-6ceb79e28927"},{"parameters":{"method":"POST","url":"http://n8n_titanium:5678/webhook/circuit-breaker/check","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ service_id: \"google_calendar\", action: \"check\" }) }}","options":{"timeout":15000}},"name":"Check Circuit Breaker","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1500,200],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"id":"e5b6f287-e621-4734-9ffb-cd0d01f20bb1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.data?.allowed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"name":"Is GCal Available?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1750,200],"id":"ce9b1173-baa9-4383-9d45-724037108b05"},{"parameters":{"jsCode":"// CIRCUIT BREAKER OPEN\nconst ctx = $input.first().json.ctx;\nctx._meta.failed_at = 'Circuit Breaker';\n\nreturn [{\n  json: {\n    ctx,\n    success: false,\n    error_code: 'CIRCUIT_BREAKER_OPEN',\n    error_message: 'Google Calendar service is temporarily unavailable',\n    data: null,\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];"},"name":"Error - Circuit Breaker","type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,350],"id":"402fcf51-8d3f-4808-a618-fa604d49b3de"},{"parameters":{"calendar":"primary","start":"={{ $(\"Merge Context After Availability\").first().json.ctx.start_time }}","end":"={{ $(\"Merge Context After Availability\").first().json.ctx.end_time || new Date(new Date($(\"Merge Context After Availability\").first().json.ctx.start_time).getTime() + 60*60000).toISOString() }}","summary":"={{ `Reserva: Provider ${$(\"Merge Context After Availability\").first().json.ctx.provider_id}, Service ${$(\"Merge Context After Availability\").first().json.ctx.service_id}` }}","description":"={{ \"Reserva gestionada por Booking Titanium\" }}","additionalFields":{}},"name":"Create GCal Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[2000,200],"id":"c8854fcd-af76-4ceb-9a15-a29ac2e73ebf","credentials":{"googleCalendarOAuth2Api":{"id":"OsRBfz3Cs7Ph5uV5","name":"Google Calendar account"}}},{"parameters":{"method":"POST","url":"http://n8n_titanium:5678/webhook/circuit-breaker/record","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ service_id: \"google_calendar\", success: true }) }}","options":{"timeout":15000}},"name":"Record GCal Success","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2250,200],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000,"id":"d641ca41-eaad-4153-b0bf-84df9d24c096"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO bookings (provider_id, service_id, start_time, end_time, idempotency_key, gcal_event_id, user_id, status, created_at) VALUES ($1::int, $2::int, $3::timestamp, $4::timestamp, $5::text, $6::text, $7::bigint, 'CONFIRMED', NOW()) RETURNING id;","options":{"queryReplacement":"={{ [$('Generate Idempotency Key').first().json.ctx.provider_id, $('Generate Idempotency Key').first().json.ctx.service_id, $('Generate Idempotency Key').first().json.ctx.start_time, $('Generate Idempotency Key').first().json.ctx.end_time || new Date(new Date($('Generate Idempotency Key').first().json.ctx.start_time).getTime() + 60*60000).toISOString(), $('Generate Idempotency Key').first().json.ctx.idempotency_key, $('Create GCal Event').first()?.json?.data?.id || null, $('Generate Idempotency Key').first().json.ctx.user_id || $('Generate Idempotency Key').first().json.ctx.chat_id] }}"}},"name":"Create DB Booking","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[2500,200],"id":"c87c8a63-4999-4686-84a8-835ae62000ef","credentials":{"postgres":{"id":"5LzvCP9BsQwCi9Z0","name":"Postgres account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Standard Contract Output - Booking Success v2.0\nconst db = $('Create DB Booking').first()?.json || {};\nconst ctx = $('Generate Idempotency Key').first()?.json?.ctx || {};\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: db.id,\n      idempotency_key: ctx.idempotency_key,\n      provider_id: ctx.provider_id,\n      service_id: ctx.service_id,\n      start_time: ctx.start_time,\n      status: 'CONFIRMED',\n      is_duplicate: ctx._idempotency?.is_duplicate || false\n    },\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];"},"name":"Standard Contract Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2750,200],"id":"5221efb0-de8d-4b60-829a-8668f265ae81"},{"parameters":{"jsCode":"return $input.all();","notice":""},"name":"Validation Error Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,500],"id":"26333b3d-e04c-4d60-9069-8b595f026373"}],"connections":{"Webhook":{"main":[[{"node":"Generate Idempotency Key","type":"main","index":0}]]},"Generate Idempotency Key":{"main":[[{"node":"Validation OK?","type":"main","index":0}]]},"Validation OK?":{"main":[[{"node":"Check Idempotency DB","type":"main","index":0}],[{"node":"Validation Error Output","type":"main","index":0}]]},"Check Idempotency DB":{"main":[[{"node":"Is Duplicate?","type":"main","index":0}]]},"Is Duplicate?":{"main":[[{"node":"Return Duplicate","type":"main","index":0}],[{"node":"Merge Context","type":"main","index":0}]]},"Merge Context":{"main":[[{"node":"Check Availability","type":"main","index":0}]]},"Check Availability":{"main":[[{"node":"Is Available?","type":"main","index":0}]]},"Is Available?":{"main":[[{"node":"Merge Context After Availability","type":"main","index":0}],[{"node":"Error - No Availability","type":"main","index":0}]]},"Merge Context After Availability":{"main":[[{"node":"Acquire Lock","type":"main","index":0}]]},"Acquire Lock":{"main":[[{"node":"Check Circuit Breaker","type":"main","index":0}]]},"Check Circuit Breaker":{"main":[[{"node":"Is GCal Available?","type":"main","index":0}]]},"Is GCal Available?":{"main":[[{"node":"Create GCal Event","type":"main","index":0}],[{"node":"Error - Circuit Breaker","type":"main","index":0}]]},"Create GCal Event":{"main":[[{"node":"Record GCal Success","type":"main","index":0}]]},"Record GCal Success":{"main":[[{"node":"Create DB Booking","type":"main","index":0}]]},"Create DB Booking":{"main":[[{"node":"Standard Contract Output","type":"main","index":0}]]}},"authors":"Roger Gallegos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-18T20:32:02.808Z","id":1300,"workflowId":"Z7g7DgxXQ61V368P","versionId":"acc4041f-b3c2-4d76-a2cd-e6e134724c9c","event":"deactivated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-18T20:32:02.844Z","id":1301,"workflowId":"Z7g7DgxXQ61V368P","versionId":"acc4041f-b3c2-4d76-a2cd-e6e134724c9c","event":"activated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}]}}