WF6_patched.json
{
  "name": "WF6_Rollback_Workflow",
  "nodes": [
    {
      "parameters": {
        "path": "rollback-booking",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "rollback-booking",
      "id": "1a17a026-279c-4c69-a8f5-97adb8962805"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -200
      ],
      "id": "dd027c6f-bd54-4a7b-82e5-0707a79072fb"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        200
      ],
      "id": "87386e3b-1c4a-40b9-b3c8-dbdf6bef05c9"
    },
    {
      "parameters": {
        "jsCode": "\nconst input = $input.first().json;\nconst body = input.body || input;\n\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\n\nlet booking_id = body.booking_id || null;\nif (booking_id && !UUID_RE.test(booking_id)) {\n  booking_id = null;\n}\n\nconst payload = {\n  gcal_event_id: body.gcal_event_id || null,\n  booking_id: booking_id,\n  lock_key: body.lock_key || null,\n  owner_token: body.owner_token || null,\n  reason: String(body.reason || 'manual_rollback').substring(0, 500)\n};\n\nif (!payload.gcal_event_id && !payload.booking_id && !payload.lock_key) {\n  return [{ json: {\n    _valid: false,\n    success: false,\n    error_code: 'INVALID_INPUT',\n    error_message: 'Rollback requires at least one valid ID (gcal_event_id, booking_id, or lock_key)',\n    data: null,\n    _meta: { source: 'WF6_Rollback_Workflow', timestamp: new Date().toISOString() }\n  }}];\n}\n\nconst b64Reason = Buffer.from(payload.reason).toString('base64');\n\nreturn [{ json: {\n  _valid: true,\n  ...payload,\n  b64_reason: b64Reason,\n  _rollback: {\n    initiated_at: new Date().toISOString(),\n    steps: { gcal: { success: true, skipped: true }, db: { success: true, skipped: true }, lock: { success: true, skipped: true } }\n  }\n}}];\n"
      },
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ],
      "id": "7ef9be29-215f-451e-a1f9-626bf4fde60c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_gcal",
              "leftValue": "={{ $json.gcal_event_id }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has GCal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        500,
        0
      ],
      "id": "f6349078-0026-492f-92bf-7cf4bf677fbc"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "eventId": "={{ $json.gcal_event_id }}"
      },
      "name": "Delete GCal",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        750,
        -100
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput",
      "id": "cda63d2d-b78f-4c67-8031-f7e98b0e289a"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prev = $('Validate & Prepare').first().json;\nconst isError = !!input.message;\n// 404 is acceptable (idempotency)\nconst is404 = isError && (input.message.includes('404') || input.message.toLowerCase().includes('not found'));\n\nreturn [{ json: {\n  ...prev,\n  _rollback: {\n    ...prev._rollback,\n    steps: { ...prev._rollback.steps, gcal: { success: !isError || is404, skipped: false, error: isError && !is404 ? input.message : null } }\n  }\n}}];"
      },
      "name": "Post GCal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "id": "c1e6082f-9e75-4975-bd75-eed7a7c87e3d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_db",
              "leftValue": "={{ $json.booking_id }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has DB?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1250,
        0
      ],
      "id": "4bd32f7b-a8f3-4ce4-ae28-9c6e8d302324"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings SET status = 'CANCELLED', cancelled_at = NOW(), cancellation_reason = convert_from(decode($1, 'base64'), 'utf-8') WHERE id = $2::uuid AND status != 'CANCELLED' RETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.b64_reason }}, {{ $json.booking_id }}"
        }
      },
      "name": "Cancel DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1500,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "5LzvCP9BsQwCi9Z0",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput",
      "id": "fb364762-253a-4c35-8331-04df6955e4c6"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prev = $('Post GCal').first().json;\nconst isError = !!input.message;\nreturn [{ json: {\n  ...prev,\n  _rollback: {\n    ...prev._rollback,\n    steps: { ...prev._rollback.steps, db: { success: !isError, skipped: false, was_updated: !!input.id, error: isError ? input.message : null } }\n  }\n}}];"
      },
      "name": "Post DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        0
      ],
      "id": "6a2665f9-664a-45af-80f6-6a5011c382b4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has_lock",
              "leftValue": "={{ $json.lock_key }}",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Lock?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2000,
        0
      ],
      "id": "af64839e-c7de-4e6c-9dac-abb9a9a3369c"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM booking_locks WHERE lock_key = $1::text AND owner_token = $2::text RETURNING lock_id;",
        "options": {
          "queryReplacement": "={{ $json.lock_key }}, {{ $json.owner_token }}"
        }
      },
      "name": "Release Lock",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2250,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "5LzvCP9BsQwCi9Z0",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput",
      "id": "89143e4a-d7af-4eb1-806f-ca85f4e6f44d"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst prev = $('Post DB').first().json;\nconst isError = !!input.message;\nreturn [{ json: {\n  ...prev,\n  _rollback: {\n    ...prev._rollback,\n    steps: { ...prev._rollback.steps, lock: { success: !isError, skipped: false, was_released: !!input.lock_id, error: isError ? input.message : null } }\n  }\n}}];"
      },
      "name": "Post Lock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        0
      ],
      "id": "5368ee53-8cb2-4f97-8f03-7bfd18d3f513"
    },
    {
      "parameters": {
        "jsCode": "const rb = $input.first().json._rollback;\nconst steps = rb.steps;\nconst hasFailure = !steps.gcal.success || !steps.db.success || !steps.lock.success;\n\nreturn [{ json: {\n  success: !hasFailure,\n  error_code: hasFailure ? 'PARTIAL_ROLLBACK_FAILED' : null,\n  error_message: hasFailure ? 'Some rollback steps failed' : null,\n  data: {\n    rollback_completed: !hasFailure,\n    steps: steps,\n    initiated_at: rb.initiated_at,\n    completed_at: new Date().toISOString()\n  },\n  _meta: { source: 'WF6_Rollback_Workflow', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n}}];"
      },
      "name": "Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2750,
        0
      ],
      "id": "d55d8213-f5b8-4b25-b9a5-ef263fd9baa4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is_valid",
              "leftValue": "={{ $json._valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Valid Input?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        0
      ],
      "id": "node-is-valid-input"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "name": "Return Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        200
      ],
      "id": "node-return-error"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare": {
      "main": [
        [
          {
            "node": "Is Valid Input?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has GCal?": {
      "main": [
        [
          {
            "node": "Delete GCal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post GCal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete GCal": {
      "main": [
        [
          {
            "node": "Post GCal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post GCal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post GCal": {
      "main": [
        [
          {
            "node": "Has DB?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has DB?": {
      "main": [
        [
          {
            "node": "Cancel DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancel DB": {
      "main": [
        [
          {
            "node": "Post DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post DB": {
      "main": [
        [
          {
            "node": "Has Lock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Lock?": {
      "main": [
        [
          {
            "node": "Release Lock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Lock": {
      "main": [
        [
          {
            "node": "Post Lock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Lock": {
      "main": [
        [
          {
            "node": "Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid Input?": {
      "main": [
        [
          {
            "node": "Has GCal?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  }
}