workflows/helpers/WF4_Sync_Engine.json
{
  "name": "WF4_Sync_Engine",
  "nodes": [
    {
      "parameters": {
        "path": "sync-repair-manual",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 100],
      "webhookId": "sync-repair-manual"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT b.id, b.provider_id, b.service_id, b.start_time, b.end_time, b.user_id, b.status, s.name AS service_name, p.name AS provider_name, p.gcal_calendar_id FROM bookings b LEFT JOIN services s ON s.id = b.service_id LEFT JOIN providers p ON p.id = b.provider_id WHERE b.gcal_event_id IS NULL AND b.status = 'CONFIRMED' AND b.start_time > NOW() - INTERVAL '1 day' ORDER BY b.created_at ASC LIMIT 10;"
      },
      "name": "Get Unsynced",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [250, 100],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [500, 100]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.gcal_calendar_id || 'primary' }}",
          "mode": "id"
        },
        "start": "={{ $json.start_time }}",
        "end": "={{ $json.end_time || $json.start_time }}",
        "additionalFields": {
          "summary": "={{ $json.service_name || 'Reserva' }} - {{ $json.provider_name || 'Staff' }}",
          "description": "=Booking ID: {{ $json.id }}\nUser ID: {{ $json.user_id }}\nSynced by Titanium Sync Engine"
        },
        "options": {
          "includeInputData": true
        }
      },
      "name": "Create GCal Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [750, 100],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NDk9hJZ9MTokyiAh",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst original = item.json || {}; // includeInputData puts original in .json\n\nif (item.error) {\n  return [{ json: { id: original.id, success: false, error: item.message } }];\n}\n\nreturn [{ json: { id: original.id, gcal_event_id: item.id, success: true } }];"
      },
      "name": "Normalize Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is_success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Is Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1250, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE bookings SET gcal_event_id = $1::text, gcal_synced_at = NOW() WHERE id = $2::uuid;",
        "options": {
          "queryReplacement": "={{ $json.gcal_event_id }}, {{ $json.id }}"
        }
      },
      "name": "Update Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1500, 0],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Just a pass-through to loop back\nreturn $input.all();"
      },
      "name": "Loop Connector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 100]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  success: true,\n  data: { message: 'Sync cycle completed' },\n  _meta: { source: 'WF4_Sync_Engine', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n}}];"
      },
      "name": "Sync SCO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Get Unsynced", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Get Unsynced", "type": "main", "index": 0 }]]
    },
    "Cron Trigger": {
      "main": [[{ "node": "Get Unsynced", "type": "main", "index": 0 }]]
    },
    "Get Unsynced": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Split In Batches": {
      "main": [
        [{ "node": "Create GCal Event", "type": "main", "index": 0 }],
        [{ "node": "Sync SCO", "type": "main", "index": 0 }]
      ]
    },
    "Create GCal Event": {
      "main": [[{ "node": "Normalize Result", "type": "main", "index": 0 }]]
    },
    "Normalize Result": {
      "main": [[{ "node": "Is Success?", "type": "main", "index": 0 }]]
    },
    "Is Success?": {
      "main": [
        [{ "node": "Update Booking", "type": "main", "index": 0 }],
        [{ "node": "Loop Connector", "type": "main", "index": 0 }]
      ]
    },
    "Update Booking": {
      "main": [[{ "node": "Loop Connector", "type": "main", "index": 0 }]]
    },
    "Loop Connector": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
