workflows/helpers/WF5_GCal_Collision_Check.json
{
  "name": "WF5_GCal_Collision_Check",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gcal-collision-check",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "gcal-collision-check"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, -200]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\n// 🛡️ Pre-Validation\nconst start_time = String(body.start_time || '');\nif (!/^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}/.test(start_time)) {\n  return [{ json: { _valid: false, _error: 'Invalid start_time format (ISO 8601 required)' } }];\n}\n\nconst duration = parseInt(body.duration_minutes || 60, 10);\nif (isNaN(duration) || duration < 5 || duration > 1440) {\n  return [{ json: { _valid: false, _error: 'Invalid duration: must be between 5 and 1440 minutes' } }];\n}\n\nconst startDate = new Date(start_time);\nconst endDate = new Date(startDate.getTime() + duration * 60000);\n\nreturn [{ json: {\n  _valid: true,\n  calendar_id: body.calendar_id || 'primary',\n  start_time: startDate.toISOString(),\n  end_time: endDate.toISOString(),\n  exclude_event_id: body.exclude_event_id || null\n}}];"
      },
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            { "id": "valid_check", "leftValue": "={{ $json._valid }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [500, 0]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.calendar_id }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $json.start_time }}",
          "timeMax": "={{ $json.end_time }}",
          "showDeleted": false,
          "singleEvents": true
        }
      },
      "name": "List Potential Conflicts",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [750, -100],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "NDk9hJZ9MTokyiAh",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst validated = $('Validate & Prepare').first().json;\n\nconst firstItem = items[0]?.json || {};\nconst isGCalError = items.length > 0 && !firstItem.id && (firstItem.message || firstItem.error || firstItem.code);\n\nif (isGCalError) {\n  return [{ json: { _success: false, _gcal_error: firstItem.message || 'GCal API Error' } }];\n}\n\nconst reqStart = new Date(validated.start_time).getTime();\nconst reqEnd = new Date(validated.end_time).getTime();\nconst excludeId = validated.exclude_event_id;\n\nconst conflicts = items.filter(item => {\n  const ev = item.json;\n  if (!ev || !ev.id || ev.status === 'cancelled' || ev.id === excludeId) return false;\n  const evStart = new Date(ev.start.dateTime || ev.start.date).getTime();\n  const evEnd = new Date(ev.end.dateTime || ev.end.date).getTime();\n  return reqStart < evEnd && reqEnd > evStart;\n}).map(c => ({\n  id: c.json.id,\n  summary: c.json.summary,\n  start: c.json.start.dateTime || c.json.start.date\n}));\n\nreturn [{ json: {\n  _success: true,\n  has_collision: conflicts.length > 0,\n  conflicts: conflicts\n}}];"
      },
      "name": "Analyze Overlaps",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, -100]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst isValidNode = $('Is Valid?');\nconst isValidationError = !isValidNode.isExecuted || (isValidNode.first(1)?.json?._valid === false);\n\nif (isValidationError) {\n  return [{ json: {\n    success: false, error_code: 'VALIDATION_ERROR', \n    error_message: $('Validate & Prepare').first().json._error || 'Invalid Input',\n    data: null, _meta: { source: 'WF5_Collision_Check', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n  }}];\n}\n\nif (result._success === false) {\n  return [{ json: {\n    success: true, \n    error_code: 'GCAL_ERROR',\n    error_message: 'Google Calendar API error: ' + result._gcal_error,\n    data: { slot_available: false, mode: 'fail_closed', error: result._gcal_error },\n    _meta: { source: 'WF5_Collision_Check', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n  }}];\n}\n\nreturn [{ json: {\n  success: true,\n  error_code: null,\n  error_message: null,\n  data: {\n    slot_available: !result.has_collision,\n    has_collision: result.has_collision,\n    conflicts: result.conflicts,\n    checked_at: new Date().toISOString()\n  },\n  _meta: { source: 'WF5_Collision_Check', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n}}];"
      },
      "name": "Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate & Prepare", "type": "main", "index": 0 }]] },
    "Manual Trigger": { "main": [[{ "node": "Validate & Prepare", "type": "main", "index": 0 }]] },
    "Execute Workflow Trigger": { "main": [[{ "node": "Validate & Prepare", "type": "main", "index": 0 }]] },
    "Validate & Prepare": { "main": [[{ "node": "Is Valid?", "type": "main", "index": 0 }]] },
    "Is Valid?": {
      "main": [
        [{ "node": "List Potential Conflicts", "type": "main", "index": 0 }],
        [{ "node": "Standard Contract Output", "type": "main", "index": 0 }]
      ]
    },
    "List Potential Conflicts": { "main": [[{ "node": "Analyze Overlaps", "type": "main", "index": 0 }], [{ "node": "Analyze Overlaps", "type": "main", "index": 0 }]] },
    "Analyze Overlaps": { "main": [[{ "node": "Standard Contract Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
