workflows/helpers/WF8_Booking_Queue_Worker.json
{
  "name": "WF8_Booking_Queue_Worker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM fn_booking_get_pending(5);",
        "options": {}
      },
      "name": "Get Pending Intents",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "5LzvCP9BsQwCi9Z0",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Check if there are any intents to process\nconst intents = $input.first().json;\n\nif (!intents || !Array.isArray(intents) || intents.length === 0) {\n  return [{ json: { has_pending: false, message: 'No pending intents to process' } }];\n}\n\nreturn [{ \n  json: { \n    has_pending: true,\n    intents: intents,\n    count: intents.length\n  } \n}];"
      },
      "name": "Check Has Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.has_pending }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Has Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// No pending intents - return early\nreturn [{ json: {\n  success: true,\n  processed: 0,\n  message: 'No pending intents in queue'\n}}];"
      },
      "name": "No Pending - Exit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        450
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.stax.ink/webhook/acquire-lock",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ provider_id: $json.intents[0].provider_id, start_time: $json.intents[0].start_time, lock_duration_minutes: 5 }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Acquire Lock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://n8n.stax.ink/webhook/db-get-availability-test",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ provider_id: $json.intents[0].provider_id, service_id: $json.intents[0].service_id, start_time: $json.intents[0].start_time }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Check Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "url": "https://n8n.stax.ink/webhook/circuit-breaker/check",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ service_id: \"google_calendar\", action: \"check\" }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Check Circuit Breaker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "dev.n8n.stax@gmail.com",
          "mode": "list",
          "cachedResultName": "dev.n8n.stax@gmail.com"
        },
        "event": {
          "start": "={{ $input.first().json.intents[0].start_time }}",
          "end": "={{ $input.first().json.intents[0].end_time || new Date(new Date($input.first().json.intents[0].start_time).getTime() + ($input.first().json.intents[0].duration_minutes || 60) * 60000).toISOString() }}",
          "summary": "={{ $input.first().json.intents[0].event_title || 'Booking Reservation' }}",
          "description": "={{ `Booking for customer: ${$input.first().json.intents[0].customer_id || $input.first().json.intents[0].chat_id}\\nIntent ID: ${$input.first().json.intents[0].id}` }}"
        }
      },
      "name": "Create GCal Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1500,
        200
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bookings (provider_id, service_id, start_time, end_time, idempotency_key, gcal_event_id, user_id, status, created_at) VALUES ($1::int, $2::int, $3::timestamp, ($3::timestamp + INTERVAL '1 hour'), $4::text, $5::text, $6::bigint, 'CONFIRMED', NOW()) RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.intents[0].provider_id, $json.intents[0].service_id, $json.intents[0].start_time, $json.intents[0].idempotency_key, $json.id, $json.intents[0].user_id || null] }}"
        }
      },
      "name": "Create DB Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1750,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "5LzvCP9BsQwCi9Z0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT fn_booking_mark_completed($1::uuid, $2::int, $3::text);",
        "options": {
          "queryReplacement": "={{ [$json.intents[0].id, $json.id, $json.id] }}"
        }
      },
      "name": "Mark Intent Completed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "5LzvCP9BsQwCi9Z0",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Success response\nconst intent = $('Get Pending Intents').first().json.intents[0];\nconst booking = $('Create DB Booking').first().json;\n\nreturn [{ json: {\n  success: true,\n  intent_id: intent.id,\n  booking_id: booking[0]?.id,\n  gcal_event_id: $('Create GCal Event').first().json.id,\n  message: 'Booking processed successfully'\n}}];"
      },
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error handler - mark intent as failed\nconst intent = $('Get Pending Intents').first()?.json?.intents?.[0] || {};\nconst error = $input.first().json.error || $input.first().json;\n\nreturn [{ json: {\n  success: false,\n  intent_id: intent.id,\n  error_code: error.error_code || 'WORKFLOW_ERROR',\n  error_message: error.error_message || error.message || 'Unknown error',\n  action: 'Will retry on next cron run'\n}}];"
      },
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2250,
        400
      ]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Intents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Intents": {
      "main": [
        [
          {
            "node": "Check Has Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Has Pending": {
      "main": [
        [
          {
            "node": "Has Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Pending?": {
      "main": [
        [
          {
            "node": "Acquire Lock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending - Exit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Lock": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Check Circuit Breaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Circuit Breaker": {
      "main": [
        [
          {
            "node": "Create GCal Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GCal Event": {
      "main": [
        [
          {
            "node": "Create DB Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create DB Booking": {
      "main": [
        [
          {
            "node": "Mark Intent Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Intent Completed": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
