temp_wfs/74zsMccewOLqJ8lD_clean.json
{
  "name": "TEST_GCal_Minimal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "test-gcal-minimal",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -250,
        300
      ],
      "id": "693f6be3-a52c-4f08-aa69-fd23b0e0aac3"
    },
    {
      "parameters": {
        "calendar": "dev.n8n.stax@gmail.com",
        "operation": "getMany",
        "options": {
          "timeMin": "={{ new Date().toISOString() }}"
        }
      },
      "name": "GCal Trigger",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        0,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      },
      "id": "236edfa6-2a23-43d3-aac2-381d89ee2e3a"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, message: 'GCal OK', events: $input.all().length } }];"
      },
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "id": "12038de9-fc03-48b0-98c4-8212c164adab"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GCal Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GCal Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
