temp_wfs/bT0r2EmUqGjc6Ioz_clean.json
{
  "name": "CB_02_Record_Result",
  "nodes": [
    {
      "parameters": {
        "path": "circuit-breaker/record",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Record Result Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "circuit-breaker-record",
      "id": "cb_record_webhook_012"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\nconst service_id = String(body.service_id || 'google_calendar');\nconst success = body.success;\nconst result = success ? 'success' : 'failure';\nconst error_message = body.error_message || null;\n\nconst SERVICE_ID_RE = /^[a-zA-Z0-9_-]{1,100}$/;\nif (!SERVICE_ID_RE.test(service_id)) {\n  throw new Error('Invalid service_id');\n}\n\nconst safe_error = error_message\n  ? String(error_message).substring(0, 500)\n  : 'none';\n\nreturn [{ json: { service_id, result, error_message: safe_error, metadata: body.metadata || {} } }];",
        "options": {}
      },
      "name": "Validate Record Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ],
      "id": "cb_validate_record_013"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO circuit_breaker_state (\n    service_id, state, failure_count, success_count, \n    last_failure_at, last_success_at, opened_at, last_error_message\n)\nVALUES (\n    $1::text, \n    CASE WHEN $2::text = 'failure' THEN 'open' ELSE 'closed' END,\n    CASE WHEN $2::text = 'failure' THEN 1 ELSE 0 END, \n    CASE WHEN $2::text = 'success' THEN 1 ELSE 0 END, \n    CASE WHEN $2::text = 'failure' THEN NOW() ELSE NULL END,\n    CASE WHEN $2::text = 'success' THEN NOW() ELSE NULL END,\n    CASE WHEN $2::text = 'failure' THEN NOW() ELSE NULL END,\n    CASE WHEN $2::text = 'failure' THEN $3::text ELSE NULL END\n)\nON CONFLICT (service_id) DO UPDATE SET \n    failure_count = CASE \n      WHEN $2::text = 'success' THEN 0\n      ELSE circuit_breaker_state.failure_count + 1\n    END,\n    success_count = CASE \n      WHEN $2::text = 'success' THEN \n        CASE WHEN circuit_breaker_state.state = 'half-open' THEN circuit_breaker_state.success_count + 1 ELSE 1 END\n      ELSE 0\n    END,\n    state = CASE \n      WHEN $2::text = 'failure' AND circuit_breaker_state.failure_count + 1 >= circuit_breaker_state.failure_threshold THEN 'open'\n      WHEN $2::text = 'success' AND circuit_breaker_state.state = 'half-open' AND circuit_breaker_state.success_count + 1 >= circuit_breaker_state.success_threshold THEN 'closed'\n      ELSE circuit_breaker_state.state\n    END,\n    opened_at = CASE \n      WHEN $2::text = 'failure' AND circuit_breaker_state.state != 'open' AND circuit_breaker_state.failure_count + 1 >= circuit_breaker_state.failure_threshold THEN NOW()\n      ELSE circuit_breaker_state.opened_at\n    END,\n    last_failure_at = CASE WHEN $2::text = 'failure' THEN NOW() ELSE circuit_breaker_state.last_failure_at END,\n    last_success_at = CASE WHEN $2::text = 'success' THEN NOW() ELSE circuit_breaker_state.last_success_at END,\n    last_error_message = CASE WHEN $2::text = 'failure' THEN $3::text ELSE circuit_breaker_state.last_error_message END\nRETURNING *;",
        "options": {
          "queryReplacement": "={{ $json.service_id }}, {{ $json.result }}, {{ $json.error_message || '' }}"
        }
      },
      "name": "Record Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        500,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "5LzvCP9BsQwCi9Z0",
          "name": "Postgres account"
        }
      },
      "id": "cb_record_014"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (!items.length || !items[0].json || !items[0].json.service_id) {\n  return [{ json: {\n    success: false,\n    error_code: 'SERVICE_NOT_FOUND',\n    error_message: 'Service not initialized in circuit_breaker_state table',\n    data: null,\n    _meta: {\n      source: 'CB_GCal_Circuit_Breaker',\n      timestamp: new Date().toISOString(),\n      workflow_id: $workflow.id || 'unknown'\n    }\n  }}];\n}\n\nconst state = items[0].json;\n\nreturn [{ json: {\n  success: true,\n  error_code: null,\n  error_message: null,\n  data: {\n    recorded: true,\n    service_id: state.service_id,\n    new_state: state.state,\n    failure_count: state.failure_count,\n    success_count: state.success_count\n  },\n  _meta: {\n    source: 'CB_GCal_Circuit_Breaker',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown'\n  }\n}}];",
        "options": {}
      },
      "name": "Record SCO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        0
      ],
      "id": "cb_record_sco_015"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger 2",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        100
      ],
      "id": "cb_exec_trigger_02"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "cb_manual_trigger_2"
    }
  ],
  "connections": {
    "Record Result Webhook": {
      "main": [
        [
          {
            "node": "Validate Record Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Record Request": {
      "main": [
        [
          {
            "node": "Record Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Result": {
      "main": [
        [
          {
            "node": "Record SCO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger 2": {
      "main": [
        [
          {
            "node": "Validate Record Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate Record Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "B1VnkirO5dF20MHg",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
