temp_wfs/cNC4U2Bg6HoX09YP.json
{"updatedAt":"2026-03-18T14:16:45.306Z","createdAt":"2026-03-05T15:57:27.121Z","id":"cNC4U2Bg6HoX09YP","name":"DB_Get_Providers","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{}"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,432],"id":"f3e19e28-2a09-42f1-ae27-5fd259b9256a"},{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,232],"id":"037b0c1f-9408-4516-a7a3-7bc0e86e47cc"},{"parameters":{"method":"GET","url":"http://127.0.0.1:3000/providers","options":{"timeout":5000}},"name":"Call DAL Providers","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[250,432],"id":"c64c12ce-3d0c-4593-877e-b5683f4e5952"},{"parameters":{"jsCode":"const dalResponse = $input.first()?.json || {};\nconst isSuccess = dalResponse.success === true;\n\nreturn [{\n  json: {\n    success: isSuccess,\n    error_code: isSuccess ? null : (dalResponse.error_code || 'DAL_ERROR'),\n    error_message: isSuccess ? null : (dalResponse.error_message || dalResponse.message || 'Failed to list providers'),\n    data: isSuccess ? (dalResponse.data || dalResponse) : null,\n    _meta: {\n      source: 'DB_Get_Providers',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'DB_Get_Providers',\n      version: '1.0.0'\n    }\n  }\n}];"},"name":"Format Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,432],"id":"3b6aefec-cc36-46fc-8b65-38706ec634a4"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Call DAL Providers","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Call DAL Providers","type":"main","index":0}]]},"Call DAL Providers":{"main":[[{"node":"Format Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"pinData":null,"versionId":"95536c95-9722-4504-bd03-1b684f06418a","activeVersionId":"95536c95-9722-4504-bd03-1b684f06418a","versionCounter":27,"triggerCount":0,"shared":[{"updatedAt":"2026-03-05T15:57:27.121Z","createdAt":"2026-03-05T15:57:27.121Z","role":"workflow:owner","workflowId":"cNC4U2Bg6HoX09YP","projectId":"1q616I3NzJFEiwV5","project":{"updatedAt":"2026-03-02T02:24:01.899Z","createdAt":"2026-03-02T00:39:33.634Z","id":"1q616I3NzJFEiwV5","name":"Roger Gallegos <baba.orere@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-05T15:57:27.135Z","createdAt":"2026-03-05T15:57:27.135Z","versionId":"95536c95-9722-4504-bd03-1b684f06418a","workflowId":"cNC4U2Bg6HoX09YP","nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{}"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,432],"id":"f3e19e28-2a09-42f1-ae27-5fd259b9256a"},{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,232],"id":"037b0c1f-9408-4516-a7a3-7bc0e86e47cc"},{"parameters":{"method":"GET","url":"http://127.0.0.1:3000/providers","options":{"timeout":5000}},"name":"Call DAL Providers","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[250,432],"id":"c64c12ce-3d0c-4593-877e-b5683f4e5952"},{"parameters":{"jsCode":"const dalResponse = $input.first()?.json || {};\nconst isSuccess = dalResponse.success === true;\n\nreturn [{\n  json: {\n    success: isSuccess,\n    error_code: isSuccess ? null : (dalResponse.error_code || 'DAL_ERROR'),\n    error_message: isSuccess ? null : (dalResponse.error_message || dalResponse.message || 'Failed to list providers'),\n    data: isSuccess ? (dalResponse.data || dalResponse) : null,\n    _meta: {\n      source: 'DB_Get_Providers',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'DB_Get_Providers',\n      version: '1.0.0'\n    }\n  }\n}];"},"name":"Format Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,432],"id":"3b6aefec-cc36-46fc-8b65-38706ec634a4"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Call DAL Providers","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Call DAL Providers","type":"main","index":0}]]},"Call DAL Providers":{"main":[[{"node":"Format Output","type":"main","index":0}]]}},"authors":"Roger Gallegos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-05T15:57:27.950Z","id":369,"workflowId":"cNC4U2Bg6HoX09YP","versionId":"95536c95-9722-4504-bd03-1b684f06418a","event":"activated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-18T14:16:45.329Z","id":1208,"workflowId":"cNC4U2Bg6HoX09YP","versionId":"95536c95-9722-4504-bd03-1b684f06418a","event":"deactivated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-18T14:16:45.346Z","id":1209,"workflowId":"cNC4U2Bg6HoX09YP","versionId":"95536c95-9722-4504-bd03-1b684f06418a","event":"activated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}]}}