temp_wfs/F2F5oQ7okPDKwg9E_clean.json
{
  "name": "DB_Reschedule_Booking",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        432
      ],
      "id": "045b7392-f1cd-487b-a631-ed380cb44a32"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db-reschedule-booking",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -200,
        632
      ],
      "webhookId": "db-reschedule-booking",
      "id": "01f5118a-4f93-4691-9a38-7b0a84dbef8d"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        232
      ],
      "id": "82523581-0e7e-4a99-8f0b-0f5b015aaff0"
    },
    {
      "parameters": {
        "jsCode": "\ntry {\n  const input = $input.first().json.body || $input.first().json;\n  \n  // Sanitización de IDs\n  const bookingId = input.booking_id || input.old_booking_id;\n  const chatId = String(input.chat_id || '');\n\n  if (!bookingId || !/^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(bookingId)) {\n    throw new Error('Invalid old_booking_id (UUID required)');\n  }\n\n  return [{\n    json: {\n      chat_id: chatId,\n      booking_id: bookingId,\n      old_booking_id: bookingId,\n      new_start_time: input.new_start_time,\n      provider_id: parseInt(input.provider_id) || 1,\n      service_id: parseInt(input.service_id) || 1,\n      user_email: input.user_email || '',\n      user_name: input.user_name || 'Paciente'\n    }\n  }];\n} catch (e) {\n  throw e;\n}"
      },
      "name": "Build Secure JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        50,
        432
      ],
      "id": "a73cdab7-d391-409c-80ad-a5450c90f1b5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mf4qnUG7UlrAKpQU",
          "mode": "id"
        },
        "mode": "wait",
        "inputData": "={{ $json }}",
        "options": {}
      },
      "name": "Step 1: Cancel Old",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        300,
        432
      ],
      "id": "00a11762-fa76-4dc6-bff2-de484002fec8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Z7g7DgxXQ61V368P",
          "mode": "id"
        },
        "mode": "wait",
        "inputData": "={\n  \"chat_id\": {{ $node[\"Build Secure JSON\"].json.chat_id }},\n  \"start_time\": \"{{ $node[\"Build Secure JSON\"].json.new_start_time }}\",\n  \"provider_id\": {{ $node[\"Build Secure JSON\"].json.provider_id }},\n  \"service_id\": {{ $node[\"Build Secure JSON\"].json.service_id }},\n  \"user_email\": \"{{ $node[\"Build Secure JSON\"].json.user_email }}\",\n  \"user_name\": \"{{ $node[\"Build Secure JSON\"].json.user_name }}\"\n}",
        "options": {}
      },
      "name": "Step 2: Create New",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        550,
        432
      ],
      "id": "922e30dc-a5bd-462a-9c35-b277fe60aa59"
    },
    {
      "parameters": {
        "jsCode": "\nconst step2 = $(\"Step 2: Create New\").first().json;\nconst validated = $(\"Build Secure JSON\").first().json;\n\nif (step2.success === false) {\n  return [{\n    json: {\n      success: false,\n      error_code: step2.error_code || 'RESCHEDULE_FAILED',\n      error_message: step2.error_message || 'The new booking could not be created',\n      data: {\n        old_booking_cancelled: true, // Asumimos éxito en Step 1 si llegamos aquí\n        orchestrator_response: step2\n      },\n      _meta: { source: \"DB_Reschedule_Booking\", timestamp: new Date().toISOString() }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      old_booking_id: validated.old_booking_id,\n      new_booking_id: step2.data?.booking_id || null,\n      status: 'RESCHEDULED'\n    },\n    _meta: { source: \"DB_Reschedule_Booking\", timestamp: new Date().toISOString() }\n  }\n}];"
      },
      "name": "Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        432
      ],
      "id": "fb3e5f4b-6308-4e01-84d1-869f18edd31b"
    },
    {
      "parameters": {
        "jsCode": "\n// Reschedule Validation v2.2.0 - Strict Numeric Pattern\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// 1. Campos requeridos para reschedule\nconst required = ['booking_id', 'new_start_time'];\nfor (const field of required) {\n  if (!body[field]) {\n    return [{ json: { success: false, error_code: 'MISSING_FIELD', error_message: `Missing required field: ${field}` } }];\n  }\n}\n\n// 2. Validación de FECHA\nconst startTime = String(body.new_start_time);\nconst parts = startTime.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2}):(\\d{2})/);\n\nif (!parts) {\n  return [{ json: { success: false, error_code: 'INVALID_DATE_FORMAT', error_message: 'Format must be ISO 8601' } }];\n}\n\nconst [full, y, m, d, hh, mm, ss] = parts.map(p => parseInt(p, 10));\nconst dateObj = new Date(startTime);\n\nif (dateObj.getUTCFullYear() !== y || (dateObj.getUTCMonth() + 1) !== m || dateObj.getUTCDate() !== d) {\n  return [{ json: { success: false, error_code: 'INVALID_DATE', error_message: 'The date provided does not exist in the calendar' } }];\n}\n\nconst now = Date.now();\nif (dateObj.getTime() < now) {\n  return [{ json: { success: false, error_code: 'PAST_DATE', error_message: 'Cannot reschedule to the past' } }];\n}\n\nconst ONE_YEAR_MS = 365 * 24 * 60 * 60 * 1000;\nif (dateObj.getTime() > (now + ONE_YEAR_MS)) {\n  return [{ json: { success: false, error_code: 'FUTURE_DATE_TOO_EXTREME', error_message: 'Rescheduling limited to 1 year in advance' } }];\n}\n\nreturn [{ json: { success: true, booking_id: body.booking_id, new_start_time: startTime } }];\n"
      },
      "name": "Validate Reschedule Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ],
      "id": "reschedule-val-id"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "rightValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "val_ok",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-reschedule-val-id",
      "name": "Validation OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "reschedule-error-node",
      "name": "Error - Validation Failed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        500
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Secure JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Reschedule Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Secure JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Secure JSON": {
      "main": [
        [
          {
            "node": "Step 1: Cancel Old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1: Cancel Old": {
      "main": [
        [
          {
            "node": "Step 2: Create New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2: Create New": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Reschedule Input": {
      "main": [
        [
          {
            "node": "Validation OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation OK?": {
      "main": [
        [
          {
            "node": "Build Secure JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - Validation Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
