temp_wfs/f80XLogu45Zg1TSM.json
{"updatedAt":"2026-03-18T14:17:46.326Z","createdAt":"2026-03-02T02:19:34.753Z","id":"f80XLogu45Zg1TSM","name":"NN_02_Message_Parser","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"/* ROBUST VERSION v1.2.1 - handles all Telegram input paths */\nconst input = $input.first()?.json;\n\n// Path 1: Execute Workflow from NN_01 (Telegram update body under input.body)\n// Path 2: Direct webhook call (body already unwrapped)\n// Path 3: Direct fields (chat_id, text at root)\nconst bodyLayer = input?.body || input || {};\n\n// Telegram update: {update_id, message:{chat:{id}, text, from:{first_name}}}\nconst message = bodyLayer.message || bodyLayer.channel_post || bodyLayer;\n\nconst chat_id = message.chat?.id || bodyLayer.chat_id || input?.chat_id;\nconst text = message.text || bodyLayer.text || input?.text;\n\nif (!chat_id || !text) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'VALIDATION_ERROR',\n      error_message: 'Payload missing required chat_id or text fields.',\n      debug_received: JSON.stringify(input).substring(0, 200),\n      data: null,\n      _meta: { source: 'NN_02_Message_Parser', timestamp: new Date().toISOString(), version: '1.2.1' }\n    }\n  }];\n}\n\nconst username = message.from?.first_name || message.chat?.first_name || bodyLayer.username || 'Unknown';\n\n// SEC_02: Sanitize\nconst safeText = text.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, 500);\nconst safeUsername = username.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, 100);\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      chat_id: chat_id,\n      text: safeText,\n      username: safeUsername,\n      type: 'text'\n    },\n    _meta: { source: 'NN_02_Message_Parser', timestamp: new Date().toISOString(), version: '1.2.1' }\n  }\n}];"},"id":"e6f42a9b-7c15-4a6c-b9b5-2d1b10a9f5d1","name":"Extract & Validate (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,420]},{"parameters":{"httpMethod":"POST","path":"nn-02-booking-parser-test","responseMode":"lastNode"},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-200,400],"webhookId":"nn-02-booking-parser-test","id":"13d8b708-d477-441a-b1c1-76b54d1226fd"},{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,200],"id":"0f9575e2-e586-4ee6-850f-a71b4cd81308"},{"parameters":{"inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-200,600],"id":"b191c838-2c61-482f-88ee-2824adbc6f7f"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"pinData":{},"versionId":"ec521a54-8818-4b6b-8a18-c7e2a5195cfd","activeVersionId":"ec521a54-8818-4b6b-8a18-c7e2a5195cfd","versionCounter":86,"triggerCount":1,"shared":[{"updatedAt":"2026-03-02T02:19:34.753Z","createdAt":"2026-03-02T02:19:34.753Z","role":"workflow:owner","workflowId":"f80XLogu45Zg1TSM","projectId":"1q616I3NzJFEiwV5","project":{"updatedAt":"2026-03-02T02:24:01.899Z","createdAt":"2026-03-02T00:39:33.634Z","id":"1q616I3NzJFEiwV5","name":"Roger Gallegos <baba.orere@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-04T21:10:20.840Z","createdAt":"2026-03-04T21:10:20.840Z","versionId":"ec521a54-8818-4b6b-8a18-c7e2a5195cfd","workflowId":"f80XLogu45Zg1TSM","nodes":[{"parameters":{"jsCode":"/* ROBUST VERSION v1.2.1 - handles all Telegram input paths */\nconst input = $input.first()?.json;\n\n// Path 1: Execute Workflow from NN_01 (Telegram update body under input.body)\n// Path 2: Direct webhook call (body already unwrapped)\n// Path 3: Direct fields (chat_id, text at root)\nconst bodyLayer = input?.body || input || {};\n\n// Telegram update: {update_id, message:{chat:{id}, text, from:{first_name}}}\nconst message = bodyLayer.message || bodyLayer.channel_post || bodyLayer;\n\nconst chat_id = message.chat?.id || bodyLayer.chat_id || input?.chat_id;\nconst text = message.text || bodyLayer.text || input?.text;\n\nif (!chat_id || !text) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'VALIDATION_ERROR',\n      error_message: 'Payload missing required chat_id or text fields.',\n      debug_received: JSON.stringify(input).substring(0, 200),\n      data: null,\n      _meta: { source: 'NN_02_Message_Parser', timestamp: new Date().toISOString(), version: '1.2.1' }\n    }\n  }];\n}\n\nconst username = message.from?.first_name || message.chat?.first_name || bodyLayer.username || 'Unknown';\n\n// SEC_02: Sanitize\nconst safeText = text.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, 500);\nconst safeUsername = username.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, 100);\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      chat_id: chat_id,\n      text: safeText,\n      username: safeUsername,\n      type: 'text'\n    },\n    _meta: { source: 'NN_02_Message_Parser', timestamp: new Date().toISOString(), version: '1.2.1' }\n  }\n}];"},"id":"e6f42a9b-7c15-4a6c-b9b5-2d1b10a9f5d1","name":"Extract & Validate (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,420]},{"parameters":{"httpMethod":"POST","path":"nn-02-booking-parser-test","responseMode":"lastNode"},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-200,400],"webhookId":"nn-02-booking-parser-test","id":"13d8b708-d477-441a-b1c1-76b54d1226fd"},{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-200,200],"id":"0f9575e2-e586-4ee6-850f-a71b4cd81308"},{"parameters":{"inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-200,600],"id":"b191c838-2c61-482f-88ee-2824adbc6f7f"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]}},"authors":"Roger Gallegos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-04T21:10:20.871Z","id":339,"workflowId":"f80XLogu45Zg1TSM","versionId":"ec521a54-8818-4b6b-8a18-c7e2a5195cfd","event":"deactivated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-04T21:10:20.890Z","id":340,"workflowId":"f80XLogu45Zg1TSM","versionId":"ec521a54-8818-4b6b-8a18-c7e2a5195cfd","event":"activated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-18T14:17:46.355Z","id":1230,"workflowId":"f80XLogu45Zg1TSM","versionId":"ec521a54-8818-4b6b-8a18-c7e2a5195cfd","event":"deactivated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-18T14:17:46.374Z","id":1231,"workflowId":"f80XLogu45Zg1TSM","versionId":"ec521a54-8818-4b6b-8a18-c7e2a5195cfd","event":"activated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}]}}