temp_wfs/koGljfSXUzYESNoh_clean.json
{
  "name": "DB_Get_Providers_By_Service",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"service_id\": 1}"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        432
      ],
      "id": "acb6231d-c5e4-4570-91e5-df6ffbf449af"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        232
      ],
      "id": "8419ac31-c8fb-4393-afdb-5c8c368832fa"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://127.0.0.1:3000/providers-by-service/' + ($json.service_id || 1) }}",
        "options": {
          "timeout": 5000
        }
      },
      "name": "Call DAL Providers by Svc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        432
      ],
      "id": "1bacedd4-0df3-4d6b-a17a-b826771276ed"
    },
    {
      "parameters": {
        "jsCode": "const dalResponse = $input.first()?.json || {};\nconst isSuccess = dalResponse.success === true;\n\nreturn [{\n  json: {\n    success: isSuccess,\n    error_code: isSuccess ? null : (dalResponse.error_code || 'DAL_ERROR'),\n    error_message: isSuccess ? null : (dalResponse.error_message || dalResponse.message || 'Failed to list providers'),\n    data: isSuccess ? (dalResponse.data || dalResponse) : null,\n    _meta: {\n      source: 'DB_Get_Providers_By_Service',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'DB_Get_Providers_By_Service',\n      version: '1.0.0'\n    }\n  }\n}];"
      },
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        432
      ],
      "id": "2bcd1e9f-0a8f-47db-a6be-818f701c5dc5"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Call DAL Providers by Svc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Call DAL Providers by Svc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call DAL Providers by Svc": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
