temp_wfs/OK1i9Rpk3T3o30jS.json
{"updatedAt":"2026-03-18T14:18:12.764Z","createdAt":"2026-03-15T19:00:13.013Z","id":"OK1i9Rpk3T3o30jS","name":"TEST_GCal_Connection","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"GET","path":"test-gcal","responseMode":"lastNode","responseData":"firstEntryJson"},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8f93f711-0349-4bb3-a106-78857d487b63"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"dev.n8n.stax@gmail.com","mode":"list"},"returnAll":true,"options":{"timeMin":"2026-03-16T00:00:00-03:00","timeMax":"2026-03-16T23:59:59-03:00","singleEvents":true}},"name":"List Events","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[250,0],"credentials":{"googleCalendarOAuth2Api":{"id":"OsRBfz3Cs7Ph5uV5","name":"Google Calendar account"}},"id":"node-list-events"},{"parameters":{"jsCode":"const items = $input.all();\nreturn [{ json: { success: true, date: '2026-03-16', count: items.length, events: items.map(i => ({ id: i.json.id, summary: i.json.summary })) } }];"},"name":"Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"id":"node-output"}],"connections":{"Webhook":{"main":[[{"node":"List Events","type":"main","index":0}]]},"List Events":{"main":[[{"node":"Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"pinData":null,"versionId":"e03d743e-f2c5-453f-8189-b83259b02d8c","activeVersionId":"e03d743e-f2c5-453f-8189-b83259b02d8c","versionCounter":44,"triggerCount":1,"shared":[{"updatedAt":"2026-03-15T19:00:13.013Z","createdAt":"2026-03-15T19:00:13.013Z","role":"workflow:owner","workflowId":"OK1i9Rpk3T3o30jS","projectId":"1q616I3NzJFEiwV5","project":{"updatedAt":"2026-03-02T02:24:01.899Z","createdAt":"2026-03-02T00:39:33.634Z","id":"1q616I3NzJFEiwV5","name":"Roger Gallegos <baba.orere@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-16T23:27:15.458Z","createdAt":"2026-03-16T23:27:15.458Z","versionId":"e03d743e-f2c5-453f-8189-b83259b02d8c","workflowId":"OK1i9Rpk3T3o30jS","nodes":[{"parameters":{"httpMethod":"GET","path":"test-gcal","responseMode":"lastNode","responseData":"firstEntryJson"},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"8f93f711-0349-4bb3-a106-78857d487b63"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"dev.n8n.stax@gmail.com","mode":"list"},"returnAll":true,"options":{"timeMin":"2026-03-16T00:00:00-03:00","timeMax":"2026-03-16T23:59:59-03:00","singleEvents":true}},"name":"List Events","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[250,0],"credentials":{"googleCalendarOAuth2Api":{"id":"OsRBfz3Cs7Ph5uV5","name":"Google Calendar account"}},"id":"node-list-events"},{"parameters":{"jsCode":"const items = $input.all();\nreturn [{ json: { success: true, date: '2026-03-16', count: items.length, events: items.map(i => ({ id: i.json.id, summary: i.json.summary })) } }];"},"name":"Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"id":"node-output"}],"connections":{"Webhook":{"main":[[{"node":"List Events","type":"main","index":0}]]},"List Events":{"main":[[{"node":"Output","type":"main","index":0}]]}},"authors":"Roger Gallegos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-16T23:27:15.536Z","id":1069,"workflowId":"OK1i9Rpk3T3o30jS","versionId":"e03d743e-f2c5-453f-8189-b83259b02d8c","event":"deactivated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-16T23:27:15.559Z","id":1070,"workflowId":"OK1i9Rpk3T3o30jS","versionId":"e03d743e-f2c5-453f-8189-b83259b02d8c","event":"activated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-16T23:27:15.956Z","id":1071,"workflowId":"OK1i9Rpk3T3o30jS","versionId":"e03d743e-f2c5-453f-8189-b83259b02d8c","event":"deactivated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-16T23:27:15.975Z","id":1072,"workflowId":"OK1i9Rpk3T3o30jS","versionId":"e03d743e-f2c5-453f-8189-b83259b02d8c","event":"activated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-18T14:18:12.792Z","id":1236,"workflowId":"OK1i9Rpk3T3o30jS","versionId":"e03d743e-f2c5-453f-8189-b83259b02d8c","event":"deactivated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-18T14:18:12.811Z","id":1237,"workflowId":"OK1i9Rpk3T3o30jS","versionId":"e03d743e-f2c5-453f-8189-b83259b02d8c","event":"activated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}]}}