temp_wfs/XRMU2cqA3fxU9e2I.json
{"updatedAt":"2026-03-18T14:17:16.034Z","createdAt":"2026-03-14T15:38:07.226Z","id":"XRMU2cqA3fxU9e2I","name":"DLQ_01_Add_Entry","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"dlq/add","httpMethod":"POST","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"dlq-add","id":"fb92958a-fce7-485b-9b75-1af48d57c1a2"},{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-200],"id":"ff293cef-0b8e-44c7-a158-e4aa5b65819d"},{"parameters":{"inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,200],"id":"502a83d8-1947-4b15-aaa2-6f49ea1be229"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = input.body || input;\n\n// 🔍 Validation & Sanitization (SEC04)\nconst payload = {\n  booking_id: parseInt(body.booking_id) || null,\n  provider_id: parseInt(body.provider_id) || null,\n  service_id: parseInt(body.service_id) || null,\n  failure_reason: String(body.failure_reason || 'UNKNOWN').substring(0, 100),\n  error_message: String(body.error_message || 'No message provided').substring(0, 500),\n  error_stack: body.error_stack ? String(body.error_stack).substring(0, 2000) : null,\n  original_payload: body.original_payload || {},\n  idempotency_key: body.idempotency_key || `gen_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`\n};\n\n// 📦 Base64 Encoding to bypass comma-splitting bug (GHC-2548)\nconst b64Payload = Buffer.from(JSON.stringify(payload)).toString('base64');\n\nreturn [{ json: { b64_payload: b64Payload, ...payload } }];"},"name":"Validate & Encode","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,0],"id":"d18ff628-07a4-46f0-b2f1-9f647da15028"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM booking_dlq_add(convert_from(decode($1, 'base64'), 'utf-8')::jsonb);","options":{"queryReplacement":"={{ $json.b64_payload }}"}},"name":"Insert to DLQ","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[500,0],"credentials":{"postgres":{"id":"5LzvCP9BsQwCi9Z0","name":"Postgres account"}},"id":"16c4b2c8-3eb8-4587-a1db-7b1636ca2972"},{"parameters":{"jsCode":"const result = $input.first().json;\nconst validated = $('Validate & Encode').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      dlq_id: result.out_dlq_id,\n      idempotency_key: validated.idempotency_key\n    },\n    _meta: {\n      source: 'DLQ_01_Add_Entry',\n      timestamp: new Date().toISOString(),\n      workflow_id: $workflow.id\n    }\n  }\n}];"},"name":"Standard Contract Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,0],"id":"e8ab5e33-7572-4186-b8b7-5194b1ce96f9"}],"connections":{"Webhook":{"main":[[{"node":"Validate & Encode","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Validate & Encode","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Validate & Encode","type":"main","index":0}]]},"Validate & Encode":{"main":[[{"node":"Insert to DLQ","type":"main","index":0}]]},"Insert to DLQ":{"main":[[{"node":"Standard Contract Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":true},"staticData":null,"meta":null,"pinData":null,"versionId":"f49a5db8-b5d6-4faf-a9aa-ab9cd5087012","activeVersionId":"f49a5db8-b5d6-4faf-a9aa-ab9cd5087012","versionCounter":21,"triggerCount":1,"shared":[{"updatedAt":"2026-03-14T15:38:07.226Z","createdAt":"2026-03-14T15:38:07.226Z","role":"workflow:owner","workflowId":"XRMU2cqA3fxU9e2I","projectId":"1q616I3NzJFEiwV5","project":{"updatedAt":"2026-03-02T02:24:01.899Z","createdAt":"2026-03-02T00:39:33.634Z","id":"1q616I3NzJFEiwV5","name":"Roger Gallegos <baba.orere@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-14T15:43:09.130Z","createdAt":"2026-03-14T15:43:09.130Z","versionId":"f49a5db8-b5d6-4faf-a9aa-ab9cd5087012","workflowId":"XRMU2cqA3fxU9e2I","nodes":[{"parameters":{"path":"dlq/add","httpMethod":"POST","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"webhookId":"dlq-add","id":"fb92958a-fce7-485b-9b75-1af48d57c1a2"},{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-200],"id":"ff293cef-0b8e-44c7-a158-e4aa5b65819d"},{"parameters":{"inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,200],"id":"502a83d8-1947-4b15-aaa2-6f49ea1be229"},{"parameters":{"jsCode":"const input = $input.first().json;\nconst body = input.body || input;\n\n// 🔍 Validation & Sanitization (SEC04)\nconst payload = {\n  booking_id: parseInt(body.booking_id) || null,\n  provider_id: parseInt(body.provider_id) || null,\n  service_id: parseInt(body.service_id) || null,\n  failure_reason: String(body.failure_reason || 'UNKNOWN').substring(0, 100),\n  error_message: String(body.error_message || 'No message provided').substring(0, 500),\n  error_stack: body.error_stack ? String(body.error_stack).substring(0, 2000) : null,\n  original_payload: body.original_payload || {},\n  idempotency_key: body.idempotency_key || `gen_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`\n};\n\n// 📦 Base64 Encoding to bypass comma-splitting bug (GHC-2548)\nconst b64Payload = Buffer.from(JSON.stringify(payload)).toString('base64');\n\nreturn [{ json: { b64_payload: b64Payload, ...payload } }];"},"name":"Validate & Encode","type":"n8n-nodes-base.code","typeVersion":2,"position":[250,0],"id":"d18ff628-07a4-46f0-b2f1-9f647da15028"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM booking_dlq_add(convert_from(decode($1, 'base64'), 'utf-8')::jsonb);","options":{"queryReplacement":"={{ $json.b64_payload }}"}},"name":"Insert to DLQ","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[500,0],"credentials":{"postgres":{"id":"5LzvCP9BsQwCi9Z0","name":"Postgres account"}},"id":"16c4b2c8-3eb8-4587-a1db-7b1636ca2972"},{"parameters":{"jsCode":"const result = $input.first().json;\nconst validated = $('Validate & Encode').first().json;\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      dlq_id: result.out_dlq_id,\n      idempotency_key: validated.idempotency_key\n    },\n    _meta: {\n      source: 'DLQ_01_Add_Entry',\n      timestamp: new Date().toISOString(),\n      workflow_id: $workflow.id\n    }\n  }\n}];"},"name":"Standard Contract Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[750,0],"id":"e8ab5e33-7572-4186-b8b7-5194b1ce96f9"}],"connections":{"Webhook":{"main":[[{"node":"Validate & Encode","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Validate & Encode","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Validate & Encode","type":"main","index":0}]]},"Validate & Encode":{"main":[[{"node":"Insert to DLQ","type":"main","index":0}]]},"Insert to DLQ":{"main":[[{"node":"Standard Contract Output","type":"main","index":0}]]}},"authors":"Roger Gallegos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-14T15:43:09.177Z","id":673,"workflowId":"XRMU2cqA3fxU9e2I","versionId":"f49a5db8-b5d6-4faf-a9aa-ab9cd5087012","event":"deactivated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-14T15:43:09.199Z","id":674,"workflowId":"XRMU2cqA3fxU9e2I","versionId":"f49a5db8-b5d6-4faf-a9aa-ab9cd5087012","event":"activated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-18T14:17:16.065Z","id":1216,"workflowId":"XRMU2cqA3fxU9e2I","versionId":"f49a5db8-b5d6-4faf-a9aa-ab9cd5087012","event":"deactivated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"},{"createdAt":"2026-03-18T14:17:16.090Z","id":1217,"workflowId":"XRMU2cqA3fxU9e2I","versionId":"f49a5db8-b5d6-4faf-a9aa-ab9cd5087012","event":"activated","userId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}]}}