workflows/seed_clean/DLQ_Retry.json
{
  "name": "DLQ_Retry",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, -200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE booking_dlq \nSET status = 'processing', updated_at = NOW() \nWHERE id IN (\n  SELECT id FROM booking_dlq \n  WHERE status = 'pending' \n    AND next_retry_at <= NOW() \n    AND failure_count < max_retries\n  FOR UPDATE SKIP LOCKED \n  LIMIT 10\n) \nRETURNING *;",
        "options": {}
      },
      "name": "Lock & Fetch Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [250, 0],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [500, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.stax.ink/webhook/booking-orchestrator",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "provider_id",
              "value": "={{ $json.provider_id }}"
            },
            {
              "name": "service_id",
              "value": "={{ $json.service_id }}"
            },
            {
              "name": "start_time",
              "value": "={{ $json.original_payload?.start_time }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $json.original_payload?.customer_id }}"
            },
            {
              "name": "chat_id",
              "value": "={{ $json.original_payload?.chat_id }}"
            },
            {
              "name": "idempotency_key",
              "value": "={{ $json.idempotency_key }}"
            },
            {
              "name": "retry_attempt",
              "value": "={{ $json.failure_count + 1 }}"
            }
          ]
        },
        "options": {
          "includeInputData": true
        }
      },
      "name": "Retry Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [750, 0],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "retry_success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Retry Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT booking_dlq_resolve($1::bigint, 'auto_retry', 'Successfully retried via DLQ');",
        "options": {
          "queryReplacement": "={{ $json.id }}"
        }
      },
      "name": "Mark Resolved",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1250, -100],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n// Access original data because includeInputData: true was set in HTTP Request\nconst dlq = input.json || input;\nconst errorMsg = input.error?.message || (dlq.success === false ? dlq.error_message : 'Unknown error');\n\nconst failure_count = dlq.failure_count + 1;\nconst next_retry_minutes = Math.pow(2, failure_count);\nconst should_discard = failure_count >= dlq.max_retries;\n\n// 📦 Base64 encode the error to avoid comma splitting in next node\nconst b64Error = Buffer.from(errorMsg).toString('base64');\n\nreturn [{ json: {\n  dlq_id: dlq.id,\n  failure_count,\n  next_retry_minutes,\n  should_discard,\n  b64_error: b64Error\n}}];"
      },
      "name": "Calc Backoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "discard_limit",
              "leftValue": "={{ $json.should_discard }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Should Discard?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1500, 100]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT booking_dlq_discard($1::bigint, 'Max retries exceeded');",
        "options": {
          "queryReplacement": "={{ $json.dlq_id }}"
        }
      },
      "name": "Discard Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1750, 0],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE booking_dlq \nSET status = 'pending', \n    failure_count = $2::int, \n    next_retry_at = NOW() + ($3::int * INTERVAL '1 minute'),\n    last_error_message = convert_from(decode($4, 'base64'), 'utf-8')\nWHERE id = $1::bigint;",
        "options": {
          "queryReplacement": "={{ $json.dlq_id }}, {{ $json.failure_count }}, {{ $json.next_retry_minutes }}, {{ $json.b64_error }}"
        }
      },
      "name": "Update Failure Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1750, 200],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [[{ "node": "Lock & Fetch Items", "type": "main", "index": 0 }]]
    },
    "Manual Trigger": {
      "main": [[{ "node": "Lock & Fetch Items", "type": "main", "index": 0 }]]
    },
    "Lock & Fetch Items": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Split In Batches": {
      "main": [[{ "node": "Retry Booking", "type": "main", "index": 0 }]]
    },
    "Retry Booking": {
      "main": [[{ "node": "Retry Success?", "type": "main", "index": 0 }]]
    },
    "Retry Success?": {
      "main": [
        [{ "node": "Mark Resolved", "type": "main", "index": 0 }],
        [{ "node": "Calc Backoff", "type": "main", "index": 0 }]
      ]
    },
    "Calc Backoff": {
      "main": [[{ "node": "Should Discard?", "type": "main", "index": 0 }]]
    },
    "Should Discard?": {
      "main": [
        [{ "node": "Discard Item", "type": "main", "index": 0 }],
        [{ "node": "Update Failure Count", "type": "main", "index": 0 }]
      ]
    },
    "Mark Resolved": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Discard Item": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    },
    "Update Failure Count": {
      "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
