workflows/seed_clean/wf2_step3_http.json
{
  "name": "WF2_Booking_Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-orchestrator",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-500, 300],
      "webhookId": "booking-orchestrator"
    },
    {
      "parameters": {
        "jsCode": "// Generate idempotency key\nconst input = $input.first().json;\nconst body = input.body || input;\n\nconst required = ['provider_id', 'service_id', 'start_time'];\nfor (const f of required) {\n  if (!body[f]) {\n    return [{ json: { error: 'Missing: ' + f } }];\n  }\n}\n\nconst idempotencyKey = `booking_${body.provider_id}_${body.service_id}_${body.start_time}_${body.customer_id || 'anon'}`;\nconst sanitizedKey = idempotencyKey.replace(/[^a-zA-Z0-9_:-]/g, '_').substring(0, 255);\n\nreturn [{\n  json: {\n    provider_id: body.provider_id,\n    service_id: body.service_id,\n    start_time: body.start_time,\n    idempotency_key: sanitizedKey\n  }\n}];"
      },
      "name": "Generate Idempotency Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, status FROM bookings WHERE idempotency_key = $1::text LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.idempotency_key }}"
        }
      },
      "name": "Check Idempotency DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [0, 300],
      "credentials": {
        "postgres": {
          "id": "5LzvCP9BsQwCi9Z0",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value": "={{ Array.isArray($json) && $json.length > 0 && !!$json[0]?.id }}",
              "operation": "true"
            }
          ]
        }
      },
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Duplicate branch\nconst existing = $input.first().json[0] || $input.first().json;\nreturn [{\n  json: {\n    success: true,\n    is_duplicate: true,\n    booking_id: existing.id,\n    message: 'Duplicate detected'\n  }\n}];"
      },
      "name": "Return Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.stax.ink/webhook/db-get-availability-test",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  provider_id: $json.provider_id,\n  service_id: $json.service_id,\n  start_time: $json.start_time\n} }}",
        "options": {
          "timeout": 30000
        }
      },
      "name": "Check Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [500, 200]
    },
    {
      "parameters": {
        "jsCode": "// Final response\nconst avail = $input.first().json;\nreturn [{\n  json: {\n    success: true,\n    is_duplicate: false,\n    availability: avail,\n    message: 'Full flow working!'\n  }\n}];"
      },
      "name": "Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Idempotency Key": {
      "main": [
        [
          {
            "node": "Check Idempotency DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Idempotency DB": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Return Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
