workflows/seed_clean/WF2_Booking_Orchestrator_v4.json
{
  "name": "WF2_Booking_Orchestrator_v4",
  "nodes": [
    {
      "parameters": {
        "path": "booking-orchestrator-v4",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "webhookId": "booking-orchestrator-v4"
    },
    {
      "parameters": {
        "jsCode": "// Validate Input v4.0 - Standard Contract Pattern\nconst body = $input.first().json.body || $input.first().json;\n\n// Validación de campos requeridos (PRE-validation)\nconst required = ['provider_id', 'service_id', 'start_time'];\nfor (const field of required) {\n  if (!body[field]) {\n    return [{ json: { \n      success: false, \n      error_code: 'MISSING_FIELD', \n      error_message: `Missing required field: ${field}`,\n      data: null,\n      _meta: { source: 'WF2_v4', timestamp: new Date().toISOString() }\n    }}];\n  }\n}\n\n// Parsear y validar tipos\nconst provider_id = parseInt(body.provider_id, 10);\nconst service_id = parseInt(body.service_id, 10);\nconst start_time = body.start_time;\n\nif (isNaN(provider_id) || isNaN(service_id) || !start_time) {\n  return [{ json: { \n    success: false, \n    error_code: 'INVALID_TYPE', \n    error_message: 'provider_id, service_id must be numeric, start_time must be ISO string',\n    data: null,\n    _meta: { source: 'WF2_v4', timestamp: new Date().toISOString() }\n  }}];\n}\n\n// Calcular end_time\nconst duration = parseInt(body.duration_minutes || 60, 10);\nconst startDate = new Date(start_time);\nconst endDate = new Date(startDate.getTime() + duration * 60000);\n\n// Generar idempotency_key determinístico\nconst cleanTime = String(start_time).replace(/[^0-9]/g, '');\nconst idempotency_key = `booking_${provider_id}_${service_id}_${cleanTime}_${body.customer_id || body.chat_id || 'anon'}`;\n\n// Sanitizar string (max 255 chars)\nconst sanitizedKey = idempotency_key.substring(0, 255);\n\n// Construir contexto\nconst ctx = {\n  provider_id,\n  service_id,\n  start_time,\n  end_time: endDate.toISOString(),\n  duration_minutes: duration,\n  user_id: parseInt(body.user_id || 0, 10),\n  customer_id: body.customer_id || null,\n  chat_id: body.chat_id || null,\n  event_title: body.event_title || 'Appointment',\n  idempotency_key: sanitizedKey,\n  _meta: {\n    source: 'WF2_Booking_Orchestrator_v4',\n    version: '4.0.0-internal',\n    timestamp: new Date().toISOString()\n  }\n};\n\nreturn [{ json: { ctx } }];"
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as booking_id, status, gcal_event_id, created_at FROM bookings WHERE idempotency_key = $1::text LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.ctx.idempotency_key }}"
        }
      },
      "name": "Check Idempotency",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [500, 0],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process Idempotency Check\nconst items = $input.all();\nconst ctx = $('Validate Input').first().json.ctx;\n\n// Verificar si hay booking existente\nconst dup = (items.length > 0 && items[0].json.booking_id) ? items[0].json : null;\n\nif (dup) {\n  // Booking ya existe - retornar existente\n  return [{ json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: dup.booking_id,\n      status: dup.status,\n      gcal_event_id: dup.gcal_event_id,\n      is_duplicate: true,\n      message: 'Booking already exists (idempotent retry)'\n    },\n    _meta: ctx._meta\n  }}];\n}\n\n// No es duplicado - continuar con flujo\nreturn [{ json: { ctx, is_duplicate: false } }];"
      },
      "name": "Process Idempotency",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dup",
              "leftValue": "={{ $json.is_duplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "jsCode": "// Acquire Lock v4.0 - Internal DB Lock\nconst ctx = $input.first().json.ctx;\nconst lock_key = `lock_${ctx.provider_id}_${ctx.start_time}`;\nconst owner_token = ctx.idempotency_key;\n\nreturn [{ json: {\n  ctx,\n  lock_key,\n  owner_token,\n  lock_query: `INSERT INTO booking_locks (provider_id, start_time, lock_key, owner_token, expires_at, created_at) \n    VALUES (${ctx.provider_id}, '${ctx.start_time}'::timestamptz, '${lock_key}', '${owner_token}', NOW() + INTERVAL '5 minutes', NOW()) \n    ON CONFLICT (lock_key) DO UPDATE SET expires_at = NOW() + INTERVAL '5 minutes', updated_at = NOW() \n    WHERE booking_locks.expires_at < NOW() \n    RETURNING id, owner_token;`\n}}];"
      },
      "name": "Build Lock Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, -150]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.lock_query }}",
        "options": {}
      },
      "name": "Acquire Lock",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1500, -150],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process Lock Result\nconst items = $input.all();\nconst ctx = $('Build Lock Query').first().json.ctx;\nconst lock_key = $('Build Lock Query').first().json.lock_key;\nconst owner_token = $('Build Lock Query').first().json.owner_token;\n\n// Verificar si se adquirió el lock\nconst lock_acquired = (items.length > 0 && items[0].json.id) ? true : false;\n\nif (!lock_acquired) {\n  // Lock denegado - slot ya está reservado\n  return [{ json: {\n    success: false,\n    error_code: 'LOCK_DENIED',\n    error_message: 'Slot already booked by another user',\n    data: { lock_key },\n    _meta: ctx._meta\n  }}];\n}\n\n// Lock adquirido - continuar\nreturn [{ json: { ctx, lock_key, owner_token, lock_acquired } }];"
      },
      "name": "Process Lock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, -150]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "lock",
              "leftValue": "={{ $json.lock_acquired }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Lock Acquired?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2000, -150]
    },
    {
      "parameters": {
        "jsCode": "// Check Circuit Breaker v4.0 - Internal DB Check\nconst ctx = $input.first().json.ctx;\nconst lock_key = $input.first().json.lock_key;\nconst owner_token = $input.first().json.owner_token;\n\nreturn [{ json: {\n  ctx,\n  lock_key,\n  owner_token,\n  cb_query: `SELECT allowed, failure_count, last_failure_at FROM circuit_breaker WHERE service_id = 'google_calendar' LIMIT 1;`\n}}];"
      },
      "name": "Build CB Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, -250]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.cb_query }}",
        "options": {}
      },
      "name": "Check Circuit Breaker",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2500, -250],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process Circuit Breaker Result\nconst items = $input.all();\nconst ctx = $('Build CB Query').first().json.ctx;\nconst lock_key = $('Build CB Query').first().json.lock_key;\nconst owner_token = $('Build CB Query').first().json.owner_token;\n\n// Verificar estado del circuit breaker\nconst cb_row = (items.length > 0 && items[0].json) ? items[0].json : null;\nconst cb_allowed = cb_row && cb_row.allowed === true;\n\nif (!cb_allowed) {\n  // Circuit breaker abierto - GCal no disponible\n  return [{ json: {\n    success: false,\n    error_code: 'CIRCUIT_BREAKER_OPEN',\n    error_message: 'Google Calendar service is temporarily unavailable',\n    data: { \n      service: 'google_calendar',\n      failure_count: cb_row?.failure_count || 0\n    },\n    _meta: ctx._meta\n  }}];\n}\n\n// Circuit breaker cerrado - continuar\nreturn [{ json: { ctx, lock_key, owner_token, cb_allowed: true } }];"
      },
      "name": "Process Circuit Breaker",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2750, -250]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cb",
              "leftValue": "={{ $json.cb_allowed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "CB Allowed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [3000, -250]
    },
    {
      "parameters": {
        "jsCode": "// Check Availability v4.0 - Internal DB Check\nconst ctx = $input.first().json.ctx;\nconst lock_key = $input.first().json.lock_key;\nconst owner_token = $input.first().json.owner_token;\n\nreturn [{ json: {\n  ctx,\n  lock_key,\n  owner_token,\n  avail_query: `SELECT COUNT(*) as count FROM bookings WHERE provider_id = ${ctx.provider_id} AND service_id = ${ctx.service_id} AND start_time = '${ctx.start_time}'::timestamptz AND status = 'CONFIRMED';`\n}}];"
      },
      "name": "Build Avail Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3250, -350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.avail_query }}",
        "options": {}
      },
      "name": "Check Availability",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [3500, -350],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process Availability Result\nconst items = $input.all();\nconst ctx = $('Build Avail Query').first().json.ctx;\nconst lock_key = $('Build Avail Query').first().json.lock_key;\nconst owner_token = $('Build Avail Query').first().json.owner_token;\n\n// Verificar disponibilidad\nconst avail_row = (items.length > 0 && items[0].json) ? items[0].json : null;\nconst avail_count = parseInt(avail_row?.count || '0', 10);\nconst is_available = avail_count === 0;\n\nif (!is_available) {\n  // No hay disponibilidad - slot ya reservado\n  return [{ json: {\n    success: false,\n    error_code: 'NO_AVAILABILITY',\n    error_message: 'No availability found for requested time slot',\n    data: { \n      provider_id: ctx.provider_id,\n      service_id: ctx.service_id,\n      start_time: ctx.start_time\n    },\n    _meta: ctx._meta\n  }}];\n}\n\n// Hay disponibilidad - continuar\nreturn [{ json: { ctx, lock_key, owner_token, is_available: true } }];"
      },
      "name": "Process Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3750, -350]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "avail",
              "leftValue": "={{ $json.is_available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4000, -350]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "dev.n8n.stax@gmail.com",
          "mode": "list",
          "cachedResultName": "dev.n8n.stax@gmail.com"
        },
        "event": {
          "start": "={{ $json.ctx.start_time }}",
          "end": "={{ $json.ctx.end_time }}",
          "summary": "={{ $json.ctx.event_title }}",
          "description": "={{ `Booking for customer: ${$json.ctx.customer_id || $json.ctx.chat_id}\\nProvider: ${$json.ctx.provider_id}\\nService: ${$json.ctx.service_id}\\nID: ${$json.ctx.idempotency_key}` }}"
        }
      },
      "name": "Create GCal Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [4250, -450],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process GCal Result\nconst items = $input.all();\nconst ctx = $('Create GCal Event').first().json.ctx;\nconst lock_key = $('Create GCal Event').first().json.lock_key;\nconst owner_token = $('Create GCal Event').first().json.owner_token;\n\n// Verificar si se creó el evento GCal\nconst gcal_row = (items.length > 0 && items[0].json) ? items[0].json : null;\nconst gcal_event_id = gcal_row?.id || null;\nconst gcal_success = !!gcal_event_id;\n\nif (!gcal_success) {\n  // Error creando GCal - liberar lock y retornar error\n  return [{ json: {\n    success: false,\n    error_code: 'GCAL_ERROR',\n    error_message: gcal_row?.message || 'Failed to create Google Calendar event',\n    data: { service: 'google_calendar' },\n    _meta: ctx._meta,\n    needs_lock_release: true,\n    lock_key,\n    owner_token\n  }}];\n}\n\n// GCal creado exitosamente - continuar\nreturn [{ json: { ctx, lock_key, owner_token, gcal_event_id, gcal_success: true } }];"
      },
      "name": "Process GCal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4500, -450]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "gcal",
              "leftValue": "={{ $json.gcal_success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "GCal Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4750, -450]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bookings (provider_id, service_id, start_time, end_time, idempotency_key, gcal_event_id, user_id, status, created_at) VALUES ($1::int, $2::int, $3::timestamp, $4::timestamp, $5::text, $6::text, $7::bigint, 'CONFIRMED', NOW()) RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$json.ctx.provider_id, $json.ctx.service_id, $json.ctx.start_time, $json.ctx.end_time, $json.ctx.idempotency_key, $json.gcal_event_id, $json.ctx.user_id] }}"
        }
      },
      "name": "Create Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [5000, -550],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      },
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Process Booking Result\nconst items = $input.all();\nconst ctx = $('Create Booking').first().json.ctx;\nconst lock_key = $('Create Booking').first().json.lock_key;\nconst owner_token = $('Create Booking').first().json.owner_token;\nconst gcal_event_id = $('Create Booking').first().json.gcal_event_id;\n\n// Verificar si se creó el booking\nconst booking_row = (items.length > 0 && items[0].json) ? items[0].json : null;\nconst booking_id = booking_row?.id || null;\nconst booking_success = !!booking_id;\n\nif (!booking_success) {\n  // Error creando booking - necesita rollback de GCal\n  return [{ json: {\n    success: false,\n    error_code: 'DB_ERROR',\n    error_message: 'Failed to create booking in database',\n    data: { \n      gcal_event_id,\n      needs_rollback: true,\n      needs_lock_release: true\n    },\n    _meta: ctx._meta,\n    lock_key,\n    owner_token\n  }}];\n}\n\n// Booking creado exitosamente - continuar\nreturn [{ json: { \n  ctx, \n  lock_key, \n  owner_token, \n  gcal_event_id, \n  booking_id, \n  booking_success: true \n}}];"
      },
      "name": "Process Booking",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5250, -550]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "booking",
              "leftValue": "={{ $json.booking_success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Booking Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [5500, -550]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM booking_locks WHERE lock_key = $1::text;",
        "options": {
          "queryReplacement": "={{ [$json.lock_key] }}"
        }
      },
      "name": "Release Lock Success",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [5750, -550],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Standard Contract Output v4.0 - Booking Success\nconst ctx = $('Process Booking').first().json.ctx;\nconst booking_id = $('Process Booking').first().json.booking_id;\nconst gcal_event_id = $('Process Booking').first().json.gcal_event_id;\n\nreturn [{ json: {\n  success: true,\n  error_code: null,\n  error_message: null,\n  data: {\n    booking_id: booking_id,\n    idempotency_key: ctx.idempotency_key,\n    provider_id: ctx.provider_id,\n    service_id: ctx.service_id,\n    start_time: ctx.start_time,\n    end_time: ctx.end_time,\n    status: 'CONFIRMED',\n    gcal_event_id: gcal_event_id,\n    is_duplicate: false\n  },\n  _meta: {\n    source: 'WF2_Booking_Orchestrator_v4',\n    timestamp: new Date().toISOString(),\n    version: '4.0.0-internal'\n  }\n}}];"
      },
      "name": "Success Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6000, -550]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM booking_locks WHERE lock_key = $1::text;",
        "options": {
          "queryReplacement": "={{ [$json.lock_key] }}"
        }
      },
      "name": "Release Lock Error Path",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [3000, -200],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Error Output Helper v4.0\nconst input = $input.first().json;\nreturn [{ json: {\n  success: input.success || false,\n  error_code: input.error_code || 'UNKNOWN_ERROR',\n  error_message: input.error_message || 'An unexpected error occurred',\n  data: input.data || null,\n  _meta: input._meta || {\n    source: 'WF2_Booking_Orchestrator_v4',\n    timestamp: new Date().toISOString(),\n    version: '4.0.0-internal'\n  }\n}}];"
      },
      "name": "Error Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, -150]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Validate Input", "type": "main", "index": 0}]]
    },
    "Validate Input": {
      "main": [[{"node": "Check Idempotency", "type": "main", "index": 0}]]
    },
    "Check Idempotency": {
      "main": [[{"node": "Process Idempotency", "type": "main", "index": 0}]]
    },
    "Process Idempotency": {
      "main": [[{"node": "Is Duplicate?", "type": "main", "index": 0}]]
    },
    "Is Duplicate?": {
      "main": [
        [[{"node": "Error Output", "type": "main", "index": 0}]],
        [[{"node": "Build Lock Query", "type": "main", "index": 0}]]
      ]
    },
    "Build Lock Query": {
      "main": [[{"node": "Acquire Lock", "type": "main", "index": 0}]]
    },
    "Acquire Lock": {
      "main": [[{"node": "Process Lock", "type": "main", "index": 0}]]
    },
    "Process Lock": {
      "main": [[{"node": "Lock Acquired?", "type": "main", "index": 0}]]
    },
    "Lock Acquired?": {
      "main": [
        [[{"node": "Error Output", "type": "main", "index": 0}]],
        [[{"node": "Build CB Query", "type": "main", "index": 0}]]
      ]
    },
    "Build CB Query": {
      "main": [[{"node": "Check Circuit Breaker", "type": "main", "index": 0}]]
    },
    "Check Circuit Breaker": {
      "main": [[{"node": "Process Circuit Breaker", "type": "main", "index": 0}]]
    },
    "Process Circuit Breaker": {
      "main": [[{"node": "CB Allowed?", "type": "main", "index": 0}]]
    },
    "CB Allowed?": {
      "main": [
        [[{"node": "Error Output", "type": "main", "index": 0}]],
        [[{"node": "Build Avail Query", "type": "main", "index": 0}]]
      ]
    },
    "Build Avail Query": {
      "main": [[{"node": "Check Availability", "type": "main", "index": 0}]]
    },
    "Check Availability": {
      "main": [[{"node": "Process Availability", "type": "main", "index": 0}]]
    },
    "Process Availability": {
      "main": [[{"node": "Is Available?", "type": "main", "index": 0}]]
    },
    "Is Available?": {
      "main": [
        [[{"node": "Error Output", "type": "main", "index": 0}]],
        [[{"node": "Create GCal Event", "type": "main", "index": 0}]]
      ]
    },
    "Create GCal Event": {
      "main": [[{"node": "Process GCal", "type": "main", "index": 0}]]
    },
    "Process GCal": {
      "main": [[{"node": "GCal Success?", "type": "main", "index": 0}]]
    },
    "GCal Success?": {
      "main": [
        [[{"node": "Error Output", "type": "main", "index": 0}]],
        [[{"node": "Create Booking", "type": "main", "index": 0}]]
      ]
    },
    "Create Booking": {
      "main": [[{"node": "Process Booking", "type": "main", "index": 0}]]
    },
    "Process Booking": {
      "main": [[{"node": "Booking Success?", "type": "main", "index": 0}]]
    },
    "Booking Success?": {
      "main": [
        [[{"node": "Error Output", "type": "main", "index": 0}]],
        [[{"node": "Release Lock Success", "type": "main", "index": 0}]]
      ]
    },
    "Release Lock Success": {
      "main": [[{"node": "Success Output", "type": "main", "index": 0}]]
    },
    "Error Output": {
      "main": [[{"node": "Release Lock Error Path", "type": "main", "index": 0}]]
    },
    "Release Lock Error Path": {
      "main": [[]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}
