temp/DB_Get_Availability.json
{
  "updatedAt": "2026-03-06T17:11:36.925Z",
  "createdAt": "2026-03-02T02:19:34.753Z",
  "id": "zdUslfT9C0sTI83H",
  "name": "DB_Get_Availability",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://dal-service:3000/availability",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"provider_id\": {{ $json.provider_id || 1 }},\n  \"service_id\": {{ $json.service_id || 1 }},\n  \"date\": \"{{ $json.date || $now.toISODate() }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Call DAL Proxy",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        500
      ],
      "id": "743f3b84-20ce-4207-a35c-31252ad27050"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db-get-availability-test",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -200,
        400
      ],
      "webhookId": "db-get-availability-test",
      "id": "ca72f78e-3dd2-4061-9657-ebe311b5e5ae"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        400
      ],
      "id": "7bdc5cb1-cc4a-4891-9efd-215a33e40d4f"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"provider_id\": 1, \"service_id\": 1, \"date\": \"2026-03-04\"}"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        600
      ],
      "id": "91c6130d-aa22-40d4-871b-93927a0166d4"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nconst isCacheHit = input.cache_hit === true;\nconst dalResponse = isCacheHit ? input.cache_data : input;\nconst isSuccess = dalResponse.success === true || dalResponse.success === undefined;\n\nreturn [{\n  json: {\n    success: dalResponse.success !== undefined ? dalResponse.success : true,\n    error_code: isSuccess ? null : (dalResponse.error_code || 'DAL_ERROR'),\n    error_message: isSuccess ? null : (dalResponse.error_message || 'Operation failed'),\n    data: dalResponse.data || dalResponse,\n    _meta: {\n      source: 'DB_Get_Availability',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'DB_Get_Availability',\n      version: '1.2.0'\n    }\n  }\n}];"
      },
      "name": "Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ],
      "id": "ebb9930e-2557-476a-8807-69a74825bbf3"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call DAL Proxy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Call DAL Proxy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Call DAL Proxy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call DAL Proxy": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "description": "Obtiene todos los slots disponibles para una fecha específica.",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "global": {
      "1_1_2024-03-07": {
        "timestamp": 1772636133025,
        "data": {
          "success": true,
          "data": {
            "slots": [
              {
                "start_time": "2024-03-07T00:00:00.000Z",
                "display_time": "00:00"
              },
              {
                "start_time": "2024-03-07T00:40:00.000Z",
                "display_time": "00:40"
              },
              {
                "start_time": "2024-03-07T01:20:00.000Z",
                "display_time": "01:20"
              },
              {
                "start_time": "2024-03-07T02:00:00.000Z",
                "display_time": "02:00"
              },
              {
                "start_time": "2024-03-07T02:40:00.000Z",
                "display_time": "02:40"
              },
              {
                "start_time": "2024-03-07T03:20:00.000Z",
                "display_time": "03:20"
              },
              {
                "start_time": "2024-03-07T04:00:00.000Z",
                "display_time": "04:00"
              },
              {
                "start_time": "2024-03-07T04:40:00.000Z",
                "display_time": "04:40"
              },
              {
                "start_time": "2024-03-07T05:20:00.000Z",
                "display_time": "05:20"
              },
              {
                "start_time": "2024-03-07T06:00:00.000Z",
                "display_time": "06:00"
              },
              {
                "start_time": "2024-03-07T06:40:00.000Z",
                "display_time": "06:40"
              },
              {
                "start_time": "2024-03-07T07:20:00.000Z",
                "display_time": "07:20"
              },
              {
                "start_time": "2024-03-07T08:00:00.000Z",
                "display_time": "08:00"
              },
              {
                "start_time": "2024-03-07T08:40:00.000Z",
                "display_time": "08:40"
              },
              {
                "start_time": "2024-03-07T09:20:00.000Z",
                "display_time": "09:20"
              },
              {
                "start_time": "2024-03-07T10:00:00.000Z",
                "display_time": "10:00"
              },
              {
                "start_time": "2024-03-07T10:40:00.000Z",
                "display_time": "10:40"
              },
              {
                "start_time": "2024-03-07T11:20:00.000Z",
                "display_time": "11:20"
              },
              {
                "start_time": "2024-03-07T12:00:00.000Z",
                "display_time": "12:00"
              },
              {
                "start_time": "2024-03-07T12:40:00.000Z",
                "display_time": "12:40"
              },
              {
                "start_time": "2024-03-07T13:20:00.000Z",
                "display_time": "13:20"
              },
              {
                "start_time": "2024-03-07T14:00:00.000Z",
                "display_time": "14:00"
              },
              {
                "start_time": "2024-03-07T14:40:00.000Z",
                "display_time": "14:40"
              },
              {
                "start_time": "2024-03-07T15:20:00.000Z",
                "display_time": "15:20"
              },
              {
                "start_time": "2024-03-07T16:00:00.000Z",
                "display_time": "16:00"
              },
              {
                "start_time": "2024-03-07T16:40:00.000Z",
                "display_time": "16:40"
              },
              {
                "start_time": "2024-03-07T17:20:00.000Z",
                "display_time": "17:20"
              },
              {
                "start_time": "2024-03-07T18:00:00.000Z",
                "display_time": "18:00"
              },
              {
                "start_time": "2024-03-07T18:40:00.000Z",
                "display_time": "18:40"
              },
              {
                "start_time": "2024-03-07T19:20:00.000Z",
                "display_time": "19:20"
              },
              {
                "start_time": "2024-03-07T20:00:00.000Z",
                "display_time": "20:00"
              },
              {
                "start_time": "2024-03-07T20:40:00.000Z",
                "display_time": "20:40"
              },
              {
                "start_time": "2024-03-07T21:20:00.000Z",
                "display_time": "21:20"
              },
              {
                "start_time": "2024-03-07T22:00:00.000Z",
                "display_time": "22:00"
              },
              {
                "start_time": "2024-03-07T22:40:00.000Z",
                "display_time": "22:40"
              },
              {
                "start_time": "2024-03-07T23:20:00.000Z",
                "display_time": "23:20"
              }
            ]
          }
        }
      },
      "1_1_2024-03-05": {
        "timestamp": 1772655447274,
        "data": {
          "success": true,
          "data": {
            "slots": [
              {
                "start_time": "2024-03-05T00:00:00.000Z",
                "display_time": "00:00"
              },
              {
                "start_time": "2024-03-05T00:40:00.000Z",
                "display_time": "00:40"
              },
              {
                "start_time": "2024-03-05T01:20:00.000Z",
                "display_time": "01:20"
              },
              {
                "start_time": "2024-03-05T02:00:00.000Z",
                "display_time": "02:00"
              },
              {
                "start_time": "2024-03-05T02:40:00.000Z",
                "display_time": "02:40"
              },
              {
                "start_time": "2024-03-05T03:20:00.000Z",
                "display_time": "03:20"
              },
              {
                "start_time": "2024-03-05T04:00:00.000Z",
                "display_time": "04:00"
              },
              {
                "start_time": "2024-03-05T04:40:00.000Z",
                "display_time": "04:40"
              },
              {
                "start_time": "2024-03-05T05:20:00.000Z",
                "display_time": "05:20"
              },
              {
                "start_time": "2024-03-05T06:00:00.000Z",
                "display_time": "06:00"
              },
              {
                "start_time": "2024-03-05T06:40:00.000Z",
                "display_time": "06:40"
              },
              {
                "start_time": "2024-03-05T07:20:00.000Z",
                "display_time": "07:20"
              },
              {
                "start_time": "2024-03-05T08:00:00.000Z",
                "display_time": "08:00"
              },
              {
                "start_time": "2024-03-05T08:40:00.000Z",
                "display_time": "08:40"
              },
              {
                "start_time": "2024-03-05T09:20:00.000Z",
                "display_time": "09:20"
              },
              {
                "start_time": "2024-03-05T10:00:00.000Z",
                "display_time": "10:00"
              },
              {
                "start_time": "2024-03-05T10:40:00.000Z",
                "display_time": "10:40"
              },
              {
                "start_time": "2024-03-05T11:20:00.000Z",
                "display_time": "11:20"
              },
              {
                "start_time": "2024-03-05T12:00:00.000Z",
                "display_time": "12:00"
              },
              {
                "start_time": "2024-03-05T12:40:00.000Z",
                "display_time": "12:40"
              },
              {
                "start_time": "2024-03-05T13:20:00.000Z",
                "display_time": "13:20"
              },
              {
                "start_time": "2024-03-05T14:00:00.000Z",
                "display_time": "14:00"
              },
              {
                "start_time": "2024-03-05T14:40:00.000Z",
                "display_time": "14:40"
              },
              {
                "start_time": "2024-03-05T15:20:00.000Z",
                "display_time": "15:20"
              },
              {
                "start_time": "2024-03-05T16:00:00.000Z",
                "display_time": "16:00"
              },
              {
                "start_time": "2024-03-05T16:40:00.000Z",
                "display_time": "16:40"
              },
              {
                "start_time": "2024-03-05T17:20:00.000Z",
                "display_time": "17:20"
              },
              {
                "start_time": "2024-03-05T18:00:00.000Z",
                "display_time": "18:00"
              },
              {
                "start_time": "2024-03-05T18:40:00.000Z",
                "display_time": "18:40"
              },
              {
                "start_time": "2024-03-05T19:20:00.000Z",
                "display_time": "19:20"
              },
              {
                "start_time": "2024-03-05T20:00:00.000Z",
                "display_time": "20:00"
              },
              {
                "start_time": "2024-03-05T20:40:00.000Z",
                "display_time": "20:40"
              },
              {
                "start_time": "2024-03-05T21:20:00.000Z",
                "display_time": "21:20"
              },
              {
                "start_time": "2024-03-05T22:00:00.000Z",
                "display_time": "22:00"
              },
              {
                "start_time": "2024-03-05T22:40:00.000Z",
                "display_time": "22:40"
              },
              {
                "start_time": "2024-03-05T23:20:00.000Z",
                "display_time": "23:20"
              }
            ]
          }
        }
      },
      "1_1_2026-03-05": {
        "timestamp": 1772716587790,
        "data": {
          "success": true,
          "data": {
            "slots": [
              {
                "start_time": "2026-03-05T00:00:00.000Z",
                "display_time": "00:00"
              },
              {
                "start_time": "2026-03-05T00:40:00.000Z",
                "display_time": "00:40"
              },
              {
                "start_time": "2026-03-05T01:20:00.000Z",
                "display_time": "01:20"
              },
              {
                "start_time": "2026-03-05T02:00:00.000Z",
                "display_time": "02:00"
              },
              {
                "start_time": "2026-03-05T02:40:00.000Z",
                "display_time": "02:40"
              },
              {
                "start_time": "2026-03-05T03:20:00.000Z",
                "display_time": "03:20"
              },
              {
                "start_time": "2026-03-05T04:00:00.000Z",
                "display_time": "04:00"
              },
              {
                "start_time": "2026-03-05T04:40:00.000Z",
                "display_time": "04:40"
              },
              {
                "start_time": "2026-03-05T05:20:00.000Z",
                "display_time": "05:20"
              },
              {
                "start_time": "2026-03-05T06:00:00.000Z",
                "display_time": "06:00"
              },
              {
                "start_time": "2026-03-05T06:40:00.000Z",
                "display_time": "06:40"
              },
              {
                "start_time": "2026-03-05T07:20:00.000Z",
                "display_time": "07:20"
              },
              {
                "start_time": "2026-03-05T08:00:00.000Z",
                "display_time": "08:00"
              },
              {
                "start_time": "2026-03-05T08:40:00.000Z",
                "display_time": "08:40"
              },
              {
                "start_time": "2026-03-05T09:20:00.000Z",
                "display_time": "09:20"
              },
              {
                "start_time": "2026-03-05T10:00:00.000Z",
                "display_time": "10:00"
              },
              {
                "start_time": "2026-03-05T10:40:00.000Z",
                "display_time": "10:40"
              },
              {
                "start_time": "2026-03-05T11:20:00.000Z",
                "display_time": "11:20"
              },
              {
                "start_time": "2026-03-05T12:00:00.000Z",
                "display_time": "12:00"
              },
              {
                "start_time": "2026-03-05T12:40:00.000Z",
                "display_time": "12:40"
              },
              {
                "start_time": "2026-03-05T13:20:00.000Z",
                "display_time": "13:20"
              },
              {
                "start_time": "2026-03-05T14:00:00.000Z",
                "display_time": "14:00"
              },
              {
                "start_time": "2026-03-05T14:40:00.000Z",
                "display_time": "14:40"
              },
              {
                "start_time": "2026-03-05T15:20:00.000Z",
                "display_time": "15:20"
              },
              {
                "start_time": "2026-03-05T16:00:00.000Z",
                "display_time": "16:00"
              },
              {
                "start_time": "2026-03-05T16:40:00.000Z",
                "display_time": "16:40"
              },
              {
                "start_time": "2026-03-05T17:20:00.000Z",
                "display_time": "17:20"
              },
              {
                "start_time": "2026-03-05T18:00:00.000Z",
                "display_time": "18:00"
              },
              {
                "start_time": "2026-03-05T18:40:00.000Z",
                "display_time": "18:40"
              },
              {
                "start_time": "2026-03-05T19:20:00.000Z",
                "display_time": "19:20"
              },
              {
                "start_time": "2026-03-05T20:00:00.000Z",
                "display_time": "20:00"
              },
              {
                "start_time": "2026-03-05T20:40:00.000Z",
                "display_time": "20:40"
              },
              {
                "start_time": "2026-03-05T21:20:00.000Z",
                "display_time": "21:20"
              },
              {
                "start_time": "2026-03-05T22:00:00.000Z",
                "display_time": "22:00"
              },
              {
                "start_time": "2026-03-05T22:40:00.000Z",
                "display_time": "22:40"
              },
              {
                "start_time": "2026-03-05T23:20:00.000Z",
                "display_time": "23:20"
              }
            ]
          }
        }
      },
      "1_1_2025-01-01": {
        "timestamp": 1772756178893,
        "data": {
          "success": true,
          "data": {
            "slots": []
          }
        }
      },
      "1_1_2026-03-06": {
        "timestamp": 1772646482909,
        "data": {
          "success": true,
          "data": {
            "slots": [
              {
                "start_time": "2026-03-06T00:00:00.000Z",
                "display_time": "00:00"
              },
              {
                "start_time": "2026-03-06T00:40:00.000Z",
                "display_time": "00:40"
              },
              {
                "start_time": "2026-03-06T01:20:00.000Z",
                "display_time": "01:20"
              },
              {
                "start_time": "2026-03-06T02:00:00.000Z",
                "display_time": "02:00"
              },
              {
                "start_time": "2026-03-06T02:40:00.000Z",
                "display_time": "02:40"
              },
              {
                "start_time": "2026-03-06T03:20:00.000Z",
                "display_time": "03:20"
              },
              {
                "start_time": "2026-03-06T04:00:00.000Z",
                "display_time": "04:00"
              },
              {
                "start_time": "2026-03-06T04:40:00.000Z",
                "display_time": "04:40"
              },
              {
                "start_time": "2026-03-06T05:20:00.000Z",
                "display_time": "05:20"
              },
              {
                "start_time": "2026-03-06T06:00:00.000Z",
                "display_time": "06:00"
              },
              {
                "start_time": "2026-03-06T06:40:00.000Z",
                "display_time": "06:40"
              },
              {
                "start_time": "2026-03-06T07:20:00.000Z",
                "display_time": "07:20"
              },
              {
                "start_time": "2026-03-06T08:00:00.000Z",
                "display_time": "08:00"
              },
              {
                "start_time": "2026-03-06T08:40:00.000Z",
                "display_time": "08:40"
              },
              {
                "start_time": "2026-03-06T09:20:00.000Z",
                "display_time": "09:20"
              },
              {
                "start_time": "2026-03-06T10:00:00.000Z",
                "display_time": "10:00"
              },
              {
                "start_time": "2026-03-06T10:40:00.000Z",
                "display_time": "10:40"
              },
              {
                "start_time": "2026-03-06T11:20:00.000Z",
                "display_time": "11:20"
              },
              {
                "start_time": "2026-03-06T12:00:00.000Z",
                "display_time": "12:00"
              },
              {
                "start_time": "2026-03-06T12:40:00.000Z",
                "display_time": "12:40"
              },
              {
                "start_time": "2026-03-06T13:20:00.000Z",
                "display_time": "13:20"
              },
              {
                "start_time": "2026-03-06T14:00:00.000Z",
                "display_time": "14:00"
              },
              {
                "start_time": "2026-03-06T14:40:00.000Z",
                "display_time": "14:40"
              },
              {
                "start_time": "2026-03-06T15:20:00.000Z",
                "display_time": "15:20"
              },
              {
                "start_time": "2026-03-06T16:00:00.000Z",
                "display_time": "16:00"
              },
              {
                "start_time": "2026-03-06T16:40:00.000Z",
                "display_time": "16:40"
              },
              {
                "start_time": "2026-03-06T17:20:00.000Z",
                "display_time": "17:20"
              },
              {
                "start_time": "2026-03-06T18:00:00.000Z",
                "display_time": "18:00"
              },
              {
                "start_time": "2026-03-06T18:40:00.000Z",
                "display_time": "18:40"
              },
              {
                "start_time": "2026-03-06T19:20:00.000Z",
                "display_time": "19:20"
              },
              {
                "start_time": "2026-03-06T20:00:00.000Z",
                "display_time": "20:00"
              },
              {
                "start_time": "2026-03-06T20:40:00.000Z",
                "display_time": "20:40"
              },
              {
                "start_time": "2026-03-06T21:20:00.000Z",
                "display_time": "21:20"
              },
              {
                "start_time": "2026-03-06T22:00:00.000Z",
                "display_time": "22:00"
              },
              {
                "start_time": "2026-03-06T22:40:00.000Z",
                "display_time": "22:40"
              },
              {
                "start_time": "2026-03-06T23:20:00.000Z",
                "display_time": "23:20"
              }
            ]
          }
        }
      },
      "2_2_2024-03-05": {
        "timestamp": 1772657216549,
        "data": {
          "success": true,
          "data": {
            "slots": []
          }
        }
      },
      "1_1_2024-03-16": {
        "timestamp": 1772714240532,
        "data": {
          "success": true,
          "data": {
            "slots": []
          }
        }
      },
      "1_1_2024-03-17": {
        "timestamp": 1772714654646,
        "data": {
          "success": true,
          "data": {
            "slots": []
          }
        }
      },
      "1_1_2026-03-04": {
        "timestamp": 1772756152940,
        "data": {
          "success": true,
          "data": {
            "slots": []
          }
        }
      },
      "1_1_2026-03-07": {
        "timestamp": 1772756178288,
        "data": {
          "success": true,
          "data": {
            "slots": []
          }
        }
      }
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "71af601f-948e-490b-9bf3-5ec655308598",
  "activeVersionId": "71af601f-948e-490b-9bf3-5ec655308598",
  "versionCounter": 113,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T02:19:34.753Z",
      "createdAt": "2026-03-02T02:19:34.753Z",
      "role": "workflow:owner",
      "workflowId": "zdUslfT9C0sTI83H",
      "projectId": "1q616I3NzJFEiwV5",
      "project": {
        "updatedAt": "2026-03-02T02:24:01.899Z",
        "createdAt": "2026-03-02T00:39:33.634Z",
        "id": "1q616I3NzJFEiwV5",
        "name": "Roger Gallegos <baba.orere@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-06T17:11:36.926Z",
    "createdAt": "2026-03-06T17:11:36.926Z",
    "versionId": "71af601f-948e-490b-9bf3-5ec655308598",
    "workflowId": "zdUslfT9C0sTI83H",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "http://dal-service:3000/availability",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"provider_id\": {{ $json.provider_id || 1 }},\n  \"service_id\": {{ $json.service_id || 1 }},\n  \"date\": \"{{ $json.date || $now.toISODate() }}\"\n}",
          "options": {
            "timeout": 15000
          }
        },
        "name": "Call DAL Proxy",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          500,
          500
        ],
        "id": "743f3b84-20ce-4207-a35c-31252ad27050"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "db-get-availability-test",
          "responseMode": "lastNode"
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -200,
          400
        ],
        "webhookId": "db-get-availability-test",
        "id": "ca72f78e-3dd2-4061-9657-ebe311b5e5ae"
      },
      {
        "parameters": {},
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -200,
          400
        ],
        "id": "7bdc5cb1-cc4a-4891-9efd-215a33e40d4f"
      },
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\"provider_id\": 1, \"service_id\": 1, \"date\": \"2026-03-04\"}"
        },
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -200,
          600
        ],
        "id": "91c6130d-aa22-40d4-871b-93927a0166d4"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first()?.json || {};\nconst isCacheHit = input.cache_hit === true;\nconst dalResponse = isCacheHit ? input.cache_data : input;\nconst isSuccess = dalResponse.success === true || dalResponse.success === undefined;\n\nreturn [{\n  json: {\n    success: dalResponse.success !== undefined ? dalResponse.success : true,\n    error_code: isSuccess ? null : (dalResponse.error_code || 'DAL_ERROR'),\n    error_message: isSuccess ? null : (dalResponse.error_message || 'Operation failed'),\n    data: dalResponse.data || dalResponse,\n    _meta: {\n      source: 'DB_Get_Availability',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'DB_Get_Availability',\n      version: '1.2.0'\n    }\n  }\n}];"
        },
        "name": "Final Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          900,
          400
        ],
        "id": "ebb9930e-2557-476a-8807-69a74825bbf3"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Call DAL Proxy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Call DAL Proxy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Call DAL Proxy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call DAL Proxy": {
        "main": [
          [
            {
              "node": "Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Roger Gallegos",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-06T17:11:37.617Z",
        "id": 427,
        "workflowId": "zdUslfT9C0sTI83H",
        "versionId": "71af601f-948e-490b-9bf3-5ec655308598",
        "event": "activated",
        "userId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      }
    ]
  }
}