temp/DB_Reschedule_Booking.json
{
  "updatedAt": "2026-03-03T19:35:20.723Z",
  "createdAt": "2026-03-02T20:21:00.621Z",
  "id": "F2F5oQ7okPDKwg9E",
  "name": "DB_Reschedule_Booking",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        432
      ],
      "id": "045b7392-f1cd-487b-a631-ed380cb44a32"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db-reschedule-booking",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -200,
        632
      ],
      "webhookId": "db-reschedule-booking",
      "id": "01f5118a-4f93-4691-9a38-7b0a84dbef8d"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        232
      ],
      "id": "82523581-0e7e-4a99-8f0b-0f5b015aaff0"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json.body || $input.first().json;\n\n// VRF — GUARD + VALIDATE\nconst isValidUUID = (v) => /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(v);\nconst bookingId = input.old_booking_id || input.booking_id;\n\nif (!bookingId || !isValidUUID(bookingId)) {\n  throw new Error('Invalid or missing booking_id (UUID required)');\n}\nif (!input.new_start_time) {\n  throw new Error('Missing required field: new_start_time');\n}\n\nreturn [{\n  json: {\n    chat_id: parseInt(input.chat_id) || null,\n    booking_id: bookingId,\n    old_booking_id: bookingId,\n    new_start_time: input.new_start_time,\n    provider_id: parseInt(input.provider_id) || 1,\n    service_id: parseInt(input.service_id) || 1,\n    user_email: input.user_email || '',\n    user_name: input.user_name || 'Paciente'\n  }\n}];"
      },
      "name": "Build Secure JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        50,
        432
      ],
      "id": "a73cdab7-d391-409c-80ad-a5450c90f1b5"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "mf4qnUG7UlrAKpQU",
          "mode": "id"
        },
        "mode": "wait",
        "inputData": "={{ $json }}",
        "options": {}
      },
      "name": "Step 1: Cancel Old",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        300,
        432
      ],
      "id": "00a11762-fa76-4dc6-bff2-de484002fec8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ilA6a6sM5CvDsSBi",
          "mode": "id"
        },
        "mode": "wait",
        "inputData": "={\n  \"chat_id\": {{ $node[\"Build Secure JSON\"].json.chat_id }},\n  \"start_time\": \"{{ $node[\"Build Secure JSON\"].json.new_start_time }}\",\n  \"provider_id\": {{ $node[\"Build Secure JSON\"].json.provider_id }},\n  \"service_id\": {{ $node[\"Build Secure JSON\"].json.service_id }},\n  \"user_email\": \"{{ $node[\"Build Secure JSON\"].json.user_email }}\",\n  \"user_name\": \"{{ $node[\"Build Secure JSON\"].json.user_name }}\"\n}",
        "options": {}
      },
      "name": "Step 2: Create New",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        550,
        432
      ],
      "id": "922e30dc-a5bd-462a-9c35-b277fe60aa59"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      old_booking_id: $node[\"Build Secure JSON\"]?.json?.old_booking_id || $node[\"Build Secure JSON\"]?.json?.booking_id,\n      new_booking_id: $node[\"Step 2: Create New\"]?.json?.data?.booking_id || $node[\"Step 2: Create New\"]?.json?.booking_id || null\n    },\n    _meta: { source: \"DB_Reschedule_Booking\", timestamp: new Date().toISOString() }\n  }\n}];"
      },
      "name": "Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        432
      ],
      "id": "fb3e5f4b-6308-4e01-84d1-869f18edd31b"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Secure JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Secure JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Secure JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Secure JSON": {
      "main": [
        [
          {
            "node": "Step 1: Cancel Old",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1: Cancel Old": {
      "main": [
        [
          {
            "node": "Step 2: Create New",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2: Create New": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "346e4954-5594-4d5d-9152-b88cded49b90",
  "activeVersionId": "346e4954-5594-4d5d-9152-b88cded49b90",
  "versionCounter": 54,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T20:21:00.621Z",
      "createdAt": "2026-03-02T20:21:00.621Z",
      "role": "workflow:owner",
      "workflowId": "F2F5oQ7okPDKwg9E",
      "projectId": "1q616I3NzJFEiwV5",
      "project": {
        "updatedAt": "2026-03-02T02:24:01.899Z",
        "createdAt": "2026-03-02T00:39:33.634Z",
        "id": "1q616I3NzJFEiwV5",
        "name": "Roger Gallegos <baba.orere@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-03T19:35:20.725Z",
    "createdAt": "2026-03-03T19:35:20.725Z",
    "versionId": "346e4954-5594-4d5d-9152-b88cded49b90",
    "workflowId": "F2F5oQ7okPDKwg9E",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -200,
          432
        ],
        "id": "045b7392-f1cd-487b-a631-ed380cb44a32"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "db-reschedule-booking",
          "responseMode": "lastNode",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -200,
          632
        ],
        "webhookId": "db-reschedule-booking",
        "id": "01f5118a-4f93-4691-9a38-7b0a84dbef8d"
      },
      {
        "parameters": {},
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -200,
          232
        ],
        "id": "82523581-0e7e-4a99-8f0b-0f5b015aaff0"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json.body || $input.first().json;\n\n// VRF — GUARD + VALIDATE\nconst isValidUUID = (v) => /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i.test(v);\nconst bookingId = input.old_booking_id || input.booking_id;\n\nif (!bookingId || !isValidUUID(bookingId)) {\n  throw new Error('Invalid or missing booking_id (UUID required)');\n}\nif (!input.new_start_time) {\n  throw new Error('Missing required field: new_start_time');\n}\n\nreturn [{\n  json: {\n    chat_id: parseInt(input.chat_id) || null,\n    booking_id: bookingId,\n    old_booking_id: bookingId,\n    new_start_time: input.new_start_time,\n    provider_id: parseInt(input.provider_id) || 1,\n    service_id: parseInt(input.service_id) || 1,\n    user_email: input.user_email || '',\n    user_name: input.user_name || 'Paciente'\n  }\n}];"
        },
        "name": "Build Secure JSON",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          50,
          432
        ],
        "id": "a73cdab7-d391-409c-80ad-a5450c90f1b5"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "mf4qnUG7UlrAKpQU",
            "mode": "id"
          },
          "mode": "wait",
          "inputData": "={{ $json }}",
          "options": {}
        },
        "name": "Step 1: Cancel Old",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          300,
          432
        ],
        "id": "00a11762-fa76-4dc6-bff2-de484002fec8"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "ilA6a6sM5CvDsSBi",
            "mode": "id"
          },
          "mode": "wait",
          "inputData": "={\n  \"chat_id\": {{ $node[\"Build Secure JSON\"].json.chat_id }},\n  \"start_time\": \"{{ $node[\"Build Secure JSON\"].json.new_start_time }}\",\n  \"provider_id\": {{ $node[\"Build Secure JSON\"].json.provider_id }},\n  \"service_id\": {{ $node[\"Build Secure JSON\"].json.service_id }},\n  \"user_email\": \"{{ $node[\"Build Secure JSON\"].json.user_email }}\",\n  \"user_name\": \"{{ $node[\"Build Secure JSON\"].json.user_name }}\"\n}",
          "options": {}
        },
        "name": "Step 2: Create New",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          550,
          432
        ],
        "id": "922e30dc-a5bd-462a-9c35-b277fe60aa59"
      },
      {
        "parameters": {
          "jsCode": "return [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      old_booking_id: $node[\"Build Secure JSON\"]?.json?.old_booking_id || $node[\"Build Secure JSON\"]?.json?.booking_id,\n      new_booking_id: $node[\"Step 2: Create New\"]?.json?.data?.booking_id || $node[\"Step 2: Create New\"]?.json?.booking_id || null\n    },\n    _meta: { source: \"DB_Reschedule_Booking\", timestamp: new Date().toISOString() }\n  }\n}];"
        },
        "name": "Final Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          432
        ],
        "id": "fb3e5f4b-6308-4e01-84d1-869f18edd31b"
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Build Secure JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Build Secure JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Build Secure JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Secure JSON": {
        "main": [
          [
            {
              "node": "Step 1: Cancel Old",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 1: Cancel Old": {
        "main": [
          [
            {
              "node": "Step 2: Create New",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Step 2: Create New": {
        "main": [
          [
            {
              "node": "Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Roger Gallegos",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-03T19:35:21.362Z",
        "id": 246,
        "workflowId": "F2F5oQ7okPDKwg9E",
        "versionId": "346e4954-5594-4d5d-9152-b88cded49b90",
        "event": "activated",
        "userId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      }
    ]
  }
}