temp/server_wf.json
{"updatedAt":"2026-03-22T23:41:24.205Z","createdAt":"2026-03-18T23:52:59.919Z","id":"0pqnF4CQSGJMp7br","name":"DB_Create_Booking","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,208],"id":"fb830c11-3e0d-49ab-9d0c-57cac8a968c6"},{"parameters":{"httpMethod":"POST","path":"db-create-booking","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,400],"webhookId":"db-create-booking","id":"88d22bdb-2a15-4295-8bfe-a37c3a90c06b"},{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"c301431d-67a9-4f1c-9f5f-12e3fc4efe02"},{"parameters":{"jsCode":"// LAYER 1+2: Extract & Validate (§4.1 PRE-validate)\n// Zero-throw: returns Standard Contract error, never throws\n\nconst raw = $input.first().json;\nconst input = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\n\nfunction isPositiveInt(str) { const n = Number(str); return Number.isInteger(n) && n > 0 && String(n) === String(str).trim(); }\nfunction isNonNegativeInt(str) { const n = Number(str); return Number.isInteger(n) && n >= 0 && String(n) === String(str).trim(); }\nfunction isSafeStr(str) { if (!str || str.length > 255) return false; for(let i=0; i<str.length; i++) { const c = str[i]; if (c === \"'\" || c === '\"' || c === \";\" || c === '\\\\') return false; } return true; }\n\n// STRICT ISO 8601 with timezone validation\nfunction isIsoDate(str) {\n  // Must have T and timezone (Z or ±HH:MM)\n  if (!str || !str.includes('T')) return false;\n  const tzMatch = str.match(/(Z|[+-]\\d{2}:\\d{2})$/);\n  if (!tzMatch) return false;\n  \n  const d = new Date(str);\n  if (isNaN(d.getTime())) return false;\n  \n  // Verify date components match (catches Feb 30 → Mar 02 normalization)\n  const parts = str.match(/^(\\d{4})-(\\d{2})-(\\d{2})T/);\n  if (!parts) return false;\n  const [_, year, month, day] = parts;\n  if (parseInt(month) !== d.getUTCMonth() + 1) return false;\n  if (parseInt(day) !== d.getUTCDate()) return false;\n  \n  return true;\n}\n\nfunction ve(code, msg) {\n  return [{ json: {\n    ...raw,\n    success: false, error_code: code, error_message: msg, data: null,\n    _meta: { source: 'DB_Create_Booking', timestamp: new Date().toISOString(), workflow_id: $workflow.id },\n    _exit_early: true\n  }}];\n}\n\nconst idempotency_key = String(input.idempotency_key || '').trim();\nif (!idempotency_key) return ve('MISSING_FIELD', 'idempotency_key is required');\nif (!isSafeStr(idempotency_key)) return ve('INVALID_INPUT', 'idempotency_key contains invalid characters or exceeds 255 chars');\n\nconst pidStr = String(input.provider_id ?? '').trim();\nif (!pidStr || !isPositiveInt(pidStr)) return ve('INVALID_TYPE', 'provider_id must be a positive integer');\nconst provider_id = parseInt(pidStr);\nif (provider_id < 1) return ve('INVALID_TYPE', 'provider_id must be >= 1');\n\nconst sidStr = String(input.service_id ?? '').trim();\nif (!sidStr || !isPositiveInt(sidStr)) return ve('INVALID_TYPE', 'service_id must be a positive integer');\nconst service_id = parseInt(sidStr);\nif (service_id < 1) return ve('INVALID_TYPE', 'service_id must be >= 1');\n\nconst start_time = String(input.start_time || '').trim();\nif (!start_time) return ve('MISSING_FIELD', 'start_time is required');\nif (!isIsoDate(start_time)) return ve('INVALID_TYPE', 'start_time must be ISO 8601 with timezone (e.g. 2026-04-15T09:00:00-03:00)');\nconst startDate = new Date(start_time);\nif (isNaN(startDate.getTime())) return ve('INVALID_DATE', 'start_time is not a valid date');\n\nlet end_time = start_time;\nif (input.end_time !== undefined && input.end_time !== null) {\n  end_time = String(input.end_time).trim();\n  if (!isIsoDate(end_time)) return ve('INVALID_TYPE', 'end_time must be ISO 8601 with timezone');\n  const endDate = new Date(end_time);\n  if (isNaN(endDate.getTime())) return ve('INVALID_DATE', 'end_time is not a valid date');\n  if (endDate <= startDate) return ve('INVALID_RANGE', 'end_time must be after start_time');\n}\n\nlet chat_id = null;\nif (input.chat_id !== undefined && input.chat_id !== null) {\n  const cidStr = String(input.chat_id).trim();\n  if (!isNonNegativeInt(cidStr)) return ve('INVALID_TYPE', 'chat_id must be a non-negative integer');\n  chat_id = parseInt(cidStr);\n}\n\nlet gcal_event_id = null;\nif (input.gcal_event_id !== undefined && input.gcal_event_id !== null) {\n  gcal_event_id = String(input.gcal_event_id).trim();\n  if (!isSafeStr(gcal_event_id)) return ve('INVALID_INPUT', 'gcal_event_id contains invalid chars or exceeds 255 chars');\n}\n\nlet status = 'CONFIRMED';\nif (input.status !== undefined && input.status !== null) {\n  status = String(input.status).toUpperCase().trim();\n  const VALID = ['CONFIRMED', 'CANCELLED', 'RESCHEDULED', 'COMPLETED', 'NO_SHOW'];\n  if (!VALID.includes(status)) return ve('INVALID_TYPE', 'status must be one of: ' + VALID.join(', '));\n}\n\nreturn [{ json: {\n  ...raw,\n  success: true, idempotency_key, provider_id, service_id,\n  start_time, end_time, chat_id, gcal_event_id, status, _validated: true\n}}];","mode":"runOnceForAllItems"},"name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[256,304],"id":"3d312e1f-9e46-490a-8003-213287922d7b"},{"parameters":{"jsCode":"// Gate: _exit_early items get harmless query\n// Valid items: build idempotency check (§3.3 Layer 3)\nconst input = $input.first().json;\n\nif (input._exit_early) {\n  return [{ json: { ...input, idempotency_check_query: \"SELECT NULL AS id, NULL AS status WHERE FALSE;\" } }];\n}\n\nconst esc = (v) => v.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, 255);\nconst check_query = `SELECT id, status FROM bookings WHERE idempotency_key = '${esc(input.idempotency_key)}'::text LIMIT 1;`;\n\nreturn [{ json: { ...input, idempotency_check_query: check_query } }];","mode":"runOnceForAllItems"},"name":"Build Idempotency Check Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,304],"id":"e182cfeb-d2ca-4fee-a547-2a27349f6524"},{"parameters":{"operation":"executeQuery","query":"={{ $json.idempotency_check_query }}","options":{}},"name":"Check Idempotency","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,304],"alwaysOutputData":true,"credentials":{"postgres":{"id":"5LzvCP9BsQwCi9Z0","name":"Postgres account"}},"onError":"continueErrorOutput","id":"51541479-dd69-41af-bedf-f44e97951758"},{"parameters":{"jsCode":"// Handle DB error during idempotency check\nconst e = $input.first().json;\nconst upstreamData = $('Build Idempotency Check Query').isExecuted ? $('Build Idempotency Check Query').first().json : {};\nlet error_code = 'IDEMPOTENCY_CHECK_FAILED';\nlet error_message = e.message || e.error?.message || 'Failed to check idempotency';\n\nif (error_message.includes('connection') || error_message.includes('ECONNREFUSED')) {\n  error_code = 'DB_CONNECTION_ERROR';\n  error_message = 'Database connection failed during idempotency check';\n} else if (error_message.includes('timeout') || error_message.includes('ETIMEDOUT')) {\n  error_code = 'DB_TIMEOUT';\n  error_message = 'Database timeout during idempotency check';\n} else if (error_message.includes('authentication')) {\n  error_code = 'DB_AUTH_ERROR';\n}\n\nreturn [{ json: {\n  ...upstreamData,\n  success: false, error_code, error_message, data: null,\n  _meta: { source: 'DB_Create_Booking', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n}}];","mode":"runOnceForAllItems"},"name":"Handle Idempotency Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,520],"id":"599a3258-ca84-41db-a876-87a96b4eddc9"},{"parameters":{"jsCode":"const pgResult = $input.first().json;\nconst upstreamData = $('Build Idempotency Check Query').isExecuted\n  ? $('Build Idempotency Check Query').first().json\n  : null;\n\nif (upstreamData && upstreamData._exit_early) {\n  return [{ json: { ...upstreamData, _route: 'error' } }];\n}\n\nconst originalData = upstreamData && upstreamData._validated ? upstreamData : null;\nif (!originalData) {\n  return [{ json: {\n    success: false, error_code: 'PIPELINE_ERROR',\n    error_message: 'Validated data lost in Route By Idempotency',\n    data: null, _route: 'error',\n    _meta: { source: 'DB_Create_Booking', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n  }}];\n}\n\nconst hasExisting = pgResult && pgResult.id !== undefined && pgResult.id !== null;\nif (hasExisting) {\n  return [{ json: {\n    success: true, error_code: null, error_message: null,\n    data: { booking_id: pgResult.id, status: pgResult.status || 'CONFIRMED', is_duplicate: true },\n    _meta: { source: 'DB_Create_Booking', timestamp: new Date().toISOString(), workflow_id: $workflow.id },\n    _route: 'existing'\n  }}];\n}\n\nreturn [{ json: { ...originalData, _route: 'new' } }];","mode":"runOnceForAllItems"},"name":"Route By Idempotency","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,304],"id":"660dcabc-5469-4d75-8bde-4ad788aa3911"},{"parameters":{"jsCode":"// GATE: Only build query for _route === 'new'\nconst input = $input.first().json;\nconst { provider_id, service_id, start_time, end_time, idempotency_key, gcal_event_id, chat_id, status } = input;\nconst esc = (v) => v.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, 255);\n\nconst insert_query = `INSERT INTO bookings (\n  provider_id, service_id, start_time, end_time,\n  idempotency_key, gcal_event_id, user_id, status, created_at\n) VALUES (\n  ${Number(provider_id)}::int,\n  ${Number(service_id)}::int,\n  '${esc(start_time)}'::timestamptz,\n  '${esc(end_time)}'::timestamptz,\n  '${esc(idempotency_key)}'::text,\n  ${gcal_event_id ? `'${esc(gcal_event_id)}'::text` : 'NULL'},\n  ${chat_id !== null ? `${Number(chat_id)}::bigint` : 'NULL'},\n  '${esc(status)}'::text,\n  NOW()\n) RETURNING id, status;`;\n\nreturn [{ json: { ...input, insert_query } }];","mode":"runOnceForAllItems"},"name":"Build Insert Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,304],"id":"dd98c518-f66b-4b59-b2f7-fac9f919e6e9"},{"parameters":{"mode":"runOnceForAllItems","jsCode":"const input = $input.first().json;\nreturn [{ json: input }];"},"name":"Pass Through Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,520],"id":"888eb32e-f4e3-4d2f-aad1-0caf49f5bfcb"},{"parameters":{"operation":"executeQuery","query":"={{ $json.insert_query }}","options":{}},"name":"Execute Insert","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1320,304],"alwaysOutputData":true,"credentials":{"postgres":{"id":"5LzvCP9BsQwCi9Z0","name":"Postgres account"}},"onError":"continueErrorOutput","id":"7deb73f4-245e-4d21-84f1-a28fd358a1e4"},{"parameters":{"jsCode":"// Format success — new booking created\nconst result = $input.first().json;\nconst upstreamData = $('Build Insert Query').isExecuted ? $('Build Insert Query').first().json : {};\nconst booking_id = result.id || null;\n\nif (!booking_id) {\n  return [{ json: {\n    ...upstreamData,\n    success: false, error_code: 'DB_ERROR',\n    error_message: 'INSERT succeeded but no booking_id returned',\n    data: null,\n    _meta: { source: 'DB_Create_Booking', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n  }}];\n}\n\nreturn [{ json: {\n  ...upstreamData,\n  success: true, error_code: null, error_message: null,\n  data: { booking_id, status: result.status || 'CONFIRMED', is_duplicate: false },\n  _meta: { source: 'DB_Create_Booking', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n}}];","mode":"runOnceForAllItems"},"name":"Format Success Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,208],"id":"bcbaa2d9-344f-4fda-8a79-d970809370a5"},{"parameters":{"jsCode":"// Handle INSERT error — categorize\nconst e = $input.first().json;\nconst upstreamData = $('Build Insert Query').isExecuted ? $('Build Insert Query').first().json : {};\nlet error_code = 'DB_INSERT_ERROR';\nlet error_message = e.message || e.error?.message || 'Failed to create booking';\n\nif (error_message.includes('violates foreign key')) {\n  error_code = 'FK_VIOLATION';\n  if (error_message.includes('provider')) error_message = 'Invalid provider_id: provider does not exist';\n  else if (error_message.includes('service')) error_message = 'Invalid service_id: service does not exist';\n  else error_message = 'Foreign key constraint violation';\n} else if (error_message.includes('idempotency_key') && (error_message.includes('already exists') || error_message.includes('duplicate key'))) {\n  error_code = 'DUPLICATE_IDEMPOTENCY_KEY';\n  error_message = 'Booking with this idempotency_key already exists (race condition)';\n} else if (error_message.includes('connection') || error_message.includes('ECONNREFUSED')) {\n  error_code = 'DB_CONNECTION_ERROR';\n} else if (error_message.includes('timeout') || error_message.includes('ETIMEDOUT')) {\n  error_code = 'DB_TIMEOUT';\n}\n\nreturn [{ json: {\n  ...upstreamData,\n  success: false, error_code, error_message, data: null,\n  _meta: { source: 'DB_Create_Booking', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n}}];","mode":"runOnceForAllItems"},"name":"Handle Insert Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,520],"id":"c60c7c9b-7b88-42bc-8293-57e361201a0e"},{"parameters":{"jsCode":"const items = $input.all();\nif (!items || items.length === 0) return [{ json: { success: false, error_code: 'EMPTY_RESULT', error_message: 'Expected items but got none' } }];\nconst input = items[0].json;\nreturn [{ json: {\n  success: input.success === true,\n  error_code: input.error_code || null,\n  error_message: input.error_message || null,\n  data: input.data || null,\n  _meta: input._meta || {\n    source: 'DB_Create_Booking', timestamp: new Date().toISOString(), workflow_id: $workflow.id\n  }\n}}];","mode":"runOnceForAllItems"},"name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,400],"id":"62f4cbb9-38fc-4639-94e4-583403f6c668"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is_new","leftValue":"={{ $json._route }}","operator":{"type":"string","operation":"equals"},"rightValue":"new"}],"combinator":"and"}},"name":"Is New?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1100,304],"id":"8de6f316-b281-44ea-9052-56b48772dd6f"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Build Idempotency Check Query","type":"main","index":0}]]},"Build Idempotency Check Query":{"main":[[{"node":"Check Idempotency","type":"main","index":0}]]},"Check Idempotency":{"main":[[{"node":"Route By Idempotency","type":"main","index":0}],[{"node":"Handle Idempotency Error","type":"main","index":0}]]},"Handle Idempotency Error":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Route By Idempotency":{"main":[[{"node":"Is New?","type":"main","index":0}]]},"Pass Through Error":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Build Insert Query":{"main":[[{"node":"Execute Insert","type":"main","index":0}]]},"Execute Insert":{"main":[[{"node":"Format Success Output","type":"main","index":0}],[{"node":"Handle Insert Error","type":"main","index":0}]]},"Format Success Output":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Handle Insert Error":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Is New?":{"main":[[{"node":"Build Insert Query","type":"main","index":0}],[{"node":"Pass Through Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":{},"meta":null,"pinData":{},"versionId":"6f418509-d03a-4e50-b56e-83266ff2adef","activeVersionId":null,"versionCounter":181,"triggerCount":1,"shared":[{"updatedAt":"2026-03-18T23:52:59.919Z","createdAt":"2026-03-18T23:52:59.919Z","role":"workflow:owner","workflowId":"0pqnF4CQSGJMp7br","projectId":"1q616I3NzJFEiwV5","project":{"updatedAt":"2026-03-02T02:24:01.899Z","createdAt":"2026-03-02T00:39:33.634Z","id":"1q616I3NzJFEiwV5","name":"Roger Gallegos <baba.orere@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"29ad78ad-2907-4d12-a03c-326ce29a717c"}}],"tags":[],"activeVersion":null}