temp/TEST_GCal_Connection.json
{
  "updatedAt": "2026-03-15T22:47:05.985Z",
  "createdAt": "2026-03-15T19:00:13.013Z",
  "id": "OK1i9Rpk3T3o30jS",
  "name": "TEST_GCal_Connection",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "test-gcal",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -250,
        300
      ],
      "id": "8f93f711-0349-4bb3-a106-78857d487b63"
    },
    {
      "parameters": {
        "jsCode": "const today = new Date('2026-03-16');\nconst dateStr = today.toISOString().split('T')[0];\nconst timeMin = dateStr + 'T00:00:00-03:00';\nconst timeMax = dateStr + 'T23:59:59-03:00';\nreturn [{\n  json: {\n    dateStr,\n    timeMin,\n    timeMax\n  }\n}];"
      },
      "name": "Calculate Times",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "id": "node-calc-times"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "dev.n8n.stax@gmail.com",
          "mode": "list"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $json.timeMin }}",
          "timeMax": "={{ $json.timeMax }}",
          "singleEvents": true
        }
      },
      "name": "List Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        250,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      },
      "id": "node-list-events"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn [{\n  json: {\n    success: true,\n    date: '2026-03-16',\n    count: items.length,\n    events: items.map(i => ({\n      id: i.json.id,\n      summary: i.json.summary,\n      start: i.json.start?.dateTime || i.json.start?.date,\n      end: i.json.end?.dateTime || i.json.end?.date\n    }))\n  }\n}];"
      },
      "name": "Final JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "id": "node-final-json"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Calculate Times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Times": {
      "main": [
        [
          {
            "node": "List Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Events": {
      "main": [
        [
          {
            "node": "Final JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "ad14dd8e-7617-457c-909e-7b5a74a08142",
  "activeVersionId": "ad14dd8e-7617-457c-909e-7b5a74a08142",
  "versionCounter": 30,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-15T19:00:13.013Z",
      "createdAt": "2026-03-15T19:00:13.013Z",
      "role": "workflow:owner",
      "workflowId": "OK1i9Rpk3T3o30jS",
      "projectId": "1q616I3NzJFEiwV5",
      "project": {
        "updatedAt": "2026-03-02T02:24:01.899Z",
        "createdAt": "2026-03-02T00:39:33.634Z",
        "id": "1q616I3NzJFEiwV5",
        "name": "Roger Gallegos <baba.orere@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-15T22:47:05.987Z",
    "createdAt": "2026-03-15T22:47:05.987Z",
    "versionId": "ad14dd8e-7617-457c-909e-7b5a74a08142",
    "workflowId": "OK1i9Rpk3T3o30jS",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "GET",
          "path": "test-gcal",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -250,
          300
        ],
        "id": "8f93f711-0349-4bb3-a106-78857d487b63"
      },
      {
        "parameters": {
          "jsCode": "const today = new Date('2026-03-16');\nconst dateStr = today.toISOString().split('T')[0];\nconst timeMin = dateStr + 'T00:00:00-03:00';\nconst timeMax = dateStr + 'T23:59:59-03:00';\nreturn [{\n  json: {\n    dateStr,\n    timeMin,\n    timeMax\n  }\n}];"
        },
        "name": "Calculate Times",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          300
        ],
        "id": "node-calc-times"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "dev.n8n.stax@gmail.com",
            "mode": "list"
          },
          "returnAll": true,
          "options": {
            "timeMin": "={{ $json.timeMin }}",
            "timeMax": "={{ $json.timeMax }}",
            "singleEvents": true
          }
        },
        "name": "List Events",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          250,
          300
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "OsRBfz3Cs7Ph5uV5",
            "name": "Google Calendar account"
          }
        },
        "id": "node-list-events"
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nreturn [{\n  json: {\n    success: true,\n    date: '2026-03-16',\n    count: items.length,\n    events: items.map(i => ({\n      id: i.json.id,\n      summary: i.json.summary,\n      start: i.json.start?.dateTime || i.json.start?.date,\n      end: i.json.end?.dateTime || i.json.end?.date\n    }))\n  }\n}];"
        },
        "name": "Final JSON",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          500,
          300
        ],
        "id": "node-final-json"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Calculate Times",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Times": {
        "main": [
          [
            {
              "node": "List Events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Events": {
        "main": [
          [
            {
              "node": "Final JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Roger Gallegos",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-15T22:47:06.448Z",
        "id": 1019,
        "workflowId": "OK1i9Rpk3T3o30jS",
        "versionId": "ad14dd8e-7617-457c-909e-7b5a74a08142",
        "event": "deactivated",
        "userId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      },
      {
        "createdAt": "2026-03-15T22:47:06.467Z",
        "id": 1020,
        "workflowId": "OK1i9Rpk3T3o30jS",
        "versionId": "ad14dd8e-7617-457c-909e-7b5a74a08142",
        "event": "activated",
        "userId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      },
      {
        "createdAt": "2026-03-15T22:47:06.019Z",
        "id": 1017,
        "workflowId": "OK1i9Rpk3T3o30jS",
        "versionId": "ad14dd8e-7617-457c-909e-7b5a74a08142",
        "event": "deactivated",
        "userId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      },
      {
        "createdAt": "2026-03-15T22:47:06.036Z",
        "id": 1018,
        "workflowId": "OK1i9Rpk3T3o30jS",
        "versionId": "ad14dd8e-7617-457c-909e-7b5a74a08142",
        "event": "activated",
        "userId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      }
    ]
  }
}