scripts-ts/exec_953_full.json
{
  "id": "953",
  "finished": true,
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "success",
  "createdAt": "2026-03-01T12:56:21.164Z",
  "startedAt": "2026-03-01T12:56:21.174Z",
  "stoppedAt": "2026-03-01T12:56:23.244Z",
  "deletedAt": null,
  "workflowId": "yqHLjXUggLa8tE4Z",
  "waitTill": null,
  "storedAt": "db",
  "data": {
    "version": 1,
    "startData": {},
    "resultData": {
      "runData": {
        "Webhook": [
          {
            "startTime": 1772369781178,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "headers": {
                        "host": "n8n.stax.ink",
                        "user-agent": "axios/1.13.6",
                        "content-length": "48",
                        "accept": "application/json, text/plain, */*",
                        "accept-encoding": "gzip, br",
                        "cdn-loop": "cloudflare; loops=1",
                        "cf-connecting-ip": "186.189.71.241",
                        "cf-ipcountry": "CL",
                        "cf-ray": "9d58523c58fbed31-MIA",
                        "cf-visitor": "{\"scheme\":\"https\"}",
                        "cf-warp-tag-id": "88e06d60-93b0-4f90-9eba-93853630ddd3",
                        "connection": "keep-alive",
                        "content-type": "application/json",
                        "x-forwarded-for": "186.189.71.241",
                        "x-forwarded-proto": "https"
                      },
                      "params": {},
                      "query": {},
                      "body": {
                        "message": {
                          "chat": {
                            "id": 5391760292
                          },
                          "text": ""
                        }
                      },
                      "webhookUrl": "https://n8n.stax.ink/webhook/nn-01-booking-gateway-test",
                      "executionMode": "production"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Parse Incoming Payload (NN_02)": [
          {
            "startTime": 1772369781179,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Webhook",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 26,
            "metadata": {
              "subExecution": {
                "executionId": "954",
                "workflowId": "Hp7ox7JqRwVA5wr8"
              },
              "subExecutionsCount": 1
            },
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": false,
                      "error_code": "VALIDATION_ERROR",
                      "error_message": "Payload missing required 'chat_id' or 'text' fields.",
                      "debug_received": {
                        "headers": {
                          "host": "n8n.stax.ink",
                          "user-agent": "axios/1.13.6",
                          "content-length": "48",
                          "accept": "application/json, text/plain, */*",
                          "accept-encoding": "gzip, br",
                          "cdn-loop": "cloudflare; loops=1",
                          "cf-connecting-ip": "186.189.71.241",
                          "cf-ipcountry": "CL",
                          "cf-ray": "9d58523c58fbed31-MIA",
                          "cf-visitor": "{\"scheme\":\"https\"}",
                          "cf-warp-tag-id": "88e06d60-93b0-4f90-9eba-93853630ddd3",
                          "connection": "keep-alive",
                          "content-type": "application/json",
                          "x-forwarded-for": "186.189.71.241",
                          "x-forwarded-proto": "https"
                        },
                        "params": {},
                        "query": {},
                        "body": {
                          "message": {
                            "chat": {
                              "id": 5391760292
                            },
                            "text": ""
                          }
                        },
                        "webhookUrl": "https://n8n.stax.ink/webhook/nn-01-booking-gateway-test",
                        "executionMode": "production"
                      },
                      "data": null,
                      "_meta": {
                        "source": "NN_02_Message_Parser",
                        "timestamp": "2026-03-01T12:56:21.198Z",
                        "version": "1.0.0"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ],
                []
              ]
            }
          }
        ],
        "Verify Parser (NN_02)": [
          {
            "startTime": 1772369781205,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Parse Incoming Payload (NN_02)",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 1,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": false,
                      "error_code": "VALIDATION_ERROR",
                      "error_message": "Payload missing required 'chat_id' or 'text' fields.",
                      "debug_received": {
                        "headers": {
                          "host": "n8n.stax.ink",
                          "user-agent": "axios/1.13.6",
                          "content-length": "48",
                          "accept": "application/json, text/plain, */*",
                          "accept-encoding": "gzip, br",
                          "cdn-loop": "cloudflare; loops=1",
                          "cf-connecting-ip": "186.189.71.241",
                          "cf-ipcountry": "CL",
                          "cf-ray": "9d58523c58fbed31-MIA",
                          "cf-visitor": "{\"scheme\":\"https\"}",
                          "cf-warp-tag-id": "88e06d60-93b0-4f90-9eba-93853630ddd3",
                          "connection": "keep-alive",
                          "content-type": "application/json",
                          "x-forwarded-for": "186.189.71.241",
                          "x-forwarded-proto": "https"
                        },
                        "params": {},
                        "query": {},
                        "body": {
                          "message": {
                            "chat": {
                              "id": 5391760292
                            },
                            "text": ""
                          }
                        },
                        "webhookUrl": "https://n8n.stax.ink/webhook/nn-01-booking-gateway-test",
                        "executionMode": "production"
                      },
                      "data": null,
                      "_meta": {
                        "source": "NN_02_Message_Parser",
                        "timestamp": "2026-03-01T12:56:21.198Z",
                        "version": "1.0.0"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ],
                []
              ]
            }
          }
        ],
        "Lookup Availability": [
          {
            "startTime": 1772369781206,
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Verify Parser (NN_02)",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 1783,
            "metadata": {
              "subExecution": {
                "executionId": "955",
                "workflowId": "cWWCjvSLdw6gbp7J"
              },
              "subExecutionsCount": 1
            },
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true,
                      "date": "2026-03-02",
                      "slots": [
                        {
                          "start_time": "2026-03-02T00:00:00.000Z",
                          "display_time": "00:00"
                        },
                        {
                          "start_time": "2026-03-02T00:40:00.000Z",
                          "display_time": "00:40"
                        },
                        {
                          "start_time": "2026-03-02T01:20:00.000Z",
                          "display_time": "01:20"
                        },
                        {
                          "start_time": "2026-03-02T02:00:00.000Z",
                          "display_time": "02:00"
                        },
                        {
                          "start_time": "2026-03-02T02:40:00.000Z",
                          "display_time": "02:40"
                        }
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Prepare AI Input": [
          {
            "startTime": 1772369782990,
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Lookup Availability",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 2,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "text": null,
                      "chat_id": null,
                      "avail_date": "2026-03-02",
                      "slots": [
                        {
                          "start_time": "2026-03-02T00:00:00.000Z",
                          "display_time": "00:00"
                        },
                        {
                          "start_time": "2026-03-02T00:40:00.000Z",
                          "display_time": "00:40"
                        },
                        {
                          "start_time": "2026-03-02T01:20:00.000Z",
                          "display_time": "01:20"
                        },
                        {
                          "start_time": "2026-03-02T02:00:00.000Z",
                          "display_time": "02:00"
                        },
                        {
                          "start_time": "2026-03-02T02:40:00.000Z",
                          "display_time": "02:40"
                        }
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Execute AI Agent (NN_03)": [
          {
            "startTime": 1772369782993,
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Prepare AI Input",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 251,
            "executionStatus": "success",
            "data": {
              "main": [
                [],
                [
                  {
                    "json": {
                      "text": null,
                      "chat_id": null,
                      "avail_date": "2026-03-02",
                      "slots": [
                        {
                          "start_time": "2026-03-02T00:00:00.000Z",
                          "display_time": "00:00"
                        },
                        {
                          "start_time": "2026-03-02T00:40:00.000Z",
                          "display_time": "00:40"
                        },
                        {
                          "start_time": "2026-03-02T01:20:00.000Z",
                          "display_time": "01:20"
                        },
                        {
                          "start_time": "2026-03-02T02:00:00.000Z",
                          "display_time": "02:00"
                        },
                        {
                          "start_time": "2026-03-02T02:40:00.000Z",
                          "display_time": "02:40"
                        }
                      ],
                      "error": "Bad request - please check your parameters"
                    },
                    "metadata": {
                      "subExecution": {
                        "executionId": "956",
                        "workflowId": "N2APxPodLDJCG818"
                      },
                      "subExecutionsCount": 1
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Execute AI Agent (NN_03)"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {},
      "runtimeData": {
        "version": 1,
        "establishedAt": 1772369781178,
        "source": "webhook",
        "triggerNode": {
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook"
        }
      }
    }
  },
  "workflowData": {
    "id": "yqHLjXUggLa8tE4Z",
    "name": "NN_01_Booking_Gateway_V3_Robust",
    "active": true,
    "activeVersionId": "2802ef48-1064-4807-a062-b3da95f1eb53",
    "isArchived": false,
    "createdAt": "2026-03-01T01:21:40.910Z",
    "updatedAt": "2026-03-01T12:55:55.042Z",
    "nodes": [
      {
        "parameters": {
          "notice": ""
        },
        "name": "When clicking ‘Test workflow’",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          384,
          240
        ],
        "id": "f62274f3-3613-4522-8ad8-79e6df857114"
      },
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "nn-01-booking-gateway-test",
          "authentication": "none",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          384,
          432
        ],
        "webhookId": "nn-01-booking-gateway-test",
        "id": "92cecad5-d7a1-4cd7-8a1a-4e1b8daf0b52"
      },
      {
        "parameters": {
          "events": "worklfow_call",
          "inputSource": "passthrough"
        },
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          384,
          608
        ],
        "id": "bfaec557-6fb4-4b6e-a7c4-b6faa0a12f2f"
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "Hp7ox7JqRwVA5wr8",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "wait",
          "options": {}
        },
        "name": "Parse Incoming Payload (NN_02)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          600,
          432
        ],
        "id": "516e330e-ce90-40f5-b70d-e658df64e562",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.success }}",
                "value2": true
              }
            ]
          },
          "options": {}
        },
        "name": "Verify Parser (NN_02)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          820,
          432
        ],
        "id": "cbd78549-d574-40f3-a7e5-0b07c2c69006"
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "N2APxPodLDJCG818",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "wait",
          "options": {}
        },
        "name": "Execute AI Agent (NN_03)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1040,
          432
        ],
        "id": "52277863-24a7-48fe-a809-cf48c9fd6ee6",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.success }}",
                "value2": true
              }
            ]
          },
          "options": {}
        },
        "name": "Verify AI (NN_03)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1260,
          432
        ],
        "id": "0214e18e-9f53-4104-b3b1-1dd36b335ed1"
      },
      {
        "parameters": {
          "curlImport": "",
          "method": "POST",
          "url": "https://n8n.stax.ink/webhook/nn-04-telegram-sender-test",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\n  \"chat_id\": {{ $json.data.chat_id }},\n  \"ai_response\": \"{{ $json.data.ai_response }}\"\n}",
          "options": {},
          "infoMessage": ""
        },
        "id": "nn04_http_call",
        "name": "Send Telegram Response (NN_04)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1600,
          432
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "return [{\n  json: {\n    success: !!$input.first()?.json?.data?.ai_response,\n    data: $input.first()?.json?.data || {},\n    _meta: { source: \"NN_01\", timestamp: new Date().toISOString() }\n  }\n}];",
          "notice": ""
        },
        "id": "final_res",
        "name": "Final Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1850,
          432
        ]
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "cWWCjvSLdw6gbp7J",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "wait",
          "options": {}
        },
        "name": "Lookup Availability",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          100,
          432
        ],
        "id": "lookup_avail"
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "text",
                "name": "text",
                "value": "={{ $node[\"Parse Incoming Payload (NN_02)\"].json.data.text }}",
                "type": "string"
              },
              {
                "id": "chat_id",
                "name": "chat_id",
                "value": "={{ $node[\"Parse Incoming Payload (NN_02)\"].json.data.chat_id }}",
                "type": "number"
              },
              {
                "id": "avail_date",
                "name": "avail_date",
                "value": "={{ $node[\"Lookup Availability\"].json.date }}",
                "type": "string"
              },
              {
                "id": "slots",
                "name": "slots",
                "value": "={{ $node[\"Lookup Availability\"].json.slots }}",
                "type": "array"
              }
            ]
          },
          "includeOtherFields": false,
          "options": {}
        },
        "name": "Prepare AI Input",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          350,
          432
        ],
        "id": "prepare_ai"
      },
      {
        "parameters": {
          "mode": "rules",
          "rules": {
            "values": [
              {
                "conditions": {},
                "renameOutput": false
              }
            ]
          },
          "options": {}
        },
        "name": "Intent Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          850,
          432
        ],
        "id": "intent_switch"
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "kuvqYSl3BMrXtews",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "wait",
          "options": {}
        },
        "name": "Flow: CREATE",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1100,
          300
        ],
        "id": "flow_create"
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": {
            "__rl": true,
            "value": "aKE6HxuHaklajZOU",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "wait",
          "options": {}
        },
        "name": "Flow: CANCEL",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1100,
          500
        ],
        "id": "flow_cancel"
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Parse Incoming Payload (NN_02)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Parse Incoming Payload (NN_02)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Parse Incoming Payload (NN_02)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Incoming Payload (NN_02)": {
        "main": [
          [
            {
              "node": "Verify Parser (NN_02)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Parser (NN_02)": {
        "main": [
          [
            {
              "node": "Lookup Availability",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup Availability": {
        "main": [
          [
            {
              "node": "Prepare AI Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare AI Input": {
        "main": [
          [
            {
              "node": "Execute AI Agent (NN_03)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute AI Agent (NN_03)": {
        "main": [
          [
            {
              "node": "Verify AI (NN_03)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify AI (NN_03)": {
        "main": [
          [
            {
              "node": "Intent Switch",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intent Switch": {
        "main": [
          [
            {
              "node": "Flow: CREATE",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Flow: CANCEL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Flow: CREATE": {
        "main": [
          [
            {
              "node": "Send Telegram Response (NN_04)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Flow: CANCEL": {
        "main": [
          [
            {
              "node": "Send Telegram Response (NN_04)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Telegram Response (NN_04)": {
        "main": [
          [
            {
              "node": "Final Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    },
    "staticData": {},
    "pinData": null
  },
  "customData": {}
}
