scripts-ts/exec_latest_data.json
{"id":"68","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-28T16:06:21.795Z","startedAt":"2026-02-28T16:06:21.807Z","stoppedAt":"2026-02-28T16:06:21.823Z","deletedAt":null,"workflowId":"N2APxPodLDJCG818","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook":[{"startTime":1772294781811,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"axios/1.13.6","content-length":"43","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d512b315c847525-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"chat_id":123456789,"username":"TestUser"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-03-ai-agent-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Extract & Validate (PRE)":[{"startTime":1772294781811,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'"},"pairedItem":{"item":0}}]]}}],"Is Valid?":[{"startTime":1772294781816,"executionIndex":2,"source":[{"previousNode":"Extract & Validate (PRE)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'"},"pairedItem":{"item":0}}]]}}],"Format Rejection":[{"startTime":1772294781817,"executionIndex":3,"source":[{"previousNode":"Is Valid?","previousNodeOutput":1,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:06:21.822Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Format Rejection"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772294781811,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"N2APxPodLDJCG818","name":"NN_03_AI_Agent","active":true,"activeVersionId":"c8bc9b55-3788-467e-8c4b-87ef0ae9204d","isArchived":false,"createdAt":"2026-02-28T15:30:11.252Z","updatedAt":"2026-02-28T16:06:09.722Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[160,384],"id":"86e0be08-f41c-40ba-ace1-3a285d702ea6"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-03-ai-agent-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,592],"webhookId":"nn-03-ai-agent-test","id":"9961302d-91eb-4644-bbfa-e509c3b95267"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[160,784],"id":"43cfdc70-7ccf-48fa-8575-c7e305226786"},{"parameters":{"notice":""},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[160,992],"id":"c7669c08-96f8-4661-b972-0ef53992bc69"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const inputData = $input.first()?.json?.body || $input.first()?.json || {};\n\n// Extract variables from prior nodes or the webhook payload\nconst chat_id = inputData.chat_id;\nconst text = inputData.text;\nconst username = inputData.username || \"User\";\n\n// Validation Sandwich PRE: Check required fields\nif (!chat_id || !text) {\n  return [{\n    json: {\n      isValid: false,\n      error_code: \"VALIDATION_ERROR\",\n      error_message: \"Missing required fields 'chat_id' or 'text'\"\n    }\n  }];\n}\n\n// Pass validated data forward\nreturn [{\n  json: {\n    isValid: true,\n    chat_id: chat_id,\n    text: text,\n    username: username\n  }\n}];","notice":""},"name":"Extract & Validate (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,592],"id":"e962210a-4606-4cfc-9721-f32cf155d3a9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6265eccc-b0cf-464c-b1cc-15df178a9c33","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[672,592],"id":"c0058ede-828c-4be4-9359-b05178651ad0"},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.text }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"=You are Titanium, an expert booking assistant for a hotel/restaurant. You are talking to user {{ $json.username }}. Be polite, concise, and helpful."}},"name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1008,592],"id":"9e57bf59-b8fc-4b69-8506-4965d87bbdaa"},{"parameters":{"notice":"","model":"llama-3.3-70b-versatile","options":{}},"name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1008,784],"credentials":{"groqApi":{"id":"4S8GVMY7aotYd9BI","name":"Groq account"}},"id":"6c864b92-060a-41f1-bea8-2f67887ba0ba"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const ai_response = $input.first()?.json?.text || $input.first()?.json?.output || $input.first()?.json?.response || \"\";\n// Bring forward chat_id from the IF node\nconst chat_id = $node[\"Is Valid?\"].json.chat_id;\n\n// POST validation: ensure the AI actually responded\nif (!ai_response) {\n  return [{\n    json: {\n      success: false,\n      error_code: \"AI_GENERATION_FAILED\",\n      error_message: \"AI failed to return an output\",\n      data: null,\n      _meta: {\n        source: \"NN_03_AI_Agent\",\n        timestamp: new Date().toISOString(),\n        workflow_id: \"\",\n        version: \"1.0.0\"\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      chat_id: chat_id,\n      ai_response: ai_response\n    },\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Success (POST)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,592],"id":"57098bcb-6ac5-4396-8e1f-95c02b6dbdda"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const errorInfo = $input.first()?.json;\n\nreturn [{\n  json: {\n    success: false,\n    error_code: errorInfo?.error_code || \"REJECTED_VALIDATION\",\n    error_message: errorInfo?.error_message || \"Validation failed in AI Agent flow\",\n    data: null,\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Rejection","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,384],"id":"a14119db-83a0-4e95-836f-bdaa19b26722"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const executionError = $input.first()?.json?.execution?.error || {};\nconst errorMessage = executionError.message || \"Unknown execution error\";\n\nreturn [{\n  json: {\n    success: false,\n    error_code: \"EXECUTION_ERROR\",\n    error_message: errorMessage,\n    data: null,\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Global Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,992],"id":"6d5cee1e-c70f-4ae3-9f7d-823ef28aff1d"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"NJ06kaiVRK6EWBkV","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Report to Global Handler","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[704,992],"id":"47e29e7d-9291-4745-bce8-510121b5ace0"},{"parameters":{"notice":"","scalingNotice":"","sessionIdType":"customKey","sessionKey":"={{ $node[\"Is Valid?\"].json.chat_id }}","contextWindowLength":5},"name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1168,784],"id":"353477ac-f7cf-4369-a457-e8559b629292"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Format Global Error","type":"main","index":0}]]},"Extract & Validate (PRE)":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Format Rejection","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Format Success (POST)","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Format Global Error":{"main":[[{"node":"Report to Global Handler","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":null},"customData":{}}