scripts-ts/exec_nn01_fail_v6.json
{"id":"119","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-28T16:32:13.955Z","startedAt":"2026-02-28T16:32:13.967Z","stoppedAt":"2026-02-28T16:32:14.891Z","deletedAt":null,"workflowId":"IhAvwkZIob9KfYoA","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook":[{"startTime":1772296333970,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"axios/1.13.6","content-length":"28","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d5151169d0fb88d-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"unexpectedField":"hacker"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-01-booking-gateway-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Parse Incoming Payload (NN_02)":[{"startTime":1772296333970,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":30,"metadata":{"subExecution":{"executionId":"120","workflowId":"MoRopyN2Aslc35XU"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required 'chat_id' or 'text' fields.","data":null,"_meta":{"source":"NN_02_Message_Parser","timestamp":"2026-02-28T16:32:13.991Z","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}],"Verify Parser (NN_02)":[{"startTime":1772296334000,"executionIndex":2,"source":[{"previousNode":"Parse Incoming Payload (NN_02)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required 'chat_id' or 'text' fields.","data":null,"_meta":{"source":"NN_02_Message_Parser","timestamp":"2026-02-28T16:32:13.991Z","version":"1.0.0"}},"pairedItem":{"item":0}}],[]]}}],"Execute AI Agent (NN_03)":[{"startTime":1772296334001,"executionIndex":3,"source":[{"previousNode":"Verify Parser (NN_02)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":35,"metadata":{"subExecution":{"executionId":"121","workflowId":"N2APxPodLDJCG818"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:32:14.027Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}],"Verify AI (NN_03)":[{"startTime":1772296334037,"executionIndex":4,"source":[{"previousNode":"Execute AI Agent (NN_03)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:32:14.027Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}],[]]}}],"Send Telegram Response (NN_04)":[{"startTime":1772296334037,"executionIndex":5,"source":[{"previousNode":"Verify AI (NN_03)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":853,"metadata":{"subExecution":{"executionId":"122","workflowId":"4afRuMkIvgEh7gXt"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[],[{"json":{"success":false,"error_code":"INTERNAL_ERROR","error_message":"Workflow execution failed","data":null,"_meta":{"source":"NN_04_Telegram_Sender","timestamp":"2026-02-28T16:32:14.872Z","workflow_id":"NN_04","version":"1.0"},"error":"No information about the workflow to execute found. Please provide either the \"id\" or \"code\"!"},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Send Telegram Response (NN_04)"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772296333970,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"IhAvwkZIob9KfYoA","name":"NN_01_Booking_Gateway","active":true,"activeVersionId":"4730856f-ac66-4034-8a09-b7885a77b8e8","isArchived":false,"createdAt":"2026-02-28T13:59:38.958Z","updatedAt":"2026-02-28T16:32:00.677Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,240],"id":"09b87a26-3376-4fd4-ba3b-af1a9f9b8976"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-01-booking-gateway-test","authentication":"none","responseMode":"responseNode","webhookNotice":"","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"ab9d68d9-d444-4ef7-b286-9356b0b54b60"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,608],"id":"8cbfc5c9-b3b5-4929-acd0-dc330fa444cc"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"MoRopyN2Aslc35XU","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Parse Incoming Payload (NN_02)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[600,432],"id":"306b6a67-3e94-482e-8425-6b34adad541a"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]},"options":{}},"name":"Verify Parser (NN_02)","type":"n8n-nodes-base.if","typeVersion":2,"position":[820,432],"id":"b90baa07-b3e6-4e55-b0a8-54f374a8d6d8"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"N2APxPodLDJCG818","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute AI Agent (NN_03)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1040,432],"id":"cb72a1dc-84e1-41dc-abb2-6c78741ded34"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]},"options":{}},"name":"Verify AI (NN_03)","type":"n8n-nodes-base.if","typeVersion":2,"position":[1260,432],"id":"e0ae5b55-29e9-45fb-a473-45f350b1e5c6"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"4afRuMkIvgEh7gXt","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Send Telegram Response (NN_04)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1480,432],"id":"212e20a5-1d38-461f-b9ce-911f80be1ac3"},{"parameters":{"generalNotice":"","respondWith":"allIncomingItems","options":{}},"name":"Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1750,432],"id":"34e53dff-1869-40ec-8183-380918954150"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Parse Incoming Payload (NN_02)":{"main":[[{"node":"Verify Parser (NN_02)","type":"main","index":0}]]},"Verify Parser (NN_02)":{"main":[[{"node":"Execute AI Agent (NN_03)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Execute AI Agent (NN_03)":{"main":[[{"node":"Verify AI (NN_03)","type":"main","index":0}]]},"Verify AI (NN_03)":{"main":[[{"node":"Send Telegram Response (NN_04)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Send Telegram Response (NN_04)":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{},"pinData":{}},"customData":{}}