scripts-ts/exec_nn01_fail_v5.json
{"id":"114","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-02-28T16:31:23.908Z","startedAt":"2026-02-28T16:31:23.918Z","stoppedAt":"2026-02-28T16:31:23.922Z","deletedAt":null,"workflowId":"IhAvwkZIob9KfYoA","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook":[{"startTime":1772296283921,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"error","error":{"message":"No Respond to Webhook node found in the workflow","stack":"WorkflowConfigurationError: No Respond to Webhook node found in the workflow\n    at checkResponseModeConfiguration (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Webhook/utils.ts:213:9)\n    at Webhook.webhook (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Webhook/Webhook.node.ts:215:34)\n    at WebhookService.runWebhook (/usr/local/lib/node_modules/n8n/src/webhooks/webhook.service.ts:465:21)\n    at Object.executeWebhook (/usr/local/lib/node_modules/n8n/src/webhooks/webhook-helpers.ts:526:60)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)"}}]},"lastNodeExecuted":"Webhook","error":{"message":"No Respond to Webhook node found in the workflow","stack":"WorkflowConfigurationError: No Respond to Webhook node found in the workflow\n    at checkResponseModeConfiguration (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Webhook/utils.ts:213:9)\n    at Webhook.webhook (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Webhook/Webhook.node.ts:215:34)\n    at WebhookService.runWebhook (/usr/local/lib/node_modules/n8n/src/webhooks/webhook.service.ts:465:21)\n    at Object.executeWebhook (/usr/local/lib/node_modules/n8n/src/webhooks/webhook-helpers.ts:526:60)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)"}},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-01-booking-gateway-test","authentication":"none","responseMode":"responseNode","webhookNotice":"","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"75906000-db9d-4e53-ab09-f0cf3db5ce38"},"data":{"main":[[{"json":{},"pairedItem":{"item":0}}]]},"source":null}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772296283920,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"IhAvwkZIob9KfYoA","name":"NN_01_Booking_Gateway","active":true,"activeVersionId":"9126806c-552f-4eed-8bdd-533b6774ec13","isArchived":false,"createdAt":"2026-02-28T13:59:38.958Z","updatedAt":"2026-02-28T16:31:14.388Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,240],"id":"a7cffb2e-ed13-4ed7-822e-eef48b68724e"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-01-booking-gateway-test","authentication":"none","responseMode":"responseNode","webhookNotice":"","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"75906000-db9d-4e53-ab09-f0cf3db5ce38"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,608],"id":"abc0ea99-8c5e-4bcb-bce3-e724018f8551"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"MoRopyN2Aslc35XU","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Parse Incoming Payload (NN_02)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[600,432],"id":"ad8cc918-c9d5-4075-a757-85626df35618"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]},"options":{}},"name":"Verify Parser (NN_02)","type":"n8n-nodes-base.if","typeVersion":2,"position":[820,432],"id":"5ab33355-ac92-4e0c-ae58-8dfb65909c16"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"N2APxPodLDJCG818","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute AI Agent (NN_03)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1040,432],"id":"63def4e5-4123-4529-832f-cc7299826246"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]},"options":{}},"name":"Verify AI (NN_03)","type":"n8n-nodes-base.if","typeVersion":2,"position":[1260,432],"id":"44c4508d-5001-4408-ad1e-623b8524560a"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"4afRuMkIvgEh7gXt","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Send Telegram Response (NN_04)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1480,432],"id":"608c0f8f-a7b5-41a8-8e37-f9fde20f0762"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return $input.all();","notice":""},"name":"Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1750,432],"id":"888a0ac5-e44a-4ad9-8f29-b1a08a6b6504"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Parse Incoming Payload (NN_02)":{"main":[[{"node":"Verify Parser (NN_02)","type":"main","index":0}]]},"Verify Parser (NN_02)":{"main":[[{"node":"Execute AI Agent (NN_03)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Execute AI Agent (NN_03)":{"main":[[{"node":"Verify AI (NN_03)","type":"main","index":0}]]},"Verify AI (NN_03)":{"main":[[{"node":"Send Telegram Response (NN_04)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Send Telegram Response (NN_04)":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{},"pinData":{}},"customData":{}}