scripts-ts/exec_nn02_fail_v3.json
{"id":"101","finished":true,"mode":"integrated","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-28T16:26:11.606Z","startedAt":"2026-02-28T16:26:11.613Z","stoppedAt":"2026-02-28T16:26:11.623Z","deletedAt":null,"workflowId":"MoRopyN2Aslc35XU","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Execute Workflow Trigger":[{"startTime":1772295971617,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"metadata":{"parentExecution":{"executionId":"100","workflowId":"IhAvwkZIob9KfYoA","shouldResume":true,"executionContext":{"version":1,"establishedAt":1772295971602,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"axios/1.13.6","content-length":"28","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d51483dcf2327bf-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"unexpectedField":"hacker"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-01-booking-gateway-test","executionMode":"production"},"index":0,"pairedItem":{"item":0}}]]}}],"Extract & Validate (PRE)":[{"startTime":1772295971617,"executionIndex":1,"source":[{"previousNode":"Execute Workflow Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required 'chat_id' or 'text' fields.","data":null,"_meta":{"source":"NN_02_Message_Parser","timestamp":"2026-02-28T16:26:11.622Z","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Extract & Validate (PRE)"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772295971617,"source":"integrated","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"},"parentExecutionId":"100"}},"parentExecution":{"executionId":"100","workflowId":"IhAvwkZIob9KfYoA","shouldResume":true,"executionContext":{"version":1,"establishedAt":1772295971602,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"MoRopyN2Aslc35XU","name":"NN_02_Message_Parser","active":true,"activeVersionId":"45d645ed-a680-4f37-a59f-6c1c0cdddeae","isArchived":false,"createdAt":"2026-02-28T15:15:52.147Z","updatedAt":"2026-02-28T15:15:52.147Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[200,220],"id":"cd72928a-a062-448a-923c-5a197a479369"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[200,420],"id":"8d9b556d-ff00-4308-8ff6-2d30097a34d4"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-02-booking-parser-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,640],"webhookId":"nn-02-booking-parser-test","id":"41f38382-6da9-42c2-932b-50ed4bc66fd9"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"/*\n  Validation Sandwich - PRE (Validacion)\n  Validamos que el payload contenga texto y los campos minimos requeridos.\n*/\n\nconst raw = $input.first()?.json?.body || $input.first()?.json || {};\nconst message = raw.message || raw.channel_post || {};\n\nconst chat_id = message.chat?.id;\nconst text = message.text;\nconst username = message.from?.first_name || message.chat?.first_name || \"Unknown\";\n\n// Error handler local al sub-workflow para retornar el Standard Contract \nif (!chat_id || !text) {\n  return {\n    success: false,\n    error_code: \"VALIDATION_ERROR\",\n    error_message: \"Payload missing required 'chat_id' or 'text' fields.\",\n    data: null,\n    _meta: {\n      source: \"NN_02_Message_Parser\",\n      timestamp: new Date().toISOString(),\n      version: \"1.0.0\"\n    }\n  };\n}\n\n// Escapamos strings (SQL/Regex Injections [SEC_02])\nconst sanitizeString = (val) => {\n  if (typeof val !== 'string') return val;\n  return val.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, 500);\n};\n\nconst safeText = sanitizeString(text);\nconst safeUsername = sanitizeString(username);\n\nreturn {\n  success: true,\n  error_code: null,\n  error_message: null,\n  data: {\n    chat_id: chat_id,\n    text: safeText,\n    username: safeUsername,\n    type: \"text\"\n  },\n  _meta: {\n    source: \"NN_02_Message_Parser\",\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id,\n    version: \"1.0.0\"\n  }\n};","notice":""},"name":"Extract & Validate (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,420],"id":"d604b703-5fe0-43fd-ad73-c190cca5cbb2"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"pinData":null},"customData":{}}