scripts-ts/exec_nn03_fail_v3.json
{"id":"102","finished":true,"mode":"integrated","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-28T16:26:11.635Z","startedAt":"2026-02-28T16:26:11.641Z","stoppedAt":"2026-02-28T16:26:11.656Z","deletedAt":null,"workflowId":"N2APxPodLDJCG818","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Execute Workflow Trigger":[{"startTime":1772295971644,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"metadata":{"parentExecution":{"executionId":"100","workflowId":"IhAvwkZIob9KfYoA","shouldResume":true,"executionContext":{"version":1,"establishedAt":1772295971602,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required 'chat_id' or 'text' fields.","data":null,"_meta":{"source":"NN_02_Message_Parser","timestamp":"2026-02-28T16:26:11.622Z","version":"1.0.0"}},"index":0,"pairedItem":{"item":0}}]]}}],"Extract & Validate (PRE)":[{"startTime":1772295971644,"executionIndex":1,"source":[{"previousNode":"Execute Workflow Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'"},"pairedItem":{"item":0}}]]}}],"Is Valid?":[{"startTime":1772295971650,"executionIndex":2,"source":[{"previousNode":"Extract & Validate (PRE)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'"},"pairedItem":{"item":0}}]]}}],"Format Rejection":[{"startTime":1772295971651,"executionIndex":3,"source":[{"previousNode":"Is Valid?","previousNodeOutput":1,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:26:11.655Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Format Rejection"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772295971644,"source":"integrated","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"},"parentExecutionId":"100"}},"parentExecution":{"executionId":"100","workflowId":"IhAvwkZIob9KfYoA","shouldResume":true,"executionContext":{"version":1,"establishedAt":1772295971602,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"N2APxPodLDJCG818","name":"NN_03_AI_Agent","active":true,"activeVersionId":"07c2972f-7b6e-45cb-9fa5-7be36978f77d","isArchived":false,"createdAt":"2026-02-28T15:30:11.252Z","updatedAt":"2026-02-28T16:25:46.314Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[160,384],"id":"bcccc18c-0557-4214-b65b-969590b9ec38"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-03-ai-agent-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,592],"webhookId":"nn-03-ai-agent-test","id":"a5c42b54-45f4-48ba-b7f7-155e56545506"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[160,784],"id":"df20acf1-f60e-4522-9e14-10d17f34870b"},{"parameters":{"notice":""},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[160,992],"id":"bea3f0fc-06e3-4468-a3ac-9c4d855cf9f2"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const inputData = $input.first()?.json?.body || $input.first()?.json || {};\n\n// Support for nested Standard Contract 'data' object or top-level fields\nconst chat_id = inputData.data?.chat_id || inputData.chat_id;\nconst text = inputData.data?.text || inputData.text;\nconst username = inputData.data?.username || inputData.username || \"User\";\n\n// Validation Sandwich PRE: Check required fields\nif (!chat_id || !text) {\n  return [{\n    json: {\n      isValid: false,\n      error_code: \"VALIDATION_ERROR\",\n      error_message: \"Missing required fields 'chat_id' or 'text'\"\n    }\n  }];\n}\n\n// Pass validated data forward\nreturn [{\n  json: {\n    isValid: true,\n    chat_id: chat_id,\n    sessionId: chat_id,\n    text: text,\n    username: username\n  }\n}];","notice":""},"name":"Extract & Validate (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,592],"id":"46f96fa9-f965-40e9-9d13-0aaa323fff72"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6265eccc-b0cf-464c-b1cc-15df178a9c33","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[672,592],"id":"b038ffe6-ccd4-4318-9867-3ee8d127f76a"},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.text }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"=You are Titanium, an expert booking assistant for a hotel/restaurant. You are talking to user {{ $json.username }}. Be polite, concise, and helpful."}},"name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1008,592],"id":"20593c06-4dd5-4fa9-9903-7e76dbdf1f71"},{"parameters":{"notice":"","model":"llama-3.3-70b-versatile","options":{}},"name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1008,784],"credentials":{"groqApi":{"id":"4S8GVMY7aotYd9BI","name":"Groq account"}},"id":"ca51abf2-bc40-4e4f-801b-18c971a687ef"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const ai_response = $input.first()?.json?.text || $input.first()?.json?.output || $input.first()?.json?.response || \"\";\n// Bring forward chat_id from the IF node\nconst chat_id = $node[\"Is Valid?\"].json.chat_id;\n\n// POST validation: ensure the AI actually responded\nif (!ai_response) {\n  return [{\n    json: {\n      success: false,\n      error_code: \"AI_GENERATION_FAILED\",\n      error_message: \"AI failed to return an output\",\n      data: null,\n      _meta: {\n        source: \"NN_03_AI_Agent\",\n        timestamp: new Date().toISOString(),\n        workflow_id: \"\",\n        version: \"1.0.0\"\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      chat_id: chat_id,\n      ai_response: ai_response\n    },\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Success (POST)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,592],"id":"6916532b-003e-41b6-a2e0-e3014b552cd6"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const errorInfo = $input.first()?.json;\n\nreturn [{\n  json: {\n    success: false,\n    error_code: errorInfo?.error_code || \"REJECTED_VALIDATION\",\n    error_message: errorInfo?.error_message || \"Validation failed in AI Agent flow\",\n    data: null,\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Rejection","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,384],"id":"10b5be1d-5cec-49ce-939f-43d6adc375d3"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const executionError = $input.first()?.json?.execution?.error || {};\nconst errorMessage = executionError.message || \"Unknown execution error\";\n\nreturn [{\n  json: {\n    success: false,\n    error_code: \"EXECUTION_ERROR\",\n    error_message: errorMessage,\n    data: null,\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Global Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,992],"id":"38d9e7b0-f29b-4f6f-9262-93c08b578888"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"NJ06kaiVRK6EWBkV","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Report to Global Handler","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[704,992],"id":"f8f1c069-3e8c-4eb6-aede-b94dd921e73f"},{"parameters":{"notice":"","scalingNotice":"","sessionIdType":"fromInput","contextWindowLength":5},"name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1168,784],"id":"79d83675-6fa7-47eb-85dd-ffc9af6342d0"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Format Global Error","type":"main","index":0}]]},"Extract & Validate (PRE)":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Format Rejection","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Format Success (POST)","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Format Global Error":{"main":[[{"node":"Report to Global Handler","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"pinData":null},"customData":{}}