scripts-ts/exec_nn04_142.json
{"id":"142","finished":true,"mode":"integrated","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-28T16:37:01.130Z","startedAt":"2026-02-28T16:37:01.138Z","stoppedAt":"2026-02-28T16:37:02.127Z","deletedAt":null,"workflowId":"4afRuMkIvgEh7gXt","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"When Called by Parent":[{"startTime":1772296621141,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"metadata":{"parentExecution":{"executionId":"139","workflowId":"IhAvwkZIob9KfYoA","shouldResume":true,"executionContext":{"version":1,"establishedAt":1772296621052,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:37:01.111Z","workflow_id":"","version":"1.0.0"}},"index":0,"pairedItem":{"item":0}}]]}}],"Extract & Validate (PRE)":[{"startTime":1772296621142,"executionIndex":1,"source":[{"previousNode":"When Called by Parent","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'ai_response'"},"pairedItem":{"item":0}}]]}}],"Is Valid?":[{"startTime":1772296621147,"executionIndex":2,"source":[{"previousNode":"Extract & Validate (PRE)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'ai_response'"},"pairedItem":{"item":0}}],[]]}}],"Telegram":[{"startTime":1772296621148,"executionIndex":3,"source":[{"previousNode":"Is Valid?","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":970,"executionStatus":"success","data":{"main":[[],[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'ai_response'","error":"Bad Request: chat_id is empty"},"pairedItem":{"item":0}}]]}}],"Format Global Error":[{"startTime":1772296622118,"executionIndex":4,"source":[{"previousNode":"Telegram","previousNodeOutput":1,"previousNodeRun":0}],"hints":[],"executionTime":8,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"INTERNAL_ERROR","error_message":"Workflow execution failed","data":null,"_meta":{"source":"NN_04_Telegram_Sender","timestamp":"2026-02-28T16:37:02.124Z","workflow_id":"NN_04","version":"1.0"}},"pairedItem":{"item":0}}]]}}],"Report to Global Handler":[{"startTime":1772296622126,"executionIndex":5,"source":[{"previousNode":"Format Global Error","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[],[{"json":{"success":false,"error_code":"INTERNAL_ERROR","error_message":"Workflow execution failed","data":null,"_meta":{"source":"NN_04_Telegram_Sender","timestamp":"2026-02-28T16:37:02.124Z","workflow_id":"NN_04","version":"1.0"},"error":"No information about the workflow to execute found. Please provide either the \"id\" or \"code\"!"},"pairedItem":[{"item":0}]}]]}}]},"lastNodeExecuted":"Report to Global Handler"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772296621141,"source":"integrated","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"},"parentExecutionId":"139"}},"parentExecution":{"executionId":"139","workflowId":"IhAvwkZIob9KfYoA","shouldResume":true,"executionContext":{"version":1,"establishedAt":1772296621052,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"4afRuMkIvgEh7gXt","name":"NN_04_Telegram_Sender","active":true,"activeVersionId":"495536cd-8669-45bc-92c3-fa2f7edd4d16","isArchived":false,"createdAt":"2026-02-28T16:19:19.528Z","updatedAt":"2026-02-28T16:31:04.811Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn04-telegram-sender","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[400,300],"webhookId":"nn04webhookid","id":"be3bd74b-b109-4e25-808e-9846fd3cb5a4"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"When Called by Parent","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[400,500],"id":"2d3e519c-1120-4c4e-a56e-a45c354b1a1d"},{"parameters":{"notice":""},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[400,700],"id":"49bbb596-fbe5-4dab-9d0d-74e0af4e3f2a"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const inputData = $input.first()?.json || {};\n\nconst chat_id = inputData.data?.chat_id || inputData.chat_id;\nconst ai_response = inputData.data?.ai_response || inputData.ai_response;\n\n// Validation Sandwich PRE: Check required fields\nif (!chat_id || !ai_response) {\n  return [{\n    json: {\n      isValid: false,\n      error_code: \"VALIDATION_ERROR\",\n      error_message: \"Missing required fields 'chat_id' or 'ai_response'\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    isValid: true,\n    chat_id: chat_id,\n    ai_response: ai_response\n  }\n}];","notice":""},"name":"Extract & Validate (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,500],"id":"0aeb5f19-a6e1-425c-8171-0adfbe7ff65f"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isValid }}","value2":true}]},"options":{}},"name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[850,500],"id":"e6e19ec5-68ae-465b-a679-a7bb0cb482c5"},{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{"parse_mode":""}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"onError":"continueErrorOutput","id":"fc28d70b-7b99-4666-94ed-41819f533fac"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n        chat_id: $node[\"Is Valid?\"].json.chat_id,\n        delivery_status: \"SENT\"\n    },\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.0\"\n    }\n  }\n}];","notice":""},"name":"Format Success (POST)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1350,400],"id":"9d27182c-29ab-4d95-ad2b-ebe44c33d4b7"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    success: false,\n    error_code: $json.error_code,\n    error_message: $json.error_message,\n    data: null,\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.0\"\n    }\n  }\n}];","notice":""},"name":"Format Rejection","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,600],"id":"ed7256aa-b76c-4580-88d0-d6bedbed89ab"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":"NJ06kaiVRK6EWBkV","workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"once","options":{}},"name":"Report to Global Handler","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1350,750],"onError":"continueErrorOutput","id":"e4d2719b-4d5a-4fc4-8b02-9ecd2d6e566e"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    success: false,\n    error_code: \"INTERNAL_ERROR\",\n    error_message: $json.message || \"Workflow execution failed\",\n    data: null,\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.0\"\n    }\n  }\n}];","notice":""},"name":"Format Global Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,750],"id":"94d6225b-7955-4e1c-940c-508a4d624cf4"}],"connections":{"Webhook":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"When Called by Parent":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Extract & Validate (PRE)":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Format Rejection","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Format Success (POST)","type":"main","index":0}],[{"node":"Format Global Error","type":"main","index":0}]]},"Format Rejection":{"main":[[]]},"Format Global Error":{"main":[[{"node":"Report to Global Handler","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"NJ06kaiVRK6EWBkV","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"pinData":null},"customData":{}}