scripts-ts/exec57_data.json
{"id":"57","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-02-28T15:59:03.416Z","startedAt":"2026-02-28T15:59:03.428Z","stoppedAt":"2026-02-28T15:59:04.706Z","deletedAt":null,"workflowId":"N2APxPodLDJCG818","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"description":"Key parameter is empty","timestamp":1772294344705,"context":{"itemIndex":0},"functionality":"configuration-node","name":"NodeOperationError","node":{"parameters":{"notice":"","scalingNotice":"","sessionIdType":"custom","contextWindowLength":5},"name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1168,784],"id":"bcf09752-be71-4303-a1ae-08253300bede"},"messages":[],"message":"Error in sub-node Window Buffer Memory","stack":"NodeOperationError: Error in sub-node Window Buffer Memory\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts:522:11)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:186:10)\n    at getOptionalMemory (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/common.ts:379:10)\n    at buildToolsAgentExecutionContext (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/helpers/buildExecutionContext.ts:41:17)\n    at ExecuteContext.toolsAgentExecute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/execute.ts:39:27)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/V3/AgentV3.node.ts:151:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27"},"runData":{"Webhook":[{"startTime":1772294343432,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"axios/1.13.6","content-length":"99","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d51207dc935dae1-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"chat_id":123456789,"username":"TestUser","text":"Hello, what services do you offer for booking?"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-03-ai-agent-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Extract & Validate (PRE)":[{"startTime":1772294343433,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1268,"executionStatus":"success","data":{"main":[[{"json":{"isValid":true,"chat_id":123456789,"text":"Hello, what services do you offer for booking?","username":"TestUser"},"pairedItem":{"item":0}}]]}}],"Is Valid?":[{"startTime":1772294344701,"executionIndex":2,"source":[{"previousNode":"Extract & Validate (PRE)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2,"executionStatus":"success","data":{"main":[[{"json":{"isValid":true,"chat_id":123456789,"text":"Hello, what services do you offer for booking?","username":"TestUser"},"pairedItem":{"item":0}}],[]]}}],"Window Buffer Memory":[{"startTime":1772294344705,"executionTime":0,"executionIndex":4,"executionStatus":"error","source":[{"previousNode":"AI Agent","previousNodeRun":0}],"error":{"message":"Key parameter is empty","timestamp":1772294344705,"name":"NodeOperationError","description":"Provide a key to use as session ID in the 'Key' parameter or use the 'Connected Chat Trigger Node' option to use the session ID from your Chat Trigger","context":{"itemIndex":0}}}],"AI Agent":[{"startTime":1772294344703,"executionIndex":3,"source":[{"previousNode":"Is Valid?","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":3,"metadata":{"subRun":[{"node":"Window Buffer Memory","runIndex":0}]},"executionStatus":"error","error":{"level":"warning","tags":{},"description":"Key parameter is empty","timestamp":1772294344705,"context":{"itemIndex":0},"functionality":"configuration-node","name":"NodeOperationError","node":{"parameters":{"notice":"","scalingNotice":"","sessionIdType":"custom","contextWindowLength":5},"name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1168,784],"id":"bcf09752-be71-4303-a1ae-08253300bede"},"messages":[],"message":"Error in sub-node Window Buffer Memory","stack":"NodeOperationError: Error in sub-node Window Buffer Memory\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts:522:11)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:186:10)\n    at getOptionalMemory (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/common.ts:379:10)\n    at buildToolsAgentExecutionContext (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/helpers/buildExecutionContext.ts:41:17)\n    at ExecuteContext.toolsAgentExecute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/execute.ts:39:27)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/V3/AgentV3.node.ts:151:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27"}}]},"lastNodeExecuted":"AI Agent"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.text }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"=You are Titanium, an expert booking assistant for a hotel/restaurant. You are talking to user {{ $json.username }}. Be polite, concise, and helpful."}},"name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1008,592],"id":"e638e193-de5e-40d2-9896-a55df5c9c486"},"data":{"main":[[{"json":{"isValid":true,"chat_id":123456789,"text":"Hello, what services do you offer for booking?","username":"TestUser"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Is Valid?","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{"AI Agent":[{"subRun":[{"node":"Window Buffer Memory","runIndex":0}]}]},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772294343432,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"N2APxPodLDJCG818","name":"NN_03_AI_Agent","active":true,"activeVersionId":"d849d7b7-c899-4127-a3a6-cea0b85a083d","isArchived":false,"createdAt":"2026-02-28T15:30:11.252Z","updatedAt":"2026-02-28T15:58:41.155Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[160,384],"id":"65e7faa6-2a9e-4a54-8154-7aaf29db8f26"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-03-ai-agent-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,592],"webhookId":"nn-03-ai-agent-test","id":"5a199a93-5fc3-4c2e-926e-9bfe462284a6"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[160,784],"id":"fe07a3c2-4e10-4239-98fa-01b1adc434bf"},{"parameters":{"notice":""},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[160,992],"id":"f2e0e835-9a25-4c0d-b29f-3578e3914e0d"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const inputData = $input.first()?.json?.body || $input.first()?.json || {};\n\n// Extract variables from prior nodes or the webhook payload\nconst chat_id = inputData.chat_id;\nconst text = inputData.text;\nconst username = inputData.username || \"User\";\n\n// Validation Sandwich PRE: Check required fields\nif (!chat_id || !text) {\n  return [{\n    json: {\n      isValid: false,\n      error_code: \"VALIDATION_ERROR\",\n      error_message: \"Missing required fields 'chat_id' or 'text'\"\n    }\n  }];\n}\n\n// Pass validated data forward\nreturn [{\n  json: {\n    isValid: true,\n    chat_id: chat_id,\n    text: text,\n    username: username\n  }\n}];","notice":""},"name":"Extract & Validate (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,592],"id":"4fed70a1-117a-42df-b405-0dba5e3ba624"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6265eccc-b0cf-464c-b1cc-15df178a9c33","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[672,592],"id":"c06aca7b-e3a5-4ffb-9b68-080090a67ef2"},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.text }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"=You are Titanium, an expert booking assistant for a hotel/restaurant. You are talking to user {{ $json.username }}. Be polite, concise, and helpful."}},"name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1008,592],"id":"e638e193-de5e-40d2-9896-a55df5c9c486"},{"parameters":{"notice":"","model":"llama-3.3-70b-versatile","options":{}},"name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1008,784],"credentials":{"groqApi":{"id":"4S8GVMY7aotYd9BI","name":"Groq account"}},"id":"966b0f1d-7d17-4e43-a449-95f3ac8e0938"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const ai_response = $input.first()?.json?.text || $input.first()?.json?.output || $input.first()?.json?.response || \"\";\n// Bring forward chat_id from the IF node\nconst chat_id = $node[\"Is Valid?\"].json.chat_id;\n\n// POST validation: ensure the AI actually responded\nif (!ai_response) {\n  return [{\n    json: {\n      success: false,\n      error_code: \"AI_GENERATION_FAILED\",\n      error_message: \"AI failed to return an output\",\n      data: null,\n      _meta: {\n        source: \"NN_03_AI_Agent\",\n        timestamp: new Date().toISOString(),\n        workflow_id: \"\",\n        version: \"1.0.0\"\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      chat_id: chat_id,\n      ai_response: ai_response\n    },\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Success (POST)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,592],"id":"018b1e48-ccca-4836-ba78-833280f44e28"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const errorInfo = $input.first()?.json;\n\nreturn [{\n  json: {\n    success: false,\n    error_code: errorInfo?.error_code || \"REJECTED_VALIDATION\",\n    error_message: errorInfo?.error_message || \"Validation failed in AI Agent flow\",\n    data: null,\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Rejection","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,384],"id":"b47dd4d9-6693-4e85-bf68-d2836a8b7e16"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const executionError = $input.first()?.json?.execution?.error || {};\nconst errorMessage = executionError.message || \"Unknown execution error\";\n\nreturn [{\n  json: {\n    success: false,\n    error_code: \"EXECUTION_ERROR\",\n    error_message: errorMessage,\n    data: null,\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Global Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,992],"id":"294f180c-db2d-49ba-a94f-924b4f3e64a0"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"NJ06kaiVRK6EWBkV","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Report to Global Handler","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[704,992],"id":"2b52f8e9-f4d9-4931-ac23-a711e8fa8c14"},{"parameters":{"notice":"","scalingNotice":"","sessionIdType":"custom","contextWindowLength":5},"name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1168,784],"id":"bcf09752-be71-4303-a1ae-08253300bede"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Format Global Error","type":"main","index":0}]]},"Extract & Validate (PRE)":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Format Rejection","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Format Success (POST)","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Format Global Error":{"main":[[{"node":"Report to Global Handler","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":null},"customData":{}}