scripts-ts/exec_nn04_fail_v2.json
{"id":"93","finished":false,"mode":"integrated","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-02-28T16:22:36.520Z","startedAt":"2026-02-28T16:22:36.527Z","stoppedAt":"2026-02-28T16:22:37.439Z","deletedAt":null,"workflowId":"4afRuMkIvgEh7gXt","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"description":"Bad Request: chat_id is empty","timestamp":1772295757437,"context":{},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"a97f88a8-5dae-4c9a-93f5-98a149128246"},"messages":["400 - {\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: chat_id is empty\"}"],"httpCode":"400","message":"Bad request - please check your parameters","stack":"NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/GenericFunctions.ts:230:9)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/Telegram.node.ts:2180:21)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"},"runData":{"When Called by Parent":[{"startTime":1772295756532,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"metadata":{"parentExecution":{"executionId":"90","workflowId":"IhAvwkZIob9KfYoA","shouldResume":true,"executionContext":{"version":1,"establishedAt":1772295756457,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:22:36.508Z","workflow_id":"","version":"1.0.0"}},"index":0,"pairedItem":{"item":0}}]]}}],"Extract & Validate (PRE)":[{"startTime":1772295756533,"executionIndex":1,"source":[{"previousNode":"When Called by Parent","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":4,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'ai_response'"},"pairedItem":{"item":0}}]]}}],"Is Valid?":[{"startTime":1772295756537,"executionIndex":2,"source":[{"previousNode":"Extract & Validate (PRE)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'ai_response'"},"pairedItem":{"item":0}}],[]]}}],"Telegram":[{"startTime":1772295756538,"executionIndex":3,"source":[{"previousNode":"Is Valid?","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":900,"executionStatus":"error","error":{"level":"warning","tags":{},"description":"Bad Request: chat_id is empty","timestamp":1772295757437,"context":{},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"a97f88a8-5dae-4c9a-93f5-98a149128246"},"messages":["400 - {\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: chat_id is empty\"}"],"httpCode":"400","message":"Bad request - please check your parameters","stack":"NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/GenericFunctions.ts:230:9)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/Telegram.node.ts:2180:21)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"}}]},"lastNodeExecuted":"Telegram"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"a97f88a8-5dae-4c9a-93f5-98a149128246"},"data":{"main":[[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'ai_response'"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Is Valid?","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772295756532,"source":"integrated","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"},"parentExecutionId":"90"}},"parentExecution":{"executionId":"90","workflowId":"IhAvwkZIob9KfYoA","shouldResume":true,"executionContext":{"version":1,"establishedAt":1772295756457,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"4afRuMkIvgEh7gXt","name":"NN_04_Telegram_Sender","active":true,"activeVersionId":"f1b03035-c44c-4e73-a407-429181bbde1d","isArchived":false,"createdAt":"2026-02-28T16:19:19.528Z","updatedAt":"2026-02-28T16:22:24.900Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn04-telegram-sender","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[400,300],"webhookId":"nn04webhookid","id":"8c074fd8-bdee-4208-bda0-17f353a9611c"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"When Called by Parent","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[400,500],"id":"08f350fb-184d-47bf-bc77-0a293c92e50f"},{"parameters":{"notice":""},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[400,700],"id":"9115c7a6-c91a-4c82-bb27-e5f8f314fc69"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const inputData = $input.first()?.json || {};\n\nconst chat_id = inputData.data?.chat_id || inputData.chat_id;\nconst ai_response = inputData.data?.ai_response || inputData.ai_response;\n\n// Validation Sandwich PRE: Check required fields\nif (!chat_id || !ai_response) {\n  return [{\n    json: {\n      isValid: false,\n      error_code: \"VALIDATION_ERROR\",\n      error_message: \"Missing required fields 'chat_id' or 'ai_response'\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    isValid: true,\n    chat_id: chat_id,\n    ai_response: ai_response\n  }\n}];","notice":""},"name":"Extract & Validate (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,500],"id":"5e50186b-4436-4120-a9e1-cffd33f536e0"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isValid }}","value2":true}]},"options":{}},"name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[850,500],"id":"8e2b581c-2eb7-470a-84f8-867cbe6e513e"},{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"a97f88a8-5dae-4c9a-93f5-98a149128246"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n        chat_id: $node[\"Is Valid?\"].json.chat_id,\n        delivery_status: \"SENT\"\n    },\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.0\"\n    }\n  }\n}];","notice":""},"name":"Format Success (POST)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1350,400],"id":"621a1e86-1b70-495c-b2a6-ae9995c93280"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    success: false,\n    error_code: $json.error_code,\n    error_message: $json.error_message,\n    data: null,\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.0\"\n    }\n  }\n}];","notice":""},"name":"Format Rejection","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,600],"id":"875e4c71-5ec0-4fae-829b-2f5c847ea4d8"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":"NJ06kaiVRK6EWBkV","workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"once","options":{}},"name":"Report to Global Handler","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1350,750],"onError":"continueErrorOutput","id":"907f8e71-4e8f-425b-9e08-328cab03becb"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    success: false,\n    error_code: \"INTERNAL_ERROR\",\n    error_message: $json.message || \"Workflow execution failed\",\n    data: null,\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.0\"\n    }\n  }\n}];","notice":""},"name":"Format Global Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,750],"id":"2b6dac10-bb0d-422c-8ae2-2ee0400d8f3e"}],"connections":{"Webhook":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"When Called by Parent":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Extract & Validate (PRE)":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Format Rejection","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Format Success (POST)","type":"main","index":0}],[{"node":"Format Global Error","type":"main","index":0}]]},"Format Rejection":{"main":[[]]},"Format Global Error":{"main":[[{"node":"Report to Global Handler","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"NJ06kaiVRK6EWBkV","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"pinData":null},"customData":{}}