scripts-ts/exec_nn01_fail_v9.json
{"id":"147","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-28T16:38:44.409Z","startedAt":"2026-02-28T16:38:44.420Z","stoppedAt":"2026-02-28T16:38:47.094Z","deletedAt":null,"workflowId":"IhAvwkZIob9KfYoA","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook":[{"startTime":1772296724424,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"axios/1.13.6","content-length":"28","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d515a9eed1da662-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"unexpectedField":"hacker"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-01-booking-gateway-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Parse Incoming Payload (NN_02)":[{"startTime":1772296724425,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":30,"metadata":{"subExecution":{"executionId":"148","workflowId":"MoRopyN2Aslc35XU"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required 'chat_id' or 'text' fields.","data":null,"_meta":{"source":"NN_02_Message_Parser","timestamp":"2026-02-28T16:38:44.445Z","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}],"Verify Parser (NN_02)":[{"startTime":1772296724456,"executionIndex":2,"source":[{"previousNode":"Parse Incoming Payload (NN_02)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required 'chat_id' or 'text' fields.","data":null,"_meta":{"source":"NN_02_Message_Parser","timestamp":"2026-02-28T16:38:44.445Z","version":"1.0.0"}},"pairedItem":{"item":0}}],[]]}}],"Execute AI Agent (NN_03)":[{"startTime":1772296724456,"executionIndex":3,"source":[{"previousNode":"Verify Parser (NN_02)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":35,"metadata":{"subExecution":{"executionId":"149","workflowId":"N2APxPodLDJCG818"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:38:44.482Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}],"Verify AI (NN_03)":[{"startTime":1772296724491,"executionIndex":4,"source":[{"previousNode":"Execute AI Agent (NN_03)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:38:44.482Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}],[]]}}],"Send Telegram Response (NN_04)":[{"startTime":1772296724492,"executionIndex":5,"source":[{"previousNode":"Verify AI (NN_03)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":2596,"metadata":{"subExecution":{"executionId":"150","workflowId":"4afRuMkIvgEh7gXt"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[{"json":{},"pairedItem":[{"item":0,"input":0}]}],[{"json":{"success":false,"error_code":"INTERNAL_ERROR","error_message":"Workflow execution failed","data":null,"_meta":{"source":"NN_04_Telegram_Sender","timestamp":"2026-02-28T16:38:47.076Z","workflow_id":"NN_04","version":"1.0"},"error":"No information about the workflow to execute found. Please provide either the \"id\" or \"code\"!"},"pairedItem":{"item":0}}]]}}],"Response":[{"startTime":1772296727088,"executionIndex":6,"source":[{"previousNode":"Send Telegram Response (NN_04)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":6,"executionStatus":"success","data":{"main":[[{"json":{},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Response"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772296724424,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"IhAvwkZIob9KfYoA","name":"NN_01_Booking_Gateway","active":true,"activeVersionId":"676a44a6-9ba2-47b3-8c76-c8c52a47d764","isArchived":false,"createdAt":"2026-02-28T13:59:38.958Z","updatedAt":"2026-02-28T16:38:30.715Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,240],"id":"32db0576-3ff3-4b1d-8c6b-348448f3dd26"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-01-booking-gateway-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"7715d05a-cb3e-44af-9430-b086e1cc2ea5"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,608],"id":"9f1e6b62-54bc-4f27-ad63-e34dc7c21b05"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"MoRopyN2Aslc35XU","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Parse Incoming Payload (NN_02)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[600,432],"continueOnFail":true,"alwaysOutputData":true,"id":"a51e4091-dbae-4a81-98ef-a6cd5fb34b42"},{"parameters":{"conditions":{"string":[{"value1":"={{ String($json.success) }}","value2":"true"}]},"options":{}},"name":"Verify Parser (NN_02)","type":"n8n-nodes-base.if","typeVersion":2,"position":[820,432],"id":"d72882a3-0e46-464c-bbd7-52ddbcc5a4c9"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"N2APxPodLDJCG818","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute AI Agent (NN_03)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1040,432],"continueOnFail":true,"alwaysOutputData":true,"id":"6ed89b7c-612a-49e4-b5f5-866aa4bebb5c"},{"parameters":{"conditions":{"string":[{"value1":"={{ String($json.success) }}","value2":"true"}]},"options":{}},"name":"Verify AI (NN_03)","type":"n8n-nodes-base.if","typeVersion":2,"position":[1260,432],"id":"62290cb0-7e25-4a45-a9b0-03d0b8865b65"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"4afRuMkIvgEh7gXt","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Send Telegram Response (NN_04)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1480,432],"continueOnFail":true,"alwaysOutputData":true,"id":"1ae45503-308e-4802-a2d6-2f314a9a8867"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return $input.all();","notice":""},"name":"Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1750,432],"id":"a488338a-460e-41a9-acf7-3f5117d6c341"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Parse Incoming Payload (NN_02)":{"main":[[{"node":"Verify Parser (NN_02)","type":"main","index":0}]]},"Verify Parser (NN_02)":{"main":[[{"node":"Execute AI Agent (NN_03)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Execute AI Agent (NN_03)":{"main":[[{"node":"Verify AI (NN_03)","type":"main","index":0}]]},"Verify AI (NN_03)":{"main":[[{"node":"Send Telegram Response (NN_04)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Send Telegram Response (NN_04)":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{},"pinData":{}},"customData":{}}