scripts-ts/exec_nn01_fail_v8.json
{"id":"139","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-28T16:37:01.039Z","startedAt":"2026-02-28T16:37:01.049Z","stoppedAt":"2026-02-28T16:37:02.136Z","deletedAt":null,"workflowId":"IhAvwkZIob9KfYoA","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook":[{"startTime":1772296621053,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"axios/1.13.6","content-length":"28","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d515818dea06380-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"unexpectedField":"hacker"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-01-booking-gateway-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Parse Incoming Payload (NN_02)":[{"startTime":1772296621054,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":29,"metadata":{"subExecution":{"executionId":"140","workflowId":"MoRopyN2Aslc35XU"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required 'chat_id' or 'text' fields.","data":null,"_meta":{"source":"NN_02_Message_Parser","timestamp":"2026-02-28T16:37:01.074Z","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}],"Verify Parser (NN_02)":[{"startTime":1772296621083,"executionIndex":2,"source":[{"previousNode":"Parse Incoming Payload (NN_02)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required 'chat_id' or 'text' fields.","data":null,"_meta":{"source":"NN_02_Message_Parser","timestamp":"2026-02-28T16:37:01.074Z","version":"1.0.0"}},"pairedItem":{"item":0}}],[]]}}],"Execute AI Agent (NN_03)":[{"startTime":1772296621085,"executionIndex":3,"source":[{"previousNode":"Verify Parser (NN_02)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":38,"metadata":{"subExecution":{"executionId":"141","workflowId":"N2APxPodLDJCG818"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:37:01.111Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}],"Verify AI (NN_03)":[{"startTime":1772296621123,"executionIndex":4,"source":[{"previousNode":"Execute AI Agent (NN_03)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:37:01.111Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}],[]]}}],"Send Telegram Response (NN_04)":[{"startTime":1772296621124,"executionIndex":5,"source":[{"previousNode":"Verify AI (NN_03)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1012,"metadata":{"subExecution":{"executionId":"142","workflowId":"4afRuMkIvgEh7gXt"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[],[{"json":{"success":false,"error_code":"INTERNAL_ERROR","error_message":"Workflow execution failed","data":null,"_meta":{"source":"NN_04_Telegram_Sender","timestamp":"2026-02-28T16:37:02.124Z","workflow_id":"NN_04","version":"1.0"},"error":"No information about the workflow to execute found. Please provide either the \"id\" or \"code\"!"},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Send Telegram Response (NN_04)"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772296621052,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"IhAvwkZIob9KfYoA","name":"NN_01_Booking_Gateway","active":true,"activeVersionId":"0c80fe5a-893f-4354-bd43-962870517d5e","isArchived":false,"createdAt":"2026-02-28T13:59:38.958Z","updatedAt":"2026-02-28T16:36:48.203Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,240],"id":"f62274f3-3613-4522-8ad8-79e6df857114"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-01-booking-gateway-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"92cecad5-d7a1-4cd7-8a1a-4e1b8daf0b52"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,608],"id":"bfaec557-6fb4-4b6e-a7c4-b6faa0a12f2f"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"MoRopyN2Aslc35XU","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Parse Incoming Payload (NN_02)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[600,432],"id":"516e330e-ce90-40f5-b70d-e658df64e562"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]},"options":{}},"name":"Verify Parser (NN_02)","type":"n8n-nodes-base.if","typeVersion":2,"position":[820,432],"id":"cbd78549-d574-40f3-a7e5-0b07c2c69006"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"N2APxPodLDJCG818","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute AI Agent (NN_03)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1040,432],"id":"52277863-24a7-48fe-a809-cf48c9fd6ee6"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]},"options":{}},"name":"Verify AI (NN_03)","type":"n8n-nodes-base.if","typeVersion":2,"position":[1260,432],"id":"0214e18e-9f53-4104-b3b1-1dd36b335ed1"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"4afRuMkIvgEh7gXt","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Send Telegram Response (NN_04)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1480,432],"id":"c130f750-092f-4c30-913b-8f890e759786"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return $input.all();","notice":""},"name":"Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1750,432],"id":"7440770c-bace-4a03-9962-6b8cdcf922f7"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Parse Incoming Payload (NN_02)":{"main":[[{"node":"Verify Parser (NN_02)","type":"main","index":0}]]},"Verify Parser (NN_02)":{"main":[[{"node":"Execute AI Agent (NN_03)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Execute AI Agent (NN_03)":{"main":[[{"node":"Verify AI (NN_03)","type":"main","index":0}]]},"Verify AI (NN_03)":{"main":[[{"node":"Send Telegram Response (NN_04)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Send Telegram Response (NN_04)":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{},"pinData":{}},"customData":{}}