scripts-ts/exec40_data.json
{"id":"40","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-28T15:50:10.975Z","startedAt":"2026-02-28T15:50:10.990Z","stoppedAt":"2026-02-28T15:50:11.006Z","deletedAt":null,"workflowId":"N2APxPodLDJCG818","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook":[{"startTime":1772293810995,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"axios/1.13.6","content-length":"43","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d51137dc997d669-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"chat_id":123456789,"username":"TestUser"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-03-ai-agent-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Extract & Validate (PRE)":[{"startTime":1772293810995,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'"},"pairedItem":{"item":0}}]]}}],"Is Valid?":[{"startTime":1772293811000,"executionIndex":2,"source":[{"previousNode":"Extract & Validate (PRE)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[],[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'"},"pairedItem":{"item":0}}]]}}],"Format Rejection":[{"startTime":1772293811000,"executionIndex":3,"source":[{"previousNode":"Is Valid?","previousNodeOutput":1,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T15:50:11.005Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Format Rejection"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772293810994,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"N2APxPodLDJCG818","name":"NN_03_AI_Agent","active":true,"activeVersionId":"9db7b252-8b4e-4ece-9fbe-8091715a22af","isArchived":false,"createdAt":"2026-02-28T15:30:11.252Z","updatedAt":"2026-02-28T15:49:53.763Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[160,384],"id":"4bedad7e-3251-40ed-9e82-14f950c27235"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-03-ai-agent-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,592],"webhookId":"nn-03-ai-agent-test","id":"31c40f9a-7f4f-490a-9141-b741d0e2bebf"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[160,784],"id":"01ccb71f-3843-4eb8-9e83-84ee6b00e177"},{"parameters":{"notice":""},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[160,992],"id":"3d818631-ca81-4e75-a882-36a50e1a3c9a"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const inputData = $input.first()?.json?.body || $input.first()?.json || {};\n\n// Extract variables from prior nodes or the webhook payload\nconst chat_id = inputData.chat_id;\nconst text = inputData.text;\nconst username = inputData.username || \"User\";\n\n// Validation Sandwich PRE: Check required fields\nif (!chat_id || !text) {\n  return [{\n    json: {\n      isValid: false,\n      error_code: \"VALIDATION_ERROR\",\n      error_message: \"Missing required fields 'chat_id' or 'text'\"\n    }\n  }];\n}\n\n// Pass validated data forward\nreturn [{\n  json: {\n    isValid: true,\n    chat_id: chat_id,\n    text: text,\n    username: username\n  }\n}];","notice":""},"name":"Extract & Validate (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,592],"id":"45ba7a55-72c3-48e4-aa29-1bac8b03c89a"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6265eccc-b0cf-464c-b1cc-15df178a9c33","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[672,592],"id":"f58d29da-dfa3-4e12-b169-244f5590e220"},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.text }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"=You are Titanium, an expert booking assistant for a hotel/restaurant. You are talking to user {{ $json.username }}. Be polite, concise, and helpful."}},"name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1008,592],"id":"e5374389-9ee7-4b73-96a0-a6abaa27e18c"},{"parameters":{"notice":"","model":"llama3-8b-8192","options":{}},"name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1008,784],"credentials":{"groqApi":{"id":"4S8GVMY7aotYd9BI","name":"Groq account"}},"id":"168b7bbd-1e83-4723-b14d-c3159fcd123f"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const ai_response = $input.first()?.json?.text || $input.first()?.json?.output || $input.first()?.json?.response || \"\";\n// Bring forward chat_id from the IF node\nconst chat_id = $node[\"Is Valid?\"].json.chat_id;\n\n// POST validation: ensure the AI actually responded\nif (!ai_response) {\n  return {\n    success: false,\n    error_code: \"AI_GENERATION_FAILED\",\n    error_message: \"AI failed to return an output\",\n    data: null,\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  };\n}\n\nreturn {\n  success: true,\n  error_code: null,\n  error_message: null,\n  data: {\n    chat_id: chat_id,\n    ai_response: ai_response\n  },\n  _meta: {\n    source: \"NN_03_AI_Agent\",\n    timestamp: new Date().toISOString(),\n    workflow_id: \"\",\n    version: \"1.0.0\"\n  }\n};","notice":""},"name":"Format Success (POST)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,592],"id":"c3ba7ae1-a395-41a6-a1ee-c6b75a1486e9"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const errorInfo = $input.first()?.json;\n\nreturn {\n  success: false,\n  error_code: errorInfo?.error_code || \"REJECTED_VALIDATION\",\n  error_message: errorInfo?.error_message || \"Validation failed in AI Agent flow\",\n  data: null,\n  _meta: {\n    source: \"NN_03_AI_Agent\",\n    timestamp: new Date().toISOString(),\n    workflow_id: \"\",\n    version: \"1.0.0\"\n  }\n};","notice":""},"name":"Format Rejection","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,384],"id":"c0b8a29a-eb5e-48f1-afff-4d3026e4f8f4"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const executionError = $input.first()?.json?.execution?.error || {};\nconst errorMessage = executionError.message || \"Unknown execution error\";\n\nreturn {\n  success: false,\n  error_code: \"EXECUTION_ERROR\",\n  error_message: errorMessage,\n  data: null,\n  _meta: {\n    source: \"NN_03_AI_Agent\",\n    timestamp: new Date().toISOString(),\n    workflow_id: \"\",\n    version: \"1.0.0\"\n  }\n};","notice":""},"name":"Format Global Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,992],"id":"00d88942-d3dc-4f8c-906f-f57919b1640e"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"NJ06kaiVRK6EWBkV","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Report to Global Handler","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[704,992],"id":"69438546-1fef-4241-ab00-46c2fa587624"},{"parameters":{"notice":"","scalingNotice":"","sessionIdType":"fromInput","contextWindowLength":5},"name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1168,784],"id":"62e26866-6f92-400f-8b8d-760f5d74175d"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Format Global Error","type":"main","index":0}]]},"Extract & Validate (PRE)":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Format Rejection","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Format Success (POST)","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Format Global Error":{"main":[[{"node":"Report to Global Handler","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":null},"customData":{}}