scripts-ts/exec_nn01_fail_v7.json
{"id":"134","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-02-28T16:36:08.958Z","startedAt":"2026-02-28T16:36:08.967Z","stoppedAt":"2026-02-28T16:36:08.972Z","deletedAt":null,"workflowId":"IhAvwkZIob9KfYoA","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook":[{"startTime":1772296568972,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"error","error":{"message":"Unused Respond to Webhook node found in the workflow","stack":"WorkflowConfigurationError: Unused Respond to Webhook node found in the workflow\n    at checkResponseModeConfiguration (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Webhook/utils.ts:224:9)\n    at Webhook.webhook (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Webhook/Webhook.node.ts:215:34)\n    at WebhookService.runWebhook (/usr/local/lib/node_modules/n8n/src/webhooks/webhook.service.ts:465:21)\n    at Object.executeWebhook (/usr/local/lib/node_modules/n8n/src/webhooks/webhook-helpers.ts:526:60)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)"}}]},"lastNodeExecuted":"Webhook","error":{"message":"Unused Respond to Webhook node found in the workflow","stack":"WorkflowConfigurationError: Unused Respond to Webhook node found in the workflow\n    at checkResponseModeConfiguration (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Webhook/utils.ts:224:9)\n    at Webhook.webhook (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Webhook/Webhook.node.ts:215:34)\n    at WebhookService.runWebhook (/usr/local/lib/node_modules/n8n/src/webhooks/webhook.service.ts:465:21)\n    at Object.executeWebhook (/usr/local/lib/node_modules/n8n/src/webhooks/webhook-helpers.ts:526:60)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)"}},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-01-booking-gateway-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"ee67cbe9-d207-4390-a7e9-d0c20eafa500"},"data":{"main":[[{"json":{},"pairedItem":{"item":0}}]]},"source":null}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772296568971,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"IhAvwkZIob9KfYoA","name":"NN_01_Booking_Gateway","active":true,"activeVersionId":"e8335d31-6e95-465e-bc5c-85160dac9f58","isArchived":false,"createdAt":"2026-02-28T13:59:38.958Z","updatedAt":"2026-02-28T16:36:02.404Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,240],"id":"31bbc2c8-10b4-478f-9a5c-00cddf03d562"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-01-booking-gateway-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"ee67cbe9-d207-4390-a7e9-d0c20eafa500"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,608],"id":"0aaecbc4-d981-46b1-b195-b96708564b2c"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"MoRopyN2Aslc35XU","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Parse Incoming Payload (NN_02)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[600,432],"id":"ad42bae5-7b38-4288-adc5-ec54b0210dfc"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]},"options":{}},"name":"Verify Parser (NN_02)","type":"n8n-nodes-base.if","typeVersion":2,"position":[820,432],"id":"b500b42c-b0cd-442f-a6fd-db7a2bfd2c03"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"N2APxPodLDJCG818","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute AI Agent (NN_03)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1040,432],"id":"13732002-cbfa-4b94-8830-2bff444d25f7"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]},"options":{}},"name":"Verify AI (NN_03)","type":"n8n-nodes-base.if","typeVersion":2,"position":[1260,432],"id":"66682d6f-7e06-49e8-b562-ebaa9443c589"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"4afRuMkIvgEh7gXt","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Send Telegram Response (NN_04)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1480,432],"id":"1afc9183-037f-4cd4-b904-cbaa2072090e"},{"parameters":{"generalNotice":"","respondWith":"allIncomingItems","options":{}},"name":"Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1750,432],"id":"fa0b1a21-feb4-4ab6-8657-b8a579a230f1"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Parse Incoming Payload (NN_02)":{"main":[[{"node":"Verify Parser (NN_02)","type":"main","index":0}]]},"Verify Parser (NN_02)":{"main":[[{"node":"Execute AI Agent (NN_03)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Execute AI Agent (NN_03)":{"main":[[{"node":"Verify AI (NN_03)","type":"main","index":0}]]},"Verify AI (NN_03)":{"main":[[{"node":"Send Telegram Response (NN_04)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Send Telegram Response (NN_04)":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{},"pinData":{}},"customData":{}}