scripts-ts/exec_nn01_79.json
{"id":"79","finished":true,"mode":"error","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-28T16:20:43.005Z","startedAt":"2026-02-28T16:20:43.022Z","stoppedAt":"2026-02-28T16:20:44.830Z","deletedAt":null,"workflowId":"NJ06kaiVRK6EWBkV","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Error Trigger":[{"startTime":1772295643027,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"metadata":{"parentExecution":{"executionId":"78","workflowId":"4afRuMkIvgEh7gXt","executionContext":{"version":1,"establishedAt":1772295641924,"source":"integrated","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"},"parentExecutionId":"75"}}},"executionStatus":"success","data":{"main":[[{"json":{"execution":{"id":"78","url":"https://n8n.stax.ink/workflow/4afRuMkIvgEh7gXt/executions/78","error":{"level":"warning","tags":{},"description":"Bad Request: chat_id is empty","timestamp":1772295642993,"context":{},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"883332c8-c8ce-49f5-9c00-6b65cf58d3b3"},"messages":["400 - {\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: chat_id is empty\"}"],"httpCode":"400","message":"Bad request - please check your parameters","stack":"NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/GenericFunctions.ts:230:9)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/Telegram.node.ts:2180:21)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"},"lastNodeExecuted":"Telegram","mode":"integrated","executionContext":{"version":1,"establishedAt":1772295641924,"source":"integrated","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"},"parentExecutionId":"75"}},"workflow":{"id":"4afRuMkIvgEh7gXt","name":"NN_04_Telegram_Sender"}},"pairedItem":{"item":0}}]]}}],"Format Error Payload":[{"startTime":1772295643027,"executionIndex":1,"source":[{"previousNode":"Error Trigger","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"workflow_id":"4afRuMkIvgEh7gXt","workflow_name":"NN_04_Telegram_Sender","execution_id":"78","error_message":"Bad request - please check your parameters","error_stack":"NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/GenericFunctions.ts:230:9)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/Telegram.node.ts:2180:21)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11","last_node":"Telegram","mode":"integrated"},"pairedItem":{"item":0}}]]}}],"Log to Postgres":[{"startTime":1772295643034,"executionIndex":2,"source":[{"previousNode":"Format Error Payload","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1773,"executionStatus":"success","data":{"main":[[{"json":{"id":14},"pairedItem":{"item":0}}]]}}],"Telegram Alert":[{"startTime":1772295644807,"executionIndex":3,"source":[{"previousNode":"Log to Postgres","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"error":"access to env vars denied"},"pairedItem":{"item":0}}]]}}],"Gmail Alert":[{"startTime":1772295644808,"executionIndex":4,"source":[{"previousNode":"Telegram Alert","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"error":"access to env vars denied (item 0)"},"pairedItem":{"item":0}}]]}}],"Standard Contract Output":[{"startTime":1772295644809,"executionIndex":5,"source":[{"previousNode":"Gmail Alert","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":20,"executionStatus":"success","data":{"main":[[{"json":{"success":true,"error_code":null,"error_message":null,"data":{"log_id":14,"telegram_sent":false,"gmail_sent":false},"_meta":{"source":"NN_00_Global_Error_Handler","timestamp":"2026-02-28T16:20:44.827Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Standard Contract Output"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772295643027,"source":"error","triggerNode":{"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger"},"parentExecutionId":"78"}}},"workflowData":{"id":"NJ06kaiVRK6EWBkV","name":"NN_00_Global_Error_Handler","active":true,"activeVersionId":"672d0bc8-344c-4ae8-a8ee-8236118435c0","isArchived":false,"createdAt":"2026-02-28T14:30:46.437Z","updatedAt":"2026-02-28T15:00:08.132Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[208,224],"id":"4f9f0bc0-7731-478c-8407-571ca8109e25"},{"parameters":{"notice":""},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[208,432],"id":"4ac37bf7-e3c2-4d76-83c2-c8d0b6c42aec"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[208,640],"id":"459bcc48-d64f-4e46-a719-62b15bce9430"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-00-global-error-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,848],"webhookId":"nn-00-global-error-test","id":"adc86e88-4ad2-46d2-b9c6-a30a55f4eeb3"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"/*\n  Aislamos las 4 fuentes en un formato comun.\n  - `Error Trigger` trae data en `{ execution, workflow }`\n  - `Webhook / Execute / Manual` traen un payload manual similar.\n*/\nconst incoming = $input.first()?.json || {};\nconst isSystemError = !!incoming.execution;\n\n// Mapeamos el payload\nconst payload = isSystemError ? incoming : incoming.body || incoming;\n\nreturn {\n  workflow_id: payload.workflow?.id || \"UNKNOWN\",\n  workflow_name: payload.workflow?.name || \"UNKNOWN\",\n  execution_id: payload.execution?.id || \"MANUAL_TEST_ID\",\n  error_message: payload.execution?.error?.message || payload.error_message || \"Unknown Error\",\n  error_stack: payload.execution?.error?.stack || \"\",\n  last_node: payload.execution?.lastNodeExecuted || \"\",\n  mode: payload.execution?.mode || \"manual\"\n};","notice":""},"name":"Format Error Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,432],"id":"03f47fe4-76cd-4e2d-ac35-ff13ec9ae02d"},{"parameters":{"resource":"database","operation":"executeQuery","query":"INSERT INTO system_logs (workflow_name, execution_id, level, message, details) VALUES ('{{ $json.workflow_name }}', '{{ $json.execution_id }}', 'ERROR', '{{ $json.error_message.replace(/'/g, \"''\") }}', '{{ JSON.stringify($json).replace(/'/g, \"''\") }}') RETURNING id;","options":{}},"name":"Log to Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[752,432],"credentials":{"postgres":{"id":"99BnrzwZQDhYU6Ly","name":"Postgres Booking"}},"continueOnFail":true,"id":"65628d0b-0edc-4022-8b08-a3a011cd0e84"},{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $env.TELEGRAM_ID }}","text":"=*🚨 ERROR en N8N Workflow 🚨*\n\n*Workflow:* {{ $node[\"Format Error Payload\"].json[\"workflow_name\"] }}\n*Error:* {{ $node[\"Format Error Payload\"].json[\"error_message\"] }}\n*Node:* {{ $node[\"Format Error Payload\"].json[\"last_node\"] }}\n*Exec ID:* {{ $node[\"Format Error Payload\"].json[\"execution_id\"] }}\n\n[Ver Detalles en Frontend]({{ $env.N8N_EDITOR_BASE_URL }}/workflow/{{ $node[\"Format Error Payload\"].json[\"workflow_id\"] }}/executions/{{ $node[\"Format Error Payload\"].json[\"execution_id\"] }})","replyMarkup":"none","additionalFields":{"parse_mode":"Markdown"}},"name":"Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1008,432],"webhookId":"deca857a-f578-40f8-8c04-62b1030e07d1","credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"continueOnFail":true,"id":"ce2eee3b-fca2-47e9-bc90-e99c812ac08b"},{"parameters":{"authentication":"oAuth2","resource":"message","operation":"send","sendTo":"dev@example.com","subject":"=ERROR N8N: {{ $node[\"Format Error Payload\"].json[\"workflow_name\"] }}","emailType":"html","message":"=Se ha producido un error crítico de ejecución.\n\nMensaje: {{ $node[\"Format Error Payload\"].json[\"error_message\"] }}\nNodo: {{ $node[\"Format Error Payload\"].json[\"last_node\"] }}\nEjecución: {{ $env.N8N_EDITOR_BASE_URL }}/workflow/{{ $node[\"Format Error Payload\"].json[\"workflow_id\"] }}/executions/{{ $node[\"Format Error Payload\"].json[\"execution_id\"] }}\n\nStack:\n{{ $node[\"Format Error Payload\"].json[\"error_stack\"] }}","options":{}},"name":"Gmail Alert","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1248,432],"webhookId":"3cc6a106-71c5-4f82-99ab-fc0e08de1a1c","credentials":{"gmailOAuth2":{"id":"T8fWDakSXbb5UsTL","name":"Gmail account"}},"continueOnFail":true,"id":"f19909af-90d6-4f90-9588-7edc9e9f15bc"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return {\n  success: true,\n  error_code: null,\n  error_message: null,\n  data: {\n    log_id: $node[\"Log to Postgres\"].json?.id || null,\n    telegram_sent: !$node[\"Telegram Alert\"].json?.error,\n    gmail_sent: !$node[\"Gmail Alert\"].json?.error\n  },\n  _meta: {\n    source: \"NN_00_Global_Error_Handler\",\n    timestamp: new Date().toISOString(),\n    workflow_id: \"\",\n    version: \"1.0.0\"\n  }\n};","notice":""},"name":"Standard Contract Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1504,432],"id":"fe3f9dad-65b7-4f6a-87e4-afe1244762c3"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Format Error Payload","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Format Error Payload","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Format Error Payload","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Format Error Payload","type":"main","index":0}]]},"Format Error Payload":{"main":[[{"node":"Log to Postgres","type":"main","index":0}]]},"Log to Postgres":{"main":[[{"node":"Telegram Alert","type":"main","index":0}]]},"Telegram Alert":{"main":[[{"node":"Gmail Alert","type":"main","index":0}]]},"Gmail Alert":{"main":[[{"node":"Standard Contract Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"pinData":null},"customData":{}}