scripts-ts/exec_nn01_fail_v4.json
{"id":"109","finished":true,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"success","createdAt":"2026-02-28T16:28:18.044Z","startedAt":"2026-02-28T16:28:18.052Z","stoppedAt":"2026-02-28T16:28:19.043Z","deletedAt":null,"workflowId":"IhAvwkZIob9KfYoA","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"runData":{"Webhook":[{"startTime":1772296098057,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"axios/1.13.6","content-length":"28","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d514b542b3c4c0d-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"unexpectedField":"hacker"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-01-booking-gateway-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Parse Incoming Payload (NN_02)":[{"startTime":1772296098058,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":35,"metadata":{"subExecution":{"executionId":"110","workflowId":"MoRopyN2Aslc35XU"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required 'chat_id' or 'text' fields.","data":null,"_meta":{"source":"NN_02_Message_Parser","timestamp":"2026-02-28T16:28:18.081Z","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}],"Verify Parser (NN_02)":[{"startTime":1772296098093,"executionIndex":2,"source":[{"previousNode":"Parse Incoming Payload (NN_02)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":5,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required 'chat_id' or 'text' fields.","data":null,"_meta":{"source":"NN_02_Message_Parser","timestamp":"2026-02-28T16:28:18.081Z","version":"1.0.0"}},"pairedItem":{"item":0}}],[]]}}],"Execute AI Agent (NN_03)":[{"startTime":1772296098098,"executionIndex":3,"source":[{"previousNode":"Verify Parser (NN_02)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":68,"metadata":{"subExecution":{"executionId":"111","workflowId":"N2APxPodLDJCG818"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:28:18.138Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}],"Verify AI (NN_03)":[{"startTime":1772296098167,"executionIndex":4,"source":[{"previousNode":"Execute AI Agent (NN_03)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:28:18.138Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}],[]]}}],"Send Telegram Response (NN_04)":[{"startTime":1772296098167,"executionIndex":5,"source":[{"previousNode":"Verify AI (NN_03)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":876,"metadata":{"subExecution":{"executionId":"112","workflowId":"4afRuMkIvgEh7gXt"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[],[{"json":{"success":false,"error_code":"INTERNAL_ERROR","error_message":"Workflow execution failed","data":null,"_meta":{"source":"NN_04_Telegram_Sender","timestamp":"2026-02-28T16:28:19.031Z","workflow_id":"NN_04","version":"1.0"},"error":"No information about the workflow to execute found. Please provide either the \"id\" or \"code\"!"},"pairedItem":{"item":0}}]]}}]},"lastNodeExecuted":"Send Telegram Response (NN_04)"},"executionData":{"contextData":{},"nodeExecutionStack":[],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772296098056,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"IhAvwkZIob9KfYoA","name":"NN_01_Booking_Gateway","active":true,"activeVersionId":"f001c27c-e8e4-4d79-96ec-3a705c5f2680","isArchived":false,"createdAt":"2026-02-28T13:59:38.958Z","updatedAt":"2026-02-28T16:25:59.049Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,240],"id":"2247e731-456a-4e77-bea5-3b7da7d33b48"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-01-booking-gateway-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"a7fad297-06e0-495b-94e8-3bdb87876ce8"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,608],"id":"5373f04e-8796-421b-9b0b-df10ea15472b"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"MoRopyN2Aslc35XU","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Parse Incoming Payload (NN_02)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[600,432],"id":"1fc953a3-4f6d-4c9d-ad95-e2b03029adb2"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]},"options":{}},"name":"Verify Parser (NN_02)","type":"n8n-nodes-base.if","typeVersion":2,"position":[820,432],"id":"1b7d0366-10d4-464f-931f-b048c3583cb3"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"N2APxPodLDJCG818","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute AI Agent (NN_03)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1040,432],"id":"25ea0c7e-ee6d-4151-bcbb-65451a2d2a6e"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]},"options":{}},"name":"Verify AI (NN_03)","type":"n8n-nodes-base.if","typeVersion":2,"position":[1260,432],"id":"dbe96bb0-9504-4da8-b82c-de9629513293"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"4afRuMkIvgEh7gXt","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Send Telegram Response (NN_04)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1480,432],"id":"2b4cf52d-6291-48e9-92a9-bd1a4eabcccb"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Parse Incoming Payload (NN_02)":{"main":[[{"node":"Verify Parser (NN_02)","type":"main","index":0}]]},"Verify Parser (NN_02)":{"main":[[{"node":"Execute AI Agent (NN_03)","type":"main","index":0}]]},"Execute AI Agent (NN_03)":{"main":[[{"node":"Verify AI (NN_03)","type":"main","index":0}]]},"Verify AI (NN_03)":{"main":[[{"node":"Send Telegram Response (NN_04)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{},"pinData":{}},"customData":{}}