scripts-ts/exec_nn04_fail.json
{"id":"83","finished":false,"mode":"integrated","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-02-28T16:20:43.471Z","startedAt":"2026-02-28T16:20:43.477Z","stoppedAt":"2026-02-28T16:20:44.338Z","deletedAt":null,"workflowId":"4afRuMkIvgEh7gXt","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"description":"Bad Request: chat_id is empty","timestamp":1772295644337,"context":{},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"883332c8-c8ce-49f5-9c00-6b65cf58d3b3"},"messages":["400 - {\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: chat_id is empty\"}"],"httpCode":"400","message":"Bad request - please check your parameters","stack":"NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/GenericFunctions.ts:230:9)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/Telegram.node.ts:2180:21)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"},"runData":{"When Called by Parent":[{"startTime":1772295643481,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"metadata":{"parentExecution":{"executionId":"80","workflowId":"IhAvwkZIob9KfYoA","shouldResume":true,"executionContext":{"version":1,"establishedAt":1772295643407,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:20:43.459Z","workflow_id":"","version":"1.0.0"}},"index":0,"pairedItem":{"item":0}}]]}}],"Extract & Validate (PRE)":[{"startTime":1772295643481,"executionIndex":1,"source":[{"previousNode":"When Called by Parent","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":7,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'ai_response'"},"pairedItem":{"item":0}}]]}}],"Is Valid?":[{"startTime":1772295643488,"executionIndex":2,"source":[{"previousNode":"Extract & Validate (PRE)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'ai_response'"},"pairedItem":{"item":0}}],[]]}}],"Telegram":[{"startTime":1772295643489,"executionIndex":3,"source":[{"previousNode":"Is Valid?","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":849,"executionStatus":"error","error":{"level":"warning","tags":{},"description":"Bad Request: chat_id is empty","timestamp":1772295644337,"context":{},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"883332c8-c8ce-49f5-9c00-6b65cf58d3b3"},"messages":["400 - {\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: chat_id is empty\"}"],"httpCode":"400","message":"Bad request - please check your parameters","stack":"NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/GenericFunctions.ts:230:9)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/Telegram.node.ts:2180:21)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"}}]},"lastNodeExecuted":"Telegram"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"883332c8-c8ce-49f5-9c00-6b65cf58d3b3"},"data":{"main":[[{"json":{"isValid":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'ai_response'"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Is Valid?","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772295643481,"source":"integrated","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"},"parentExecutionId":"80"}},"parentExecution":{"executionId":"80","workflowId":"IhAvwkZIob9KfYoA","shouldResume":true,"executionContext":{"version":1,"establishedAt":1772295643407,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"4afRuMkIvgEh7gXt","name":"NN_04_Telegram_Sender","active":true,"activeVersionId":"fe72e1eb-8a86-47c3-854c-2d543e299018","isArchived":false,"createdAt":"2026-02-28T16:19:19.528Z","updatedAt":"2026-02-28T16:19:55.285Z","nodes":[{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn04-telegram-sender","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[400,300],"webhookId":"nn04webhookid","id":"2cb20b65-7b04-4a40-a4d6-279b1eb354b5"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"When Called by Parent","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[400,500],"id":"43b96b38-7949-4585-98de-ad38d661073b"},{"parameters":{"notice":""},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[400,700],"id":"3f539740-9667-4065-8304-482c4c6f3703"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const inputData = $input.first()?.json?.body || $input.first()?.json || {};\n\nconst chat_id = inputData.chat_id;\nconst ai_response = inputData.ai_response;\n\n// Validation Sandwich PRE: Check required fields\nif (!chat_id || !ai_response) {\n  return [{\n    json: {\n      isValid: false,\n      error_code: \"VALIDATION_ERROR\",\n      error_message: \"Missing required fields 'chat_id' or 'ai_response'\"\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    isValid: true,\n    chat_id: chat_id,\n    ai_response: ai_response\n  }\n}];","notice":""},"name":"Extract & Validate (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[650,500],"id":"5e28e82c-1ca3-42f0-b558-3b16b88e3f04"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isValid }}","value2":true}]},"options":{}},"name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[850,500],"id":"308366ce-d75a-435b-9bd3-459eaa58ecf7"},{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"883332c8-c8ce-49f5-9c00-6b65cf58d3b3"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n        chat_id: $node[\"Is Valid?\"].json.chat_id,\n        delivery_status: \"SENT\"\n    },\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.0\"\n    }\n  }\n}];","notice":""},"name":"Format Success (POST)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1350,400],"id":"3a45d245-05c1-41ce-8ae3-c8fb55cd70e5"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    success: false,\n    error_code: $json.error_code,\n    error_message: $json.error_message,\n    data: null,\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.0\"\n    }\n  }\n}];","notice":""},"name":"Format Rejection","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,600],"id":"18fbe2b8-7a5a-4b29-a2f1-6fd3680e4730"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":"NJ06kaiVRK6EWBkV","workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"once","options":{}},"name":"Report to Global Handler","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1350,750],"onError":"continueErrorOutput","id":"b4455f92-7417-46c5-8099-88175c7f9ed7"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"return [{\n  json: {\n    success: false,\n    error_code: \"INTERNAL_ERROR\",\n    error_message: $json.message || \"Workflow execution failed\",\n    data: null,\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.0\"\n    }\n  }\n}];","notice":""},"name":"Format Global Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,750],"id":"1ab09f3f-3560-4e67-9f35-83e6de070895"}],"connections":{"Webhook":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"When Called by Parent":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Extract & Validate (PRE)":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Format Rejection","type":"main","index":0}]]},"Telegram":{"main":[[{"node":"Format Success (POST)","type":"main","index":0}],[{"node":"Format Global Error","type":"main","index":0}]]},"Format Rejection":{"main":[[]]},"Format Global Error":{"main":[[{"node":"Report to Global Handler","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"NJ06kaiVRK6EWBkV","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"pinData":null},"customData":{}}