scripts-ts/exec61_data.json
{"id":"61","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-02-28T16:01:10.685Z","startedAt":"2026-02-28T16:01:10.701Z","stoppedAt":"2026-02-28T16:01:11.921Z","deletedAt":null,"workflowId":"N2APxPodLDJCG818","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"description":"Key parameter is empty","timestamp":1772294471919,"context":{"itemIndex":0},"functionality":"configuration-node","name":"NodeOperationError","node":{"parameters":{"notice":"","scalingNotice":"","sessionIdType":"custom","contextWindowLength":5},"name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1168,784],"id":"0e0fc8ba-4472-4af4-90e9-dad6cccacbdf"},"messages":[],"message":"Error in sub-node Window Buffer Memory","stack":"NodeOperationError: Error in sub-node Window Buffer Memory\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts:522:11)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:186:10)\n    at getOptionalMemory (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/common.ts:379:10)\n    at buildToolsAgentExecutionContext (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/helpers/buildExecutionContext.ts:41:17)\n    at ExecuteContext.toolsAgentExecute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/execute.ts:39:27)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/V3/AgentV3.node.ts:151:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27"},"runData":{"Webhook":[{"startTime":1772294470706,"executionIndex":0,"source":[],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"axios/1.13.6","content-length":"99","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d512398eae314ca-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"chat_id":123456789,"username":"TestUser","text":"Hello, what services do you offer for booking?"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-03-ai-agent-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Extract & Validate (PRE)":[{"startTime":1772294470707,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1210,"executionStatus":"success","data":{"main":[[{"json":{"isValid":true,"chat_id":123456789,"text":"Hello, what services do you offer for booking?","username":"TestUser"},"pairedItem":{"item":0}}]]}}],"Is Valid?":[{"startTime":1772294471917,"executionIndex":2,"source":[{"previousNode":"Extract & Validate (PRE)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":1,"executionStatus":"success","data":{"main":[[{"json":{"isValid":true,"chat_id":123456789,"text":"Hello, what services do you offer for booking?","username":"TestUser"},"pairedItem":{"item":0}}],[]]}}],"Window Buffer Memory":[{"startTime":1772294471919,"executionTime":0,"executionIndex":4,"executionStatus":"error","source":[{"previousNode":"AI Agent","previousNodeRun":0}],"error":{"message":"Key parameter is empty","timestamp":1772294471919,"name":"NodeOperationError","description":"Provide a key to use as session ID in the 'Key' parameter or use the 'Connected Chat Trigger Node' option to use the session ID from your Chat Trigger","context":{"itemIndex":0}}}],"AI Agent":[{"startTime":1772294471918,"executionIndex":3,"source":[{"previousNode":"Is Valid?","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":3,"metadata":{"subRun":[{"node":"Window Buffer Memory","runIndex":0}]},"executionStatus":"error","error":{"level":"warning","tags":{},"description":"Key parameter is empty","timestamp":1772294471919,"context":{"itemIndex":0},"functionality":"configuration-node","name":"NodeOperationError","node":{"parameters":{"notice":"","scalingNotice":"","sessionIdType":"custom","contextWindowLength":5},"name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1168,784],"id":"0e0fc8ba-4472-4af4-90e9-dad6cccacbdf"},"messages":[],"message":"Error in sub-node Window Buffer Memory","stack":"NodeOperationError: Error in sub-node Window Buffer Memory\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/get-input-connection-data.ts:522:11)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:186:10)\n    at getOptionalMemory (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/common.ts:379:10)\n    at buildToolsAgentExecutionContext (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/helpers/buildExecutionContext.ts:41:17)\n    at ExecuteContext.toolsAgentExecute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/agents/ToolsAgent/V3/execute.ts:39:27)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/@n8n+n8n-nodes-langchain@file+packages+@n8n+nodes-langchain_3f8a51621cafcf583d9248e2e2767e62/node_modules/@n8n/n8n-nodes-langchain/nodes/agents/Agent/V3/AgentV3.node.ts:151:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27"}}]},"lastNodeExecuted":"AI Agent"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.text }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"=You are Titanium, an expert booking assistant for a hotel/restaurant. You are talking to user {{ $json.username }}. Be polite, concise, and helpful."}},"name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1008,592],"id":"2fe03ae5-5b8d-42f2-9cd5-90fbd5cb28ca"},"data":{"main":[[{"json":{"isValid":true,"chat_id":123456789,"text":"Hello, what services do you offer for booking?","username":"TestUser"},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Is Valid?","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{"AI Agent":[{"subRun":[{"node":"Window Buffer Memory","runIndex":0}]}]},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772294470705,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"N2APxPodLDJCG818","name":"NN_03_AI_Agent","active":true,"activeVersionId":"2e5151e8-d54e-4e1e-ba25-b78a4d151022","isArchived":false,"createdAt":"2026-02-28T15:30:11.252Z","updatedAt":"2026-02-28T16:01:01.285Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[160,384],"id":"d3ba4a1a-e3f9-47bd-9c5d-3060742db37f"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-03-ai-agent-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,592],"webhookId":"nn-03-ai-agent-test","id":"0ffa0e4f-cb62-49bd-b9fd-ac127199ffe4"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[160,784],"id":"ecd265a5-0995-44df-9ff4-ba5fbbc0394c"},{"parameters":{"notice":""},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[160,992],"id":"069d7768-49d7-4260-9e09-644889a3cbbc"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const inputData = $input.first()?.json?.body || $input.first()?.json || {};\n\n// Extract variables from prior nodes or the webhook payload\nconst chat_id = inputData.chat_id;\nconst text = inputData.text;\nconst username = inputData.username || \"User\";\n\n// Validation Sandwich PRE: Check required fields\nif (!chat_id || !text) {\n  return [{\n    json: {\n      isValid: false,\n      error_code: \"VALIDATION_ERROR\",\n      error_message: \"Missing required fields 'chat_id' or 'text'\"\n    }\n  }];\n}\n\n// Pass validated data forward\nreturn [{\n  json: {\n    isValid: true,\n    chat_id: chat_id,\n    text: text,\n    username: username\n  }\n}];","notice":""},"name":"Extract & Validate (PRE)","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,592],"id":"06e3d8ff-9fea-4f5e-b77b-f00a3fd5c450"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"6265eccc-b0cf-464c-b1cc-15df178a9c33","leftValue":"={{ $json.isValid }}","rightValue":true,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[672,592],"id":"df30fd8e-7fc4-475d-9ddc-d9c263ed2f84"},{"parameters":{"aiAgentStarterCallout":"","promptType":"define","text":"={{ $json.text }}","hasOutputParser":false,"needsFallback":false,"options":{"systemMessage":"=You are Titanium, an expert booking assistant for a hotel/restaurant. You are talking to user {{ $json.username }}. Be polite, concise, and helpful."}},"name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1008,592],"id":"2fe03ae5-5b8d-42f2-9cd5-90fbd5cb28ca"},{"parameters":{"notice":"","model":"llama-3.3-70b-versatile","options":{}},"name":"Groq Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1008,784],"credentials":{"groqApi":{"id":"4S8GVMY7aotYd9BI","name":"Groq account"}},"id":"31fe3439-2674-4d93-846d-87d087a89d26"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const ai_response = $input.first()?.json?.text || $input.first()?.json?.output || $input.first()?.json?.response || \"\";\n// Bring forward chat_id from the IF node\nconst chat_id = $node[\"Is Valid?\"].json.chat_id;\n\n// POST validation: ensure the AI actually responded\nif (!ai_response) {\n  return [{\n    json: {\n      success: false,\n      error_code: \"AI_GENERATION_FAILED\",\n      error_message: \"AI failed to return an output\",\n      data: null,\n      _meta: {\n        source: \"NN_03_AI_Agent\",\n        timestamp: new Date().toISOString(),\n        workflow_id: \"\",\n        version: \"1.0.0\"\n      }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      chat_id: chat_id,\n      ai_response: ai_response\n    },\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Success (POST)","type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,592],"id":"c6c6a648-bf23-490d-85bb-b0de2afcdc8e"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const errorInfo = $input.first()?.json;\n\nreturn [{\n  json: {\n    success: false,\n    error_code: errorInfo?.error_code || \"REJECTED_VALIDATION\",\n    error_message: errorInfo?.error_message || \"Validation failed in AI Agent flow\",\n    data: null,\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Rejection","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,384],"id":"e012f703-2671-4db5-8aea-be7074c59603"},{"parameters":{"mode":"runOnceForAllItems","language":"javaScript","jsCode":"const executionError = $input.first()?.json?.execution?.error || {};\nconst errorMessage = executionError.message || \"Unknown execution error\";\n\nreturn [{\n  json: {\n    success: false,\n    error_code: \"EXECUTION_ERROR\",\n    error_message: errorMessage,\n    data: null,\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"\",\n      version: \"1.0.0\"\n    }\n  }\n}];","notice":""},"name":"Format Global Error","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,992],"id":"010b5062-a5d8-49b2-b6c4-7b215047bef5"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"NJ06kaiVRK6EWBkV","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Report to Global Handler","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[704,992],"id":"388355b8-05ed-40a1-8fc6-b8b78eba3c56"},{"parameters":{"notice":"","scalingNotice":"","sessionIdType":"custom","contextWindowLength":5},"name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[1168,784],"id":"0e0fc8ba-4472-4af4-90e9-dad6cccacbdf"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Extract & Validate (PRE)","type":"main","index":0}]]},"Error Trigger":{"main":[[{"node":"Format Global Error","type":"main","index":0}]]},"Extract & Validate (PRE)":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Format Rejection","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Format Success (POST)","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Format Global Error":{"main":[[{"node":"Report to Global Handler","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{},"pinData":null},"customData":{}}