scripts-ts/exec_161_full.json
{
  "id": "161",
  "finished": false,
  "mode": "webhook",
  "retryOf": null,
  "retrySuccessId": null,
  "status": "error",
  "createdAt": "2026-02-28T16:45:37.234Z",
  "startedAt": "2026-02-28T16:45:37.246Z",
  "stoppedAt": "2026-02-28T16:45:37.258Z",
  "deletedAt": null,
  "workflowId": "IhAvwkZIob9KfYoA",
  "waitTill": null,
  "storedAt": "db",
  "data": {
    "version": 1,
    "startData": {},
    "resultData": {
      "error": {
        "level": "error",
        "tags": {},
        "description": "Please return an array of objects, one for each item you would like to output.",
        "message": "Code doesn't return items properly",
        "stack": "Error: Code doesn't return items properly\n    at validateRunCodeAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/result-validation.ts:150:11)\n    at JsTaskRunnerSandbox.runCodeAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/JsTaskRunnerSandbox.ts:49:33)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:194:8)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"
      },
      "runData": {
        "Webhook": [
          {
            "startTime": 1772297137250,
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": 0,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "headers": {
                        "host": "n8n.stax.ink",
                        "user-agent": "axios/1.13.6",
                        "content-length": "28",
                        "accept": "application/json, text/plain, */*",
                        "accept-encoding": "gzip, br",
                        "cdn-loop": "cloudflare; loops=1",
                        "cf-connecting-ip": "186.189.71.24",
                        "cf-ipcountry": "CL",
                        "cf-ray": "9d5164b2bee19aec-MIA",
                        "cf-visitor": "{\"scheme\":\"https\"}",
                        "cf-warp-tag-id": "1cdd718d-bba3-40ac-ae46-752c342ec6d7",
                        "connection": "keep-alive",
                        "content-type": "application/json",
                        "x-forwarded-for": "186.189.71.24",
                        "x-forwarded-proto": "https"
                      },
                      "params": {},
                      "query": {},
                      "body": {
                        "unexpectedField": "hacker"
                      },
                      "webhookUrl": "https://n8n.stax.ink/webhook/nn-01-booking-gateway-test",
                      "executionMode": "production"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Parse Incoming Payload (NN_02)": [
          {
            "startTime": 1772297137250,
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Webhook",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 1,
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "error": "No information about the workflow to execute found. Please provide either the \"id\" or \"code\"!"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  }
                ]
              ]
            }
          }
        ],
        "Verify Parser (NN_02)": [
          {
            "startTime": 1772297137251,
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Parse Incoming Payload (NN_02)",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ],
            "hints": [],
            "executionTime": 6,
            "executionStatus": "error",
            "error": {
              "level": "error",
              "tags": {},
              "description": "Please return an array of objects, one for each item you would like to output.",
              "message": "Code doesn't return items properly",
              "stack": "Error: Code doesn't return items properly\n    at validateRunCodeAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/result-validation.ts:150:11)\n    at JsTaskRunnerSandbox.runCodeAllItems (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/JsTaskRunnerSandbox.ts:49:33)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Code/Code.node.ts:194:8)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"
            }
          }
        ]
      },
      "lastNodeExecuted": "Verify Parser (NN_02)"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [
        {
          "node": {
            "parameters": {
              "mode": "runOnceForAllItems",
              "language": "javaScript",
              "jsCode": "const item = $input.first();\nif (item.json.success === true) {\n  return [ [item], [] ];\n} else {\n  return [ [], [item] ];\n}",
              "notice": ""
            },
            "name": "Verify Parser (NN_02)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
              820,
              432
            ],
            "id": "62570b75-296f-44bf-b500-59b9f501dd03"
          },
          "data": {
            "main": [
              [
                {
                  "json": {
                    "error": "No information about the workflow to execute found. Please provide either the \"id\" or \"code\"!"
                  },
                  "pairedItem": {
                    "item": 0
                  }
                }
              ]
            ]
          },
          "source": {
            "main": [
              {
                "previousNode": "Parse Incoming Payload (NN_02)",
                "previousNodeOutput": 0,
                "previousNodeRun": 0
              }
            ]
          }
        }
      ],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {},
      "runtimeData": {
        "version": 1,
        "establishedAt": 1772297137249,
        "source": "webhook",
        "triggerNode": {
          "name": "Webhook",
          "type": "n8n-nodes-base.webhook"
        }
      }
    }
  },
  "workflowData": {
    "id": "IhAvwkZIob9KfYoA",
    "name": "NN_01_Booking_Gateway",
    "active": true,
    "activeVersionId": "06652047-8569-4a93-81e9-32a08caa05fd",
    "isArchived": false,
    "createdAt": "2026-02-28T13:59:38.958Z",
    "updatedAt": "2026-02-28T16:44:46.759Z",
    "nodes": [
      {
        "parameters": {
          "notice": ""
        },
        "name": "When clicking 'Test workflow'",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          384,
          240
        ],
        "id": "4f46514a-ab66-4641-b4c9-a6b8000b4811"
      },
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "nn-01-booking-gateway-test",
          "authentication": "none",
          "responseMode": "lastNode",
          "responseData": "firstEntryJson",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          384,
          432
        ],
        "webhookId": "nn-01-booking-gateway-test",
        "id": "f1b7ea0b-33b1-44da-96d0-d9f497259f33"
      },
      {
        "parameters": {
          "events": "worklfow_call",
          "inputSource": "passthrough"
        },
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          384,
          608
        ],
        "id": "e4959797-91b5-464f-ab0a-7e1c786f61d7"
      },
      {
        "parameters": {
          "notice": ""
        },
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          384,
          800
        ],
        "id": "5159462a-c0bd-46cf-ac4d-44718d912341"
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": "MoRopyN2Aslc35XU",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "wait",
          "options": {}
        },
        "name": "Parse Incoming Payload (NN_02)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          600,
          432
        ],
        "continueOnFail": true,
        "alwaysOutputData": true,
        "id": "ba7787cc-88c6-4503-8f59-7e19969a35c3"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const item = $input.first();\nif (item.json.success === true) {\n  return [ [item], [] ];\n} else {\n  return [ [], [item] ];\n}",
          "notice": ""
        },
        "name": "Verify Parser (NN_02)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          820,
          432
        ],
        "id": "62570b75-296f-44bf-b500-59b9f501dd03"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Format error from NN_02 validation failure\nconst errorData = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: errorData.error_code || \"PARSER_ERROR\",\n    error_message: errorData.error_message || \"Message parser validation failed\",\n    data: null,\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];",
          "notice": ""
        },
        "name": "Format Parser Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          820,
          650
        ],
        "id": "2efd1dd6-bce9-48b8-a732-a1de2724cbfd"
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": "N2APxPodLDJCG818",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "wait",
          "options": {}
        },
        "name": "Execute AI Agent (NN_03)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1040,
          432
        ],
        "continueOnFail": true,
        "alwaysOutputData": true,
        "id": "9b1b0407-cbf2-4524-ab9b-95f4b6698999"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "const item = $input.first();\nif (item.json.success === true) {\n  return [ [item], [] ];\n} else {\n  return [ [], [item] ];\n}",
          "notice": ""
        },
        "name": "Verify AI (NN_03)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1260,
          432
        ],
        "id": "e2e137f4-766f-4590-bc7c-e73302ea02fd"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Format error from NN_03 AI failure\nconst errorData = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: errorData.error_code || \"AI_ERROR\",\n    error_message: errorData.error_message || \"AI Agent processing failed\",\n    data: null,\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];",
          "notice": ""
        },
        "name": "Format AI Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1260,
          650
        ],
        "id": "3caf8425-5206-4a5b-b919-7e8eb7bb6acc"
      },
      {
        "parameters": {
          "operation": "call_workflow",
          "source": "database",
          "workflowId": "4afRuMkIvgEh7gXt",
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": null
          },
          "mode": "wait",
          "options": {}
        },
        "name": "Send Telegram Response (NN_04)",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          1480,
          432
        ],
        "continueOnFail": true,
        "alwaysOutputData": true,
        "id": "c0ab22cf-f30a-4ea1-a715-4ae6272c465c"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Format Global Error from Error Trigger\nconst execError = $input.first()?.json?.execution?.error || {};\n\nreturn [{\n  json: {\n    success: false,\n    error_code: \"EXECUTION_ERROR\",\n    error_message: execError.message || \"Unknown execution error in NN_01\",\n    data: null,\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];",
          "notice": ""
        },
        "name": "Format Global Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          600,
          800
        ],
        "id": "3545c06e-30ca-4d97-8a77-4e27812bec23"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "language": "javaScript",
          "jsCode": "// Ensure Standard Contract output\nconst contract = $input.first()?.json || {};\n\nif (contract.hasOwnProperty('success')) {\n  return [{ json: contract }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: contract.data || contract,\n    _meta: {\n      source: \"NN_01_Booking_Gateway\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_01\",\n      version: \"1.0.0\"\n    }\n  }\n}];",
          "notice": ""
        },
        "name": "Format Success Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1750,
          432
        ],
        "id": "3eb42d99-c776-46b7-89a1-54a175ee752b"
      }
    ],
    "connections": {
      "When clicking 'Test workflow'": {
        "main": [
          [
            {
              "node": "Parse Incoming Payload (NN_02)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Parse Incoming Payload (NN_02)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Parse Incoming Payload (NN_02)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Format Global Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Incoming Payload (NN_02)": {
        "main": [
          [
            {
              "node": "Verify Parser (NN_02)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify Parser (NN_02)": {
        "main": [
          [
            {
              "node": "Execute AI Agent (NN_03)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Parser Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute AI Agent (NN_03)": {
        "main": [
          [
            {
              "node": "Verify AI (NN_03)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verify AI (NN_03)": {
        "main": [
          [
            {
              "node": "Send Telegram Response (NN_04)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format AI Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Parser Error": {
        "main": [
          [
            {
              "node": "Format Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format AI Error": {
        "main": [
          [
            {
              "node": "Format Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Global Error": {
        "main": [
          [
            {
              "node": "Format Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Telegram Response (NN_04)": {
        "main": [
          [
            {
              "node": "Format Success Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false,
      "callerPolicy": "workflowsFromSameOwner"
    },
    "staticData": {},
    "pinData": {}
  },
  "customData": {}
}
