scripts-ts/exec_nn01_fail.json
{"id":"80","finished":false,"mode":"webhook","retryOf":null,"retrySuccessId":null,"status":"error","createdAt":"2026-02-28T16:20:43.393Z","startedAt":"2026-02-28T16:20:43.404Z","stoppedAt":"2026-02-28T16:20:44.346Z","deletedAt":null,"workflowId":"IhAvwkZIob9KfYoA","waitTill":null,"storedAt":"db","data":{"version":1,"startData":{},"resultData":{"error":{"level":"warning","tags":{},"description":"Bad Request: chat_id is empty","errorResponse":{"level":"warning","tags":{},"description":"Bad Request: chat_id is empty","timestamp":1772295644337,"context":{},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"883332c8-c8ce-49f5-9c00-6b65cf58d3b3"},"messages":["400 - {\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: chat_id is empty\"}"],"httpCode":"400","message":"Bad request - please check your parameters","stack":"NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/GenericFunctions.ts:230:9)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/Telegram.node.ts:2180:21)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11","executionId":"83","workflowId":"4afRuMkIvgEh7gXt"},"timestamp":1772295644345,"context":{},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"883332c8-c8ce-49f5-9c00-6b65cf58d3b3"},"messages":[],"executionId":"83","workflowId":"4afRuMkIvgEh7gXt","message":"Bad request - please check your parameters","stack":"NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/GenericFunctions.ts:230:9)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/Telegram.node.ts:2180:21)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"},"runData":{"Webhook":[{"startTime":1772295643407,"executionIndex":0,"source":[],"hints":[],"executionTime":0,"executionStatus":"success","data":{"main":[[{"json":{"headers":{"host":"n8n.stax.ink","user-agent":"axios/1.13.6","content-length":"28","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"186.189.71.24","cf-ipcountry":"CL","cf-ray":"9d51403a89993015-MIA","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"1cdd718d-bba3-40ac-ae46-752c342ec6d7","connection":"keep-alive","content-type":"application/json","x-forwarded-for":"186.189.71.24","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"unexpectedField":"hacker"},"webhookUrl":"https://n8n.stax.ink/webhook/nn-01-booking-gateway-test","executionMode":"production"},"pairedItem":{"item":0}}]]}}],"Parse Incoming Payload (NN_02)":[{"startTime":1772295643407,"executionIndex":1,"source":[{"previousNode":"Webhook","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":28,"metadata":{"subExecution":{"executionId":"81","workflowId":"MoRopyN2Aslc35XU"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Payload missing required 'chat_id' or 'text' fields.","data":null,"_meta":{"source":"NN_02_Message_Parser","timestamp":"2026-02-28T16:20:43.426Z","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}],"Execute AI Agent (NN_03)":[{"startTime":1772295643435,"executionIndex":2,"source":[{"previousNode":"Parse Incoming Payload (NN_02)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":33,"metadata":{"subExecution":{"executionId":"82","workflowId":"N2APxPodLDJCG818"},"subExecutionsCount":1},"executionStatus":"success","data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:20:43.459Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}]]}}],"Send Telegram Response (NN_04)":[{"startTime":1772295643468,"executionIndex":3,"source":[{"previousNode":"Execute AI Agent (NN_03)","previousNodeOutput":0,"previousNodeRun":0}],"hints":[],"executionTime":877,"executionStatus":"error","error":{"level":"warning","tags":{},"description":"Bad Request: chat_id is empty","errorResponse":{"level":"warning","tags":{},"description":"Bad Request: chat_id is empty","timestamp":1772295644337,"context":{},"functionality":"regular","name":"NodeApiError","node":{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"883332c8-c8ce-49f5-9c00-6b65cf58d3b3"},"messages":["400 - {\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: chat_id is empty\"}"],"httpCode":"400","message":"Bad request - please check your parameters","stack":"NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/GenericFunctions.ts:230:9)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/Telegram.node.ts:2180:21)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11","executionId":"83","workflowId":"4afRuMkIvgEh7gXt"},"timestamp":1772295644345,"context":{},"functionality":"regular","name":"NodeOperationError","node":{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.chat_id }}","text":"={{ $json.ai_response }}","replyMarkup":"none","additionalFields":{}},"name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,400],"credentials":{"telegramApi":{"id":"U8P4P8JT8XwCoIzD","name":"Telegram Booking"}},"id":"883332c8-c8ce-49f5-9c00-6b65cf58d3b3"},"messages":[],"executionId":"83","workflowId":"4afRuMkIvgEh7gXt","message":"Bad request - please check your parameters","stack":"NodeApiError: Bad request - please check your parameters\n    at ExecuteContext.apiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/GenericFunctions.ts:230:9)\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Telegram/Telegram.node.ts:2180:21)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:8)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1665:27\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2308:11"}}]},"lastNodeExecuted":"Send Telegram Response (NN_04)"},"executionData":{"contextData":{},"nodeExecutionStack":[{"node":{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"4afRuMkIvgEh7gXt","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Send Telegram Response (NN_04)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1200,432],"id":"c5c9bac1-dbb8-4b1d-a676-93ec515876ae"},"data":{"main":[[{"json":{"success":false,"error_code":"VALIDATION_ERROR","error_message":"Missing required fields 'chat_id' or 'text'","data":null,"_meta":{"source":"NN_03_AI_Agent","timestamp":"2026-02-28T16:20:43.459Z","workflow_id":"","version":"1.0.0"}},"pairedItem":{"item":0}}]]},"source":{"main":[{"previousNode":"Execute AI Agent (NN_03)","previousNodeOutput":0,"previousNodeRun":0}]}}],"metadata":{},"waitingExecution":{},"waitingExecutionSource":{},"runtimeData":{"version":1,"establishedAt":1772295643407,"source":"webhook","triggerNode":{"name":"Webhook","type":"n8n-nodes-base.webhook"}}}},"workflowData":{"id":"IhAvwkZIob9KfYoA","name":"NN_01_Booking_Gateway","active":true,"activeVersionId":"88ec7d91-a409-4a69-9d0f-391c5665002c","isArchived":false,"createdAt":"2026-02-28T13:59:38.958Z","updatedAt":"2026-02-28T16:20:36.965Z","nodes":[{"parameters":{"notice":""},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,240],"id":"2d5a24be-d61b-4282-a926-3bcfe5332755"},{"parameters":{"multipleMethods":false,"httpMethod":"POST","path":"nn-01-booking-gateway-test","authentication":"none","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"3e52c0dc-7c17-48c9-a9f9-32c81d9cc37a"},{"parameters":{"events":"worklfow_call","inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,608],"id":"c52ce948-092f-4408-bde2-f229fc016524"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"MoRopyN2Aslc35XU","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Parse Incoming Payload (NN_02)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[688,432],"id":"8d68aa4c-0f0f-439e-a4ba-cce4501670eb"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"N2APxPodLDJCG818","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Execute AI Agent (NN_03)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[950,432],"id":"aa4e739d-c546-4cf6-94be-50bd6fcbeb38"},{"parameters":{"operation":"call_workflow","source":"database","workflowId":{"value":"4afRuMkIvgEh7gXt","mode":"id"},"workflowInputs":{"mappingMode":"defineBelow","value":null},"mode":"wait","options":{}},"name":"Send Telegram Response (NN_04)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1200,432],"id":"c5c9bac1-dbb8-4b1d-a676-93ec515876ae"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Parse Incoming Payload (NN_02)":{"main":[[{"node":"Execute AI Agent (NN_03)","type":"main","index":0}]]},"Execute AI Agent (NN_03)":{"main":[[{"node":"Send Telegram Response (NN_04)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":{},"pinData":{}},"customData":{}}