scripts-ts/nn01_server_v3.json
{"updatedAt":"2026-02-28T16:36:48.203Z","createdAt":"2026-02-28T13:59:38.958Z","id":"IhAvwkZIob9KfYoA","name":"NN_01_Booking_Gateway","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,240],"id":"f62274f3-3613-4522-8ad8-79e6df857114"},{"parameters":{"httpMethod":"POST","path":"nn-01-booking-gateway-test","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"92cecad5-d7a1-4cd7-8a1a-4e1b8daf0b52"},{"parameters":{"inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,608],"id":"bfaec557-6fb4-4b6e-a7c4-b6faa0a12f2f"},{"parameters":{"workflowId":{"value":"MoRopyN2Aslc35XU","mode":"id"},"mode":"wait","options":{}},"name":"Parse Incoming Payload (NN_02)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[600,432],"id":"516e330e-ce90-40f5-b70d-e658df64e562"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]}},"name":"Verify Parser (NN_02)","type":"n8n-nodes-base.if","typeVersion":2,"position":[820,432],"id":"cbd78549-d574-40f3-a7e5-0b07c2c69006"},{"parameters":{"workflowId":{"value":"N2APxPodLDJCG818","mode":"id"},"mode":"wait","options":{}},"name":"Execute AI Agent (NN_03)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1040,432],"id":"52277863-24a7-48fe-a809-cf48c9fd6ee6"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]}},"name":"Verify AI (NN_03)","type":"n8n-nodes-base.if","typeVersion":2,"position":[1260,432],"id":"0214e18e-9f53-4104-b3b1-1dd36b335ed1"},{"parameters":{"workflowId":{"value":"4afRuMkIvgEh7gXt","mode":"id"},"mode":"wait","options":{}},"name":"Send Telegram Response (NN_04)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1480,432],"id":"c130f750-092f-4c30-913b-8f890e759786"},{"parameters":{"jsCode":"return $input.all();"},"name":"Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1750,432],"id":"7440770c-bace-4a03-9962-6b8cdcf922f7"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Parse Incoming Payload (NN_02)":{"main":[[{"node":"Verify Parser (NN_02)","type":"main","index":0}]]},"Verify Parser (NN_02)":{"main":[[{"node":"Execute AI Agent (NN_03)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Execute AI Agent (NN_03)":{"main":[[{"node":"Verify AI (NN_03)","type":"main","index":0}]]},"Verify AI (NN_03)":{"main":[[{"node":"Send Telegram Response (NN_04)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Send Telegram Response (NN_04)":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"0c80fe5a-893f-4354-bd43-962870517d5e","activeVersionId":"0c80fe5a-893f-4354-bd43-962870517d5e","versionCounter":57,"triggerCount":1,"shared":[{"updatedAt":"2026-02-28T13:59:38.958Z","createdAt":"2026-02-28T13:59:38.958Z","role":"workflow:owner","workflowId":"IhAvwkZIob9KfYoA","projectId":"5dkgk3OIJvC3VE4q","project":{"updatedAt":"2026-02-28T13:53:46.030Z","createdAt":"2026-02-28T13:51:31.926Z","id":"5dkgk3OIJvC3VE4q","name":"Roger Gallegos <baba.orere@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"deaaf1aa-9960-4f34-8ac8-c22286ed1c8d"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-28T16:36:48.204Z","createdAt":"2026-02-28T16:36:48.204Z","versionId":"0c80fe5a-893f-4354-bd43-962870517d5e","workflowId":"IhAvwkZIob9KfYoA","nodes":[{"parameters":{},"name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[384,240],"id":"f62274f3-3613-4522-8ad8-79e6df857114"},{"parameters":{"httpMethod":"POST","path":"nn-01-booking-gateway-test","responseMode":"lastNode","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[384,432],"webhookId":"nn-01-booking-gateway-test","id":"92cecad5-d7a1-4cd7-8a1a-4e1b8daf0b52"},{"parameters":{"inputSource":"passthrough"},"name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[384,608],"id":"bfaec557-6fb4-4b6e-a7c4-b6faa0a12f2f"},{"parameters":{"workflowId":{"value":"MoRopyN2Aslc35XU","mode":"id"},"mode":"wait","options":{}},"name":"Parse Incoming Payload (NN_02)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[600,432],"id":"516e330e-ce90-40f5-b70d-e658df64e562"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]}},"name":"Verify Parser (NN_02)","type":"n8n-nodes-base.if","typeVersion":2,"position":[820,432],"id":"cbd78549-d574-40f3-a7e5-0b07c2c69006"},{"parameters":{"workflowId":{"value":"N2APxPodLDJCG818","mode":"id"},"mode":"wait","options":{}},"name":"Execute AI Agent (NN_03)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1040,432],"id":"52277863-24a7-48fe-a809-cf48c9fd6ee6"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.success }}","value2":true}]}},"name":"Verify AI (NN_03)","type":"n8n-nodes-base.if","typeVersion":2,"position":[1260,432],"id":"0214e18e-9f53-4104-b3b1-1dd36b335ed1"},{"parameters":{"workflowId":{"value":"4afRuMkIvgEh7gXt","mode":"id"},"mode":"wait","options":{}},"name":"Send Telegram Response (NN_04)","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1480,432],"id":"c130f750-092f-4c30-913b-8f890e759786"},{"parameters":{"jsCode":"return $input.all();"},"name":"Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1750,432],"id":"7440770c-bace-4a03-9962-6b8cdcf922f7"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Parse Incoming Payload (NN_02)","type":"main","index":0}]]},"Parse Incoming Payload (NN_02)":{"main":[[{"node":"Verify Parser (NN_02)","type":"main","index":0}]]},"Verify Parser (NN_02)":{"main":[[{"node":"Execute AI Agent (NN_03)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Execute AI Agent (NN_03)":{"main":[[{"node":"Verify AI (NN_03)","type":"main","index":0}]]},"Verify AI (NN_03)":{"main":[[{"node":"Send Telegram Response (NN_04)","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Send Telegram Response (NN_04)":{"main":[[{"node":"Response","type":"main","index":0}]]}},"authors":"Roger Gallegos","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-28T16:36:48.812Z","id":63,"workflowId":"IhAvwkZIob9KfYoA","versionId":"0c80fe5a-893f-4354-bd43-962870517d5e","event":"activated","userId":"deaaf1aa-9960-4f34-8ac8-c22286ed1c8d"}]}}