scripts-ts/server_GCAL_Create_Event.json
{
  "updatedAt": "2026-03-01T22:57:13.437Z",
  "createdAt": "2026-03-01T22:57:13.437Z",
  "id": "klsihUetAuKMh0oK",
  "name": "GCAL_Create_Event",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "id": "trigger_unique"
    },
    {
      "parameters": {
        "calendar": "primary",
        "filters": {
          "timeMin": "={{ $json.start_time }}",
          "timeMax": "={{ $json.end_time }}"
        }
      },
      "name": "Check Existing Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        250,
        400
      ],
      "id": "gcal_check",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "mT5XZfEaeP1fqjl4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "rightValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no_events_found",
              "leftValue": "={{ $node[\"Check Existing Events\"].all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Any Event Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        400
      ],
      "id": "if_event_found"
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $node[\"Execute Workflow Trigger\"].json.start_time }}",
        "end": "={{ $node[\"Execute Workflow Trigger\"].json.end_time }}",
        "summary": "=Reserva: {{ $node[\"Execute Workflow Trigger\"].json.user_name || 'Paciente' }} ({{ $node[\"Execute Workflow Trigger\"].json.service_name || 'Consulta' }})",
        "description": "=Reserva gestionada por Booking Titanium via Telegram.",
        "additionalFields": {
          "attendees": "={{ $node[\"Execute Workflow Trigger\"].json.user_email }}"
        }
      },
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        750,
        300
      ],
      "id": "gcal_create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "mT5XZfEaeP1fqjl4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    gcal_event_id: $input.first()?.json?.id || \"already_exists\",\n    status: $input.first()?.json?.id ? \"CREATED\" : \"ALREADY_EXISTS\",\n    _meta: { source: \"GCAL_Create_Event\", timestamp: new Date().toISOString() }\n  }\n}];"
      },
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ],
      "id": "format_out"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Check Existing Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Events": {
      "main": [
        [
          {
            "node": "Any Event Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Event Found?": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "cbe73593-5616-43b0-befe-7293f30aed8c",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-01T22:57:13.437Z",
      "createdAt": "2026-03-01T22:57:13.437Z",
      "role": "workflow:owner",
      "workflowId": "klsihUetAuKMh0oK",
      "projectId": "5dkgk3OIJvC3VE4q",
      "project": {
        "updatedAt": "2026-02-28T13:53:46.030Z",
        "createdAt": "2026-02-28T13:51:31.926Z",
        "id": "5dkgk3OIJvC3VE4q",
        "name": "Roger Gallegos <baba.orere@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "deaaf1aa-9960-4f34-8ac8-c22286ed1c8d"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}