workflows/DB_Cancel_Booking.json
{
  "name": "DB_Cancel_Booking",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"booking_id\": \"BKG-X7K9P2\", \"chat_id\": 12345}"
      },
      "id": "trigger_exec",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        420
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db-cancel-booking-test",
        "responseMode": "lastNode"
      },
      "id": "trigger_webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        620
      ],
      "webhookId": "db-cancel-booking-test"
    },
    {
      "parameters": {
        "jsCode": "/* VRF PRE: Validate Booking ID (UUID or BKG-XXXXXX) */\nconst item = $input.first()?.json || {};\nconst data = item.body || item;\nconst booking_id = String(data.booking_id || \"\").trim();\n// Accept UUID or BKG-XXXXX format\nconst isValid = booking_id.length > 5;\nreturn [{ json: { isValid, booking_id, chat_id: data.chat_id } }];"
      },
      "id": "validate_uuid",
      "name": "Validate UUID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid_uuid_cond",
              "leftValue": "={{ $json.isValid === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if_valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dal-service:3000/cancel-booking",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"booking_id\": \"{{ $json.booking_id }}\",\n  \"chat_id\": {{ $json.chat_id }}\n}",
        "options": {
          "continueOnFail": true,
          "timeout": 5000,
          "maxRetries": 3,
          "retryWait": {
            "type": "exponentialBackoff",
            "base": 1000
          }
        }
      },
      "id": "call_dal",
      "name": "Call DAL Cancel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format Success Response (POST) - Standard Contract\nconst dalResponse = $input.first()?.json || {};\nconst isSuccess = dalResponse.success === true;\n\nreturn [{\n  json: {\n    success: isSuccess,\n    error_code: isSuccess ? null : (dalResponse.error_code || 'DAL_ERROR'),\n    error_message: isSuccess ? null : (dalResponse.error_message || dalResponse.message || 'Booking cancellation failed'),\n    data: isSuccess ? (dalResponse.data || { cancelled: true, booking_id: $node[\"Validate UUID\"].json.booking_id }) : null,\n    _meta: {\n      source: 'DB_Cancel_Booking',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'DB_Cancel_Booking',\n      version: '1.2.0'\n    }\n  }\n}];"
      },
      "id": "format_success",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: false,\n    error_code: \"INVALID_BOOKING_ID\",\n    error_message: \"El ID de reserva no es válido (debe ser código BKG-XXXX o UUID)\",\n    data: null,\n    _meta: { source: \"DB_Cancel_Booking\", timestamp: new Date().toISOString(), version: \"1.2.0\" }\n  }\n}];"
      },
      "id": "format_invalid",
      "name": "Format Invalid ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        600
      ]
    },
    {
      "parameters": {},
      "id": "trigger_manual_123",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "// 📤 STANDARD CONTRACT OUTPUT (O02)\n// Retorna esquema unificado para todos los workflows\n\nconst result = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: result.success !== false,\n    error_code: result.success === false ? (result.error_code || 'UNKNOWN_ERROR') : null,\n    error_message: result.success === false ? (result.error_message || 'An error occurred') : null,\n    data: result.data || null,\n    _meta: {\n      source: 'DB_CANCEL_BOOKING',\n      workflow_id: 'DB_CANCEL_BOOKING',\n      timestamp: new Date().toISOString(),\n      version: '4.3.1'\n    }\n  }\n}];"
      },
      "id": "standard_contract_1772984456913",
      "name": "📤 Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5000,
        500
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate UUID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate UUID": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Call DAL Cancel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Invalid ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call DAL Cancel": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Invalid ID": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate UUID",
            "type": "main",
            "index": 0
          },
          {
            "node": "📤 Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "mf4qnUG7UlrAKpQU"
}