workflows/DB_Get_Providers_By_Service.json
{
  "name": "DB_Get_Providers_By_Service",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"service_id\": 1}"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        432
      ],
      "id": "trigger"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        232
      ],
      "id": "manual"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'http://dal-service:3000/providers-by-service/' + ($json.service_id || 1) }}",
        "options": {
          "timeout": 5000,
          "maxRetries": 3,
          "retryWait": {
            "type": "exponentialBackoff",
            "base": 1000
          }
        }
      },
      "name": "Call DAL Providers by Svc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        432
      ],
      "id": "call_dal"
    },
    {
      "parameters": {
        "jsCode": "const dalResponse = $input.first()?.json || {};\nconst isSuccess = dalResponse.success === true;\n\nreturn [{\n  json: {\n    success: isSuccess,\n    error_code: isSuccess ? null : (dalResponse.error_code || 'DAL_ERROR'),\n    error_message: isSuccess ? null : (dalResponse.error_message || dalResponse.message || 'Failed to list providers'),\n    data: isSuccess ? (dalResponse.data || dalResponse) : null,\n    _meta: {\n      source: 'DB_Get_Providers_By_Service',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'DB_Get_Providers_By_Service',\n      version: '1.0.0'\n    }\n  }\n}];"
      },
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        432
      ],
      "id": "format_out"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db-get-providers-by-service.json-test",
        "responseMode": "lastNode"
      },
      "id": "trigger_webhook_auto",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -200,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "/* VRF PRE: Validate */\nconst item = $input.first()?.json || {};\nconst data = item.body || item;\nconst isValid = true; // Auto-generated default\nreturn [{ json: { isValid, ...data } }];"
      },
      "id": "validate_pre_auto",
      "name": "Validate PRE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid_cond_auto",
              "leftValue": "={{ $json.isValid === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if_valid_auto",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// 📤 STANDARD CONTRACT OUTPUT (O02)\n// Retorna esquema unificado para todos los workflows\n\nconst result = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: result.success !== false,\n    error_code: result.success === false ? (result.error_code || 'UNKNOWN_ERROR') : null,\n    error_message: result.success === false ? (result.error_message || 'An error occurred') : null,\n    data: result.data || null,\n    _meta: {\n      source: 'DB_GET_PROVIDERS_BY_SERVICE',\n      workflow_id: 'DB_GET_PROVIDERS_BY_SERVICE',\n      timestamp: new Date().toISOString(),\n      version: '4.3.1'\n    }\n  }\n}];"
      },
      "id": "standard_contract_1772984456916",
      "name": "📤 Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5000,
        500
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate PRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate PRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call DAL Providers by Svc": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate PRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate PRE": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Call DAL Providers by Svc",
            "type": "main",
            "index": 0
          },
          {
            "node": "📤 Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "koGljfSXUzYESNoh"
}