workflows/DB_Get_Availability.json
{
  "name": "DB_Get_Availability",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "avail-manual-01"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 200],
      "id": "avail-trigger-01"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db-get-availability",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 400],
      "webhookId": "db-get-availability",
      "id": "avail-webhook-01"
    },
    {
      "parameters": {
        "jsCode": "// LAYER 1+2: Extract & Validate (§4.1 PRE-validate)\n// Zero-throw: returns Standard Contract error, never throws\n\nconst raw = $input.first().json;\nconst input = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\n\nfunction ve(code, msg) {\n  return [{ json: {\n    success: false, error_code: code, error_message: msg, data: null,\n    _meta: { source: 'DB_Get_Availability', timestamp: new Date().toISOString(), workflow_id: $workflow.id },\n    _exit_early: true\n  }}];\n}\n\n// === PROVIDER_ID VALIDATION ===\nlet provider_id;\nif (input.provider_id === undefined || input.provider_id === null) {\n  return ve('MISSING_FIELD', 'provider_id is required');\n}\nif (typeof input.provider_id === 'string') {\n  const trimmed = input.provider_id.trim();\n  const INT_RE = /^\\d+$/;\n  if (!INT_RE.test(trimmed)) return ve('INVALID_TYPE', 'provider_id must be a positive integer');\n  provider_id = parseInt(trimmed);\n} else if (typeof input.provider_id === 'number') {\n  provider_id = input.provider_id;\n  if (!Number.isInteger(provider_id) || provider_id < 1) return ve('INVALID_TYPE', 'provider_id must be a positive integer');\n} else {\n  return ve('INVALID_TYPE', 'provider_id must be a number or numeric string');\n}\n\n// === SERVICE_ID VALIDATION ===\nlet service_id;\nif (input.service_id === undefined || input.service_id === null) {\n  return ve('MISSING_FIELD', 'service_id is required');\n}\nif (typeof input.service_id === 'string') {\n  const trimmed = input.service_id.trim();\n  const INT_RE = /^\\d+$/;\n  if (!INT_RE.test(trimmed)) return ve('INVALID_TYPE', 'service_id must be a positive integer');\n  service_id = parseInt(trimmed);\n} else if (typeof input.service_id === 'number') {\n  service_id = input.service_id;\n  if (!Number.isInteger(service_id) || service_id < 1) return ve('INVALID_TYPE', 'service_id must be a positive integer');\n} else {\n  return ve('INVALID_TYPE', 'service_id must be a number or numeric string');\n}\n\n// === DATE VALIDATION ===\nlet date;\nif (input.date === undefined || input.date === null) {\n  return ve('MISSING_FIELD', 'date is required (YYYY-MM-DD format)');\n}\ndate = String(input.date).trim();\n\n// Validate YYYY-MM-DD format\nconst DATE_RE = /^\\d{4}-\\d{2}-\\d{2}$/;\nif (!DATE_RE.test(date)) return ve('INVALID_TYPE', 'date must be in YYYY-MM-DD format');\n\n// Validate date exists (not Feb 30, etc.) and is future\nconst dateObj = new Date(date + 'T00:00:00Z');\nif (isNaN(dateObj.getTime())) return ve('INVALID_DATE', 'date is not a valid calendar date');\n\n// Check date components match (catches Feb 30 → Mar 02 normalization)\nconst [year, month, day] = date.split('-').map(Number);\nif (dateObj.getUTCFullYear() !== year || (dateObj.getUTCMonth() + 1) !== month || dateObj.getUTCDate() !== day) {\n  return ve('INVALID_DATE', 'date does not exist in the calendar');\n}\n\nreturn [{ json: {\n  success: true,\n  provider_id,\n  service_id,\n  date,\n  _validated: true\n}}];",
        "mode": "runOnceForAllItems"
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [256, 200],
      "id": "avail-validate-01"
    },
    {
      "parameters": {
        "jsCode": "// Gate: only pass valid items to Build Query\nconst input = $input.first().json;\nif (input._exit_early) return [];\nreturn [{ json: input }];",
        "mode": "runOnceForAllItems"
      },
      "name": "Gate Execute",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 150],
      "id": "avail-gate-execute-01"
    },
    {
      "parameters": {
        "jsCode": "// Gate: only pass validation errors to skip query\nconst input = $input.first().json;\nif (!input._exit_early) return [];\nreturn [{ json: input }];",
        "mode": "runOnceForAllItems"
      },
      "name": "Gate Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 450],
      "id": "avail-gate-skip-01"
    },
    {
      "parameters": {
        "jsCode": "// Build query to get available slots\nconst { provider_id, service_id, date } = $input.first().json;\n\n// Calculate start and end times for the date (UTC)\n// Using date at midnight UTC to avoid timezone issues\nconst start_time = date + 'T00:00:00Z';\nconst end_time = date + 'T23:59:59Z';\n\n// Generates 20-minute slots for the entire day (72 slots = 24h * 3 slots/hour)\nconst availability_query = `\n  WITH time_slots AS (\n    SELECT generate_series(\n      '${start_time}'::timestamptz,\n      '${end_time}'::timestamptz,\n      '20 minutes'::interval\n    ) AS slot_start\n  )\n  SELECT \n    ts.slot_start AT TIME ZONE 'UTC' AS slot_start,\n    TO_CHAR(ts.slot_start AT TIME ZONE 'UTC', 'HH24:MI') AS display_time,\n    CASE \n      WHEN b.id IS NULL THEN true \n      ELSE false \n    END AS is_available\n  FROM time_slots ts\n  LEFT JOIN bookings b ON \n    b.provider_id = ${provider_id}::int AND\n    b.service_id = ${service_id}::int AND\n    b.status != 'CANCELLED' AND\n    b.start_time <= ts.slot_start + interval '20 minutes' AND\n    b.start_time >= ts.slot_start - interval '20 minutes'\n  ORDER BY ts.slot_start;\n`;\n\nreturn [{ json: {\n  ...$input.first().json,\n  availability_query,\n  start_time,\n  end_time\n}}];",
        "mode": "runOnceForAllItems"
      },
      "name": "Build Availability Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, 150],
      "id": "avail-build-query-01"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.availability_query }}",
        "options": {}
      },
      "name": "Execute Availability Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [880, 150],
      "alwaysOutputData": true,
      "id": "avail-execute-pg-01",
      "credentials": {
        "postgres": {
          "id": "5LzvCP9BsQwCi9Z0",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Handle DB error during availability query\nconst e = $input.first().json;\nconst upstreamData = $('Build Availability Query').isExecuted ? $('Build Availability Query').first().json : {};\nlet error_code = 'DB_QUERY_ERROR';\nlet error_message = e.message || e.error?.message || 'Database query error';\n\nif (error_message.includes('connection') || error_message.includes('ECONNREFUSED')) {\n  error_code = 'DB_CONNECTION_ERROR';\n  error_message = 'Database connection failed';\n} else if (error_message.includes('timeout')) {\n  error_code = 'DB_TIMEOUT';\n  error_message = 'Database query timeout';\n} else if (error_message.includes('relation') && error_message.includes('does not exist')) {\n  error_code = 'TABLE_NOT_FOUND';\n  error_message = 'Bookings table does not exist';\n}\n\nreturn [{ json: {\n  ...upstreamData,\n  success: false, error_code, error_message, data: null,\n  _meta: { source: 'DB_Get_Availability', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n}}];",
        "mode": "runOnceForAllItems"
      },
      "name": "Handle DB Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1088, 300],
      "id": "avail-handle-error-01"
    },
    {
      "parameters": {
        "jsCode": "// Format availability response\nconst items = $input.all();\nconst upstreamData = $('Build Availability Query').isExecuted ? $('Build Availability Query').first().json : {};\n\n// Filter available slots\nconst availableSlots = items\n  .filter(item => item.json.is_available === true)\n  .map(item => ({\n    start_time: item.json.slot_start,\n    display_time: item.json.display_time\n  }));\n\nreturn [{ json: {\n  success: true,\n  error_code: null,\n  error_message: null,\n  data: {\n    provider_id: upstreamData.provider_id,\n    service_id: upstreamData.service_id,\n    date: upstreamData.date,\n    slots: availableSlots,\n    total_available: availableSlots.length\n  },\n  _meta: {\n    source: 'DB_Get_Availability',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id\n  }\n}}];",
        "mode": "runOnceForAllItems"
      },
      "name": "Format Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1088, 150],
      "id": "avail-format-01"
    },
    {
      "parameters": {
        "jsCode": "// UNIFIED OUTPUT — Standard Contract (§3.2)\nconst items = $input.all();\nlet finalItem = items.find(i => i.json.data !== undefined || i.json.error_code !== undefined);\nif (!finalItem) finalItem = items.find(i => i.json._exit_early);\nif (!finalItem) { \n  return [{ json: { success: false, error_code: 'PIPELINE_ERROR', error_message: 'No valid output found', data: null, _meta: { source: 'DB_Get_Availability', timestamp: new Date().toISOString(), workflow_id: $workflow.id } } }]; \n}\nconst input = finalItem.json;\nreturn [{ json: {\n  success: input.success === true,\n  error_code: input.error_code || null,\n  error_message: input.error_message || null,\n  data: input.data || null,\n  _meta: input._meta || {\n    source: 'DB_Get_Availability',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id\n  }\n}}];",
        "mode": "runOnceForAllItems"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300],
      "id": "avail-format-response-01"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 300],
      "id": "avail-respond-01"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Webhook": {
      "main": [[{ "node": "Validate Input", "type": "main", "index": 0 }]]
    },
    "Validate Input": {
      "main": [[
        { "node": "Gate Execute", "type": "main", "index": 0 },
        { "node": "Gate Skip", "type": "main", "index": 0 }
      ]]
    },
    "Gate Execute": {
      "main": [[{ "node": "Build Availability Query", "type": "main", "index": 0 }]]
    },
    "Gate Skip": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Build Availability Query": {
      "main": [[{ "node": "Execute Availability Query", "type": "main", "index": 0 }]]
    },
    "Execute Availability Query": {
      "main": [
        [{ "node": "Format Availability", "type": "main", "index": 0 }],
        [{ "node": "Handle DB Error", "type": "main", "index": 0 }]
      ]
    },
    "Handle DB Error": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Availability": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": true
}
