workflows/DB_Resolve_Service_ID.json
{
  "name": "DB_Resolve_Service_ID",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{ \"provider_id\": 1, \"service_name\": \"cardiologia\" }"
      },
      "id": "ewt-resolve-01",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {},
      "id": "manual-resolve-01",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        400,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// DB_Resolve_Service_ID \u2014 PRE Validate (SEC02)\nconst input = $input.first()?.json || {};\nconst provider_id = Number(input.provider_id || 0);\nconst service_name = String(input.service_name || '').trim();\n\nif (!provider_id || provider_id <= 0) throw new Error('VALIDATION_ERROR: invalid provider_id');\nif (service_name.length < 2) throw new Error('VALIDATION_ERROR: service_name too short');\n\n// Basic safe characters check (no backslashes or strange escapes)\n// Allow letters, numbers, spaces, and basic Spanish punctuation\nconst isSafe = /^[a-zA-Z0-9 \u00e1\u00e9\u00ed\u00f3\u00fa\u00fc\u00f1\u00c1\u00c9\u00cd\u00d3\u00da\u00dc\u00d1.,?!\u00bf\u00a1\\-]{2,200}$/.test(service_name);\nif (!isSafe) throw new Error('VALIDATION_ERROR: service_name contains invalid characters');\n\nreturn [{ json: { provider_id, service_name: service_name.toLowerCase(), original_name: service_name } }];"
      },
      "id": "validate-resolve-01",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build SQL \u2014 Estrategia de matching Robusta (UNACCENT)\nconst d = $input.first()?.json;\nconst esc = (s) => String(s ?? '').replace(/'/g, \"''\").substring(0, 200);\nconst safeName = esc(d.service_name);\n\nconst query = `\nWITH ranked AS (\n  SELECT\n    s.id AS service_id,\n    s.name AS service_name,\n    ps.price,\n    ps.currency,\n    CASE\n      WHEN unaccent(LOWER(s.name)) = unaccent(LOWER('${safeName}')) THEN 1.0\n      WHEN unaccent(LOWER(s.name)) ILIKE unaccent('${safeName}%') THEN 0.9\n      WHEN unaccent(LOWER(s.name)) ILIKE unaccent('%${safeName}%') THEN 0.8\n      WHEN unaccent(LOWER('${safeName}')) ILIKE '%' || unaccent(LOWER(s.name)) || '%' THEN 0.7\n      ELSE 0.0\n    END AS match_score\n  FROM public.services s\n  JOIN public.provider_services ps ON ps.service_id = s.id\n  JOIN public.providers p ON ps.provider_id = p.id\n  WHERE p.is_active = true \n    AND ps.provider_id = ${d.provider_id}::bigint\n)\nSELECT service_id, service_name, price, currency, match_score\nFROM ranked WHERE match_score > 0\nORDER BY match_score DESC LIMIT 3;`.trim();\n\nreturn [{ json: { query, provider_id: d.provider_id, service_name: d.service_name } }];"
      },
      "id": "build-sql-resolve-01",
      "name": "Build Resolve Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "exec-sql-resolve-01",
      "name": "Execute Resolve Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Post-Validate + Score Evaluation\nconst rows = $input.all();\nconst buildData = $('Build Resolve Query').first()?.json;\n\nif (!rows || rows.length === 0) {\n  return [{\n    json: {\n      resolved: false,\n      match_type: 'NOT_FOUND',\n      match_score: 0,\n      service_id: null,\n      service_name: null,\n      price: null,\n      currency: 'USD',\n      candidates: [],\n      provider_id: buildData?.provider_id,\n      queried_name: buildData?.service_name,\n      _meta: {\n        source: 'DB_Resolve_Service_ID',\n        timestamp: new Date().toISOString(),\n        version: '1.0.0'\n      }\n    }\n  }];\n}\n\nconst best = rows[0]?.json;\nconst score = Number(best?.match_score ?? 0);\n\nlet match_type;\nif (score >= 0.8) match_type = 'EXACT';\nelse if (score >= 0.4) match_type = 'PARTIAL';\nelse match_type = 'WEAK';\n\nconst candidates = rows\n  .map(r => ({\n    service_id:   r.json?.service_id,\n    service_name: r.json?.service_name,\n    match_score:  Number(r.json?.match_score ?? 0)\n  }))\n  .filter(c => c.match_score >= 0.4);\n\nreturn [{\n  json: {\n    resolved: score >= 0.4,\n    match_type,\n    match_score: score,\n    service_id:   score >= 0.4 ? best.service_id   : null,\n    service_name: score >= 0.4 ? best.service_name : null,\n    price:        score >= 0.4 ? best.price        : null,\n    currency:     score >= 0.4 ? best.currency     : 'USD',\n    candidates,\n    provider_id:  buildData?.provider_id,\n    queried_name: buildData?.service_name,\n    _meta: {\n      source: 'DB_Resolve_Service_ID',\n      timestamp: new Date().toISOString(),\n      version: '1.0.0'\n    }\n  }\n}];"
      },
      "id": "post-val-resolve-01",
      "name": "Post-Validate & Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "resolved-cond",
              "leftValue": "={{ $json.resolved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "resolved-if-01",
      "name": "Resolved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1472,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first()?.json;\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      resolved:     d.resolved,\n      match_type:   d.match_type,\n      match_score:  d.match_score,\n      service_id:   d.service_id,\n      service_name: d.service_name,\n      description:  d.description,\n      price:        d.price,\n      currency:     d.currency,\n      candidates:   d.candidates,\n      provider_id:  d.provider_id,\n      queried_name: d.queried_name\n    },\n    _meta: {\n      source:      'DB_Resolve_Service_ID',\n      timestamp:   new Date().toISOString(),\n      workflow_id: 'DB_RESOLVE_SVC',\n      version:     '1.0.0'\n    }\n  }\n}];"
      },
      "id": "fmt-success-resolve-01",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first()?.json;\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      resolved: false,\n      match_type: d.match_type,\n      match_score: d.match_score,\n      service_id: null,\n      service_name: null,\n      candidates: [],\n      provider_id: d.provider_id,\n      queried_name: d.queried_name\n    },\n    _meta: {\n      source: 'DB_Resolve_Service_ID',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'DB_RESOLVE_SVC',\n      version: '1.0.0'\n    }\n  }\n}];"
      },
      "id": "fmt-notfound-resolve-01",
      "name": "Format Not-Found Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nlet errorCode = input.error_code || 'GENERAL_ERROR';\nlet errorMessage = input.error_message || input.message || 'Unknown error';\n\nreturn [{\n  json: {\n    success: false,\n    error_code: errorCode,\n    error_message: errorMessage,\n    data: null,\n    _meta: {\n      source: 'DB_Resolve_Service_ID',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'DB_RESOLVE_SVC',\n      version: '1.0.0'\n    }\n  }\n}];"
      },
      "id": "central-err-resolve-01",
      "name": "Central Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        640
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize": {
      "main": [
        [
          {
            "node": "Build Resolve Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Resolve Query": {
      "main": [
        [
          {
            "node": "Execute Resolve Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Resolve Query": {
      "main": [
        [
          {
            "node": "Post-Validate & Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Validate & Score": {
      "main": [
        [
          {
            "node": "Resolved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolved?": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Not-Found Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dcff9bffd57bf60f63303c902ff8a9da3e3cc1df7b0fee28dae6d77c5d352c30"
  }
}