workflows/DB_Update_Reminders.json
{
  "name": "DB_Update_Reminders",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"booking_id\": \"BKG-XXXXXX\", \"chat_id\": 12345, \"reminders\": [24, 6, 1]}"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dal-service:3000/update-reminders",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "neverError": true
        }
      },
      "id": "call_dal",
      "name": "Call DAL Update Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nreturn [{\n  json: {\n    success: result.success === true,\n    data: result.data || null,\n    error_code: result.error_code || null,\n    error_message: result.error_message || null,\n    _meta: {\n      source: 'DB_Update_Reminders',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'DB_Update_Reminders',\n      version: '1.0.0'\n    }\n  }\n}];"
      },
      "id": "normalize",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Call DAL Update Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call DAL Update Reminders": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}