workflows/GCAL_Delete_Events_For_Tomorrow.json
{
  "name": "GCAL_Delete_Events_For_Tomorrow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gcal-delete-events-for-tomorrow",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "gcal-delete-events-for-tomorrow"
    },
    {
      "parameters": {
        "jsCode": "const tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst dateStr = tomorrow.toISOString().split('T')[0];\n// Set timeMin and timeMax for the whole day in America/Santiago (UTC-3)\n// We assume the offset is -03:00 (no DST handling for simplicity)\nconst timeMin = dateStr + 'T00:00:00-03:00';\nconst timeMax = dateStr + 'T23:59:59-03:00';\nreturn [{\n  json: {\n    dateStr,\n    timeMin,\n    timeMax\n  }\n}];"
      },
      "id": "calculate_times",
      "name": "Calculate Times",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "calendar": "primary",
        "operation": "get",
        "timeMin": "={{ $json.timeMin }}",
        "timeMax": "={{ $json.timeMax }}",
        "additionalFields": {
          "single": true
        }
      },
      "id": "list_events",
      "name": "List Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        500,
        0
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "rightValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "events_found",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "greaterThan",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if_events_found",
      "name": "Events Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        750,
        0
      ]
    },
    {
      "parameters": {
        "calendar": "primary",
        "operation": "delete",
        "eventId": "={{ $json.id }}",
        "additionalFields": {}
      },
      "id": "delete_event",
      "name": "Delete Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1000,
        100
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst deletedCount = items.length;\nreturn [{ json: { success: true, summary: `Deleted ${deletedCount} events from Google Calendar for tomorrow`, deletedCount } }];"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Calculate Times",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Times": {
      "main": [
        [
          {
            "node": "List Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Events": {
      "main": [
        [
          {
            "node": "Events Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Events Found?": {
      "main": [
        [
          {
            "node": "Delete Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}