workflows/GCAL_Create_Event.json
{
  "name": "GCAL_Create_Event",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "id": "trigger_unique"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "manual"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gcal-create-event",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        600
      ],
      "webhookId": "gcal-create-event",
      "id": "webhook"
    },
    {
      "parameters": {
        "calendar": "={{ $json.calendar_id || 'primary' }}",
        "filters": {
          "timeMin": "={{ $json.start_time }}",
          "timeMax": "={{ $json.end_time }}"
        }
      },
      "name": "Check Existing Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        250,
        400
      ],
      "id": "gcal_check",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "rightValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no_events_found",
              "leftValue": "={{ $node[\"Check Existing Events\"].all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Any Event Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        500,
        400
      ],
      "id": "if_event_found"
    },
    {
      "parameters": {
        "calendar": "={{ $json.calendar_id || 'primary' }}",
        "start": "={{ $json.start_time }}",
        "end": "={{ $json.end_time }}",
        "summary": "=Reserva: {{ $json.user_name || 'Paciente' }} ({{ $json.service_name || 'Consulta' }})",
        "description": "=Reserva gestionada por Booking Titanium via Telegram.",
        "additionalFields": {
          "attendees": "={{ $json.user_email }}"
        }
      },
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        750,
        300
      ],
      "id": "gcal_create",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const gcalResult = $input.first()?.json || {};\nconst eventId = gcalResult.id;\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      gcal_event_id: eventId || 'already_exists',\n      status: eventId ? 'CREATED' : 'ALREADY_EXISTS'\n    },\n    _meta: {\n      source: 'GCAL_Create_Event',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'GCAL_Create_Event',\n      version: '1.1.0'\n    }\n  }\n}];"
      },
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ],
      "id": "format_out"
    },
    {
      "parameters": {
        "jsCode": "/* VRF PRE: Validate */\nconst item = $input.first()?.json || {};\nconst data = item.body || item;\nconst isValid = true; // Auto-generated default\nreturn [{ json: { isValid, ...data } }];"
      },
      "id": "validate_pre_auto",
      "name": "Validate PRE",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid_cond_auto",
              "leftValue": "={{ $json.isValid === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if_valid_auto",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// 📤 STANDARD CONTRACT OUTPUT (O02)\n// Retorna esquema unificado para todos los workflows\n\nconst result = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: result.success !== false,\n    error_code: result.success === false ? (result.error_code || 'UNKNOWN_ERROR') : null,\n    error_message: result.success === false ? (result.error_message || 'An error occurred') : null,\n    data: result.data || null,\n    _meta: {\n      source: 'GCAL_CREATE_EVENT',\n      workflow_id: 'GCAL_CREATE_EVENT',\n      timestamp: new Date().toISOString(),\n      version: '4.3.1'\n    }\n  }\n}];"
      },
      "id": "standard_contract_1772984456919",
      "name": "📤 Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5000,
        500
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate PRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate PRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate PRE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Events": {
      "main": [
        [
          {
            "node": "Any Event Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Event Found?": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "📤 Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate PRE": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Check Existing Events",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📤 Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "SAx7al0OwTqzs4XJ"
}