workflows/GLOBAL_Config.json
{
  "name": "GLOBAL_Config",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "id": "trigger"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    // URLs del sistema\n    N8N_EDITOR_BASE_URL: 'https://n8n.stax.ink',\n    N8N_WEBHOOK_URL: 'https://n8n.stax.ink/webhook',\n    DAL_SERVICE_URL: 'http://dal-service:3000',\n    \n    // IDs de canales\n    TELEGRAM_ADMIN_ID: '5391760292',\n    TELEGRAM_GROUP_ID: '-1001234567890',\n    \n    // Configuración de negocio\n    DEFAULT_PROVIDER_ID: 1,\n    DEFAULT_SERVICE_ID: 1,\n    BUSINESS_TIMEZONE: 'America/Argentina/Buenos_Aires',\n    BUSINESS_EMAIL: 'baba.orere@gmail.com',\n    \n    // Límites y timeouts\n    HTTP_TIMEOUT_MS: 30000,\n    MAX_RETRIES: 3,\n    RATE_LIMIT_PER_MINUTE: 60,\n    \n    // Feature flags\n    ENABLE_GCAL_SYNC: true,\n    ENABLE_GMAIL_NOTIFICATIONS: true,\n    ENABLE_REMINDERS: true,\n    \n    _meta: {\n      source: 'GLOBAL_Config',\n      version: '1.0.0',\n      updated_at: '2026-03-03'\n    }\n  }\n}];"
      },
      "name": "Global Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "id": "config"
    },
    {
      "parameters": {},
      "id": "trigger_manual_auto",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "global-config-test",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "trigger_webhook_auto",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid_cond_auto",
              "leftValue": "={{ true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if_valid_auto",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        300,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// 📤 STANDARD CONTRACT OUTPUT (O02)\n// Retorna esquema unificado para todos los workflows\n\nconst result = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: result.success !== false,\n    error_code: result.success === false ? (result.error_code || 'UNKNOWN_ERROR') : null,\n    error_message: result.success === false ? (result.error_message || 'An error occurred') : null,\n    data: result.data || null,\n    _meta: {\n      source: 'GLOBAL_CONFIG',\n      workflow_id: 'GLOBAL_CONFIG',\n      timestamp: new Date().toISOString(),\n      version: '4.3.1'\n    }\n  }\n}];"
      },
      "id": "standard_contract_1772984456919",
      "name": "📤 Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5000,
        500
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Config": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Global Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "📤 Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}