workflows/GMAIL_Send_Confirmation.json
{
  "name": "GMAIL_Send_Confirmation",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "id": "trigger_unique"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "manual"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gmail-send-confirmation",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        600
      ],
      "webhookId": "gmail-send-confirmation",
      "id": "webhook"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.user_email || $json.final_email || 'baba.orere@gmail.com' }}",
        "subject": "📅 Reserva Confirmada - Booking Titanium",
        "message": "=Hola,\n\nTu cita ha sido agendada.\n\nFecha: {{ $json.start_time }}\n\nGracias.",
        "appendAttributions": false
      },
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        350,
        432
      ],
      "id": "gmail_node",
      "credentials": {
        "gmailOAuth2": {
          "id": "2oXMGEYDP70ILkBs",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const gmailResponse = $input.first()?.json || {};\nconst isError = !!gmailResponse.error;\n\nreturn [{\n  json: {\n    success: !isError,\n    error_code: isError ? 'GMAIL_ERROR' : null,\n    error_message: isError ? (gmailResponse.error?.message || 'Gmail send failed') : null,\n    data: isError ? null : {\n      message_id: gmailResponse.id || null,\n      thread_id: gmailResponse.threadId || null\n    },\n    _meta: {\n      source: 'GMAIL_Send_Confirmation',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'GMAIL_Send_Confirmation',\n      version: '1.1.0'\n    }\n  }\n}];"
      },
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        432
      ],
      "id": "format_out"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}