workflows/NN_01_Booking_Gateway.json
{
  "name": "NN_01_Booking_Gateway_V2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-v1",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-400, 432],
      "id": "webhook_v3"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "Hp7ox7JqRwVA5wr8", "mode": "id" },
        "mode": "wait",
        "options": { "waitForSubworkflow": true, "mode": "passthrough" }
      },
      "name": "Execute NN_02",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [-150, 432],
      "id": "exec_nn02"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "cWWCjvSLdw6gbp7J", "mode": "id" },
        "mode": "wait",
        "options": { "waitForSubworkflow": true, "mode": "passthrough" }
      },
      "name": "Lookup Availability",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [100, 432],
      "id": "lookup_avail"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "text", "name": "text", "value": "={{ $node[\"Execute NN_02\"].json.data.text }}", "type": "string" },
            { "id": "chat_id", "name": "chat_id", "value": "={{ $node[\"Execute NN_02\"].json.data.chat_id }}", "type": "number" },
            { "id": "avail_date", "name": "avail_date", "value": "={{ $node[\"Lookup Availability\"].json.date }}", "type": "string" },
            { "id": "slots", "name": "slots", "value": "={{ $node[\"Lookup Availability\"].json.slots }}", "type": "array" }
          ]
        },
        "options": {}
      },
      "name": "Prepare AI Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [350, 432],
      "id": "prepare_ai"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "N2APxPodLDJCG818", "mode": "id" },
        "mode": "wait",
        "options": { "waitForSubworkflow": true, "mode": "passthrough" }
      },
      "name": "Execute NN_03 (AI)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [600, 432],
      "id": "exec_nn03"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "value1": "={{ $json.data.intent }}", "value2": "CANCEL", "operation": "equal" }
          ]
        }
      },
      "name": "Intent Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [850, 432],
      "id": "intent_switch"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "kuvqYSl3BMrXtews", "mode": "id" },
        "mode": "wait",
        "options": {}
      },
      "name": "Flow: CREATE",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1100, 300],
      "id": "flow_create"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "aKE6HxuHaklajZOU", "mode": "id" },
        "mode": "wait",
        "options": {}
      },
      "name": "Flow: CANCEL",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1100, 500],
      "id": "flow_cancel"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    data: { ai_response: $node[\"Execute NN_03 (AI)\"].json.data?.ai_response },\n    _meta: { source: \"NN_01_Booking_Gateway\", timestamp: new Date().toISOString(), workflow_id: \"NN_01\" }\n  }\n}];"
      },
      "name": "Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 432],
      "id": "final_res"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Execute NN_02", "type": "main", "index": 0 }]] },
    "Execute NN_02": { "main": [[{ "node": "Lookup Availability", "type": "main", "index": 0 }]] },
    "Lookup Availability": { "main": [[{ "node": "Prepare AI Input", "type": "main", "index": 0 }]] },
    "Prepare AI Input": { "main": [[{ "node": "Execute NN_03 (AI)", "type": "main", "index": 0 }]] },
    "Execute NN_03 (AI)": { "main": [[{ "node": "Intent Switch", "type": "main", "index": 0 }]] },
    "Intent Switch": {
      "main": [
        [{ "node": "Flow: CREATE", "type": "main", "index": 0 }],
        [{ "node": "Flow: CANCEL", "type": "main", "index": 0 }]
      ]
    },
    "Flow: CREATE": { "main": [[{ "node": "Final Response", "type": "main", "index": 0 }]] },
    "Flow: CANCEL": { "main": [[{ "node": "Final Response", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
