workflows/NN_02_Message_Parser.json
{
  "name": "NN_02_Message_Parser",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-200, 200],
      "id": "mp-manual-01"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nn-02-booking-parser-test",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-200, 400],
      "webhookId": "nn-02-booking-parser-test",
      "id": "mp-webhook-01"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-200, 600],
      "id": "mp-trigger-01"
    },
    {
      "parameters": {
        "jsCode": "/* NN_02_Message_Parser v1.0.0\n * Parses Telegram messages and extracts chat_id, text, username\n * Handles multiple input paths: Execute Workflow, direct webhook, raw fields\n */\nconst input = $input.first()?.json;\n\n// Handle multiple input paths\nconst bodyLayer = input?.body || input || {};\nconst message = bodyLayer.message || bodyLayer.channel_post || bodyLayer;\n\nconst chat_id = message.chat?.id || bodyLayer.chat_id || input?.chat_id;\nconst text = message.text || bodyLayer.text || input?.text;\n\nif (!chat_id || !text) {\n  return [{\n    json: {\n      success: false,\n      error_code: 'VALIDATION_ERROR',\n      error_message: 'Payload missing required chat_id or text fields.',\n      data: null,\n      _meta: { source: 'NN_02_Message_Parser', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n    }\n  }];\n}\n\nconst username = message.from?.first_name || message.chat?.first_name || bodyLayer.username || 'Unknown';\n\n// SEC_02: Sanitize input (prevent SQL injection)\nconst safeText = text.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, 500);\nconst safeUsername = username.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, 100);\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      chat_id: chat_id,\n      text: safeText,\n      username: safeUsername,\n      type: 'text'\n    },\n    _meta: { source: 'NN_02_Message_Parser', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n  }\n}];",
        "mode": "runOnceForAllItems"
      },
      "name": "Extract & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 400],
      "id": "mp-extract-01"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [450, 400],
      "id": "mp-respond-01"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Extract & Validate", "type": "main", "index": 0 }]]
    },
    "Webhook": {
      "main": [[{ "node": "Extract & Validate", "type": "main", "index": 0 }]]
    },
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Extract & Validate", "type": "main", "index": 0 }]]
    },
    "Extract & Validate": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": true
}
