workflows/NN_03_AI_Agent.json
{
  "name": "NN_03_AI_Agent",
  "nodes": [
    {
      "parameters": {
        "jsCode": "/* STRICT VALIDATION */\nconst item = $input.first()?.json || {};\nconst data = item.data || item.body?.data || item.body || item;\n\nconst chat_id = data.chat_id;\nconst text = data.text || data.ai_response;\n\nconst isValid = !!(chat_id && text && text.length > 2);\n\nif (!isValid) {\n  return [{\n    json: {\n      success: false,\n      isValid: false,\n      error_code: \"VALIDATION_ERROR\",\n      error_message: \"Payload missing required fields for AI Agent\",\n      _meta: { source: \"NN_03_AI_Agent\", timestamp: new Date().toISOString() }\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    isValid: true,\n    chat_id,\n    text,\n    availability: item.availability || {},\n    original_data: data\n  }\n}];"
      },
      "id": "extract_validate",
      "name": "Extract & Validate (PRE)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst avail = input.availability || {};\nconst systemPrompt = `Eres un asistente para Booking Titanium. REGLA DE ORO: Si el usuario pide una fecha y en el CONTEXTO DE DISPONIBILIDAD sale que no hay o hay otros días, sugiere proactivamente los slots disponibles que te pasamos. CONTEXTO DISPONIBILIDAD: ${JSON.stringify(avail)}`;\n\nreturn [{\n  json: {\n    payload: {\n      model: \"llama-3.3-70b-versatile\",\n      messages: [\n        { role: \"system\", content: systemPrompt },\n        { role: \"user\", content: input.text }\n      ]\n    }\n  }\n}];"
      },
      "id": "prepare_payload",
      "name": "Prepare Groq Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "id": "groq_http_node",
      "name": "Groq API (Real)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        420
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2Q3kWX8PH6YGd7Ll",
          "name": "Groq Header API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const res = $input.first()?.json || {};\nlet ai_data = {};\ntry { \n  const content = res.choices ? res.choices[0].message.content : (res.response || JSON.stringify(res));\n  try {\n    ai_data = JSON.parse(content); \n  } catch(e) {\n    ai_data = { response: content };\n  }\n} catch(e) { \n  ai_data = { response: \"Lo siento, hubo un error procesando tu solicitud de IA.\" }; \n}\n\nconst pre = $node[\"Extract & Validate (PRE)\"]?.json || {};\nreturn [{\n  json: {\n    success: true,\n    data: {\n      intent: ai_data.intent || \"CREATE\",\n      chat_id: pre.chat_id || \"unknown\",\n      user_email: ai_data.email,\n      booking_id: ai_data.booking_id,\n      start_time: (ai_data.date && ai_data.time) ? (ai_data.date + \"T\" + ai_data.time + \":00Z\") : null,\n      ai_response: ai_data.response || ai_data.content || \"IA procesó la solicitud.\"\n    }\n  }\n}];"
      },
      "id": "format_success_real",
      "name": "Format Success (POST)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: false,\n    error_code: \"AI_API_ERROR\",\n    error_message: \"Error al contactar con el motor de IA\",\n    data: null,\n    _meta: {\n      source: \"NN_03_AI_Agent\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_03\"\n    }\n  }\n}];"
      },
      "id": "format_error_real",
      "name": "Format Global Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        600
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nn-03-ai-agent-test",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        400
      ],
      "webhookId": "nn-03-ai-agent-test"
    },
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        200
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        600
      ]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Extract & Validate (PRE)", "type": "main", "index": 0 }]] },
    "Execute Workflow Trigger": { "main": [[{ "node": "Extract & Validate (PRE)", "type": "main", "index": 0 }]] },
    "Webhook": { "main": [[{ "node": "Extract & Validate (PRE)", "type": "main", "index": 0 }]] },
    "Extract & Validate (PRE)": { "main": [[{ "node": "Prepare Groq Payload", "type": "main", "index": 0 }]] },
    "Prepare Groq Payload": { "main": [[{ "node": "Groq API (Real)", "type": "main", "index": 0 }]] },
    "Groq API (Real)": {
      "main": [
        [{ "node": "Format Success (POST)", "type": "main", "index": 0 }],
        [{ "node": "Format Global Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
