workflows/NN_04_Telegram_Sender_temp.json
{
  "updatedAt": "2026-03-02T22:54:51.866Z",
  "createdAt": "2026-03-02T02:19:34.753Z",
  "id": "WE7DxLKAECtsA8Up",
  "name": "NN_04_Telegram_Sender",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger_manual",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        220
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger_execwf",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        420
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nn-04-telegram-sender-v2",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "trigger_webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        380,
        650
      ],
      "webhookId": "nn-04-telegram-sender-v2"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first()?.json || {};\nconst data = item.data || item.body?.data || item.body || item;\n\n// Support both 'text' and 'ai_response' fields\nconst chat_id = data.chat_id;\nconst text = data.text || data.ai_response;\n\n// Validation Sandwich PRE: Check required fields\nconst isValid = !!(chat_id && text);\n\nreturn [{\n  json: {\n    isValid,\n    chat_id: chat_id,\n    text: text,\n    ai_response: text,\n    original_data: data\n  }\n}];"
      },
      "id": "extract_validate",
      "name": "Extract & Validate (PRE)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        420
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond_valid_tg",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "verify_nn04",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        700,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sanitize text for Telegram MarkdownV2 [SEC_02]\nconst text = $input.first()?.json?.text || $input.first()?.json?.ai_response || '';\n\nif (!text) {\n  return [{ json: { ...$input.first().json, sanitized_text: '' } }];\n}\n\n// Official Telegram MarkdownV2 escape list\nconst sanitized = text.replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1');\n\nreturn [{ json: { ...$input.first().json, sanitized_text: sanitized } }];"
      },
      "id": "sanitize_telegram",
      "name": "Sanitize for Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        825,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.sanitized_text }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "telegram_node",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        950,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "WR4umwQYS9Gx0cTO",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const telegramResult = $input.first()?.json || {};\nconst originalData = $node[\"Extract & Validate (PRE)\"].json;\nconst chat_id = telegramResult.result?.chat?.id || telegramResult.chat?.id || originalData.chat_id || \"unknown\";\n\nif (telegramResult.error_code === \"VALIDATION_ERROR\") {\n  return [{ json: telegramResult }];\n}\n\n/* n8n Telegram node v1.2 returns: { ok: true, result: { message_id, chat, ... } } */\nconst msgId = telegramResult.result?.message_id || telegramResult.message_id || null;\nconst isSuccess = !!(msgId || telegramResult.ok === true) && !telegramResult.error;\n\nreturn [{\n  json: {\n    success: isSuccess,\n    error_code: isSuccess ? null : \"TELEGRAM_API_ERROR\",\n    error_message: isSuccess ? null : (telegramResult.error || \"Telegram failed to send message\"),\n    data: {\n      delivery_status: isSuccess ? \"SENT\" : \"FAILED\",\n      chat_id: chat_id,\n      message_id: msgId\n    },\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.1.0\"\n    }\n  }\n}];"
      },
      "id": "format_success",
      "name": "Format Success (POST)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n    success: false,\n    error_code: \"VALIDATION_ERROR\",\n    error_message: \"Payload missing required fields for Telegram\",\n    data: null,\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.0.0\"\n    }\n};"
      },
      "id": "format_rejection",
      "name": "Format Rejection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        950,
        550
      ]
    },
    {
      "parameters": {},
      "id": "trigger_error",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        200,
        850
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  success: false,\n  error_code: \"TELEGRAM_SYSTEM_ERROR\",\n  error_message: $input.first()?.json?.execution?.error?.message || \"Fatal error in Telegram Sender workflow\",\n  data: null,\n  _meta: {\n    source: \"NN_04_Telegram_Sender\",\n    timestamp: new Date().toISOString(),\n    workflow_id: \"NN_04\",\n    version: \"1.0.0\"\n  }\n};"
      },
      "id": "format_error",
      "name": "Format Global Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        850
      ]
    },
    {
      "parameters": {
        "jsCode": "// 📤 STANDARD CONTRACT OUTPUT (O02)\n// Retorna esquema unificado para todos los workflows\n\nconst result = $input.first()?.json || {};\n\nreturn [{\n  json: {\n    success: result.success !== false,\n    error_code: result.success === false ? (result.error_code || 'UNKNOWN_ERROR') : null,\n    error_message: result.success === false ? (result.error_message || 'An error occurred') : null,\n    data: result.data || null,\n    _meta: {\n      source: 'NN_04_TELEGRAM_SENDER_TEMP',\n      workflow_id: 'NN_04_TELEGRAM_SENDER_TEMP',\n      timestamp: new Date().toISOString(),\n      version: '4.3.1'\n    }\n  }\n}];"
      },
      "id": "standard_contract_1772984456925",
      "name": "📤 Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5000,
        500
      ]
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Extract & Validate (PRE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Extract & Validate (PRE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract & Validate (PRE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Validate (PRE)": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Sanitize for Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize for Telegram": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Format Success (POST)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Success (POST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Global Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Global Error": {
      "main": [
        [
          {
            "node": "Format Success (POST)",
            "type": "main",
            "index": 0
          },
          {
            "node": "📤 Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Rejection": {
      "main": [
        [
          {
            "node": "Format Success (POST)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "a41e9a64-d6ee-407e-a1d9-5ca361bcd27f",
  "activeVersionId": "a41e9a64-d6ee-407e-a1d9-5ca361bcd27f",
  "versionCounter": 49,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T02:19:34.753Z",
      "createdAt": "2026-03-02T02:19:34.753Z",
      "role": "workflow:owner",
      "workflowId": "WE7DxLKAECtsA8Up",
      "projectId": "1q616I3NzJFEiwV5",
      "project": {
        "updatedAt": "2026-03-02T02:24:01.899Z",
        "createdAt": "2026-03-02T00:39:33.634Z",
        "id": "1q616I3NzJFEiwV5",
        "name": "Roger Gallegos <baba.orere@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-02T22:54:51.868Z",
    "createdAt": "2026-03-02T22:54:51.868Z",
    "versionId": "a41e9a64-d6ee-407e-a1d9-5ca361bcd27f",
    "workflowId": "WE7DxLKAECtsA8Up",
    "nodes": [
      {
        "parameters": {},
        "id": "trigger_manual",
        "name": "When clicking ‘Test workflow’",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          200,
          220
        ]
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "trigger_execwf",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          200,
          420
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "nn-04-telegram-sender-v2",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "trigger_webhook",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          380,
          650
        ],
        "webhookId": "nn-04-telegram-sender-v2"
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first()?.json || {};\nconst data = item.data || item.body?.data || item.body || item;\n\n// Support both 'text' and 'ai_response' fields\nconst chat_id = data.chat_id;\nconst text = data.text || data.ai_response;\n\n// Validation Sandwich PRE: Check required fields\nconst isValid = !!(chat_id && text);\n\nreturn [{\n  json: {\n    isValid,\n    chat_id: chat_id,\n    text: text,\n    ai_response: text,\n    original_data: data\n  }\n}];"
        },
        "id": "extract_validate",
        "name": "Extract & Validate (PRE)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          420
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond_valid_tg",
                "leftValue": "={{ $json.isValid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "verify_nn04",
        "name": "Is Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          700,
          420
        ]
      },
      {
        "parameters": {
          "jsCode": "// Sanitize text for Telegram MarkdownV2 [SEC_02]\nconst text = $input.first()?.json?.text || $input.first()?.json?.ai_response || '';\n\nif (!text) {\n  return [{ json: { ...$input.first().json, sanitized_text: '' } }];\n}\n\n// Official Telegram MarkdownV2 escape list\nconst sanitized = text.replace(/([_*\\[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1');\n\nreturn [{ json: { ...$input.first().json, sanitized_text: sanitized } }];"
        },
        "id": "sanitize_telegram",
        "name": "Sanitize for Telegram",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          825,
          300
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $json.chat_id }}",
          "text": "={{ $json.sanitized_text }}",
          "additionalFields": {
            "parse_mode": "MarkdownV2"
          }
        },
        "id": "telegram_node",
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          950,
          300
        ],
        "credentials": {
          "telegramApi": {
            "id": "WR4umwQYS9Gx0cTO",
            "name": "Telegram account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const telegramResult = $input.first()?.json || {};\nconst originalData = $node[\"Extract & Validate (PRE)\"].json;\nconst chat_id = telegramResult.result?.chat?.id || telegramResult.chat?.id || originalData.chat_id || \"unknown\";\n\nif (telegramResult.error_code === \"VALIDATION_ERROR\") {\n  return [{ json: telegramResult }];\n}\n\n/* n8n Telegram node v1.2 returns: { ok: true, result: { message_id, chat, ... } } */\nconst msgId = telegramResult.result?.message_id || telegramResult.message_id || null;\nconst isSuccess = !!(msgId || telegramResult.ok === true) && !telegramResult.error;\n\nreturn [{\n  json: {\n    success: isSuccess,\n    error_code: isSuccess ? null : \"TELEGRAM_API_ERROR\",\n    error_message: isSuccess ? null : (telegramResult.error || \"Telegram failed to send message\"),\n    data: {\n      delivery_status: isSuccess ? \"SENT\" : \"FAILED\",\n      chat_id: chat_id,\n      message_id: msgId\n    },\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.1.0\"\n    }\n  }\n}];"
        },
        "id": "format_success",
        "name": "Format Success (POST)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          300
        ]
      },
      {
        "parameters": {
          "jsCode": "return {\n    success: false,\n    error_code: \"VALIDATION_ERROR\",\n    error_message: \"Payload missing required fields for Telegram\",\n    data: null,\n    _meta: {\n      source: \"NN_04_Telegram_Sender\",\n      timestamp: new Date().toISOString(),\n      workflow_id: \"NN_04\",\n      version: \"1.0.0\"\n    }\n};"
        },
        "id": "format_rejection",
        "name": "Format Rejection",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          950,
          550
        ]
      },
      {
        "parameters": {},
        "id": "trigger_error",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          200,
          850
        ]
      },
      {
        "parameters": {
          "jsCode": "return {\n  success: false,\n  error_code: \"TELEGRAM_SYSTEM_ERROR\",\n  error_message: $input.first()?.json?.execution?.error?.message || \"Fatal error in Telegram Sender workflow\",\n  data: null,\n  _meta: {\n    source: \"NN_04_Telegram_Sender\",\n    timestamp: new Date().toISOString(),\n    workflow_id: \"NN_04\",\n    version: \"1.0.0\"\n  }\n};"
        },
        "id": "format_error",
        "name": "Format Global Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          850
        ]
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Extract & Validate (PRE)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Extract & Validate (PRE)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Extract & Validate (PRE)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract & Validate (PRE)": {
        "main": [
          [
            {
              "node": "Is Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Valid?": {
        "main": [
          [
            {
              "node": "Sanitize for Telegram",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Rejection",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sanitize for Telegram": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram": {
        "main": [
          [
            {
              "node": "Format Success (POST)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Success (POST)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Format Global Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Global Error": {
        "main": [
          [
            {
              "node": "Format Success (POST)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Rejection": {
        "main": [
          [
            {
              "node": "Format Success (POST)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Roger Gallegos",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-02T22:54:51.914Z",
        "id": 200,
        "workflowId": "WE7DxLKAECtsA8Up",
        "versionId": "a41e9a64-d6ee-407e-a1d9-5ca361bcd27f",
        "event": "deactivated",
        "userId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      },
      {
        "createdAt": "2026-03-02T22:54:51.934Z",
        "id": 201,
        "workflowId": "WE7DxLKAECtsA8Up",
        "versionId": "a41e9a64-d6ee-407e-a1d9-5ca361bcd27f",
        "event": "activated",
        "userId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      },
      {
        "createdAt": "2026-03-02T22:54:57.647Z",
        "id": 202,
        "workflowId": "WE7DxLKAECtsA8Up",
        "versionId": "a41e9a64-d6ee-407e-a1d9-5ca361bcd27f",
        "event": "deactivated",
        "userId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      },
      {
        "createdAt": "2026-03-02T22:54:57.667Z",
        "id": 203,
        "workflowId": "WE7DxLKAECtsA8Up",
        "versionId": "a41e9a64-d6ee-407e-a1d9-5ca361bcd27f",
        "event": "activated",
        "userId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      }
    ]
  }
}