workflows/NN_05_Reminder_Cron.json
{
  "name": "NN_05_Reminder_Cron",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "minutes", "minutesInterval": 15 } ] }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 432],
      "id": "cron"
    },
    {
      "parameters": {
        "url": "http://dal-service:3000/pending-reminders",
        "options": {}
      },
      "name": "Fetch Pending",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [250, 432],
      "id": "fetch"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "name": "Split Bookings",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [500, 432],
      "id": "split"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "4afRuMkIvgEh7gXt", "mode": "id" },
        "mode": "wait",
        "inputData": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"text\": \"⏰ Recordatorio: Tienes una {{ $json.service_name }} con {{ $json.provider_name }} a las {{ $json.start_time }}\"\n}"
      },
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [750, 300],
      "id": "exec_tg"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dal-service:3000/mark-reminder-sent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"booking_id\": \"{{ $json.id }}\",\n  \"type\": {{ $json.reminder_type }}\n}",
        "options": {}
      },
      "name": "Mark as Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 432],
      "id": "mark"
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Fetch Pending", "type": "main", "index": 0 }]] },
    "Fetch Pending": { "main": [[{ "node": "Split Bookings", "type": "main", "index": 0 }]] },
    "Split Bookings": { "main": [[{ "node": "Notify Telegram", "type": "main", "index": 0 }]] },
    "Notify Telegram": { "main": [[{ "node": "Mark as Sent", "type": "main", "index": 0 }]] },
    "Mark as Sent": { "main": [[{ "node": "Split Bookings", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
