workflows/RAG_01_Document_Ingestion.json
{
  "name": "RAG_01_Document_Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-ingest-document",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "87e675d3-d5de-4141-b114-392f80d87e59",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [4304, 800],
      "webhookId": "rag-ingest-document"
    },
    {
      "parameters": {},
      "id": "d3349353-3a20-470b-ae04-0c793954379f",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [4304, 1008]
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{ \"provider_id\": 1, \"title\": \"Ejemplo de documento\", \"content\": \"Contenido de ejemplo para RAG\", \"source_type\": \"faq\", \"status\": \"published\", \"language\": \"es\" }"
      },
      "id": "16af98d9-35c8-486a-b9ea-34c06b58d47d",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [4304, 1200]
    },
    {
      "parameters": {
        "jsCode": "// Validation Sandwich - PRE Validate (SEC02)\n// O03: Extract → Validate → Build | SEC04: Regex Whitelist\n// Unicode: Spanish + English via rangos \\uXXXX explícitos (sin backticks en regex)\n\nconst input = $input.first()?.json.body || $input.first()?.json || {};\n\n// EXTRACT\nconst provider_id  = input.provider_id  !== undefined ? Number(input.provider_id)  : null;\nlet service_id     = null;\nif (input.service_id !== undefined && input.service_id !== null && input.service_id !== '') {\n    service_id = Number(input.service_id);\n}\n\nconst title        = input.title        !== undefined ? String(input.title).trim()  : '';\nconst content      = input.content      !== undefined ? String(input.content).trim(): '';\nconst language     = input.language     !== undefined ? String(input.language).toLowerCase().trim() : 'es';\nconst status       = input.status       !== undefined ? String(input.status).toLowerCase().trim()   : 'published';\n\n// SEC04 - Regex Whitelist\n// CRÍTICO: NO usar escapes inválidos (\\;, \\,, etc.) con flag /u, genera SyntaxError.\n// Agregados ¿ ¡ para español y símbolos comunes ($ / @ & % + = * #)\nconst safeStringRegex = /^[\\w\\s\\- '\".,?!():;$\\/@&%+=*#\\n\\r\\u00C0-\\u017F¿¡]{1,500}$/u;\nconst safeLongRegex   = /^[\\w\\s\\- '\".,?!():;$\\/@&%+=*#\\n\\r\\[\\]{}\\u00C0-\\u017F¿¡]{1,50000}$/u;\nconst langRegex       = /^[a-z]{2}$/;\n\n// Valid ENUMs\nconst validSourceTypes = ['faq','policy','schedule','service','provider','insurance','pricing','preparation','post_care','emergency','other'];\nconst validStatuses    = ['published','draft','archived'];\n\nlet source_type = input.source_type !== undefined ? String(input.source_type).toLowerCase().trim() : 'other';\nif (!validSourceTypes.includes(source_type)) source_type = 'other';\n\nif (!validStatuses.includes(status)) {\n  throw new Error('VALIDATION_ERROR: status must be one of: ' + validStatuses.join(', '));\n}\n\n// VALIDATE\nconst errors = [];\n\nif (!provider_id || provider_id <= 0 || !Number.isInteger(provider_id)) {\n  errors.push('provider_id must be positive integer');\n}\nif (service_id !== null && (!Number.isInteger(service_id) || service_id <= 0 || isNaN(service_id))) {\n  errors.push('service_id must be positive integer or omitted');\n}\nif (!title || title.length < 5) {\n  errors.push('title too short (min 5 chars)');\n}\nif (title && !safeStringRegex.test(title)) {\n  errors.push('title contains invalid characters');\n}\nif (!content || content.length < 10) {\n  errors.push('content too short (min 10 chars)');\n}\nif (content && !safeLongRegex.test(content)) {\n  errors.push('content contains invalid characters');\n}\nif (!langRegex.test(language)) {\n  errors.push('language must be 2-char ISO code (e.g. es, en)');\n}\n\nif (errors.length > 0) {\n  throw new Error('VALIDATION_ERROR: ' + errors.join(' | '));\n}\n\nlet metadata = {};\nif (input.metadata && typeof input.metadata === 'object' && !Array.isArray(input.metadata)) {\n  metadata = input.metadata;\n}\n\nconst summary = input.summary\n  ? String(input.summary).substring(0, 500)\n  : (content.length > 200 ? content.substring(0, 197) + '...' : content);\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    provider_id,\n    service_id,\n    title,\n    content,\n    source_type,\n    status,\n    language,\n    metadata,\n    summary,\n    _meta: {\n      source: 'RAG_01_Document_Ingestion',\n      timestamp: new Date().toISOString(),\n      version: '1.7.4'\n    }\n  }\n}];"
      },
      "id": "c8d635f8-9f83-4c5f-844b-3d29e4bb964c",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4496, 800]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "d2e5e928-2c32-4358-952a-da80fd6cd5ec",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4704, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $('Validate & Normalize').first().json.content }}"
            },
            {
              "name": "dimensions",
              "value": "={{ 1536 }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "aa2fcedf-bab7-4158-8346-66f4b950644f",
      "name": "Get OpenAI Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [4912, 800],
      "credentials": {
        "httpHeaderAuth": {
          "id": "8HwznNQRrIZCMsyQ",
          "name": "OpenAI API Key Header"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Post-Validate Embedding (SEC02)\nconst response = $input.first()?.json;\nif (!response || !response.data || !Array.isArray(response.data) || response.data.length === 0) {\n  throw new Error('EMBEDDING_ERROR: OpenAI returned empty or invalid response');\n}\nconst embedding = response.data[0]?.embedding;\nif (!Array.isArray(embedding) || embedding.length !== 1536) {\n  throw new Error('EMBEDDING_ERROR: Expected 1536 floats');\n}\nconst validatedData = $('Validate & Normalize').first()?.json;\nreturn [{ json: { ...validatedData, embedding } }];"
      },
      "id": "c3a71786-0218-491d-a866-904bd8bb496a",
      "name": "Post-Validate Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5104, 800]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.embedding.length }}",
              "rightValue": 1536,
              "operator": {
                "type": "number",
                "operation": "equal",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "dab35b2e-e3c6-4abe-82ed-3fffec808091",
      "name": "Embedding Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [5296, 800]
    },
    {
      "parameters": {
        "jsCode": "// O03 Postgres 4 Capas - BUILD\nconst d = $input.first()?.json;\nconst esc = (s, maxLen = 500) => String(s ?? '').replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\").substring(0, maxLen);\nconst embeddingLiteral = `'[${d.embedding.join(',')}]'::vector(1536)`;\nconst serviceIdLiteral = (d.service_id !== null) ? String(d.service_id) : 'NULL';\nlet metaJson = JSON.stringify(d.metadata || {});\n\nconst query = `\nINSERT INTO rag_documents (\n  provider_id, service_id, title, content, summary, embedding, source_type, status, language, metadata\n) VALUES (\n  ${d.provider_id}::bigint,\n  ${serviceIdLiteral}${serviceIdLiteral !== 'NULL' ? '::bigint' : ''},\n  '${esc(d.title)}'::text,\n  '${esc(d.content, 50000)}'::text,\n  '${esc(d.summary)}'::text,\n  ${embeddingLiteral},\n  '${esc(d.source_type)}'::rag_source_type,\n  '${esc(d.status)}'::rag_document_status,\n  '${esc(d.language, 10)}'::text,\n  '${esc(metaJson, 10000)}'::jsonb\n)\nRETURNING id, provider_id, title, created_at;`.trim();\n\nreturn [{ json: { query } }];"
      },
      "id": "6aa27aa9-6f30-4460-b7f4-de10c0f49420",
      "name": "Build Parameterized Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5488, 800]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "0dd64f98-7baf-4c1c-9c39-c3fa15845db5",
      "name": "Execute Insert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [5680, 800],
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dbOutput = $input.all();\nif (!dbOutput || dbOutput.length === 0 || !dbOutput[0].json || !dbOutput[0].json.id) {\n  throw new Error('DATABASE_ERROR: Insert failed');\n}\nreturn [{ json: { db_result: dbOutput[0].json } }];"
      },
      "id": "5cc7869c-912b-4719-9793-8993480e7c7e",
      "name": "Post-Validate Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5872, 800]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.db_result.id != null }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "78bcc9d3-cfe4-42f3-87cf-f1c6581fafce",
      "name": "Insert Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [6064, 800]
    },
    {
      "parameters": {
        "jsCode": "const dbRecord = $input.first()?.json.db_result || {};\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      document_id: dbRecord.id,\n      title: dbRecord.title,\n      provider_id: dbRecord.provider_id,\n      created_at: dbRecord.created_at\n    },\n    _meta: {\n      source: 'RAG_01_Document_Ingestion',\n      timestamp: new Date().toISOString(),\n      workflow_id: 'RAG_01',\n      version: '1.7.4'\n    }\n  }\n}];"
      },
      "id": "37e0ea41-d8f0-4077-a86e-673b5e17519f",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6272, 768]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first()?.json || {};\nlet errorCode = input.error_code || 'GENERAL_ERROR';\nlet errorMessage = input.error_message || input.message || 'Unknown error';\nreturn [{\n  json: {\n    success: false,\n    error_code: errorCode,\n    error_message: errorMessage,\n    data: null,\n    _meta: { source: 'RAG_01_Document_Ingestion', timestamp: new Date().toISOString(), version: '1.7.4' }\n  }\n}];"
      },
      "id": "db17972b-5917-42cd-890c-d0531159194e",
      "name": "Central Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6272, 976]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first()?.json?.message || 'Validation failed';\nreturn [{ json: { error_code: 'VALIDATION_ERROR', error_message: msg } }];"
      },
      "id": "87a6772c-db95-4740-9fc6-bc8f8291353c",
      "name": "Format Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4912, 1008]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first()?.json?.message || 'Embedding failed';\nreturn [{ json: { error_code: 'EMBEDDING_ERROR', error_message: msg } }];"
      },
      "id": "9bfbf448-0452-4403-b2e1-84662d05851e",
      "name": "Format Embedding Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5488, 1008]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first()?.json?.message || 'Database failed';\nreturn [{ json: { error_code: 'DATABASE_ERROR', error_message: msg } }];"
      },
      "id": "d6dbdf30-b2a2-42a9-88f7-93605177b59e",
      "name": "Format Database Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6272, 1168]
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first()?.json || {};\nreturn [{\n  json: {\n    success: result.success !== false,\n    error_code: result.success === false ? (result.error_code || 'UNKNOWN_ERROR') : null,\n    error_message: result.success === false ? (result.error_message || 'An error occurred') : null,\n    data: result.data || null,\n    _meta: {\n      source: 'RAG_01_DOCUMENT_INGESTION',\n      workflow_id: 'RAG_01_DOCUMENT_INGESTION',\n      timestamp: new Date().toISOString(),\n      version: '4.3.1'\n    }\n  }\n}];"
      },
      "id": "545da97a-24eb-46d6-bfc8-2c1e005c6b7d",
      "name": "📤 Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6560, 864]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{"node": "Validate & Normalize", "type": "main", "index": 0}]] },
    "Manual Trigger": { "main": [[{"node": "Validate & Normalize", "type": "main", "index": 0}]] },
    "Execute Workflow Trigger": { "main": [[{"node": "Validate & Normalize", "type": "main", "index": 0}]] },
    "Validate & Normalize": { "main": [[{"node": "Is Valid?", "type": "main", "index": 0}]] },
    "Is Valid?": { "main": [[{"node": "Get OpenAI Embedding", "type": "main", "index": 0}], [{"node": "Format Validation Error", "type": "main", "index": 0}]] },
    "Get OpenAI Embedding": { "main": [[{"node": "Post-Validate Embedding", "type": "main", "index": 0}]] },
    "Post-Validate Embedding": { "main": [[{"node": "Embedding Success?", "type": "main", "index": 0}]] },
    "Embedding Success?": { "main": [[{"node": "Build Parameterized Query", "type": "main", "index": 0}], [{"node": "Format Embedding Error", "type": "main", "index": 0}]] },
    "Build Parameterized Query": { "main": [[{"node": "Execute Insert", "type": "main", "index": 0}]] },
    "Execute Insert": { "main": [[{"node": "Post-Validate Insert", "type": "main", "index": 0}]] },
    "Post-Validate Insert": { "main": [[{"node": "Insert Success?", "type": "main", "index": 0}]] },
    "Insert Success?": { "main": [[{"node": "Format Success Response", "type": "main", "index": 0}], [{"node": "Format Database Error", "type": "main", "index": 0}]] },
    "Format Success Response": { "main": [[{"node": "📤 Standard Contract Output", "type": "main", "index": 0}]] },
    "Central Error Handler": { "main": [[{"node": "📤 Standard Contract Output", "type": "main", "index": 0}]] },
    "Format Validation Error": { "main": [[{"node": "Central Error Handler", "type": "main", "index": 0}]] },
    "Format Embedding Error": { "main": [[{"node": "Central Error Handler", "type": "main", "index": 0}]] },
    "Format Database Error": { "main": [[{"node": "Central Error Handler", "type": "main", "index": 0}]] }
  },
  "settings": { "executionOrder": "v1" }
}