workflows/RAG_02_Document_Retrieval.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-search",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "eaf9dca1-0ad5-40eb-8509-634764126604",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1840,
        976
      ],
      "webhookId": "rag-search",
      "notes": "📥 IN | Triple Entry Pattern (O01)"
    },
    {
      "parameters": {},
      "id": "03e6c051-8a76-4be9-9ee6-d50239c08fa3",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1840,
        1184
      ]
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{ \"query\": \"example query\", \"provider_id\": 1, \"limit\": 5, \"similarity_threshold\": 0.2 }"
      },
      "id": "6046ab59-d151-4e16-aa56-4117157574a1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1840,
        1376
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validation Sandwich - PRE Validate (SEC02) + Regex Whitelist (SEC04)\nconst input = $input.first()?.json.body || $input.first()?.json || {};\nconst rawQuery = input.query !== undefined ? String(input.query).trim() : null;\nconst rawProviderId = input.provider_id !== undefined ? Number(input.provider_id) : null;\nconst rawLimit = input.limit !== undefined ? Number(input.limit) : 5;\nconst rawThreshold = input.similarity_threshold !== undefined ? Number(input.similarity_threshold) : 0.2;\n\nconst queryRegex = /^[\\w\\s\\-'\".,?!():;$\\/@&%+=*#\\n\\r\\u00C0-\\u017F¿¡]{2,500}$/u;\n\nif (!rawQuery || !queryRegex.test(rawQuery)) throw new Error('VALIDATION_ERROR: query required (min 2 chars, valid chars only)');\nif (!rawProviderId || rawProviderId <= 0 || !Number.isInteger(rawProviderId)) throw new Error('VALIDATION_ERROR: provider_id must be positive integer');\nif (rawLimit < 1 || rawLimit > 10 || !Number.isInteger(rawLimit)) throw new Error('VALIDATION_ERROR: limit must be integer between 1 and 10');\nif (rawThreshold < 0 || rawThreshold > 1 || isNaN(rawThreshold)) throw new Error('VALIDATION_ERROR: similarity_threshold must be number between 0 and 1');\n\nreturn [{ json: { success: true, error_code: null, error_message: null, query: rawQuery, provider_id: rawProviderId, limit: Math.min(rawLimit, 10), threshold: rawThreshold, _meta: { source: 'RAG_02_Document_Retrieval', timestamp: new Date().toISOString(), version: '1.4.2' } } }];"
      },
      "id": "442406d0-fad6-4235-8595-329f8ca2cffa",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "fe0fb82e-dafd-405b-af10-8820927b627d",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{ $('Validate & Normalize').first().json.query }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "maxRetries": 3,
          "retryWait": {
            "type": "exponentialBackoff",
            "base": 1000
          }
        }
      },
      "id": "806d186b-04ee-4a87-934d-28843b408138",
      "name": "Get OpenAI Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2448,
        976
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "8HwznNQRrIZCMsyQ",
          "name": "OpenAI API Key Header"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "// Post-Validate Embedding (SEC02)\nconst response = $input.first()?.json;\nif (!response?.data?.[0]?.embedding || response.data[0].embedding.length !== 1536) throw new Error('EMBEDDING_ERROR: OpenAI returned invalid embedding');\nconst embedding = response.data[0].embedding;\nconst validatedData = $('Validate & Normalize').first()?.json;\nreturn [{ json: { ...validatedData, embedding } }];"
      },
      "id": "7717a42b-4448-4227-b6bb-627ed98030fb",
      "name": "Post-Validate Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.embedding.length }}",
              "rightValue": 1536,
              "operator": {
                "type": "number",
                "operation": "equal",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "fcb93d18-2086-426c-a25a-34d6ebcbefed",
      "name": "Embedding Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2848,
        976
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build Interpolated Query - FIX DEFINITIVO (service_id is integer)\n// O03 + P02 + SEC03 + SEC05\nconst d = $input.first()?.json;\n\n// Defense-in-depth (SEC02)\nif (!Array.isArray(d.embedding) || d.embedding.length !== 1536) \n  throw new Error('BUILD_ERROR: invalid embedding');\nif (!Number.isInteger(d.provider_id) || d.provider_id <= 0) \n  throw new Error('BUILD_ERROR: invalid provider_id');\nif (!Number.isInteger(d.limit) || d.limit < 1 || d.limit > 10) \n  throw new Error('BUILD_ERROR: invalid limit');\nif (typeof d.threshold !== 'number' || d.threshold < 0 || d.threshold > 1) \n  throw new Error('BUILD_ERROR: invalid threshold');\n\nconst safeQuery = d.query\n  .replace(/\\\\/g, '\\\\\\\\')\n  .replace(/'/g, \"''\")\n  .substring(0, 500);\n\nconst vectorStr = '[' + d.embedding.join(',') + ']';\n\nconst query = `\nSELECT json_build_object(\n  'success', true,\n  'data', json_build_object(\n    'query', '${safeQuery}'::text,\n    'documents', COALESCE(\n      (SELECT json_agg(r)\n       FROM hybrid_search_rag_documents(\n         '${vectorStr}'::vector(1536),\n         ${d.provider_id}::integer,\n         '${safeQuery}'::text,\n         NULL::integer,\n         ${d.limit}::integer,\n         ${d.threshold}::double precision\n       ) r\n      ),\n      '[]'::json\n    )\n  ),\n  '_meta', json_build_object(\n    'source', 'RAG_02_Document_Retrieval',\n    'timestamp', now()::text,\n    'workflow_id', 'RAG_02',\n    'version', '1.4.2'\n  )\n) AS response\n`.trim();\n\nreturn [{ json: { query, query_text: d.query, provider_id: d.provider_id } }];"
      },
      "id": "9456ac5f-1b8f-4e77-a924-d4d9fb640e5b",
      "name": "Build Interpolated Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        976
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "5f0dacc6-7715-49e9-bec1-e4542ab5426d",
      "name": "Search",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3248,
        976
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "SFNQsmuu4zirZAnP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Post-Validate Search (SEC02)\nconst rows = $input.all();\nif (!rows?.[0]?.json?.response) throw new Error('DATABASE_ERROR: No valid response from Postgres');\nconst response = rows[0].json.response;\nif (!Array.isArray(response.data?.documents)) throw new Error('DATABASE_ERROR: documents is not array');\nreturn [{ json: { response } }];"
      },
      "id": "6567037e-2312-459c-ac75-9402e12fa0d7",
      "name": "Post-Validate Search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.response.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "0a0e89f5-f9bf-4e99-8326-980f514b8acf",
      "name": "Search Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3648,
        976
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format Success Response\nconst raw = $input.first()?.json?.response || {};\nconst validatedData = $('Validate & Normalize').first()?.json || {};\nconst documents = raw.data?.documents || [];\nreturn [{ json: { success: true, error_code: null, error_message: null, data: { query: validatedData.query, documents, document_count: documents.length }, _meta: { source: 'RAG_02_Document_Retrieval', timestamp: new Date().toISOString(), workflow_id: 'RAG_02', version: '1.4.0' } } }];"
      },
      "id": "a1eb6e12-4b55-42ff-8115-a1d391500a3c",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        976
      ],
      "notes": "📤 OUT"
    },
    {
      "parameters": {
        "jsCode": "// Central Error Handler (SEC02)\nconst input = $input.first()?.json || {};\nlet errorCode = input.error_code || 'GENERAL_ERROR';\nlet errorMessage = input.error_message || input.message || input.error?.message || 'Unknown error';\nif (!input.error_code && errorMessage.includes(':')) {\n  const parts = errorMessage.split(':', 2);\n  const known = ['VALIDATION_ERROR','EMBEDDING_ERROR','DATABASE_ERROR','BUILD_ERROR'];\n  if (known.includes(parts[0].trim())) { errorCode = parts[0].trim(); errorMessage = parts[1].trim(); }\n}\nreturn [{ json: { success: false, error_code: errorCode, error_message: errorMessage, data: null, _meta: { source: 'RAG_02_Document_Retrieval', timestamp: new Date().toISOString(), workflow_id: 'RAG_02', version: '1.4.0' } } }];"
      },
      "id": "5f8f8e25-1392-4bb1-9b0d-9600cdd1be28",
      "name": "Central Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        1376
      ],
      "notes": "📤 OUT - Errors"
    },
    {
      "parameters": {
        "jsCode": "// Format Validation Error → Central\nconst msg = $input.first()?.json?.message || $input.first()?.json?.error?.message || 'Input validation failed';\nreturn [{ json: { error_code: 'VALIDATION_ERROR', error_message: msg } }];"
      },
      "id": "a49e636b-72df-4a01-afeb-5dea75029ebe",
      "name": "Format Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format Embedding Error → Central\nconst msg = $input.first()?.json?.message || $input.first()?.json?.error?.message || 'Failed to generate embedding';\nreturn [{ json: { error_code: 'EMBEDDING_ERROR', error_message: msg } }];"
      },
      "id": "5af4cc73-3100-403c-9f7a-d5ff1c43c771",
      "name": "Format Embedding Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format Database Error → Central\nconst msg = $input.first()?.json?.message || $input.first()?.json?.error?.message || 'Failed to search documents';\nreturn [{ json: { error_code: 'DATABASE_ERROR', error_message: msg } }];"
      },
      "id": "0aff93c0-170b-45a7-80d9-1bcb915a7116",
      "name": "Format Database Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "// 📤 STANDARD CONTRACT OUTPUT (O02) - NODO FINAL OBLIGATORIO\nconst result = $input.first()?.json || {};\nreturn [{ json: { success: result.success !== false, error_code: result.success === false ? (result.error_code || 'UNKNOWN_ERROR') : null, error_message: result.success === false ? (result.error_message || 'An error occurred') : null, data: result.data || null, _meta: { source: 'RAG_02_DOCUMENT_RETRIEVAL', workflow_id: 'RAG_02', timestamp: new Date().toISOString(), version: '1.4.0' } } }];"
      },
      "id": "standard_contract_1772984456928",
      "name": "📤 Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4040,
        976
      ],
      "notes": "📤 OUT - Único nodo final"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Normalize": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Get OpenAI Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get OpenAI Embedding": {
      "main": [
        [
          {
            "node": "Post-Validate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Validate Embedding": {
      "main": [
        [
          {
            "node": "Embedding Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding Success?": {
      "main": [
        [
          {
            "node": "Build Interpolated Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Embedding Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Interpolated Query": {
      "main": [
        [
          {
            "node": "Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "main": [
        [
          {
            "node": "Post-Validate Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post-Validate Search": {
      "main": [
        [
          {
            "node": "Search Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Success?": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Database Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Validation Error": {
      "main": [
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Embedding Error": {
      "main": [
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Database Error": {
      "main": [
        [
          {
            "node": "Central Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "📤 Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Central Error Handler": {
      "main": [
        [
          {
            "node": "📤 Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dcff9bffd57bf60f63303c902ff8a9da3e3cc1df7b0fee28dae6d77c5d352c30"
  },
  "name": "RAG_02_Document_Retrieval"
}