workflows/SEED_01_Daily_Provisioning.json
{
  "name": "SEED_01_Daily_Provisioning",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        200,
        100
      ],
      "id": "2ef24783-0bd3-45b0-9606-6e73ccd3c610"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seed-daily-prod-v1",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        200,
        300
      ],
      "webhookId": "bac07b58-a1c1-4494-bfbc-5a5255f7d871",
      "id": "86bf51e8-3c2a-4b71-b1ac-864de6d58099"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "When Called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        500
      ],
      "id": "3a6ce2f6-620e-44dc-b2b9-8c2d45caf432"
    },
    {
      "parameters": {
        "jsCode": "// P1-FIX: Input Validation Layer (§4.1 PRE-validate)\n// P3-FIX: Webhook auth via x-seed-token header\n// P2-FIX: tz_offset validation\n// FIX-REGEX: Replace all regex with native JS validation\n\nconst raw = $input.first().json;\nconst input = (raw.body && typeof raw.body === 'object') ? raw.body : raw;\nconst headers = raw.headers || {};\n\n// P3: Auth check — only for webhook calls (have headers)\nif (raw.headers && typeof raw.headers === 'object') {\n  const token = headers['x-seed-token'] || headers['X-Seed-Token'] || '';\n  const expected = $vars?.SEED_AUTH_TOKEN || '';\n  if (expected && token !== expected) {\n    return [{\n      json: {\n        success: false,\n        error_code: 'AUTH_FAILED',\n        error_message: 'Invalid or missing x-seed-token header',\n        data: null,\n        _meta: { source: 'SEED_01_Daily_Provisioning', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n      }\n    }];\n  }\n}\n\n// === DATE VALIDATION (Native JS, no regex) ===\nlet date = input.date || new Date().toISOString().split('T')[0];\ndate = String(date).trim();\n\n// Check format: must be YYYY-MM-DD (4 digits, 2 digits, 2 digits)\nconst dateParts = date.split('-');\nif (dateParts.length !== 3) {\n  throw new Error('INVALID_INPUT: date must be YYYY-MM-DD format, got: ' + date.substring(0, 20));\n}\n\nconst year = Number(dateParts[0]);\nconst month = Number(dateParts[1]);\nconst day = Number(dateParts[2]);\n\n// Validate numeric values\nif (isNaN(year) || isNaN(month) || isNaN(day)) {\n  throw new Error('INVALID_INPUT: date components must be numeric');\n}\n\n// Validate ranges\nif (year < 1900 || year > 2100) {\n  throw new Error('INVALID_INPUT: year must be 1900-2100, got: ' + year);\n}\nif (month < 1 || month > 12) {\n  throw new Error('INVALID_INPUT: month must be 1-12, got: ' + month);\n}\n\n// Validate day exists for given month/year (handles Feb 29, 30, 31 correctly)\nconst dateObj = new Date(year, month - 1, day);\nif (dateObj.getFullYear() !== year || dateObj.getMonth() !== month - 1 || dateObj.getDate() !== day) {\n  throw new Error('INVALID_INPUT: date does not exist: ' + date);\n}\n\n// === PROVIDER_ID VALIDATION (Native JS, no regex) ===\nconst provider_id = Number(input.provider_id ?? 1);\nif (typeof input.provider_id === 'string') {\n  const trimmed = input.provider_id.trim();\n  if (trimmed === '' || isNaN(Number(trimmed))) {\n    throw new Error('INVALID_INPUT: provider_id must be a number');\n  }\n}\nif (isNaN(provider_id) || !Number.isInteger(provider_id) || provider_id < 1) {\n  throw new Error('INVALID_INPUT: provider_id must be a positive integer, got: ' + String(input.provider_id));\n}\n\n// === SERVICE_ID VALIDATION (Native JS, no regex) ===\nconst service_id = Number(input.service_id ?? 1);\nif (typeof input.service_id === 'string') {\n  const trimmed = input.service_id.trim();\n  if (trimmed === '' || isNaN(Number(trimmed))) {\n    throw new Error('INVALID_INPUT: service_id must be a number');\n  }\n}\nif (isNaN(service_id) || !Number.isInteger(service_id) || service_id < 1) {\n  throw new Error('INVALID_INPUT: service_id must be a positive integer, got: ' + String(input.service_id));\n}\n\n// === CHAT_ID VALIDATION (Native JS, no regex) ===\nconst chat_id = Number(input.chat_id ?? 0);\nif (typeof input.chat_id === 'string') {\n  const trimmed = input.chat_id.trim();\n  if (trimmed === '' || isNaN(Number(trimmed))) {\n    throw new Error('INVALID_INPUT: chat_id must be a number');\n  }\n}\nif (isNaN(chat_id) || !Number.isInteger(chat_id) || chat_id < 0) {\n  throw new Error('INVALID_INPUT: chat_id must be a non-negative integer, got: ' + String(input.chat_id));\n}\n\n// === HOURS VALIDATION (Native JS, no regex) ===\nlet hours = [9, 10, 11, 12, 13, 14, 15, 16];\nif (Array.isArray(input.hours)) {\n  if (input.hours.length === 0) {\n    throw new Error('INVALID_INPUT: hours array cannot be empty');\n  }\n  if (input.hours.length > 24) {\n    throw new Error('INVALID_INPUT: hours array cannot have more than 24 entries');\n  }\n  \n  hours = input.hours.map((h, idx) => {\n    const hour = Number(h);\n    if (isNaN(hour) || !Number.isInteger(hour)) {\n      throw new Error('INVALID_INPUT: hour at index ' + idx + ' must be an integer, got: ' + String(h));\n    }\n    if (hour < 0 || hour > 23) {\n      throw new Error('INVALID_INPUT: hour must be 0-23, got: ' + hour + ' at index ' + idx);\n    }\n    return hour;\n  });\n}\n\n// === DURATION_MINUTES VALIDATION (Native JS, no regex) ===\nconst duration_minutes = Number(input.duration_minutes ?? 60);\nif (typeof input.duration_minutes === 'string') {\n  const trimmed = input.duration_minutes.trim();\n  if (trimmed === '' || isNaN(Number(trimmed))) {\n    throw new Error('INVALID_INPUT: duration_minutes must be a number');\n  }\n}\nif (isNaN(duration_minutes) || !Number.isInteger(duration_minutes)) {\n  throw new Error('INVALID_INPUT: duration_minutes must be an integer');\n}\nif (duration_minutes < 15 || duration_minutes > 480) {\n  throw new Error('INVALID_INPUT: duration_minutes must be 15-480, got: ' + duration_minutes);\n}\n\n// === TZ_OFFSET VALIDATION (Native JS, no regex) ===\nlet tz_offset = input.tz_offset || '-03:00';\ntz_offset = String(tz_offset).trim();\n\n// Must be in format +HH:MM or -HH:MM\nif (tz_offset.length !== 6) {\n  throw new Error('INVALID_INPUT: tz_offset must be +HH:MM or -HH:MM, got: ' + tz_offset);\n}\n\nconst tzSign = tz_offset.charAt(0);\nconst tzHour = tz_offset.substring(1, 3);\nconst tzMin = tz_offset.substring(4, 6);\n\nif (tzSign !== '+' && tzSign !== '-') {\n  throw new Error('INVALID_INPUT: tz_offset must start with + or -, got: ' + tzSign);\n}\nif (tz_offset.charAt(3) !== ':') {\n  throw new Error('INVALID_INPUT: tz_offset must have : at position 4, got: ' + tz_offset.charAt(3));\n}\n\nconst tzHourNum = Number(tzHour);\nconst tzMinNum = Number(tzMin);\n\nif (isNaN(tzHourNum) || isNaN(tzMinNum)) {\n  throw new Error('INVALID_INPUT: tz_offset hours and minutes must be numeric');\n}\nif (tzHourNum < 0 || tzHourNum > 14) {\n  throw new Error('INVALID_INPUT: tz_offset hours must be 00-14');\n}\nif (tzMinNum < 0 || tzMinNum > 59) {\n  throw new Error('INVALID_INPUT: tz_offset minutes must be 00-59');\n}\n\nreturn [{ json: { date, provider_id, service_id, chat_id, hours, duration_minutes, tz_offset, _validated: true } }];"
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ],
      "id": "val-input-seed-01"
    },
    {
      "parameters": {
        "jsCode": "// Generate slot items from validated input\n// FIX #1: idempotency_key = SEED-{date}-P{pid}-S{sid}-{hour}\n// FIX #4 + P2: timestamps with explicit timezone offset\n// FIX #9: externalized params\n// FIX #10: execution metadata\n\nconst v = $input.first().json;\nif (!v._validated) throw new Error('PIPELINE_ERROR: unvalidated input reached Generate Slots');\n\nconst { date, provider_id, service_id, chat_id, hours, duration_minutes, tz_offset } = v;\n\n$execution.customData.set('seed_date', date);\n$execution.customData.set('seed_provider', String(provider_id));\n$execution.customData.set('seed_service', String(service_id));\n$execution.customData.set('seed_slot_count', String(hours.length));\n\nconst dateClean = date.replace(/-/g, '');\n\nreturn hours.map(hour => {\n  const h = String(hour).padStart(2, '0');\n  const hNext = String(hour + 1).padStart(2, '0');\n  const idempotency_key = `SEED-${dateClean}-P${provider_id}-S${service_id}-${h}00`;\n  return {\n    json: {\n      provider_id,\n      service_id,\n      start_time: `${date}T${h}:00:00${tz_offset}`,\n      end_time: `${date}T${hNext}:00:00${tz_offset}`,\n      chat_id,\n      idempotency_key,\n      duration_minutes,\n      source: 'SEED_01'\n    }\n  };\n});"
      },
      "name": "Generate Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        300
      ],
      "id": "44658718-d0c0-4323-90e3-7ce94406b1cd"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "jalLaIR09MPpZGcl",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "provider_id": "={{ $json.provider_id }}",
            "service_id": "={{ $json.service_id }}",
            "start_time": "={{ $json.start_time }}",
            "end_time": "={{ $json.end_time }}",
            "chat_id": "={{ $json.chat_id }}",
            "idempotency_key": "={{ $json.idempotency_key }}",
            "duration_minutes": "={{ $json.duration_minutes }}",
            "source": "={{ $json.source }}"
          }
        },
        "mode": "each",
        "alwaysOutputData": true,
        "options": {}
      },
      "name": "Process Slot",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        900,
        300
      ],
      "id": "f8e8a4dd-01b0-4f61-984f-35ef2c40dbc9",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// FIX #8: only onError:continueErrorOutput — no continueOnFail\nconst err = $input.first().json;\nreturn [{\n  json: {\n    success: false,\n    error_code: 'PROCESS_SLOT_CRASH',\n    error_message: err.message || err.error?.message || 'SEED_01_Process_Slot crashed',\n    data: { slot: 'unknown', idempotency_key: null, source: 'SEED_01' },\n    _meta: { source: 'SEED_01_Daily_Provisioning', timestamp: new Date().toISOString() }\n  }\n}];"
      },
      "name": "Handle Slot Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        520
      ],
      "id": "134e891c-9010-4c66-9a65-049bdc962bd4"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// P0-FIX: Integrity check — detect silent data loss\nconst results = $input.all().map(i => i.json);\n\nconst expectedStr = $execution.customData.get('seed_slot_count');\nconst expected = parseInt(expectedStr || '0');\nconst booked = results.filter(r => r.success === true);\nconst failed = results.filter(r => r.success === false);\nconst total = results.length;\n\nlet integrity_status = 'OK';\nlet integrity_warning = null;\nif (expected > 0 && total !== expected) {\n  integrity_status = 'SLOT_COUNT_MISMATCH';\n  integrity_warning = `Expected ${expected} slots but processed ${total}. Possible silent data loss.`;\n}\n\n$execution.customData.set('seed_booked', String(booked.length));\n$execution.customData.set('seed_failed', String(failed.length));\n$execution.customData.set('seed_integrity', integrity_status);\n\nresults.sort((a, b) => (a.slot || '').localeCompare(b.slot || ''));\n\nreturn [{\n  json: {\n    success: integrity_status === 'OK' && failed.length === 0,\n    error_code: (integrity_status === 'OK' && failed.length === 0) ? null : 'PROVISIONING_ERROR',\n    error_message: (integrity_status === 'OK' && failed.length === 0) ? null : 'Some slots failed to provision or integrity warning',\n    message: `Seeding completed: ${booked.length} booked, ${failed.length} failed` +\n      (integrity_warning ? ` | WARNING: ${integrity_warning}` : ''),\n    data: {\n      total_slots: total,\n      expected_slots: expected,\n      booked: booked.length,\n      failed: failed.length,\n      integrity_status,\n      integrity_warning,\n      details: results\n    },\n    _meta: { source: 'SEED_01_Daily_Provisioning', timestamp: new Date().toISOString(), workflow_id: $workflow.id }\n  }\n}];"
      },
      "name": "Report Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        300
      ],
      "id": "8ebe37d5-0906-4f75-ba1c-69428f19721f"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Generate Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slots": {
      "main": [
        [
          {
            "node": "Process Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Slot": {
      "main": [
        [
          {
            "node": "Report Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Slot Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Slot Error": {
      "main": [
        [
          {
            "node": "Report Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "id": "IVDXuT6a4tT9w1vR"
}