workflows/SEED_Book_Tomorrow_v2_clean.json
{
  "name": "SEED_Book_Tomorrow",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "\ud83d\udce5 IN: Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seed-tomorrow",
        "responseMode": "lastNode"
      },
      "id": "webhook_trigger",
      "name": "\ud83d\udce5 IN: Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        200
      ],
      "webhookId": "seed-tomorrow"
    },
    {
      "parameters": {
        "jsCode": "// Build Seed Config v1.0\n// Validaci\u00f3n de input y generaci\u00f3n de slots\n\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst date = tomorrow.toISOString().split('T')[0];\n\n// Slots horarios (09:00 - 16:00)\nconst slots = ['09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00'];\n\n// Regex whitelist para validaci\u00f3n (SEC04)\nconst nameRegex = /^[A-Za-z\\s]+$/;\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nreturn slots.map((time, i) => {\n  const chat_id = 9800000 + i;\n  const user_name = 'Seed Patient ' + String.fromCharCode(65 + i);\n  const user_email = 'seed@test.local';\n  \n  // Validaci\u00f3n de input (SEC04)\n  if (!nameRegex.test(user_name)) {\n    throw new Error(`Invalid user_name format: ${user_name}`);\n  }\n  if (!emailRegex.test(user_email)) {\n    throw new Error(`Invalid user_email format: ${user_email}`);\n  }\n  \n  return {\n    json: {\n      provider_id: 1,\n      service_id: 1,\n      start_time: `${date}T${time}:00.000-03:00`,\n      chat_id: chat_id,\n      user_name: user_name,\n      user_email: user_email,\n      _meta: {\n        slot_index: i,\n        generated_at: new Date().toISOString()\n      }\n    }\n  };\n});"
      },
      "id": "build_config",
      "name": "Build Seed Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8h2HMDoNQTJEkiZL",
          "mode": "id"
        },
        "mode": "runOnceForEachItem",
        "workflowInputs": {
          "__rl": true,
          "value": {
            "calendar_id": "primary",
            "provider_id": "={{ $json.provider_id }}",
            "service_id": "={{ $json.service_id }}",
            "start_time": "={{ $json.start_time }}",
            "chat_id": "={{ $json.chat_id }}",
            "user_name": "={{ $json.user_name }}",
            "user_email": "={{ $json.user_email }}"
          },
          "mode": "pairs"
        },
        "options": {
          "timeout": 60000,
          "retryOnFail": true
        }
      },
      "id": "execute_sub",
      "name": "Execute Sub-workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        400,
        100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value": true,
              "operation": "equal",
              "property": "={{ $json.success }}"
            }
          ]
        }
      },
      "id": "is_success",
      "name": "Is Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Standard Contract Output v1.0\n// Agrega _meta consistente y versionado\n\nconst input = $input.first().json;\n\nreturn [{\n  json: {\n    success: input.success || false,\n    error_code: input.error_code || null,\n    error_message: input.error_message || null,\n    data: input.data || {\n      total_slots: input.total_slots || 0,\n      successful_bookings: input.successful_bookings || 0,\n      failed_bookings: input.failed_bookings || 0\n    },\n    _meta: {\n      source: 'SEED_BOOK_TOMORROW',\n      workflow_id: 'HxMojMqbRiNgquvd',\n      timestamp: new Date().toISOString(),\n      version: '1.0.0'\n    }\n  }\n}];"
      },
      "id": "sco",
      "name": "\ud83d\udce4 OUT: Standard Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Error Handler: Format error to Standard Contract\nconst error = $input.first().json;\nconst nodeName = error.nodeName || 'Unknown';\n\nreturn [{\n  json: {\n    success: false,\n    error_code: error.error_code || 'SEED_WORKFLOW_ERROR',\n    error_message: `Error en ${nodeName}: ${error.message || 'Error desconocido'}`,\n    data: null,\n    _meta: {\n      source: 'SEED_ERROR_HANDLER',\n      workflow_id: 'HxMojMqbRiNgquvd',\n      timestamp: new Date().toISOString(),\n      version: '1.0.0',\n      error_node: nodeName\n    }\n  }\n}];"
      },
      "id": "error_handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        250
      ]
    }
  ],
  "connections": {
    "\ud83d\udce5 IN: Manual Trigger": {
      "main": [
        [
          {
            "node": "Build Seed Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udce5 IN: Webhook": {
      "main": [
        [
          {
            "node": "Build Seed Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Seed Config": {
      "main": [
        [
          {
            "node": "Execute Sub-workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sub-workflow": {
      "main": [
        [
          {
            "node": "Is Success?",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Success?": {
      "main": [
        [
          {
            "node": "\ud83d\udce4 OUT: Standard Contract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "\ud83d\udce4 OUT: Standard Contract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}