workflows/SUB_Seed_Single_Booking.json
{
  "name": "SUB_Seed_Single_Booking",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dal-service:3000/create-booking",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.chat_id }},\n  \"provider_id\": {{ $json.provider_id }},\n  \"service_id\": {{ $json.service_id }},\n  \"start_time\": \"{{ $json.start_time }}\",\n  \"user_name\": \"{{ $json.user_name }}\",\n  \"user_email\": \"{{ $json.user_email }}\"\n}"
      },
      "id": "dal_create",
      "name": "Create Booking (DAL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [250, 0]
    },
    {
      "parameters": {
        "jsCode": "const dbData = $input.first().json || {};\nconst triggerData = $('Execute Workflow Trigger').first().json || {};\n\nconst startTime = new Date(triggerData.start_time);\nconst endTime = new Date(startTime.getTime() + 30 * 60000);\n\nreturn [{\n  json: {\n    ...triggerData,\n    booking_id: dbData.data?.booking_id || dbData.booking_id,\n    booking_code: dbData.data?.booking_code || dbData.booking_code,\n    end_time: endTime.toISOString(),\n    gcal_summary: `Cita Seed: ${triggerData.user_name}`\n  }\n}];"
      },
      "id": "merge_data",
      "name": "Merge Data for GCAL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.stax.ink/webhook/gcal-create-event",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"calendar_id\": \"{{ $json.calendar_id || 'primary' }}\",\n  \"booking_id\": \"{{ $json.booking_id }}\",\n  \"booking_code\": \"{{ $json.booking_code }}\",\n  \"summary\": \"{{ $json.gcal_summary || 'Cita Seed' }}\",\n  \"start_time\": \"{{ $json.start_time }}\",\n  \"end_time\": \"{{ $json.end_time }}\",\n  \"user_name\": \"{{ $json.user_name }}\",\n  \"user_email\": \"{{ $json.user_email }}\",\n  \"service_name\": \"Consulta Seed\"\n}"
      },
      "id": "gcal_create",
      "name": "Create GCAL Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [750, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dal-service:3000/update-gcal-event-id",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"booking_id\": \"{{ $('Merge Data for GCAL').first().json.booking_id }}\",\n  \"gcal_event_id\": \"{{ $json.data?.gcal_event_id || $json.gcal_event_id }}\"\n}"
      },
      "id": "dal_update",
      "name": "Update DB with GCAL ID",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1000, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Create Booking (DAL)", "type": "main", "index": 0 }]] },
    "Create Booking (DAL)": { "main": [[{ "node": "Merge Data for GCAL", "type": "main", "index": 0 }]] },
    "Merge Data for GCAL": { "main": [[{ "node": "Create GCAL Event", "type": "main", "index": 0 }]] },
    "Create GCAL Event": { "main": [[{ "node": "Update DB with GCAL ID", "type": "main", "index": 0 }]] }
  }
}