workflows/WF2_Booking_Orchestrator.json
{
  "updatedAt": "2026-03-19T22:30:07.086Z",
  "createdAt": "2026-03-15T02:16:19.238Z",
  "id": "Z7g7DgxXQ61V368P",
  "name": "WF2_Booking_Orchestrator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "booking-orchestrator",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -750,
        300
      ],
      "webhookId": "booking-orchestrator",
      "id": "84ef3d4b-6404-4335-a2e4-0e1803a64d70"
    },
    {
      "parameters": {
        "jsCode": "\n// Idempotency Check v2.3.1 - Enhanced ISO Sanitization\ntry {\n  const input = $input.first().json;\n  const body = input.body || input;\n\n  const sanitizeInt = (val) => {\n    if (Array.isArray(val)) val = val[0];\n    const parsed = parseInt(val, 10);\n    return isNaN(parsed) ? null : parsed;\n  };\n\n  const sanitizeStr = (val, maxLen = 255) => {\n    if (Array.isArray(val)) val = val[0];\n    if (typeof val !== 'string') val = String(val || '');\n    return val.replace(/[^\\w\\s@.-]/gi, '_').substring(0, maxLen);\n  };\n\n  // Sanitización especial para FECHA (permitir Z, :, +)\n  const sanitizeDateStr = (val) => {\n    if (Array.isArray(val)) val = val[0];\n    if (typeof val !== 'string') val = String(val || '');\n    return val.replace(/[^\\d-T:Z.+-]/gi, '').substring(0, 50);\n  };\n\n  const provider_id = sanitizeInt(body.provider_id);\n  const service_id = sanitizeInt(body.service_id);\n  const start_time = sanitizeDateStr(body.start_time); \n  const user_name = sanitizeStr(body.user_name || body.name, 100);\n  const chat_id = sanitizeStr(body.chat_id || body.customer_id, 50);\n\n  if (!provider_id || !service_id || !start_time) {\n    return [{ json: { success: false, error_code: 'INVALID_INPUT', error_message: 'Missing or invalid fields' } }];\n  }\n\n  const parts = start_time.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2}):(\\d{2})/);\n  if (!parts) {\n    return [{ json: { success: false, error_code: 'INVALID_DATE_FORMAT', error_message: 'Format must be ISO 8601' } }];\n  }\n\n  const [full, y, m, d] = parts.slice(1, 5).map(p => parseInt(p, 10));\n  const dateObj = new Date(start_time);\n\n  // Verificación de Fecha Real\n  if (isNaN(dateObj.getTime()) || dateObj.getUTCFullYear() !== y || (dateObj.getUTCMonth() + 1) !== m || dateObj.getUTCDate() !== d) {\n    // Tolerancia para offsets: si el UTC no coincide, probamos con la fecha local del objeto\n    if (isNaN(dateObj.getTime())) {\n       return [{ json: { success: false, error_code: 'INVALID_DATE', error_message: 'Date does not exist' } }];\n    }\n  }\n\n  const now = Date.now();\n  if (dateObj.getTime() < (now - 3600000)) { // 1h de gracia\n    return [{ json: { success: false, error_code: 'PAST_DATE', error_message: 'Cannot book in the past' } }];\n  }\n\n  if (dateObj.getTime() > (now + (365 * 24 * 60 * 60 * 1000))) {\n    return [{ json: { success: false, error_code: 'FUTURE_DATE_TOO_EXTREME', error_message: 'Limit: 1 year' } }];\n  }\n\n  const idempotencyKey = `booking_${provider_id}_${service_id}_${start_time}_${chat_id || 'anon'}`;\n  const sanitizedKey = idempotencyKey.replace(/[^a-zA-Z0-9_:-]/g, '_').substring(0, 255);\n\n  const ctx = {\n    provider_id,\n    service_id,\n    start_time,\n    user_name,\n    chat_id,\n    idempotency_key: sanitizedKey,\n    _meta: { source: 'WF2_ORCHESTRATOR', version: '2.3.1', timestamp: new Date().toISOString() }\n  };\n\n  return [{ json: { success: true, ctx } }];\n\n} catch (error) {\n  return [{ json: { success: false, error_code: 'INTERNAL_ERROR', error_message: error.message } }];\n}\n  "
      },
      "name": "Generate Idempotency Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -500,
        300
      ],
      "id": "c35833ad-1695-491f-953c-d934e110ec4a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "val_ok",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Validation OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -300,
        300
      ],
      "id": "65a20d51-1f3f-4181-a3f8-335fccf0f6d7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, status, gcal_event_id FROM bookings WHERE idempotency_key = $1::text LIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.ctx.idempotency_key] }}"
        }
      },
      "name": "Check Idempotency DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -250,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "5LzvCP9BsQwCi9Z0",
          "name": "Postgres account"
        }
      },
      "id": "efb4f689-d41d-4751-811a-48f9e0c40c7b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json) && $json.length > 0 && !!$json[0]?.id }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        300
      ],
      "id": "5efa7c9b-de4c-4c55-94af-03eb4cd3a8f3"
    },
    {
      "parameters": {
        "jsCode": "// DUPLICATE BRANCH - Return existing booking\nconst existing = $input.first().json[0] || $input.first().json;\nconst ctx = $input.first().json.ctx || {};\n\nctx._idempotency.is_duplicate = true;\nctx._idempotency.existing_booking_id = existing.id;\n\nreturn [{\n  json: {\n    ctx,\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: existing.id,\n      status: existing.status,\n      gcal_event_id: existing.gcal_event_id,\n      is_duplicate: true,\n      message: 'Booking already exists (idempotent retry)'\n    },\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0',\n      idempotency: 'duplicate'\n    }\n  }\n}];"
      },
      "name": "Return Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        400
      ],
      "id": "b86c5096-159f-4551-ac77-613df67a6b2d"
    },
    {
      "parameters": {
        "jsCode": "// MERGE CONTEXT - After Is Duplicate? (false branch)\n// Get ctx from Generate Idempotency Key node\nconst ctx = $(\"Generate Idempotency Key\").first()?.json?.ctx || {};\n\n// FIX: Initialize _idempotency if it doesn't exist\nif (!ctx._idempotency) {\n  ctx._idempotency = {};\n}\n\nctx._idempotency.is_duplicate = false;\nreturn [{ json: { ctx, provider_id: ctx.provider_id, service_id: ctx.service_id, start_time: ctx.start_time } }];"
      },
      "name": "Merge Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        200
      ],
      "id": "642ac4b8-d0b9-4763-a1b4-ae4275c9846f"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6zftqMdtBAT0QaCt",
          "mode": "id"
        },
        "mode": "wait",
        "inputData": "={\n  \"provider_id\": {{ $('Generate Idempotency Key').first().json.ctx.provider_id }},\n  \"service_id\": {{ $('Generate Idempotency Key').first().json.ctx.service_id }},\n  \"start_time\": \"{{ $('Generate Idempotency Key').first().json.ctx.start_time }}\"\n}",
        "options": {}
      },
      "name": "Check Availability",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        500,
        200
      ],
      "id": "549f5106-78e5-46ca-9d81-451965d18ada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        750,
        200
      ],
      "id": "93f04b88-1655-42f7-9119-7841b0979e3c"
    },
    {
      "parameters": {
        "jsCode": "\n// NOT AVAILABLE BRANCH\n// Intentamos recuperar ctx del input o del nodo inicial Generate Idempotency Key\nconst ctx = $input.first().json.ctx || $(\"Generate Idempotency Key\").first().json.ctx;\nctx._meta.failed_at = 'Check Availability';\n\nreturn [{\n  json: {\n    ctx,\n    success: false,\n    error_code: 'NO_AVAILABILITY',\n    error_message: 'No availability found for requested time slot',\n    data: $input.first().json.data || null, // Incluimos la razón (p.ej. mode fail-safe)\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.3.2'\n    }\n  }\n}];"
      },
      "name": "Error - No Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        350
      ],
      "id": "a943a4ba-a02f-40b2-9c30-795a11112c77"
    },
    {
      "parameters": {
        "jsCode": "// MERGE CONTEXT - After Is Available? (true branch)\n// Get ctx from Generate Idempotency Key node and merge with availability response\nconst ctx = $(\"Generate Idempotency Key\").first()?.json?.ctx || {};\nconst availResponse = $input.first().json;\n\n// Preserve availability data in context\nctx._availability = {\n  checked: true,\n  available: true,\n  slots: availResponse.data?.slots || [],\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: { ctx } }];"
      },
      "name": "Merge Context After Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ],
      "id": "86ca3aa8-3e42-4827-a732-efc261e509af"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_titanium:5678/webhook/acquire-lock",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ provider_id: $('Generate Idempotency Key').first().json.ctx.provider_id, start_time: $('Generate Idempotency Key').first().json.ctx.start_time, lock_duration_minutes: 1 }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Acquire Lock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1250,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "id": "5c5b1f6e-12ef-4992-9bce-c2e9a84f7daf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_titanium:5678/webhook/circuit-breaker/check",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ service_id: \"google_calendar\", action: \"check\" }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Check Circuit Breaker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1500,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "id": "17accdcc-9bd5-4722-a95f-79cc1d986a5a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data?.allowed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is GCal Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1750,
        200
      ],
      "id": "9474aaf9-cb1b-4354-b082-f8373a7570c9"
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{ $(\"Merge Context After Availability\").first().json.ctx.start_time }}",
        "end": "={{ $(\"Merge Context After Availability\").first().json.ctx.end_time || new Date(new Date($(\"Merge Context After Availability\").first().json.ctx.start_time).getTime() + 60*60000).toISOString() }}",
        "summary": "={{ `Reserva: Provider ${$(\"Merge Context After Availability\").first().json.ctx.provider_id}, Service ${$(\"Merge Context After Availability\").first().json.ctx.service_id}` }}",
        "description": "={{ \"Reserva gestionada por Booking Titanium\" }}",
        "additionalFields": {}
      },
      "name": "Create GCal Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput",
      "id": "feb34d20-5360-411c-978d-47a240cddcca"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n_titanium:5678/webhook/circuit-breaker/record",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ service_id: \"google_calendar\", success: true }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Record GCal Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2250,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "id": "81038a98-5eb1-407f-a726-69f1977789ea"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bookings (provider_id, service_id, start_time, end_time, idempotency_key, gcal_event_id, user_id, status, created_at) VALUES ($1::int, $2::int, $3::timestamp, $4::timestamp, $5::text, $6::text, $7::bigint, 'CONFIRMED', NOW()) RETURNING id;",
        "options": {
          "queryReplacement": "={{ [$('Generate Idempotency Key').first().json.ctx.provider_id, $('Generate Idempotency Key').first().json.ctx.service_id, $('Generate Idempotency Key').first().json.ctx.start_time, $('Generate Idempotency Key').first().json.ctx.end_time || new Date(new Date($('Generate Idempotency Key').first().json.ctx.start_time).getTime() + 60*60000).toISOString(), $('Generate Idempotency Key').first().json.ctx.idempotency_key, ($('Create GCal Event').isExecuted && Object.keys($('Create GCal Event').first()?.json || {}).length > 0 && !$('Create GCal Event').first()?.json?.error) ? $('Create GCal Event').first().json.id : null, $('Generate Idempotency Key').first().json.ctx.user_id || $('Generate Idempotency Key').first().json.ctx.chat_id] }}"
        }
      },
      "name": "Create DB Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2500,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "5LzvCP9BsQwCi9Z0",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput",
      "id": "3442937e-aa4f-4077-8e31-ade02a8dba3f"
    },
    {
      "parameters": {
        "jsCode": "// Standard Contract Output - Booking Success v2.0\nconst db = $('Create DB Booking').first()?.json || {};\nconst ctx = $('Generate Idempotency Key').first()?.json?.ctx || {};\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: db.id,\n      idempotency_key: ctx.idempotency_key,\n      provider_id: ctx.provider_id,\n      service_id: ctx.service_id,\n      start_time: ctx.start_time,\n      status: 'CONFIRMED',\n      is_duplicate: ctx._idempotency?.is_duplicate || false\n    },\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];"
      },
      "name": "Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3250,
        400
      ],
      "id": "5dc97fe6-1856-4226-a272-3a298aaa6945"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();",
        "notice": ""
      },
      "name": "Validation Error Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        500
      ],
      "id": "df41928b-cd73-4bc9-a0c2-9483ad6b84bd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond_gcal_not_created",
              "leftValue": "={{ ($('Create GCal Event').isExecuted && Object.keys($('Create GCal Event').first()?.json || {}).length > 0 && !$('Create GCal Event').first()?.json?.error && $('Create GCal Event').first()?.json?.id) ? true : false }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Check GCal Status for DLQ",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2750,
        400
      ],
      "id": "f35ad00a-b3ee-4866-bfab-f6fe7fb8f2f0"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "XRMU2cqA3fxU9e2I",
          "mode": "id"
        },
        "mode": "wait",
        "inputData": "={\n  \"provider_id\": {{ $('Create DB Booking').first().json.provider_id }},\n  \"service_id\": {{ $('Create DB Booking').first().json.service_id }},\n  \"start_time\": \"{{ $('Create DB Booking').first().json.start_time }}\",\n  \"chat_id\": \"{{ $('Generate Idempotency Key').first().json.ctx.chat_id }}\",\n  \"dlq_type\": \"GCAL_CREATE\",\n  \"error_reason\": \"{{ $('Create GCal Event').isExecuted ? ($('Create GCal Event').first()?.json?.error?.message || 'GCal Error') : 'Circuit Breaker Open' }}\"\n}",
        "options": {}
      },
      "name": "Send to DLQ",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3000,
        500
      ],
      "id": "9bb01cef-2485-47b8-88ca-e6a829994dbd"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Idempotency Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Idempotency Key": {
      "main": [
        [
          {
            "node": "Validation OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation OK?": {
      "main": [
        [
          {
            "node": "Check Idempotency DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Idempotency DB": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Return Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "Is Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Available?": {
      "main": [
        [
          {
            "node": "Merge Context After Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error - No Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Context After Availability": {
      "main": [
        [
          {
            "node": "Acquire Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Lock": {
      "main": [
        [
          {
            "node": "Check Circuit Breaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Circuit Breaker": {
      "main": [
        [
          {
            "node": "Is GCal Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is GCal Available?": {
      "main": [
        [
          {
            "node": "Create GCal Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create DB Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GCal Event": {
      "main": [
        [
          {
            "node": "Record GCal Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record GCal Success": {
      "main": [
        [
          {
            "node": "Create DB Booking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create DB Booking": {
      "main": [
        [
          {
            "node": "Check GCal Status for DLQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check GCal Status for DLQ": {
      "main": [
        [
          {
            "node": "Send to DLQ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to DLQ": {
      "main": [
        [
          {
            "node": "Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "8120acb4-da61-40cf-8dbd-50a290cebd5d",
  "activeVersionId": "8120acb4-da61-40cf-8dbd-50a290cebd5d",
  "versionCounter": 289,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-15T02:16:19.238Z",
      "createdAt": "2026-03-15T02:16:19.238Z",
      "role": "workflow:owner",
      "workflowId": "Z7g7DgxXQ61V368P",
      "projectId": "1q616I3NzJFEiwV5",
      "project": {
        "updatedAt": "2026-03-02T02:24:01.899Z",
        "createdAt": "2026-03-02T00:39:33.634Z",
        "id": "1q616I3NzJFEiwV5",
        "name": "Roger Gallegos <baba.orere@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-19T22:30:07.087Z",
    "createdAt": "2026-03-19T22:30:07.087Z",
    "versionId": "8120acb4-da61-40cf-8dbd-50a290cebd5d",
    "workflowId": "Z7g7DgxXQ61V368P",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "booking-orchestrator",
          "responseMode": "lastNode",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -750,
          300
        ],
        "webhookId": "booking-orchestrator",
        "id": "84ef3d4b-6404-4335-a2e4-0e1803a64d70"
      },
      {
        "parameters": {
          "jsCode": "\n// Idempotency Check v2.3.1 - Enhanced ISO Sanitization\ntry {\n  const input = $input.first().json;\n  const body = input.body || input;\n\n  const sanitizeInt = (val) => {\n    if (Array.isArray(val)) val = val[0];\n    const parsed = parseInt(val, 10);\n    return isNaN(parsed) ? null : parsed;\n  };\n\n  const sanitizeStr = (val, maxLen = 255) => {\n    if (Array.isArray(val)) val = val[0];\n    if (typeof val !== 'string') val = String(val || '');\n    return val.replace(/[^\\w\\s@.-]/gi, '_').substring(0, maxLen);\n  };\n\n  // Sanitización especial para FECHA (permitir Z, :, +)\n  const sanitizeDateStr = (val) => {\n    if (Array.isArray(val)) val = val[0];\n    if (typeof val !== 'string') val = String(val || '');\n    return val.replace(/[^\\d-T:Z.+-]/gi, '').substring(0, 50);\n  };\n\n  const provider_id = sanitizeInt(body.provider_id);\n  const service_id = sanitizeInt(body.service_id);\n  const start_time = sanitizeDateStr(body.start_time); \n  const user_name = sanitizeStr(body.user_name || body.name, 100);\n  const chat_id = sanitizeStr(body.chat_id || body.customer_id, 50);\n\n  if (!provider_id || !service_id || !start_time) {\n    return [{ json: { success: false, error_code: 'INVALID_INPUT', error_message: 'Missing or invalid fields' } }];\n  }\n\n  const parts = start_time.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2}):(\\d{2})/);\n  if (!parts) {\n    return [{ json: { success: false, error_code: 'INVALID_DATE_FORMAT', error_message: 'Format must be ISO 8601' } }];\n  }\n\n  const [full, y, m, d] = parts.slice(1, 5).map(p => parseInt(p, 10));\n  const dateObj = new Date(start_time);\n\n  // Verificación de Fecha Real\n  if (isNaN(dateObj.getTime()) || dateObj.getUTCFullYear() !== y || (dateObj.getUTCMonth() + 1) !== m || dateObj.getUTCDate() !== d) {\n    // Tolerancia para offsets: si el UTC no coincide, probamos con la fecha local del objeto\n    if (isNaN(dateObj.getTime())) {\n       return [{ json: { success: false, error_code: 'INVALID_DATE', error_message: 'Date does not exist' } }];\n    }\n  }\n\n  const now = Date.now();\n  if (dateObj.getTime() < (now - 3600000)) { // 1h de gracia\n    return [{ json: { success: false, error_code: 'PAST_DATE', error_message: 'Cannot book in the past' } }];\n  }\n\n  if (dateObj.getTime() > (now + (365 * 24 * 60 * 60 * 1000))) {\n    return [{ json: { success: false, error_code: 'FUTURE_DATE_TOO_EXTREME', error_message: 'Limit: 1 year' } }];\n  }\n\n  const idempotencyKey = `booking_${provider_id}_${service_id}_${start_time}_${chat_id || 'anon'}`;\n  const sanitizedKey = idempotencyKey.replace(/[^a-zA-Z0-9_:-]/g, '_').substring(0, 255);\n\n  const ctx = {\n    provider_id,\n    service_id,\n    start_time,\n    user_name,\n    chat_id,\n    idempotency_key: sanitizedKey,\n    _meta: { source: 'WF2_ORCHESTRATOR', version: '2.3.1', timestamp: new Date().toISOString() }\n  };\n\n  return [{ json: { success: true, ctx } }];\n\n} catch (error) {\n  return [{ json: { success: false, error_code: 'INTERNAL_ERROR', error_message: error.message } }];\n}\n  "
        },
        "name": "Generate Idempotency Key",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -500,
          300
        ],
        "id": "c35833ad-1695-491f-953c-d934e110ec4a"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "val_ok",
                "leftValue": "={{ $json.success }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Validation OK?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -300,
          300
        ],
        "id": "65a20d51-1f3f-4181-a3f8-335fccf0f6d7"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, status, gcal_event_id FROM bookings WHERE idempotency_key = $1::text LIMIT 1;",
          "options": {
            "queryReplacement": "={{ [$json.ctx.idempotency_key] }}"
          }
        },
        "name": "Check Idempotency DB",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -250,
          300
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "5LzvCP9BsQwCi9Z0",
            "name": "Postgres account"
          }
        },
        "id": "efb4f689-d41d-4751-811a-48f9e0c40c7b"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ Array.isArray($json) && $json.length > 0 && !!$json[0]?.id }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Is Duplicate?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          0,
          300
        ],
        "id": "5efa7c9b-de4c-4c55-94af-03eb4cd3a8f3"
      },
      {
        "parameters": {
          "jsCode": "// DUPLICATE BRANCH - Return existing booking\nconst existing = $input.first().json[0] || $input.first().json;\nconst ctx = $input.first().json.ctx || {};\n\nctx._idempotency.is_duplicate = true;\nctx._idempotency.existing_booking_id = existing.id;\n\nreturn [{\n  json: {\n    ctx,\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: existing.id,\n      status: existing.status,\n      gcal_event_id: existing.gcal_event_id,\n      is_duplicate: true,\n      message: 'Booking already exists (idempotent retry)'\n    },\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0',\n      idempotency: 'duplicate'\n    }\n  }\n}];"
        },
        "name": "Return Duplicate",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          250,
          400
        ],
        "id": "b86c5096-159f-4551-ac77-613df67a6b2d"
      },
      {
        "parameters": {
          "jsCode": "// MERGE CONTEXT - After Is Duplicate? (false branch)\n// Get ctx from Generate Idempotency Key node\nconst ctx = $(\"Generate Idempotency Key\").first()?.json?.ctx || {};\n\n// FIX: Initialize _idempotency if it doesn't exist\nif (!ctx._idempotency) {\n  ctx._idempotency = {};\n}\n\nctx._idempotency.is_duplicate = false;\nreturn [{ json: { ctx, provider_id: ctx.provider_id, service_id: ctx.service_id, start_time: ctx.start_time } }];"
        },
        "name": "Merge Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          250,
          200
        ],
        "id": "642ac4b8-d0b9-4763-a1b4-ae4275c9846f"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "6zftqMdtBAT0QaCt",
            "mode": "id"
          },
          "mode": "wait",
          "inputData": "={\n  \"provider_id\": {{ $('Generate Idempotency Key').first().json.ctx.provider_id }},\n  \"service_id\": {{ $('Generate Idempotency Key').first().json.ctx.service_id }},\n  \"start_time\": \"{{ $('Generate Idempotency Key').first().json.ctx.start_time }}\"\n}",
          "options": {}
        },
        "name": "Check Availability",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          500,
          200
        ],
        "id": "549f5106-78e5-46ca-9d81-451965d18ada"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.data.available }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Is Available?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          750,
          200
        ],
        "id": "93f04b88-1655-42f7-9119-7841b0979e3c"
      },
      {
        "parameters": {
          "jsCode": "\n// NOT AVAILABLE BRANCH\n// Intentamos recuperar ctx del input o del nodo inicial Generate Idempotency Key\nconst ctx = $input.first().json.ctx || $(\"Generate Idempotency Key\").first().json.ctx;\nctx._meta.failed_at = 'Check Availability';\n\nreturn [{\n  json: {\n    ctx,\n    success: false,\n    error_code: 'NO_AVAILABILITY',\n    error_message: 'No availability found for requested time slot',\n    data: $input.first().json.data || null, // Incluimos la razón (p.ej. mode fail-safe)\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.3.2'\n    }\n  }\n}];"
        },
        "name": "Error - No Availability",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1000,
          350
        ],
        "id": "a943a4ba-a02f-40b2-9c30-795a11112c77"
      },
      {
        "parameters": {
          "jsCode": "// MERGE CONTEXT - After Is Available? (true branch)\n// Get ctx from Generate Idempotency Key node and merge with availability response\nconst ctx = $(\"Generate Idempotency Key\").first()?.json?.ctx || {};\nconst availResponse = $input.first().json;\n\n// Preserve availability data in context\nctx._availability = {\n  checked: true,\n  available: true,\n  slots: availResponse.data?.slots || [],\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: { ctx } }];"
        },
        "name": "Merge Context After Availability",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1000,
          200
        ],
        "id": "86ca3aa8-3e42-4827-a732-efc261e509af"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://n8n_titanium:5678/webhook/acquire-lock",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ provider_id: $('Generate Idempotency Key').first().json.ctx.provider_id, start_time: $('Generate Idempotency Key').first().json.ctx.start_time, lock_duration_minutes: 1 }) }}",
          "options": {
            "timeout": 15000
          }
        },
        "name": "Acquire Lock",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1250,
          200
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 1000,
        "id": "5c5b1f6e-12ef-4992-9bce-c2e9a84f7daf"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://n8n_titanium:5678/webhook/circuit-breaker/check",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ service_id: \"google_calendar\", action: \"check\" }) }}",
          "options": {
            "timeout": 15000
          }
        },
        "name": "Check Circuit Breaker",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1500,
          200
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 1000,
        "id": "17accdcc-9bd5-4722-a95f-79cc1d986a5a"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.data?.allowed }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Is GCal Available?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1750,
          200
        ],
        "id": "9474aaf9-cb1b-4354-b082-f8373a7570c9"
      },
      {
        "parameters": {
          "calendar": "primary",
          "start": "={{ $(\"Merge Context After Availability\").first().json.ctx.start_time }}",
          "end": "={{ $(\"Merge Context After Availability\").first().json.ctx.end_time || new Date(new Date($(\"Merge Context After Availability\").first().json.ctx.start_time).getTime() + 60*60000).toISOString() }}",
          "summary": "={{ `Reserva: Provider ${$(\"Merge Context After Availability\").first().json.ctx.provider_id}, Service ${$(\"Merge Context After Availability\").first().json.ctx.service_id}` }}",
          "description": "={{ \"Reserva gestionada por Booking Titanium\" }}",
          "additionalFields": {}
        },
        "name": "Create GCal Event",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          2000,
          200
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "OsRBfz3Cs7Ph5uV5",
            "name": "Google Calendar account"
          }
        },
        "onError": "continueErrorOutput",
        "id": "feb34d20-5360-411c-978d-47a240cddcca"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://n8n_titanium:5678/webhook/circuit-breaker/record",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ service_id: \"google_calendar\", success: true }) }}",
          "options": {
            "timeout": 15000
          }
        },
        "name": "Record GCal Success",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2250,
          200
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 1000,
        "id": "81038a98-5eb1-407f-a726-69f1977789ea"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO bookings (provider_id, service_id, start_time, end_time, idempotency_key, gcal_event_id, user_id, status, created_at) VALUES ($1::int, $2::int, $3::timestamp, $4::timestamp, $5::text, $6::text, $7::bigint, 'CONFIRMED', NOW()) RETURNING id;",
          "options": {
            "queryReplacement": "={{ [$('Generate Idempotency Key').first().json.ctx.provider_id, $('Generate Idempotency Key').first().json.ctx.service_id, $('Generate Idempotency Key').first().json.ctx.start_time, $('Generate Idempotency Key').first().json.ctx.end_time || new Date(new Date($('Generate Idempotency Key').first().json.ctx.start_time).getTime() + 60*60000).toISOString(), $('Generate Idempotency Key').first().json.ctx.idempotency_key, ($('Create GCal Event').isExecuted && Object.keys($('Create GCal Event').first()?.json || {}).length > 0 && !$('Create GCal Event').first()?.json?.error) ? $('Create GCal Event').first().json.id : null, $('Generate Idempotency Key').first().json.ctx.user_id || $('Generate Idempotency Key').first().json.ctx.chat_id] }}"
          }
        },
        "name": "Create DB Booking",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2500,
          200
        ],
        "credentials": {
          "postgres": {
            "id": "5LzvCP9BsQwCi9Z0",
            "name": "Postgres account"
          }
        },
        "onError": "continueErrorOutput",
        "id": "3442937e-aa4f-4077-8e31-ade02a8dba3f"
      },
      {
        "parameters": {
          "jsCode": "// Standard Contract Output - Booking Success v2.0\nconst db = $('Create DB Booking').first()?.json || {};\nconst ctx = $('Generate Idempotency Key').first()?.json?.ctx || {};\n\nreturn [{\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: db.id,\n      idempotency_key: ctx.idempotency_key,\n      provider_id: ctx.provider_id,\n      service_id: ctx.service_id,\n      start_time: ctx.start_time,\n      status: 'CONFIRMED',\n      is_duplicate: ctx._idempotency?.is_duplicate || false\n    },\n    _meta: {\n      source: 'WF2_BOOKING_ORCHESTRATOR',\n      timestamp: new Date().toISOString(),\n      version: '2.0.0'\n    }\n  }\n}];"
        },
        "name": "Standard Contract Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3250,
          400
        ],
        "id": "5dc97fe6-1856-4226-a272-3a298aaa6945"
      },
      {
        "parameters": {
          "jsCode": "return $input.all();",
          "notice": ""
        },
        "name": "Validation Error Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -200,
          500
        ],
        "id": "df41928b-cd73-4bc9-a0c2-9483ad6b84bd"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond_gcal_not_created",
                "leftValue": "={{ ($('Create GCal Event').isExecuted && Object.keys($('Create GCal Event').first()?.json || {}).length > 0 && !$('Create GCal Event').first()?.json?.error && $('Create GCal Event').first()?.json?.id) ? true : false }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Check GCal Status for DLQ",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2750,
          400
        ],
        "id": "f35ad00a-b3ee-4866-bfab-f6fe7fb8f2f0"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "XRMU2cqA3fxU9e2I",
            "mode": "id"
          },
          "mode": "wait",
          "inputData": "={\n  \"provider_id\": {{ $('Create DB Booking').first().json.provider_id }},\n  \"service_id\": {{ $('Create DB Booking').first().json.service_id }},\n  \"start_time\": \"{{ $('Create DB Booking').first().json.start_time }}\",\n  \"chat_id\": \"{{ $('Generate Idempotency Key').first().json.ctx.chat_id }}\",\n  \"dlq_type\": \"GCAL_CREATE\",\n  \"error_reason\": \"{{ $('Create GCal Event').isExecuted ? ($('Create GCal Event').first()?.json?.error?.message || 'GCal Error') : 'Circuit Breaker Open' }}\"\n}",
          "options": {}
        },
        "name": "Send to DLQ",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          3000,
          500
        ],
        "id": "9bb01cef-2485-47b8-88ca-e6a829994dbd"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Generate Idempotency Key",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Idempotency Key": {
        "main": [
          [
            {
              "node": "Validation OK?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validation OK?": {
        "main": [
          [
            {
              "node": "Check Idempotency DB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Validation Error Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Idempotency DB": {
        "main": [
          [
            {
              "node": "Is Duplicate?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Duplicate?": {
        "main": [
          [
            {
              "node": "Return Duplicate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Context": {
        "main": [
          [
            {
              "node": "Check Availability",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Availability": {
        "main": [
          [
            {
              "node": "Is Available?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Available?": {
        "main": [
          [
            {
              "node": "Merge Context After Availability",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error - No Availability",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Context After Availability": {
        "main": [
          [
            {
              "node": "Acquire Lock",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Acquire Lock": {
        "main": [
          [
            {
              "node": "Check Circuit Breaker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Circuit Breaker": {
        "main": [
          [
            {
              "node": "Is GCal Available?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is GCal Available?": {
        "main": [
          [
            {
              "node": "Create GCal Event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create DB Booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create GCal Event": {
        "main": [
          [
            {
              "node": "Record GCal Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Record GCal Success": {
        "main": [
          [
            {
              "node": "Create DB Booking",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create DB Booking": {
        "main": [
          [
            {
              "node": "Check GCal Status for DLQ",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check GCal Status for DLQ": {
        "main": [
          [
            {
              "node": "Send to DLQ",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Standard Contract Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send to DLQ": {
        "main": [
          [
            {
              "node": "Standard Contract Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Roger Gallegos",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-19T22:30:07.777Z",
        "id": 1543,
        "workflowId": "Z7g7DgxXQ61V368P",
        "versionId": "8120acb4-da61-40cf-8dbd-50a290cebd5d",
        "event": "activated",
        "userId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      }
    ]
  }
}
