workflows/WF3_Availability_Service.json
{
  "updatedAt": "2026-03-19T21:59:11.431Z",
  "createdAt": "2026-03-13T23:22:10.287Z",
  "id": "6zftqMdtBAT0QaCt",
  "name": "WF3_Availability_Service",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "78783bfc-8df0-47e2-8d3e-812b193a2484"
    },
    {
      "parameters": {
        "path": "check-availability",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        200
      ],
      "webhookId": "check-availability",
      "id": "b7ace257-e048-4c97-bb0d-0ef7efab3691"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -200
      ],
      "id": "614edc03-a671-4992-9054-09b0cc46838c"
    },
    {
      "parameters": {
        "jsCode": "\n// Availability Validation v2.2.0 - Strict Numeric Pattern\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// 1. Campos requeridos\nconst required = ['provider_id', 'service_id', 'start_time'];\nfor (const field of required) {\n  if (!body[field]) {\n    return [{ json: { _valid: false, _error: `Missing required field: ${field}` } }];\n  }\n}\n\n// 2. Descomposición y Validación Numérica (Fix Feb 30, Year 9999)\nconst startTime = String(body.start_time);\nconst parts = startTime.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2}):(\\d{2})/);\n\nif (!parts) {\n  return [{ json: { _valid: false, _error: 'Invalid start_time format: ISO 8601 required' } }];\n}\n\nconst [full, y, m, d, hh, mm, ss] = parts.map(p => parseInt(p, 10));\nconst dateObj = new Date(startTime);\n\n// 3. Verificación de \"Fecha Real\" (Evita Feb 30 -> Mar 2)\nif (dateObj.getUTCFullYear() !== y || (dateObj.getUTCMonth() + 1) !== m || dateObj.getUTCDate() !== d) {\n  return [{ json: { _valid: false, _error: 'The date provided does not exist in the calendar' } }];\n}\n\nconst now = Date.now();\n// 4. No permitir consultas excesivas al pasado (toleramos 1 hora por desfases de zona horaria)\nif (dateObj.getTime() < (now - 3600000)) {\n  return [{ json: { _valid: false, _error: 'Cannot query availability for the past' } }];\n}\n\n// 5. Horizonte Temporal (Máximo 1 año)\nconst ONE_YEAR_MS = 365 * 24 * 60 * 60 * 1000;\nif (dateObj.getTime() > (now + ONE_YEAR_MS)) {\n  return [{ json: { _valid: false, _error: 'Availability queries are limited to 1 year in advance' } }];\n}\n\nconst duration_minutes = parseInt(body.duration_minutes || 60, 10);\nconst endDate = new Date(dateObj.getTime() + duration_minutes * 60000);\n\nreturn [{ json: {\n  _valid: true,\n  provider_id: parseInt(body.provider_id, 10),\n  service_id: parseInt(body.service_id, 10),\n  start_time: startTime,\n  end_time: endDate.toISOString(),\n  duration_minutes: duration_minutes\n}}];\n  "
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        0
      ],
      "id": "b70ba520-29dc-4307-9db1-bd28c73f349d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check_valid",
              "leftValue": "={{ $json._valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        500,
        0
      ],
      "id": "a1861da0-0189-4e05-b142-8b4d88d9fa36"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*)::int AS booking_count\nFROM bookings\nWHERE provider_id = $1::int\n  AND service_id = $2::int\n  AND start_time = $3::timestamp\n  AND status IN ('CONFIRMED', 'PENDING');",
        "options": {
          "queryReplacement": "={{ $json.provider_id }}, {{ $json.service_id }}, {{ $json.start_time }}"
        }
      },
      "name": "Check DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        750,
        -100
      ],
      "credentials": {
        "postgres": {
          "id": "5LzvCP9BsQwCi9Z0",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput",
      "id": "0fc14e5d-f7a8-4bcb-8efc-9ad8b052660e"
    },
    {
      "parameters": {
        "jsCode": "const dbResult = $input.first().json;\nconst v = $('Validate Input').first().json;\n\nreturn [{ json: {\n  provider_id: v.provider_id,\n  service_id: v.service_id,\n  start_time: v.start_time,\n  end_time: v.end_time,\n  duration_minutes: v.duration_minutes,\n  db_count: parseInt(dbResult.booking_count || dbResult.count || 0, 10)\n}}];"
      },
      "name": "Merge DB and Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -100
      ],
      "id": "4e77b470-764b-40e8-83cf-6a6cd142631b"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "cachedResultName": "primary"
        },
        "returnAll": false,
        "limit": 10,
        "options": {
          "timeMin": "={{ $json.start_time }}",
          "timeMax": "={{ $json.end_time }}"
        }
      },
      "name": "Check GCal",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1250,
        -100
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "OsRBfz3Cs7Ph5uV5",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueErrorOutput",
      "id": "c9020a76-7832-42b8-8e53-db61d2e9b42a"
    },
    {
      "parameters": {
        "jsCode": "const gcalEvents = $input.all();\nconst merged = $('Merge DB and Input').first().json;\n\nconst conflicts = gcalEvents.filter(item =>\n  item.json && item.json.id && item.json.status !== 'cancelled'\n);\n\nreturn [{ json: {\n  provider_id: merged.provider_id,\n  service_id: merged.service_id,\n  start_time: merged.start_time,\n  end_time: merged.end_time,\n  duration_minutes: merged.duration_minutes,\n  db_count: merged.db_count,\n  gcal_conflicts: conflicts.length,\n  gcal_checked: true,\n  gcal_error: null\n}}];"
      },
      "name": "Process GCal OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        -200
      ],
      "id": "dfee42aa-12b9-45f4-8668-328fd24e86e8"
    },
    {
      "parameters": {
        "jsCode": "const merged = $('Merge DB and Input').first().json;\nconst errMsg = $input.first().json.message || 'Google Calendar API unavailable';\n\nreturn [{ json: {\n  provider_id: merged.provider_id,\n  service_id: merged.service_id,\n  start_time: merged.start_time,\n  end_time: merged.end_time,\n  duration_minutes: merged.duration_minutes,\n  db_count: merged.db_count,\n  gcal_conflicts: 0,\n  gcal_checked: false,\n  gcal_error: String(errMsg).substring(0, 500)\n}}];"
      },
      "name": "Process GCal Fail",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        0
      ],
      "id": "bbbae5e0-ac5e-4387-9e7b-3a2f638caea2"
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $input.first().json;\nconst dbAvailable = d.db_count === 0;\n\n// FIX INTEGRITY: Si GCal no se pudo chequear, NO podemos decir que está disponible.\n// Cambiamos el default de 'true' a 'false' en gcalAvailable para ser Fail-Safe.\n// EVENTUAL CONSISTENCY: Optimistic tolerance when GCal is unreachable\nconst gcalAvailable = d.gcal_checked ? (d.gcal_conflicts === 0) : true;\n\nconst available = dbAvailable && gcalAvailable;\n\nreturn [{ json: {\n  success: true,\n  error_code: null,\n  error_message: null,\n  data: {\n    available: available,\n    db_available: dbAvailable,\n    db_count: d.db_count,\n    gcal_available: gcalAvailable,\n    gcal_conflicts: d.gcal_conflicts,\n    gcal_checked: d.gcal_checked,\n    gcal_error: d.gcal_error,\n    provider_id: d.provider_id,\n    service_id: d.service_id,\n    start_time: d.start_time,\n    end_time: d.end_time,\n    duration_minutes: d.duration_minutes,\n    mode: d.gcal_checked ? 'full' : 'fail-safe' // Cambiado de 'degraded' a 'fail-safe'\n  },\n  _meta: {\n    source: 'WF3_Availability_Service',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown'\n  }\n}}];\n  "
      },
      "name": "Return Availability SCO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1750,
        -100
      ],
      "id": "3cca08da-373e-45c0-82e6-25c1d9eff030"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nreturn [{ json: {\n  success: false,\n  error_code: 'VALIDATION_ERROR',\n  error_message: input._error || 'Invalid input',\n  data: null,\n  _meta: {\n    source: 'WF3_Availability_Service',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown'\n  }\n}}];"
      },
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        100
      ],
      "id": "4d7ad41f-37b3-470f-9015-ca2a7e01fb39"
    },
    {
      "parameters": {
        "jsCode": "const errMsg = $input.first().json.message || 'Database error during availability check';\n\nreturn [{ json: {\n  success: false,\n  error_code: 'DB_ERROR',\n  error_message: String(errMsg).substring(0, 500),\n  data: null,\n  _meta: {\n    source: 'WF3_Availability_Service',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown'\n  }\n}}];"
      },
      "name": "DB Error SCO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        100
      ],
      "id": "4a31d4b8-3cc4-4704-b5b7-974a538b4715"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Check DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DB": {
      "main": [
        [
          {
            "node": "Merge DB and Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DB Error SCO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge DB and Input": {
      "main": [
        [
          {
            "node": "Check GCal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check GCal": {
      "main": [
        [
          {
            "node": "Process GCal OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process GCal Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process GCal OK": {
      "main": [
        [
          {
            "node": "Return Availability SCO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process GCal Fail": {
      "main": [
        [
          {
            "node": "Return Availability SCO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "51aea025-e0aa-4092-a57e-b12ce3540c62",
  "activeVersionId": "51aea025-e0aa-4092-a57e-b12ce3540c62",
  "versionCounter": 64,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-13T23:22:10.287Z",
      "createdAt": "2026-03-13T23:22:10.287Z",
      "role": "workflow:owner",
      "workflowId": "6zftqMdtBAT0QaCt",
      "projectId": "1q616I3NzJFEiwV5",
      "project": {
        "updatedAt": "2026-03-02T02:24:01.899Z",
        "createdAt": "2026-03-02T00:39:33.634Z",
        "id": "1q616I3NzJFEiwV5",
        "name": "Roger Gallegos <baba.orere@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-19T21:59:11.432Z",
    "createdAt": "2026-03-19T21:59:11.432Z",
    "versionId": "51aea025-e0aa-4092-a57e-b12ce3540c62",
    "workflowId": "6zftqMdtBAT0QaCt",
    "nodes": [
      {
        "parameters": {},
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "78783bfc-8df0-47e2-8d3e-812b193a2484"
      },
      {
        "parameters": {
          "path": "check-availability",
          "httpMethod": "POST",
          "responseMode": "lastNode",
          "options": {}
        },
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          200
        ],
        "webhookId": "check-availability",
        "id": "b7ace257-e048-4c97-bb0d-0ef7efab3691"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          -200
        ],
        "id": "614edc03-a671-4992-9054-09b0cc46838c"
      },
      {
        "parameters": {
          "jsCode": "\n// Availability Validation v2.2.0 - Strict Numeric Pattern\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// 1. Campos requeridos\nconst required = ['provider_id', 'service_id', 'start_time'];\nfor (const field of required) {\n  if (!body[field]) {\n    return [{ json: { _valid: false, _error: `Missing required field: ${field}` } }];\n  }\n}\n\n// 2. Descomposición y Validación Numérica (Fix Feb 30, Year 9999)\nconst startTime = String(body.start_time);\nconst parts = startTime.match(/^(\\d{4})-(\\d{2})-(\\d{2})T(\\d{2}):(\\d{2}):(\\d{2})/);\n\nif (!parts) {\n  return [{ json: { _valid: false, _error: 'Invalid start_time format: ISO 8601 required' } }];\n}\n\nconst [full, y, m, d, hh, mm, ss] = parts.map(p => parseInt(p, 10));\nconst dateObj = new Date(startTime);\n\n// 3. Verificación de \"Fecha Real\" (Evita Feb 30 -> Mar 2)\nif (dateObj.getUTCFullYear() !== y || (dateObj.getUTCMonth() + 1) !== m || dateObj.getUTCDate() !== d) {\n  return [{ json: { _valid: false, _error: 'The date provided does not exist in the calendar' } }];\n}\n\nconst now = Date.now();\n// 4. No permitir consultas excesivas al pasado (toleramos 1 hora por desfases de zona horaria)\nif (dateObj.getTime() < (now - 3600000)) {\n  return [{ json: { _valid: false, _error: 'Cannot query availability for the past' } }];\n}\n\n// 5. Horizonte Temporal (Máximo 1 año)\nconst ONE_YEAR_MS = 365 * 24 * 60 * 60 * 1000;\nif (dateObj.getTime() > (now + ONE_YEAR_MS)) {\n  return [{ json: { _valid: false, _error: 'Availability queries are limited to 1 year in advance' } }];\n}\n\nconst duration_minutes = parseInt(body.duration_minutes || 60, 10);\nconst endDate = new Date(dateObj.getTime() + duration_minutes * 60000);\n\nreturn [{ json: {\n  _valid: true,\n  provider_id: parseInt(body.provider_id, 10),\n  service_id: parseInt(body.service_id, 10),\n  start_time: startTime,\n  end_time: endDate.toISOString(),\n  duration_minutes: duration_minutes\n}}];\n  "
        },
        "name": "Validate Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          250,
          0
        ],
        "id": "b70ba520-29dc-4307-9db1-bd28c73f349d"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check_valid",
                "leftValue": "={{ $json._valid }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Is Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          500,
          0
        ],
        "id": "a1861da0-0189-4e05-b142-8b4d88d9fa36"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT COUNT(*)::int AS booking_count\nFROM bookings\nWHERE provider_id = $1::int\n  AND service_id = $2::int\n  AND start_time = $3::timestamp\n  AND status IN ('CONFIRMED', 'PENDING');",
          "options": {
            "queryReplacement": "={{ $json.provider_id }}, {{ $json.service_id }}, {{ $json.start_time }}"
          }
        },
        "name": "Check DB",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          750,
          -100
        ],
        "credentials": {
          "postgres": {
            "id": "5LzvCP9BsQwCi9Z0",
            "name": "Postgres account"
          }
        },
        "onError": "continueErrorOutput",
        "id": "0fc14e5d-f7a8-4bcb-8efc-9ad8b052660e"
      },
      {
        "parameters": {
          "jsCode": "const dbResult = $input.first().json;\nconst v = $('Validate Input').first().json;\n\nreturn [{ json: {\n  provider_id: v.provider_id,\n  service_id: v.service_id,\n  start_time: v.start_time,\n  end_time: v.end_time,\n  duration_minutes: v.duration_minutes,\n  db_count: parseInt(dbResult.booking_count || dbResult.count || 0, 10)\n}}];"
        },
        "name": "Merge DB and Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1000,
          -100
        ],
        "id": "4e77b470-764b-40e8-83cf-6a6cd142631b"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "primary",
            "cachedResultName": "primary"
          },
          "returnAll": false,
          "limit": 10,
          "options": {
            "timeMin": "={{ $json.start_time }}",
            "timeMax": "={{ $json.end_time }}"
          }
        },
        "name": "Check GCal",
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          1250,
          -100
        ],
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "OsRBfz3Cs7Ph5uV5",
            "name": "Google Calendar account"
          }
        },
        "onError": "continueErrorOutput",
        "id": "c9020a76-7832-42b8-8e53-db61d2e9b42a"
      },
      {
        "parameters": {
          "jsCode": "const gcalEvents = $input.all();\nconst merged = $('Merge DB and Input').first().json;\n\nconst conflicts = gcalEvents.filter(item =>\n  item.json && item.json.id && item.json.status !== 'cancelled'\n);\n\nreturn [{ json: {\n  provider_id: merged.provider_id,\n  service_id: merged.service_id,\n  start_time: merged.start_time,\n  end_time: merged.end_time,\n  duration_minutes: merged.duration_minutes,\n  db_count: merged.db_count,\n  gcal_conflicts: conflicts.length,\n  gcal_checked: true,\n  gcal_error: null\n}}];"
        },
        "name": "Process GCal OK",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1500,
          -200
        ],
        "id": "dfee42aa-12b9-45f4-8668-328fd24e86e8"
      },
      {
        "parameters": {
          "jsCode": "const merged = $('Merge DB and Input').first().json;\nconst errMsg = $input.first().json.message || 'Google Calendar API unavailable';\n\nreturn [{ json: {\n  provider_id: merged.provider_id,\n  service_id: merged.service_id,\n  start_time: merged.start_time,\n  end_time: merged.end_time,\n  duration_minutes: merged.duration_minutes,\n  db_count: merged.db_count,\n  gcal_conflicts: 0,\n  gcal_checked: false,\n  gcal_error: String(errMsg).substring(0, 500)\n}}];"
        },
        "name": "Process GCal Fail",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1500,
          0
        ],
        "id": "bbbae5e0-ac5e-4387-9e7b-3a2f638caea2"
      },
      {
        "parameters": {
          "jsCode": "\nconst d = $input.first().json;\nconst dbAvailable = d.db_count === 0;\n\n// FIX INTEGRITY: Si GCal no se pudo chequear, NO podemos decir que está disponible.\n// Cambiamos el default de 'true' a 'false' en gcalAvailable para ser Fail-Safe.\n// EVENTUAL CONSISTENCY: Optimistic tolerance when GCal is unreachable\nconst gcalAvailable = d.gcal_checked ? (d.gcal_conflicts === 0) : true;\n\nconst available = dbAvailable && gcalAvailable;\n\nreturn [{ json: {\n  success: true,\n  error_code: null,\n  error_message: null,\n  data: {\n    available: available,\n    db_available: dbAvailable,\n    db_count: d.db_count,\n    gcal_available: gcalAvailable,\n    gcal_conflicts: d.gcal_conflicts,\n    gcal_checked: d.gcal_checked,\n    gcal_error: d.gcal_error,\n    provider_id: d.provider_id,\n    service_id: d.service_id,\n    start_time: d.start_time,\n    end_time: d.end_time,\n    duration_minutes: d.duration_minutes,\n    mode: d.gcal_checked ? 'full' : 'fail-safe' // Cambiado de 'degraded' a 'fail-safe'\n  },\n  _meta: {\n    source: 'WF3_Availability_Service',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown'\n  }\n}}];\n  "
        },
        "name": "Return Availability SCO",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1750,
          -100
        ],
        "id": "3cca08da-373e-45c0-82e6-25c1d9eff030"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\nreturn [{ json: {\n  success: false,\n  error_code: 'VALIDATION_ERROR',\n  error_message: input._error || 'Invalid input',\n  data: null,\n  _meta: {\n    source: 'WF3_Availability_Service',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown'\n  }\n}}];"
        },
        "name": "Return Validation Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          750,
          100
        ],
        "id": "4d7ad41f-37b3-470f-9015-ca2a7e01fb39"
      },
      {
        "parameters": {
          "jsCode": "const errMsg = $input.first().json.message || 'Database error during availability check';\n\nreturn [{ json: {\n  success: false,\n  error_code: 'DB_ERROR',\n  error_message: String(errMsg).substring(0, 500),\n  data: null,\n  _meta: {\n    source: 'WF3_Availability_Service',\n    timestamp: new Date().toISOString(),\n    workflow_id: $workflow.id || 'unknown'\n  }\n}}];"
        },
        "name": "DB Error SCO",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1000,
          100
        ],
        "id": "4a31d4b8-3cc4-4704-b5b7-974a538b4715"
      }
    ],
    "connections": {
      "Manual Trigger": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Validate Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validate Input": {
        "main": [
          [
            {
              "node": "Is Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Valid?": {
        "main": [
          [
            {
              "node": "Check DB",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return Validation Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check DB": {
        "main": [
          [
            {
              "node": "Merge DB and Input",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "DB Error SCO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge DB and Input": {
        "main": [
          [
            {
              "node": "Check GCal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check GCal": {
        "main": [
          [
            {
              "node": "Process GCal OK",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Process GCal Fail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process GCal OK": {
        "main": [
          [
            {
              "node": "Return Availability SCO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process GCal Fail": {
        "main": [
          [
            {
              "node": "Return Availability SCO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Roger Gallegos",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-19T21:59:12.138Z",
        "id": 1539,
        "workflowId": "6zftqMdtBAT0QaCt",
        "versionId": "51aea025-e0aa-4092-a57e-b12ce3540c62",
        "event": "activated",
        "userId": "29ad78ad-2907-4d12-a03c-326ce29a717c"
      }
    ]
  }
}
