workflows/seed/wf1_booking_api_gateway.json
{
  "name": "WF1_Booking_API_Gateway",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "manual"
    },
    {
      "parameters": {
        "path": "book-appointment",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        200
      ],
      "id": "webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json; const required = ['provider_id', 'service_id', 'start_time']; for (const f of required) { if (!input[f]) return {json: {success: false, error_code: 'VALIDATION_ERROR', error_message: 'Missing: ' + f, data: null, _meta: {source: 'WF1', timestamp: new Date().toISOString()}}}; } return {json: {...input, _valid: true}};"
      },
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        100
      ],
      "id": "validate"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value": true,
              "operation": "equal",
              "property": "={{ $json._valid }}"
            }
          ]
        }
      },
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        500,
        100
      ],
      "id": "if_valid"
    },
    {
      "parameters": {
        "url": "https://n8n.stax.ink/webhook/booking-orchestrator",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "provider_id",
              "value": "={{ $json.provider_id }}"
            },
            {
              "name": "service_id",
              "value": "={{ $json.service_id }}"
            },
            {
              "name": "start_time",
              "value": "={{ $json.start_time }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "name": "Call Orchestrator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        750,
        0
      ],
      "id": "call"
    },
    {
      "parameters": {
        "jsCode": "return {json: $input.first().json};"
      },
      "name": "Return Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ],
      "id": "success"
    },
    {
      "parameters": {
        "jsCode": "return {json: {success: false, error_code: 'VALIDATION_ERROR', error_message: 'Invalid input', data: null, _meta: {source: 'WF1', timestamp: new Date().toISOString()}}};"
      },
      "name": "Return Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        200
      ],
      "id": "error"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Call Orchestrator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Orchestrator": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}