workflows/seed/wf2_booking_orchestrator.json
{
  "name": "WF2_Booking_Orchestrator",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "manual_trigger"
    },
    {
      "parameters": {
        "path": "booking-orchestrator",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 200],
      "webhookId": "booking-orchestrator",
      "id": "webhook_trigger"
    },
    {
      "parameters": {
        "jsCode": "// Generate Idempotency Key - FASE 1.2\n// Hash determinístico basado en datos de negocio (NO timestamp)\nconst input = $input.first().json;\n\n// Validar campos requeridos\nconst required = ['provider_id', 'service_id', 'start_time'];\nfor (const field of required) {\n  if (!input[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\n// Generar idempotency_key único para este booking\nconst idempotencyKey = `booking_${input.provider_id}_${input.service_id}_${input.start_time}_${input.customer_id || input.chat_id || 'anonymous'}`;\n\n// Sanitizar (SEC05)\nconst sanitizedKey = idempotencyKey.replace(/[^a-zA-Z0-9_:-]/g, '_').substring(0, 255);\n\n// PRESERVAR TODOS LOS DATOS ORIGINALES PARA REFERENCIA FUTURA\nreturn {\n  json: {\n    ...input,\n    idempotency_key: sanitizedKey,\n    _idempotency: { key: sanitizedKey, created_at: new Date().toISOString() }\n  }\n};"
      },
      "name": "Generate Idempotency Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 100],
      "id": "generate_idempotency"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT booking_id, status, gcal_event_id FROM bookings WHERE idempotency_key = $1::text LIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('Generate Idempotency Key').first().json.idempotency_key }}"
        }
      },
      "name": "Check Idempotency DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [500, 100],
      "credentials": {
        "postgres": { "id": "SFNQsmuu4zirZAnP", "name": "Postgres account" }
      },
      "id": "check_idempotency_db"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value": "", "operation": "notEmpty", "property": "={{ $json.booking_id }}" }
          ]
        }
      },
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [750, 100],
      "id": "is_duplicate"
    },
    {
      "parameters": {
        "jsCode": "// Return Duplicate Booking\nconst existing = $('Check Idempotency DB').first().json;\nconst original = $('Generate Idempotency Key').first().json;\n\nreturn {\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: existing.booking_id,\n      status: existing.status,\n      gcal_event_id: existing.gcal_event_id,\n      is_duplicate: true,\n      message: 'Booking already exists (idempotent retry)'\n    },\n    _meta: { source: 'WF2_BOOKING_ORCHESTRATOR', timestamp: new Date().toISOString(), version: '2.0.0', idempotency: 'duplicate' }\n  }\n};"
      },
      "name": "Return Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200],
      "id": "return_duplicate"
    },
    {
      "parameters": {
        "url": "https://n8n.stax.ink/webhook/check-availability",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "provider_id", "value": "={{ $('Generate Idempotency Key').first().json.provider_id }}" },
            { "name": "service_id", "value": "={{ $('Generate Idempotency Key').first().json.service_id }}" },
            { "name": "start_time", "value": "={{ $('Generate Idempotency Key').first().json.start_time }}" }
          ]
        },
        "options": { "timeout": 30000, "retryOnFail": true, "maxRetries": 3, "retryInterval": 2000 }
      },
      "name": "Check Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1000, 0],
      "id": "check_availability"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value": true, "operation": "equal", "property": "={{ $json.success }}" }
          ]
        }
      },
      "name": "Is Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1250, 0],
      "id": "is_available"
    },
    {
      "parameters": {
        "jsCode": "// Return Not Available\nreturn {\n  json: {\n    success: false,\n    error_code: 'SLOT_NOT_AVAILABLE',\n    error_message: 'Requested time slot is not available',\n    data: null,\n    _meta: { source: 'WF2_BOOKING_ORCHESTRATOR', timestamp: new Date().toISOString(), version: '2.0.0' }\n  }\n};"
      },
      "name": "Return Not Available",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 100],
      "id": "return_not_available"
    },
    {
      "parameters": {
        "url": "https://n8n.stax.ink/webhook/acquire-lock",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "provider_id", "value": "={{ $('Generate Idempotency Key').first().json.provider_id }}" },
            { "name": "start_time", "value": "={{ $('Generate Idempotency Key').first().json.start_time }}" },
            { "name": "lock_duration_minutes", "value": "5" }
          ]
        },
        "options": { "timeout": 30000, "retryOnFail": true, "maxRetries": 3, "retryInterval": 2000 }
      },
      "name": "Acquire Lock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1500, 0],
      "id": "acquire_lock"
    },
    {
      "parameters": {
        "url": "https://n8n.stax.ink/webhook/circuit-breaker/check",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "service_id", "value": "google_calendar" },
            { "name": "action", "value": "check" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "name": "Check Circuit Breaker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1750, 0],
      "id": "check_circuit_breaker"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            { "value": true, "operation": "equal", "property": "={{ $json.data.allowed }}" }
          ]
        }
      },
      "name": "Is GCal Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2000, 0],
      "id": "is_gcal_available"
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": {
          "__rl": true,
          "value": "dev.n8n.stax@gmail.com",
          "mode": "list",
          "cachedResultName": "dev.n8n.stax@gmail.com"
        },
        "event": {
          "summary": "={{ $('Generate Idempotency Key').first().json.event_title || 'Booking Appointment' }}",
          "start": "={{ $('Generate Idempotency Key').first().json.start_time }}",
          "end": "={{ $('Generate Idempotency Key').first().json.end_time || new Date(new Date($('Generate Idempotency Key').first().json.start_time).getTime() + 3600000).toISOString() }}",
          "description": "={{ JSON.stringify({ booking_id: $('Generate Idempotency Key').first().json.idempotency_key, customer: $('Generate Idempotency Key').first().json.customer_id || $('Generate Idempotency Key').first().json.chat_id }) }}"
        },
        "options": {}
      },
      "name": "Create GCal Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [2250, -100],
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "NDk9hJZ9MTokyiAh", "name": "Google Calendar account" }
      },
      "id": "create_gcal_event"
    },
    {
      "parameters": {
        "url": "https://n8n.stax.ink/webhook/circuit-breaker/record",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "service_id", "value": "google_calendar" },
            { "name": "success", "value": "true" }
          ]
        },
        "options": {}
      },
      "name": "Record GCal Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2500, -100],
      "id": "record_gcal_success"
    },
    {
      "parameters": {
        "jsCode": "// Prepare DB Insert - Reference original data\nconst original = $('Generate Idempotency Key').first().json;\nconst gcal = $('Create GCal Event').first().json;\n\nreturn {\n  json: {\n    provider_id: original.provider_id,\n    service_id: original.service_id,\n    start_time: original.start_time,\n    idempotency_key: original.idempotency_key,\n    gcal_event_id: gcal.id || gcal.eventId,\n    customer_id: original.customer_id || '',\n    chat_id: original.chat_id || ''\n  }\n};"
      },
      "name": "Prepare DB Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2750, -100],
      "id": "prepare_db_insert"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO bookings (provider_id, service_id, start_time, idempotency_key, gcal_event_id, customer_id, chat_id, status, created_at) VALUES ($1::int, $2::int, $3::timestamp, $4::text, $5::text, $6::text, $7::text, 'confirmed', NOW()) RETURNING booking_id;",
        "options": {
          "queryReplacement": "={{ $('Prepare DB Insert').first().json.provider_id }}, {{ $('Prepare DB Insert').first().json.service_id }}, {{ $('Prepare DB Insert').first().json.start_time }}, {{ $('Prepare DB Insert').first().json.idempotency_key }}, {{ $('Prepare DB Insert').first().json.gcal_event_id }}, {{ $('Prepare DB Insert').first().json.customer_id }}, {{ $('Prepare DB Insert').first().json.chat_id }}"
        }
      },
      "name": "Create DB Booking",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [3000, -100],
      "credentials": {
        "postgres": { "id": "SFNQsmuu4zirZAnP", "name": "Postgres account" }
      },
      "id": "create_db_booking"
    },
    {
      "parameters": {
        "url": "https://n8n.stax.ink/webhook/release-lock",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "provider_id", "value": "={{ $('Generate Idempotency Key').first().json.provider_id }}" },
            { "name": "start_time", "value": "={{ $('Generate Idempotency Key').first().json.start_time }}" }
          ]
        },
        "options": {},
        "continueOnFail": true
      },
      "name": "Release Lock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3250, -100],
      "id": "release_lock"
    },
    {
      "parameters": {
        "jsCode": "// Standard Contract Output - Booking Success\nconst db = $('Create DB Booking').first().json;\nconst gcal = $('Create GCal Event').first().json;\nconst original = $('Generate Idempotency Key').first().json;\n\nreturn {\n  json: {\n    success: true,\n    error_code: null,\n    error_message: null,\n    data: {\n      booking_id: db.booking_id,\n      gcal_event_id: gcal.id || gcal.eventId,\n      idempotency_key: original.idempotency_key,\n      provider_id: original.provider_id,\n      service_id: original.service_id,\n      start_time: original.start_time,\n      status: 'confirmed',\n      is_duplicate: false\n    },\n    _meta: { source: 'WF2_BOOKING_ORCHESTRATOR', timestamp: new Date().toISOString(), version: '2.0.0', idempotency: 'new' }\n  }\n};"
      },
      "name": "Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, -100],
      "id": "standard_contract"
    },
    {
      "parameters": {
        "url": "https://n8n.stax.ink/webhook/circuit-breaker/record",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "service_id", "value": "google_calendar" },
            { "name": "success", "value": "false" },
            { "name": "error_message", "value": "Circuit breaker OPEN" }
          ]
        },
        "options": {},
        "continueOnFail": true
      },
      "name": "Record GCal Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2250, 100],
      "id": "record_gcal_failure"
    },
    {
      "parameters": {
        "url": "https://n8n.stax.ink/webhook/release-lock",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "provider_id", "value": "={{ $('Generate Idempotency Key').first().json.provider_id }}" },
            { "name": "start_time", "value": "={{ $('Generate Idempotency Key').first().json.start_time }}" }
          ]
        },
        "options": {},
        "continueOnFail": true
      },
      "name": "Release Lock on Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2500, 100],
      "id": "release_lock_error"
    },
    {
      "parameters": {
        "url": "https://n8n.stax.ink/webhook/dlq/add",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "failure_reason", "value": "gcal_circuit_breaker_open" },
            { "name": "error_message", "value": "Google Calendar unavailable (circuit breaker open)" },
            { "name": "original_payload", "value": "={{ JSON.stringify($('Generate Idempotency Key').first().json) }}" },
            { "name": "context_data", "value": "={{ JSON.stringify({ workflow_id: 'WF2_Booking_Orchestrator', execution_id: $execution.id, failed_at: new Date().toISOString() }) }}" },
            { "name": "provider_id", "value": "={{ $('Generate Idempotency Key').first().json.provider_id }}" },
            { "name": "service_id", "value": "={{ $('Generate Idempotency Key').first().json.service_id }}" },
            { "name": "start_time", "value": "={{ $('Generate Idempotency Key').first().json.start_time }}" },
            { "name": "customer_id", "value": "={{ $('Generate Idempotency Key').first().json.customer_id }}" },
            { "name": "idempotency_key", "value": "={{ $('Generate Idempotency Key').first().json.idempotency_key }}" }
          ]
        },
        "options": {}
      },
      "name": "Send to DLQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2750, 100],
      "id": "send_to_dlq"
    },
    {
      "parameters": {
        "jsCode": "// Return Circuit Breaker Error\nreturn {\n  json: {\n    success: false,\n    error_code: 'CIRCUIT_BREAKER_OPEN',\n    error_message: 'Google Calendar temporarily unavailable. Booking added to retry queue.',\n    data: { will_retry: true },\n    _meta: { source: 'WF2_BOOKING_ORCHESTRATOR', timestamp: new Date().toISOString(), version: '2.0.0' }\n  }\n};"
      },
      "name": "Return CB Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 100],
      "id": "return_cb_error"
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Generate Idempotency Key", "type": "main", "index": 0 }]] },
    "Webhook": { "main": [[{ "node": "Generate Idempotency Key", "type": "main", "index": 0 }]] },
    "Generate Idempotency Key": { "main": [[{ "node": "Check Idempotency DB", "type": "main", "index": 0 }]] },
    "Check Idempotency DB": { "main": [[{ "node": "Is Duplicate?", "type": "main", "index": 0 }]] },
    "Is Duplicate?": { "main": [[{ "node": "Return Duplicate", "type": "main", "index": 0 }], [{ "node": "Check Availability", "type": "main", "index": 0 }]] },
    "Check Availability": { "main": [[{ "node": "Is Available?", "type": "main", "index": 0 }]] },
    "Is Available?": { "main": [[{ "node": "Acquire Lock", "type": "main", "index": 0 }], [{ "node": "Return Not Available", "type": "main", "index": 0 }]] },
    "Acquire Lock": { "main": [[{ "node": "Check Circuit Breaker", "type": "main", "index": 0 }]] },
    "Check Circuit Breaker": { "main": [[{ "node": "Is GCal Available?", "type": "main", "index": 0 }]] },
    "Is GCal Available?": { "main": [[{ "node": "Create GCal Event", "type": "main", "index": 0 }], [{ "node": "Record GCal Failure", "type": "main", "index": 0 }]] },
    "Create GCal Event": { "main": [[{ "node": "Record GCal Success", "type": "main", "index": 0 }]] },
    "Record GCal Success": { "main": [[{ "node": "Prepare DB Insert", "type": "main", "index": 0 }]] },
    "Prepare DB Insert": { "main": [[{ "node": "Create DB Booking", "type": "main", "index": 0 }]] },
    "Create DB Booking": { "main": [[{ "node": "Release Lock", "type": "main", "index": 0 }]] },
    "Release Lock": { "main": [[{ "node": "Standard Contract Output", "type": "main", "index": 0 }]] },
    "Record GCal Failure": { "main": [[{ "node": "Release Lock on Error", "type": "main", "index": 0 }]] },
    "Release Lock on Error": { "main": [[{ "node": "Send to DLQ", "type": "main", "index": 0 }]] },
    "Send to DLQ": { "main": [[{ "node": "Return CB Error", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "versionId": "wf2-v2.0.0-rewritten"
}
