workflows/seed/wf3_availability_service.json
{
  "name": "WF3_Availability_Service",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "manual"
    },
    {
      "parameters": {
        "path": "check-availability",
        "httpMethod": "POST",
        "responseMode": "lastNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        200
      ],
      "id": "webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json; if (!input.provider_id || !input.service_id || !input.start_time) return {json: {success: false, error_code: 'VALIDATION_ERROR', error_message: 'Missing fields', data: null}}; return {json: {...input, _valid: true}};"
      },
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        250,
        100
      ],
      "id": "validate"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value": true,
              "operation": "equal",
              "property": "={{ $json._valid }}"
            }
          ]
        }
      },
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        500,
        100
      ],
      "id": "if_valid"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as count FROM bookings WHERE provider_id = $1 AND service_id = $2 AND start_time >= $3 AND status = 'confirmed';",
        "options": {
          "queryReplacement": "={{ $json.provider_id }}, {{ $json.service_id }}, {{ $json.start_time }}"
        }
      },
      "name": "Check DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        750,
        0
      ],
      "id": "check_db"
    },
    {
      "parameters": {
        "operation": "getAll"
      },
      "name": "Check GCal",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1000,
        0
      ],
      "id": "check_gcal"
    },
    {
      "parameters": {
        "jsCode": "const db = $('Check DB').first().json; const gcal = $('Check GCal').first().json; const available = (parseInt(db.count) == 0); return {json: {success: true, error_code: null, error_message: null, data: {available: available, db_count: db.count}, _meta: {source: 'WF3', timestamp: new Date().toISOString()}}};"
      },
      "name": "Return Availability",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        0
      ],
      "id": "return_avail"
    },
    {
      "parameters": {
        "jsCode": "return {json: {success: false, error_code: 'VALIDATION_ERROR', error_message: 'Invalid input', data: null}};"
      },
      "name": "Return Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        200
      ],
      "id": "return_error"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Check DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check DB": {
      "main": [
        [
          {
            "node": "Check GCal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check GCal": {
      "main": [
        [
          {
            "node": "Return Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}