files/DB_Join_Waitlist_v3.json
{
  "name": "DB_Join_Waitlist",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\"service_id\": 1, \"user_name\": \"María González\", \"user_email\": \"maria@ejemplo.com\", \"provider_id\": 1, \"chat_id\": 12345}"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dal-service:3000/waitlist/join",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "neverError": true
        }
      },
      "id": "call_dal",
      "name": "Call DAL Join Waitlist",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Format waitlist response con message legible para el LLM\nconst result = $input.first().json;\nconst isSuccess = result.success === true;\nconst position  = result.data?.position || result.data?.waitlist_position || null;\n\nreturn [{\n  json: {\n    success: isSuccess,\n    message: isSuccess\n      ? `Fuiste añadido a la lista de espera${position ? ' en posición #' + position : ''}. Te avisaremos por email cuando haya un turno disponible.`\n      : (result.error_message || 'No se pudo agregar a la lista de espera.'),\n    error_code:    isSuccess ? null : 'DAL_ERROR',\n    error_message: isSuccess ? null : (result.error_message || 'Waitlist join failed'),\n    data: result.data || null,\n    _meta: { source: 'DB_Join_Waitlist', timestamp: new Date().toISOString(), version: '3.0.0' }\n  }\n}];"
      },
      "id": "normalize",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// 📤 STANDARD CONTRACT OUTPUT — Tool-compatible (v3.0.0)\n// El AI Agent lee \"message\" como respuesta legible y \"data\" para detalles.\nconst result = $input.first()?.json || {};\nconst isSuccess = result.success !== false;\n\n// Construir mensaje legible para el LLM\nlet message = result.message || result.data?.message || null;\nif (!message) {\n  message = isSuccess\n    ? 'Operación completada con éxito.'\n    : (result.error_message || result.error_code || 'Error desconocido.');\n}\n\nreturn [{\n  json: {\n    success: isSuccess,\n    message,\n    error_code:    isSuccess ? null : (result.error_code    || 'UNKNOWN_ERROR'),\n    error_message: isSuccess ? null : (result.error_message || message),\n    data:          result.data || null,\n    _meta: {\n      source:    'DB_JOIN_WAITLIST',\n      timestamp: new Date().toISOString(),\n      version:   '3.0.0'\n    }\n  }\n}];"
      },
      "id": "sco_1773232708996_o842",
      "name": "📤 Standard Contract Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "notes": "📤 OUT: Standard Contract — Tool-compatible v3.0.0"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Call DAL Join Waitlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call DAL Join Waitlist": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "📤 Standard Contract Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}